[2022-04-29 13:48] meKokabi commented on #1463
@ericpoirier Here You Are:
![cloud](https://user-images.githubusercontent.com/75500459/165957065-9877ba4d-1217-491a-85d2-641813be4a6a.png)
Orange:#FA823B
Yellow:#FBB03B

https://xd.adobe.com/view/94e225c1-7027-48e5-8893-bcd8883725b6-c1b1/

[2022-04-29 13:57] meKokabi commented on #1463
and here is the stylesheet just in case:
[stylesheet.zip](https://github.com/jakartaee/jakarta.ee/files/8591290/stylesheet.zip)

[2022-04-29 13:59] shabnammayel commented on #1463
@ericpoirier can you please change the text below features and benefits section, the second sentence from:

This innovative community-driven release is designed for organizations looking to start developing new, or advancing existing enterprise Java applications.

to

 This new innovative community-driven release is designed for organizations looking to start developing new enterprise Java applica

[2022-04-29 14:00] shabnammayel commented on #1463
Also in the middle box, add space in the first sentence, between "with" and "Jakarta EE"? thanks

[2022-04-29 14:02] shabnammayel commented on #1463
when we expand the boxes the middle one is not the same lenght as the other ones, can you please fix that?
<img width="1270" alt="Screen Shot 2022-04-29 at 10 02 18 AM" src="https://user-images.githubusercontent.com/51449073/165959766-63f93846-9679-4a1e-a3df-19818513ba48.png">

[2022-04-29 16:58] ericpoirier commented on #1463
@shabnammayel I believe I've addressed all the issues that you have highlighted above:

https://deploy-preview-1465--jakartaee.netlify.app/release/10/

Let me know if I missed anything and if there's anything else.

Thanks.

[2022-05-02 13:28] shabnammayel commented on #1463
@ericpoirier is it possible to create the specification image as a table to improve the quality and also make the changes necessary if any in future directly to the table? for example, after reviewing the current table, we need to update the colours of the titles for the EE 10 platform and EE 10 web profile. FYI @meKokabi
Also we need to update the WhitePaper section image (Mehrnaz will help with

[2022-05-03 22:49] cesarhernandezgt commented on #1463
Hi @ericpoirier and @shabnammayel

Current PR seems to be missing contributors and the repositories count is also missing.
In the following image, you can see the difference between Jakarta EE 10 release PR (left) and Jakarta EE 9.1 release production page (right) [1]

I recall @Dexmaster and @chrisguindon  worked on a script that automate the metrics and contributors' stats used for the past two

[2022-05-04 12:27] ericpoirier commented on #1463
Hi @cesarhernandezgt, thanks for pointing this out! I updated the Jakarta EE 10 release page and the contributors and repositories count is now showing up.

https://deploy-preview-1465--jakartaee.netlify.app/release/10/

I saw that I mixed up the number of git repo with committers in an earlier commit. I updated the stats section to what @shabnammayel originally asked for but I kept 120 committers

[2022-05-04 14:36] Dexmaster commented on #1463
Hello @ericpoirier, there are small typos I commented on in PR.

[2022-05-04 18:23] shabnammayel commented on #1463
@ericpoirier Mehrnaz has updated the Jakarta EE 10 Specifications image here:https://xd.adobe.com/view/e2028f66-ab4d-4e08-82b0-bc91a3bca1ad-b751/ it was raised that the colours of the Jakarta EE 10 Web Profile and Platform boxes were the same as "updated" and "New" color codes which made it a bit confusing for the users. Hence, @meKokabi has updated the colours. Can you please create the table ins

[2022-05-04 18:41] shabnammayel commented on #1463
Few content edits:

on the banner tagline: AN OPEN, COMMUNITY-DRIVEN INNOVATION
DRIVING THE FUTURE OF CLOUD NATIVE JAVA TECHNOLOGIES, please remove "An" from the sentence.

The paragraph on the Modernized box should be edited to:

The Jakarta EE 10 release provides new functionality in over 20 component specifications.

This release enables builders of modern cloud native Java applications to deve

[2022-05-04 19:11] cesarhernandezgt commented on #1463
Thank you too, I see the script was already executed, and the current preview now shows the Contributors Cards section.

Hi @ericpoirier,

In 9.1 we revisited how to obtain the stats for project, repositories, specifications, and committers.
https://github.com/jakartaee/jakarta.ee/issues/1177 was the isse we used.  According to this, my calculations show that for Jakarta 10 release stats are:

[2022-05-05 12:35] meKokabi commented on #1463
Hi, please update the mid banner with the attached.
Here is the XD link:
https://xd.adobe.com/view/18687171-cb41-47c9-8599-29da615b50b0-4d3b/

![JakartaEE10-447451870-copy](https://user-images.githubusercontent.com/75500459/166924024-1e31bf8f-c097-4592-bd9d-a06706fb9d9d.jpg)

[2022-05-05 13:36] ericpoirier commented on #1463
@shabnammayel I can create an HTML table yes but its not going to look like the image provided by Mehrnaz. If you would like the image stay the same, I would suggest trying to create an .svg file out of the design and see how it goes. SVG files will retain quality when resizing the page.

[2022-05-05 15:15] ericpoirier commented on #1463
@shabnammayel @cesarhernandezgt I updated the staging page:

https://deploy-preview-1465--jakartaee.netlify.app/release/10/

In this version, I updated the stats, the mid section background image and the stats weren't aligning properly on smaller screen so I fixed that as well. I also updated the text in the header and in the Modernized section.

Let me know if there's anything else.

Thanks.

[2022-05-06 12:45] shabnammayel commented on #1461
I still don't see the tables for the Jakarta EE 10 Webprofile, Platform and Core Profile in the certification results tab @ericpoirier

[2022-05-06 12:53] ericpoirier commented on #1461
The tables are empty but they are on this page:
https://deploy-preview-1462--jakartaee.netlify.app/compatibility/certification/10/

[2022-05-06 13:00] shabnammayel commented on #1461
LGTM! thanks @ericpoirier

[2022-05-06 13:24] #1461 closed, assigned to ericpoirier

[2022-05-06 15:50] shabnammayel commented on #1463
Looks good! @ericpoirier we should change the title on the white paper section to: New Cloud Native Java eBook

[2022-05-06 16:21] shabnammayel commented on #1463
@ericpoirier can you please use:https://xd.adobe.com/view/e2028f66-ab4d-4e08-82b0-bc91a3bca1ad-b751/ and update the image's colours for now? @meKokabi will recreate the image as a .svg file later and we can update it even after the release date if we don't have it before then.

[2022-05-06 17:51] ericpoirier commented on #1463
@shabnammayel I updated the image and the white paper title.

https://deploy-preview-1465--jakartaee.netlify.app/release/10/

Let me know if there's anything else.

Thanks.

[2022-05-09 17:56] shabnammayel commented on #1463
Thanks @ericpoirier the eBook button still links to the WhitePapaper. it should link to https://outreach.jakartaee.org/open-source-cloud-native-java-ebook?hs_preview=vUXuuJeF-64105276785

[2022-05-11 14:32] ericpoirier commented on #1463
Hi @shabnammayel, I updated the link of the download button.

https://deploy-preview-1465--jakartaee.netlify.app/release/10/

Let me know if there's anything else.

Thanks.

[2022-05-11 15:41] shabnammayel commented on #1463
Looks good @ericpoirier! thanks

We will share the link to the videos once ready. Probably by the end of May or early June.

[2022-05-11 15:59] Dexmaster commented on #1463
I have two questions about bottom image, shouldn't there be Jakarta logo on the left behind action icon as in 9.1 release? and shouldn't the picture be centered and not stretched (check how it looks zoomed out or just on 4k screens)

[2022-05-11 16:18] ericpoirier commented on #1463
@shabnammayel if we want to add the logo to the background image, we will need to ask @meKokabi to provide that to us since for the 9.1 page, the logo is part of the background image which I cannot reuse.

@Dexmaster the image is stretching because it is meant to occupy 100% of the width of your screen.

[2022-05-11 16:24] Dexmaster commented on #1463
@ericpoirier I understand but by doing that here how it looks on 4k screen in full width
![image](https://user-images.githubusercontent.com/6061000/167899964-087be299-c03a-49d4-9126-abd385e0ffbc.png)

[2022-05-11 17:06] ericpoirier commented on #1463
Can you let me know which browser you are using? On my end, I'm using Chrome and the background image is not being displayed this way.

[2022-05-11 17:16] Dexmaster commented on #1463
Here same thing in Chrome with a 4k Desktop resolution device preview.
![image](https://user-images.githubusercontent.com/6061000/167907592-aa2fda35-4e43-413d-9c4e-464be44912ee.png)
Same thing on the latest versions of FF and Chrome.
Here's how 9.1 looks in comparison:
![image](https://user-images.githubusercontent.com/6061000/167908383-0520703c-7681-4015-a1d4-98d22e4d5eff.png)

P.S. You can view

[2022-05-12 00:59] AsiainfoAnhui opened #1470 "Compatibility certification request for AISWare Flying Server for Full Platform"
To include your Compatible Software Product on the Jakarta EE official list of Compatible Software Products, please provide the following information:

**The Eclipse Foundation profile [Wang Feng](https://accounts.eclipse.org/users/wangfeng) of Hunan AsiaInfo Anhui Technology Limited**

**[AISWare Flying Server V2.0.0](http://asiainfoah.com/#/product/flyingserver)**

**The Profile (Full Platform)

[2022-05-12 13:06] ericpoirier commented on #1470
Please review the following staging page:

https://deploy-preview-1471--jakartaee.netlify.app/compatibility/

Let me know if I missed anything.

Thanks.

[2022-05-12 13:35] ericpoirier commented on #1463
@Dexmaster I updated the styles for the footer section so that it looks like the 9.1 release.

https://deploy-preview-1465--jakartaee.netlify.app/release/10/

Let me know if there's anything else.

[2022-05-12 13:43] Dexmaster commented on #1463
@ericpoirier Size looks good now, don't know what's decision about Jakarta logo, that's only issue I see now.

[2022-05-12 13:45] ericpoirier commented on #1463
@shabnammayel should we add the Jakarta EE logo over the background just like we did for the 9.1 release?

[2022-05-12 15:30] TanjaObradovic commented on #1470
looks good to me!

One thing on the download page - I am not sure the download works, can you please confirm @ericpoirier ?
![image](https://user-images.githubusercontent.com/40073121/168112969-062ae829-65f3-4992-ad87-0e39139171c8.png)

@AsiainfoAnhui please confirms all is in order :)

[2022-05-12 21:28] NottyCode commented on #1463
I think the Jakarta EE 10 Specifications diagram needs some work. The gradient and colour choices seem off to me. I have a degree of colour perception issues so it is possible that the issue is related to that, but if so it suggests there is an accessibility issue. My comments are:

1. The gradient colours on the profile images should be removed. I think flat colours is a more modern design choice

[2022-05-13 02:51] AsiainfoAnhui commented on #1470
Hello .
We will update our website in this weekend, please publish it after I change the product link address in next Monday.
This "Download 2.0.0" need to link to our product page, please update it after I get the product page new address.
I have updated the [product logo](https://github.com/AsiainfoAnhui/aisware_flyingserver_v2_ee8/blob/master/AISWare_FlyingServer_Logo.zip) , please update it .

[2022-05-13 13:51] shabnammayel commented on #1463
I think it looks good as it is. We want to the give the Jakarta EE 10 release page a new and different touch

[2022-05-13 14:29] shabnammayel commented on #1463
Thanks @NottyCode for all the great suggestions. As the quality of the image is not very good, we have decided to recreate the image in svg format or bootstrap table. so this is just a placeholder for now. We will review and surely consider you input when updating the image. thanks

[2022-05-16 21:56] cesarhernandezgt commented on #1463
+1,

I don't have the skills to share a proposal, but I can share a couple of references in terms of coloring, borders, background and overall layout:

- https://dzone.com/articles/microprofile-what-you-need-to-know
- https://www.tomitribe.com/blog/tomee-webprofile-vs-tomee-microprofile-vs-tomee-vs-tomee-plume/
- https://www.weirdgeek.com/2020/04/plotting-100-stacked-column-chart-in-tableau/

[2022-05-17 04:27] AsiainfoAnhui commented on #1470
hello Ericpoirier
I have got the product home address http://asiainfoah.com/#/product/flyingserver
please update it to download link and update the logo https://github.com/AsiainfoAnhui/aisware_flyingserver_v2_ee8/blob/master/AISWare_FlyingServer_Logo.zip
thanks very much

[2022-05-17 13:30] chrisguindon commented on #1321
Hi All,

The latest version is on staging:

- https://deploy-preview-1432--jakartaee.netlify.app/ (homepage)
- https://deploy-preview-1432--jakartaee.netlify.app/news/ (news section)
- https://deploy-preview-1432--jakartaee.netlify.app/news/even-closer-to-jakarta-ee-10/ (article example)

If there aren't any objections, I would like to make this live this week! //cc @ericpoirier

[2022-05-17 14:10] ericpoirier commented on #1463
@shabnammayel is the deadline for this project still May 31 2022?

[2022-05-17 14:15] shabnammayel commented on #1463
No @ericpoirier the timeline is updated here https://docs.google.com/spreadsheets/d/1Sx-KRJjS4tX-5Sz3kKnRUjrI5pdi0WcAsZeVb2Xx8vY/edit#gid=138610214 Jakarta EE 10 release date is changed to 28 June

[2022-05-17 14:50] ericpoirier opened #1473 "Update Compatible Products documentation"
We should update the documentation for how to add Compatible Products to the site. Right now it isn't clear to people that are not used to add this kind of data.

[2022-05-17 21:54] AsiainfoAnhui commented on #1470
Hello @ericpoirier
I saw the  update in page, I have checkd it. it  is ok. please publish.
thank you so much

[2022-05-18 12:04] #1470 closed, assigned to ericpoirier

[2022-05-18 17:27] shabnammayel opened #1475 "Update the content of the Jakarta EE membership prospectus"
We need to update page 8 of the prospectus and remove the sentence: Enterprise members have the opportunity to influence in defining Jakarta EE requirements with a seat on a the requirements committe
<img width="1347" alt="Screen Shot 2022-05-18 at 1 26 27 PM" src="https://user-images.githubusercontent.com/51449073/169104952-dd6b8d55-25d5-4d90-8bb3-e568ba2ad16a.png">
e

[2022-05-20 14:48] ericpoirier commented on #1475
@linkfang assining this issue to you but adding the "Waiting for assets" label since we will need a new PDF from @shabnammayel.

[2022-05-20 14:54] #1473 closed, assigned to linkfang

[2022-05-23 19:53] will-lyons opened #1477 "Publish Jakarta EE Steering Committee Meeting Minutes of the Feb 15, Mar 1, Mar 15, Mar 29 Meetings"
This is not a bug

We need to add new entries for Steering meeting minutes on Feb 15, Mar 1, Mar 15, Mar 29.
https://jakarta.ee/meeting_minutes/

...under the tab:
Jakarta EE Steering Committee

in the same way as other files with just adding a date with the link.

I have attached pdf files:
[Minutes of the Feb 15, 2022 Jakarta EE Steering Committee Meeting - Google Docs.pdf](https://github.com/ja

[2022-05-24 17:22] #941 closed

[2022-05-24 17:24] excentrickristy opened #1478 "Updated Meta Tags & SEO Optimizations for Website"
Based on SEO targets, new meta tags and minor content and heading level improvements for the existing pages have been recommended in this document here: https://docs.google.com/document/d/1GbnRhvJuOgHHQt0BLke1lg2rs07SV75y1i_OIZ9CXwk/edit?usp=sharing

All approved by @shabnammayel

Would be nice to implement as soon as possible :)

Thanks!

[2022-05-24 17:49] linkfang commented on #1460
Hi @TanjaObradovic , sorry for the late update, and please preview it here:

https://deploy-preview-1476--jakartaee.netlify.app/committees/steering/

[2022-05-24 17:57] will-lyons opened #1479 "Publish Jakarta EE Steering Committee meeting minutes for April 12, 2022 meeting"
This is not a bug

We need to add new entries for Steering meeting minutes on April 12, 2022.
https://jakarta.ee/meeting_minutes/

...under the tab:
Jakarta EE Steering Committee

in the same way as other files with just adding a date with the link.

I have attached a pdf file:
[Minutes of the April 12, 2022 Jakarta EE Steering Committee Meeting - Google Docs.pdf](https://github.com/jakartaee/jaka

[2022-05-24 18:56] linkfang commented on #1477
Hi @will-lyons , please preview the updates here and let me know if everything looks good, thanks!

https://deploy-preview-1476--jakartaee.netlify.app/committees/steering/

[2022-05-24 20:11] will-lyons commented on #1477
Yes, everything looks good.   Please publish.

Thank you.

Will

From: Zhou Fang ***@***.***>
Reply-To: "jakartaee/jakarta.ee" ***@***.***>
Date: Tuesday, May 24, 2022 at 2:57 PM
To: "jakartaee/jakarta.ee" ***@***.***>
Cc: Will Lyons ***@***.***>, Mention ***@***.***>
Subject: [External] : Re: [jakartaee/jakarta.ee] Publish Jakarta EE Steering Committee Meeting Minutes of the Feb 15, Mar 1, Mar 15

[2022-05-25 07:06] ivargrimstad opened #1481 "Typo in Announcement"
![Screenshot from 2022-05-25 09-03-25](https://user-images.githubusercontent.com/149188/170200986-d5aac25d-eb6f-40f6-8850-cdd9b5ba92b2.png)

[2022-05-25 12:20] ericpoirier commented on #1481
Hi @ivargrimstad, please review the following staging page:

https://deploy-preview-1482--jakartaee.netlify.app/

Thanks.

[2022-05-25 12:26] #1481 closed, assigned to ericpoirier

[2022-05-25 13:13] linkfang commented on #1479
Hi @will-lyons , please preview the update here:
https://deploy-preview-1476--jakartaee.netlify.app/committees/steering/

[2022-05-25 16:01] linkfang commented on #1478
Hi @excentrickristy , please preview the updates here:

https://deploy-preview-1480--jakartaee.netlify.app/specifications/faces/
https://deploy-preview-1480--jakartaee.netlify.app/release/
https://deploy-preview-1480--jakartaee.netlify.app/specifications/platform/

Let me know if everything looks good, thanks!

[2022-05-25 18:37] shabnammayel commented on #1475
[jakarta-ee-membership-prospectus.pdf](https://github.com/jakartaee/jakarta.ee/files/8773699/jakarta-ee-membership-prospectus.pdf)

[2022-05-27 13:28] linkfang commented on #1475
Hi @shabnammayel , please preview the update here:
https://deploy-preview-1484--jakartaee.netlify.app/membership/

[2022-05-27 14:09] #1460 closed, assigned to linkfang

[2022-05-27 14:09] #1477 closed, assigned to linkfang

[2022-05-27 14:18] linkfang commented on #1460
The changes are live!

[2022-05-27 14:18] linkfang commented on #1477
The changes are live!

[2022-05-27 14:18] linkfang commented on #1479
The changes are live!

[2022-05-27 14:18] #1479 closed, assigned to linkfang

[2022-05-31 12:55] meKokabi commented on #1463
Hi, please find attached the final Jakarta EE 10 Specification image in SVG format.
![Jakarta Specification](https://user-images.githubusercontent.com/75500459/171178373-368493af-4c26-41bf-ae48-56b2bef1002a.svg)

[2022-05-31 13:11] linkfang commented on #1478
Hi @shabnammayel , can you also take a look at the previews when you get a chance? Thanks!

[2022-05-31 13:12] linkfang commented on #1475
Hi @shabnammayel , just would like to confirm if this is still on your radar, thanks!

[2022-05-31 13:16] shabnammayel commented on #1475
Thanks for the reminder! :) yes it looks good to me!

[2022-05-31 13:28] excentrickristy commented on #1478
Hi @linkfang, everything looks good! Thanks for doing that. Just one thing I noticed on the release pages that I didn't notice the first time around. On all of the release pages we need to switch the contributors names from h4 to h3 tags.

Thanks!

[2022-05-31 13:28] #1475 closed, assigned to linkfang, shabnammayel

[2022-05-31 14:08] linkfang commented on #1475
NP! The change is now live!

[2022-05-31 14:36] linkfang commented on #1478
Sounds good, please preview the update here:

https://deploy-preview-1480--jakartaee.netlify.app/release/9.1/
https://deploy-preview-1480--jakartaee.netlify.app/release/9/

[2022-05-31 20:51] excentrickristy commented on #1478
Looks good, you can push it!

[2022-06-01 18:19] linkfang commented on #1478
Changes other than specifications are merged and should be live soon!
Specification related stuff is in a separate repo, will update here once it's merged.

[2022-06-02 14:47] ericpoirier commented on #1463
@meKokabi @shabnammayel I updated the  table on the staging page.

https://deploy-preview-1465--jakartaee.netlify.app/release/10/

Please review and let me know if you'd like me to change anything else before release day.

Thanks.

[2022-06-02 15:01] meKokabi commented on #1463
Thanks @ericpoirier looks good to me! Just one request would it be possible to add a stroke around the image?
Stroke in light grey
Colour: #F2F2F4
weight: 1px

[2022-06-02 15:39] meKokabi commented on #1463
Thanks, Eric!

[2022-06-03 14:44] chrisguindon commented on #1321
//cc @shabnammayel @TanjaObradovic shall we go live with this? See my previous comment..

[2022-06-03 15:07] shabnammayel commented on #1321
LGTM! thanks @chrisguindon

[2022-06-07 15:22] excentrickristy opened #1487 "Home page testimonial logos have broken images"
On the home page: https://jakarta.ee
In the testimonials section, some logos are showing as broken images because the logos are in svg format but being embedded using an img src html tag instead of an svg tag
![Screenshot 2022-06-07 112225](https://user-images.githubusercontent.com/73264129/172418923-e490e9c6-544a-4c07-85c3-a6f847f01000.png)
.

[2022-06-07 17:51] will-lyons opened #1488 "Publish Jakarta EE Steering Committee Meeting Minutes of April 26, 2022 and May 24, 2022 Meetings"
This is not a bug

We need to add new entries for Steering meeting minutes for April 26, 2022 and May 24, 2022.
https://jakarta.ee/meeting_minutes/

...under the tab:
Jakarta EE Steering Committee

in the same way as other files with just adding a date with the link.

I have attached two pdf files:
[Minutes of the April 26, 2022 Jakarta EE Steering Committee Meeting - Google Docs.pdf](https://gith

[2022-06-07 18:50] cesarhernandezgt commented on #1321
Thank you all for the hard work done so far. I notice in the preview links shared by @chrisguindon that some authors' images and names in the `/news` list   don't match with the actual authors from the articles like `/news/even-closer-to-jakarta-ee-10/ (article example)`

![image](https://user-images.githubusercontent.com/1454523/172459365-37b3ee6f-1f90-42f7-be6f-9cae4a9fa3ab.png)

[2022-06-08 13:53] ericpoirier commented on #1321
@cesarhernandezgt I had to manually update the author and date in the newsroom as the data over there was not the same.

@shabnammayel I took the time to look at the news items that we have on production:
https://jakarta.ee/news/

And make the date and author changes in newsroom where it was needed.

It will be important in the future to pay attention to that information and make sure it is accura

[2022-06-08 14:09] linkfang commented on #1478
All the changes are now live, closing the issue

[2022-06-08 14:09] #1478 closed, assigned to linkfang

[2022-06-08 14:55] linkfang commented on #1487
Hi @excentrickristy , please preview the fix here:

https://deploy-preview-1490--jakartaee.netlify.app/

[2022-06-08 15:16] excentrickristy commented on #1487
Looks good!

From: Zhou Fang ***@***.***>
Sent: June 8, 2022 10:56 AM
To: jakartaee/jakarta.ee ***@***.***>
Cc: Kristy Smith ***@***.***>; Mention ***@***.***>
Subject: Re: [jakartaee/jakarta.ee] Home page testimonial logos have broken images (Issue #1487)

Hi @excentrickristy<https://github.com/excentrickristy> , please preview the fix here:

https://deploy-preview-1490--jakartaee.netlify.app/

—

[2022-06-08 16:57] cesarhernandezgt commented on #1321
thank you @ericpoirier for the fix 👍

[2022-06-08 18:06] linkfang commented on #1487
Cool, the fixes are live!

[2022-06-08 18:06] #1487 closed, assigned to linkfang

[2022-06-08 22:32] Dexmaster commented on #1321
@ericpoirier Just a general question do we lose tags functionality with this update? Or is that filter block? (if so how authors could add new tags/categories/filters there?)
![image](https://user-images.githubusercontent.com/6061000/172728622-b7d93357-933a-4703-a689-4c976972ab08.png)

I see @chrisguindon mentioned that we don't care for articles there but, I feel that the sidebar looks empty, som

[2022-06-09 13:11] ericpoirier commented on #1321
@Dexmaster I believe it's possible to add Tags in the sidebar as the information is available in the API.

https://newsroom.eclipse.org/api/news

That being said, I would suggest we implement the tags in a separate issue so that we can move forward with what we currently have.

Let me know what you think.

Thanks.

[2022-06-09 18:57] linkfang commented on #1488
Hi @will-lyons , please preview the update here:

https://deploy-preview-1491--jakartaee.netlify.app/about/meeting_minutes/#steering_committee

[2022-06-13 15:34] shabnammayel commented on #1321
LGTM! thanks Eric!

[2022-06-13 15:48] #1321 closed, assigned to nobody

[2022-06-13 18:19] Dexmaster opened #1492 "Adding back tags feature for news section"
This is separate ticket for tags in news articles and /news/ section sidebar. Ticket created from discussion in issue #1321 https://github.com/jakartaee/jakarta.ee/issues/1321#issuecomment-1151101730

Expected behavior:
1) at least similar functionality to previous tags:
![image](https://user-images.githubusercontent.com/6061000/173418245-3b023f6f-3593-46f8-988b-53822be029a4.png)
2) provide inform

[2022-06-14 14:21] linkfang commented on #1488
Hi @will-lyons , just would like to confirm if this is still on your radar. We would prefer to let you check the preview before we push the change live, though this is a small change.

[2022-06-14 14:23] TanjaObradovic commented on #1488
Let me help Will here!

Looks great! :)

[2022-06-14 15:48] #1488 closed, assigned to linkfang

[2022-06-14 16:07] linkfang commented on #1488
Thanks @TanjaObradovic , the changes are live!

[2022-06-15 14:41] TanjaObradovic opened #1493 "Please add a blog post at https://jakarta.ee/news"
Please use the text from here

https://blogs.eclipse.org/post/tanja-obradovic/almost-there-jakarta-ee-10-nearly-ready-and-celebrations-have-already-started

Thanks!
tanja

**Blog post information**
title: [title]
date: [date]
summary: [summary]
content: [content]

[2022-06-15 19:24] #1455 closed, assigned to linkfang

[2022-06-15 19:55] linkfang commented on #1455
The update is live!
https://jakarta.ee/resources/

[2022-06-15 20:39] linkfang commented on #1493
As we are getting all news from our newsroom API, so in theory, all new blogs will be picked up (with some delay time) without us adding any new code.

Now the blog is live on prod, closing the issue.

https://jakarta.ee/news/

[2022-06-15 20:39] #1493 closed, assigned to linkfang

[2022-06-22 17:08] shabnammayel commented on #1463
@ericpoirier can you please update the Specification image to : https://xd.adobe.com/view/5366cb9f-6394-48f7-abb3-60736278dd16-0635/

[2022-06-22 18:18] ericpoirier commented on #1463
Ok no problem, can you provide the image in .svg format?

Thanks.

[2022-06-22 18:29] shabnammayel commented on #1463
@meKokabi Can you please provide that? I didn't find the .svg format of this final one in Gitlab. thanks

[2022-06-22 22:54] meKokabi commented on #1463
Please find the final svg format here:
![option 2](https://user-images.githubusercontent.com/75500459/175167694-5b546c35-2c0a-49c2-abc6-160b1b5fdd20.svg)

[2022-06-22 23:22] meKokabi commented on #1463
@shabnammayel if you recall we purposely didn't include the Jakarta big yellow logo on the left as we wanted to show the difference and the fact that this is a new product. However, as requested, I have made 2 formats with the logo  as Jakarta EE 9.1, for you to choose from attached here:
cc: @ericpoirier
![2bigstock-Programmer-Coding-Classes-Web-447451870 copy]
![bigstock-Programmer-Coding-Classe

[2022-06-23 11:48] ericpoirier commented on #1463
@shabnammayel Let me know which background I should be using.

Thanks.

[2022-06-23 15:04] Dexmaster commented on #1463
@meKokabi just a heads up I've checked and the second one is closer to the previous format but both are slightly different from image on the previous release page https://jakarta.ee/release/9/ or https://jakarta.ee/release/9.1/
The first one doesn't have a crop and the logo is faded, second one has too much vertical crop and the logo is not transparent.
Imho the previous image looked cleaner, and

[2022-06-23 15:09] Dexmaster commented on #1463
Here is image from website for comparison https://jakarta.ee/images/jakarta9-image.png
![jakarta 9](https://jakarta.ee/images/jakarta9-image.png)

[2022-06-23 15:24] ericpoirier commented on #1463
@shabnammayel I updated the platform image:

https://deploy-preview-1465--jakartaee.netlify.app/release/10/

I'll wait to know which background image to use for the eBook section at the bottom of the page.

Also is it always the plan to push this page to production on June 28?

Thanks.

[2022-06-23 16:30] shabnammayel commented on #1463
The Jakarta EE 10's page flow as well and the look is not identical to the pages for EE 9 and previous versions. and that's not the intention to keep them identical. So I actually think let's keep the image of the eBook section as it is without the logo.

The Specification image looks good, @ericpoirier ! thanks

As for the timeline, the current proposed date of the Jakarta EE 10 release is 12 Jul

[2022-06-23 17:18] ericpoirier commented on #1463
sounds good then. I will wait for your +1 to go live.

Thanks.

[2022-06-30 13:00] shabnammayel commented on #1463
@ericpoirier can you please update the Spec image:

https://files.slack.com/files-pri/T0UKT20DP-F03MDR0LM9D/download/ee10.svg?origin_team=T0UKT20DPhttps://eclipsefoundation.slack.com/files/U01FCQ75VPC/F03MUD5ADC2/ee10.png?origin_team=T0UKT20DP&origin_channel=D028J0XTR9R

Thanks

[2022-06-30 15:48] ericpoirier commented on #1463
Hi @shabnammayel, can you re-upload the image?

Thanks.

[2022-06-30 19:21] shabnammayel commented on #1463
!
![EE10](https://user-images.githubusercontent.com/51449073/176760480-33c25ca9-47f2-4a6f-bf2c-87ad3003d2c7.png)
[EE10 (1)](https://user-images.githubusercontent.com/51449073/176760469-133e783b-d659-42a1-931b-8816a3383792.svg)

[2022-06-30 19:21] shabnammayel commented on #1463
![EE10 (1)](https://user-images.githubusercontent.com/51449073/176760516-cb4f9bb9-29f4-4bf8-af70-5a6f340a6bec.svg)

[2022-07-01 17:37] cesarhernandezgt opened #1498 "Member Testimonials not showing on /membership page"
**Describe the bug**
Member Testimonials not showing on  https://jakarta.ee/membership/ page

According to the guide to add a new testimonial: https://github.com/jakartaee/jakarta.ee#how-to-include-a-new-membership-testimonials, the testimonials widget depends on `data/membership/testimonials/ *.yml` but the data/membership folder doesn't exist anymore.

**To Reproduce**
Steps to reproduce the beh

[2022-07-03 17:07] excentrickristy opened #1500 "Broken Links"
The following are internal 404s that need to be cleaned up to improve  and user experience.

On this page:
https://jakarta.ee/zh/committees/
In the 3rd box there is a broken link:
![image](https://user-images.githubusercontent.com/73264129/177048537-b8f5923c-eefe-4bc9-8f10-d3761c41dd38.png)

Should link to: https://jakarta.ee/zh/about/jesp/

----
On this page:
https://jakarta.ee/zh/committees/spec

[2022-07-05 12:46] ericpoirier commented on #1463
@shabnammayel I will use the last one you uploaded?

[2022-07-05 12:56] shabnammayel commented on #1463
Sure, they are the same though, right? thanks

[2022-07-05 12:57] ericpoirier commented on #1463
The font is different.

[2022-07-05 12:57] ericpoirier commented on #1500
@excentrickristy For all the changes to pages under /specifications, you should open an issue in the following repo:

https://github.com/jakartaee/specifications

Thanks.

[2022-07-05 12:58] shabnammayel commented on #1463
@meKokabi can you please verify which one is the correct image for Eric to use? thanks

[2022-07-05 13:00] meKokabi commented on #1463
Here You Are:
![J_EE10](https://user-images.githubusercontent.com/75500459/177333511-54d02b10-860f-4512-bf35-8535d7095d63.svg)

[2022-07-05 13:01] meKokabi commented on #1463
Here You Are, this is the final svg one:
![EE10](https://user-images.githubusercontent.com/75500459/177333680-6bb18df9-8a60-4bac-851f-c2e097192d15.svg)

[2022-07-05 15:24] ericpoirier commented on #1463
@shabnammayel @meKokabi I updated the Platform image in the following staging page:

https://deploy-preview-1465--jakartaee.netlify.app/release/10/

Let me know if there's anything else.

Thanks.

[2022-07-05 15:30] meKokabi commented on #1463
Thanks @ericpoirier. Looks good to me!

[2022-07-05 17:55] ericpoirier commented on #1498
@cesarhernandezgt The testimonials are now showing up on the membership page of the following staging page:

https://deploy-preview-1501--jakartaee.netlify.app/membership/

Let me know if there's anything else.

Thanks.

[2022-07-05 22:30] cesarhernandezgt commented on #1498
Thank you @ericpoirier for the fix. I navigated the preview site and the testimonials are working fine.

[2022-07-06 13:46] #1498 closed, assigned to ericpoirier

[2022-07-06 14:55] ZacharySabourin commented on #1500
Hey @excentrickristy! Every broken link that is not under /specification has been updated. You can preview the changes here:
https://deploy-preview-1502--jakartaee.netlify.app/zh/committees/
https://deploy-preview-1502--jakartaee.netlify.app/zh/committees/specification/
https://deploy-preview-1502--jakartaee.netlify.app/about/meeting_minutes/#specification_committee

[2022-07-11 12:44] ZacharySabourin commented on #1500
Hey @excentrickristy! Just making sure this is still on your radar :)

[2022-07-11 21:13] excentrickristy commented on #1500
Looks good, thank you!

[2022-07-11 21:16] excentrickristy commented on #1500
Done, thank you!

[2022-07-12 15:56] #1500 closed, assigned to ZacharySabourin

[2022-07-20 17:48] JustinS-ContentSpecialist commented on #1463
Embed codes for marketing videos:

Release video feature highlights -  <iframe width="560" height="315" src="https://www.youtube.com/embed/ewiNLlinA6A?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

Celebration video interview highlights - <iframe width="560" height="31

[2022-07-22 11:47] shabnammayel commented on #1463
@ericpoirier please add the first video below the features and benefits boxes as shown in the screenshot below:
![image (9)](https://user-images.githubusercontent.com/51449073/180433005-739519ed-2f4a-478f-b757-272e03d9519b.png)

[2022-07-22 11:52] shabnammayel commented on #1463
@ericpoirier In addition to the main influencer video the Justin shared above, we have 7 more interview videos. We can keep the main one on the left side of the videos section but we will upload the other 7 on a YouTube playlist to share that on the right side of the video section on the landing page FYI @JustinS-ContentSpecialist

@ericpoirier MKT CMTE suggested to have a ‘play-list’ view on the

[2022-07-22 14:23] chrisguindon commented on #1463
@shabnammayel Eric is on holiday until August 1st. Can this wait until his return?

[2022-07-22 14:43] JustinS-ContentSpecialist commented on #1463
I'll try to have the new playlist created by early next week, and provide the info when I have it.

Disregard the embed code for the influencer video listed above, but the features video is still accurate.

[2022-07-26 12:07] shabnammayel commented on #1463
@chrisguindon sure, it can wait until Eric is back

[2022-07-26 19:12] paulbuck opened #1503 "Request to publish the meeting minutes for the Jakarta EE Specification Committee"
Please add new entries for Jakarta EE Specification Committee meeting minutes on the Specification Committee page
[https://jakarta.ee/committees/specification/](https://github.com/jakartaee/jakarta.ee/issues/url)

I have attached pdf files...
[Jakarta EE Spec Committee - February 9th, 2022.pdf](https://github.com/jakartaee/jakarta.ee/files/9192663/Jakarta.EE.Spec.Committee.-.February.9th.2022.pdf)

[2022-07-27 16:52] autumnfound commented on #1503
@oliviergoulet5 can you look at this? I'd assign you but there is a hiccup in the team that will be fixed by EOD

[2022-07-28 13:07] JustinS-ContentSpecialist commented on #1463
<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLy7t4z5SYNaSdrClui5jMy7J8Vl3dZEr8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

This is the embed code for the full interview playlist - which features the initial release celebration video,

[2022-07-28 14:56] autumnfound commented on #1503
Fixed!

[2022-07-28 14:56] #1503 closed, assigned to nobody

[2022-08-01 19:34] pzygielo opened #1505 "Redirecting to https on all of www.w3.org"
**Is your feature request related to a problem? Please describe.**

Tests of [Redirecting to https on all of www.w3.org](https://www.w3.org/blog/2022/07/redirecting-to-https-on-www-w3-org/) today caused some problems with DD validation using `xml-maven-plugin`:
- https://github.com/eclipse-ee4j/openmq/pull/1549#issuecomment-1201574549

due to
- https://github.com/jakartaee/jakarta.ee/blob/8981afdf

[2022-08-02 06:34] ivargrimstad commented on #1505
We will fix this in the schema sources in https://github.com/eclipse-ee4j/jakartaee-schemas/issues/39

Keep this issue open to track that the resulting generated schemas are updated on the site

[2022-08-02 14:47] shabnammayel commented on #1463
Thanks @JustinS-ContentSpecialist  can you please take out the main influencer video from that playlist and keep it separate on YouTube and share the link with Eric here? Eric will add that main video on the left side of the video section of the landing page and will explore the possibility of adding a playlist view of the rest of the interviews on the landing page.

[2022-08-02 15:41] JustinS-ContentSpecialist commented on #1463
Release Celebration Video: https://youtu.be/bkV-0AQmylU

<iframe width="560" height="315" src="https://www.youtube.com/embed/bkV-0AQmylU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

Features Highlight Video: https://youtu.be/ewiNLlinA6A

<iframe width="560" height="315" src=

[2022-08-03 12:41] ivargrimstad commented on #1505
@pzygielo Take a look at #1506

[2022-08-03 15:40] ericpoirier commented on #1463
@shabnammayel @JustinS-ContentSpecialist I updated the staging page with the new videos.

https://deploy-preview-1465--jakartaee.netlify.app/release/10/

@JustinS-ContentSpecialist, Shabnam and I had a meeting yesterday to talk about where to place the videos and we only talked about adding 1 video and 1 playlist to the page and I'm seeing you added 2 videos and a playlist. I added the Highlight v

[2022-08-03 16:12] shabnammayel commented on #1463
You are right @ericpoirier for the video section of the landing page, we want to have the [main influencer video](https://youtu.be/bkV-0AQmylU)) on the left side and the playlist on the right side. but I should also mention, the second video that Justin shared above, needs to be added to the features and benefits section of the landing page, right below the 3 boxes "simplified", "modernized" and "

[2022-08-03 16:13] shabnammayel commented on #1463
I still don't see a playlist video on the landing page on the video section btw @ericpoirier

[2022-08-03 16:42] #1505 closed, assigned to ivargrimstad

[2022-08-03 17:56] ericpoirier commented on #1463
Ok I will add this video as well.

![image](https://user-images.githubusercontent.com/623165/182676518-d179b835-641b-455e-82fc-41def8bb9297.png)

The video on the right is the playlist. If you click on the 1/8 button, you will see the playlist.

[2022-08-03 18:50] shabnammayel commented on #1463
I just realized @JustinS-ContentSpecialist that these videos are uploaded on EF's YouTube channel. Can you please upload them on The Jakarta EE's YouTube channel instead and share the links with Eric? @ericpoirier ah now I see it! but it's not easy to recognize that! can we display them in a playlist view instead of showing an individual one and the small 1/8 button on the top?

[2022-08-03 21:58] JustinS-ContentSpecialist commented on #1463
**Interview Playlist**
https://youtube.com/playlist?list=PLutlXcN4EAwDHSz15sby6wVs1_wPWwrHG

<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLutlXcN4EAwDHSz15sby6wVs1_wPWwrHG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

 <br>

**Release

[2022-08-04 12:48] ericpoirier commented on #1463
@shabnammayel @JustinS-ContentSpecialist I updated the videos on the staging page:

https://deploy-preview-1465--jakartaee.netlify.app/release/10/

Let me know if there's anything else.

Thanks.

[2022-08-04 14:05] shabnammayel commented on #1463
Thanks Eric, in terms of the playlist view, I still only see the small button that indicates it's a playlist! is there anyway to present the playlist in a more recognizable way?
@JustinS-ContentSpecialist can you please edit the titles of these video? they all show as a random name we gave them for our reference. but now that we are uploading them on our YouTube channel, we should name them proper

[2022-08-04 14:30] ericpoirier commented on #1463
For now, this is the only way we can present a playlist using our Youtube plugin. I did a bit of research and looked through the options to change the look of the buttons in the youtube frame and nothing seems to update the playlist buttons.

[2022-08-04 14:32] JustinS-ContentSpecialist commented on #1463
Yes, I just got access to the Jakarta EE youtube halfway through yesterday and commenced with the bulk upload, the titles will be put in today. Just added them, Slack me any changes to the copy @shabnammayel

[2022-08-17 14:55] chrisguindon commented on #1346
@ericpoirier I see that your PR has been merged. Are we done here? If not what's left?

[2022-08-24 08:37] CartierPierre opened #1509 "Can't support UTF-8 caracters"
Hi
I've lost a very long time to find why my app can't load Jakarta.
Finally, I've found `smtp.fromName` attribute can't support UTF-8 caracters, in my case the "é" letter
Using Jakarta 2.1.0, JDK17, Unix env

[2022-08-24 13:09] autumnfound commented on #1509
Hi @CartierPierre, this is the site for the Jakarta EE platform only, with no bearing on the actual specification itself. Unfortunately, in this case, your princess is in another castle. @ivargrimstad this looks like a Jakarta Mail issue...would https://github.com/eclipse-ee4j/mail/issues be the best place for this?

[2022-08-24 13:42] TanjaObradovic commented on #1509
Ivar is out on vacation.
@CartierPierre if this is Jakarta Mail issue as @autumnfound suggested, please log an issue at https://github.com/eclipse-ee4j/mail/issues

[2022-08-24 15:18] CartierPierre commented on #1509
Oh i'm so sorry, not the right place yes :)
Thanks

[2022-08-24 15:18] #1509 closed, assigned to nobody

[2022-08-26 06:49] pzygielo opened #1510 "Currently published web-facelettaglibrary 3.0 (for JakartaEE 9) references jakartaee_10.xsd"
This repo - currently published [web-facelettaglibrary](https://jakarta.ee/xml/ns/jakartaee/web-facelettaglibrary_3_0.xsd) for [JakartaEE 9](https://jakarta.ee/xml/ns/jakartaee/#9) references `<xsd:include schemaLocation="jakartaee_10.xsd"/>` which does not seem to be right and should be reverted to 9. Just to clarify - all changes to w-ftl-3.xsd should be reverted, not the single `include` only.

[2022-08-29 13:21] ericpoirier commented on #1510
I see that the pull request for this have been merged. Can we close this issue?

Thanks.

[2022-08-29 17:06] pzygielo commented on #1510
Check that PR again and you'll see that no change was merged in this repository. It's only presented/recognized as _merged_ by GitHub, due to position of branches.
That's why this issue was created, because problem was not solved there.

Depends - does [currently published web-facelettaglibrary 3.0 (for JakartaEE 9)](https://jakarta.ee/xml/ns/jakartaee/web-facesconfig_3_0.xsd) reference jakartaee_

[2022-08-29 18:18] pzygielo opened #1511 "data/jakartaee_schemas.yml lists web-facelettaglibrary_3_0.xsd for JakartaEE 10 (should be 4_0)"
_Originally posted by @yersan in https://github.com/jakartaee/jakarta.ee/pull/1472#discussion_r907646813_

[2022-08-30 07:16] #1511 closed, assigned to nobody

[2022-08-30 07:17] #1510 closed, assigned to nobody

[2022-09-06 17:30] brideck opened #1516 "IBM WebSphere Liberty 21.0.0.12 as a Compatible Software Product for Jakarta EE 9.1"
To include your Compatible Software Product on the Jakarta EE official list of Compatible Software Products, please provide the following information:

**The URL to the Eclipse Foundation profile to confirm that you are an authorized representative of the company whose product information you are submitting**
[Brian Decker - IBM - Eclipse Profile](https://accounts.eclipse.org/users/bdeckerhdt)

**

[2022-09-07 14:58] ericpoirier commented on #1463
@shabnammayel any news on when we are pushing this page to production?

Thanks.

[2022-09-08 19:02] oliviergoulet5 commented on #1516
Hey @brideck

Here is a preview link:
- https://deploy-preview-1518--jakartaee.netlify.app/compatibility/certification/9.1/
- https://deploy-preview-1518--jakartaee.netlify.app/compatibility/

[2022-09-08 20:40] brideck commented on #1516
https://deploy-preview-1518--jakartaee.netlify.app/compatibility/certification/9.1/ does not look correct.

- The listed version should be 21.0.0.12.
- There should be 3 lines --1 for each Java version, like we see for Open Liberty and WildFly.
- There should also be a multi-line entry for IBM WebSphere Liberty in the Web Profile table.

[2022-09-09 09:25] engsyst opened #1519 "jakartaee_web_services_metadata_handler_3_0.xsd includes jakartaee_9.xsds which does not exists"
**Describe the bug**
[jakartaee_web_services_metadata_handler_3_0.xsd](https://jakarta.ee/xml/ns/jakartaee/jakartaee_web_services_metadata_handler_3_0.xsd) includes non-existing schema and references to non-existing type.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a handler chain xml document as described in `jakartaee_web_services_metadata_handler_3_0.xsd` documentation tag.

[c

[2022-09-09 12:00] shabnammayel commented on #1463
Yes, the date is confirmed for 22 Sep

[2022-09-09 15:55] oliviergoulet5 commented on #1516
https://deploy-preview-1518--jakartaee.netlify.app/compatibility/

@brideck Does this look correct? I fixed the version number, fixed the links, and there is now three bullets for Platform and Web versions.

[2022-09-09 16:55] brideck commented on #1516
@oliviergoulet5 This looks great, thanks.  Please let me know when the live page is up.

[2022-09-09 17:51] brideck commented on #1516
@oliviergoulet5 I stand corrected.  The links on the download tab (https://deploy-preview-1518--jakartaee.netlify.app/compatibility/download/) currently point to the TCK, instead of a place to download IBM WebSphere Liberty.

Please use the links specified in the "The URL where Compatible Software Product is available for download" section of the template.

[2022-09-09 19:20] oliviergoulet5 commented on #1516
@brideck I made the change. I hope its good now.

Can I also get a confirmation by @TanjaObradovic or @ivargrimstad if its good to deploy?

[2022-09-09 19:50] TanjaObradovic commented on #1516
Yes, looks good to me!

[2022-09-09 20:39] brideck commented on #1516
Agreed.  The new one looks good.  Thanks again.

[2022-09-12 12:43] #1516 closed, assigned to oliviergoulet5

[2022-09-15 19:13] will-lyons opened #1521 "Publish Jakarta EE Steering Comm Mtg Mins - June 7, 2022; June 21, 2022; July 5, 2022; July 19, 2022; August 2, 2022; Aug 16, 2022"
This is not a bug

We need to add new entries for Steering meeting minutes for June 7, 2022; June 21, 2022; July 5, 2022; July 19, 2022; August 2, 2022; Aug 16, 2022
https://jakarta.ee/meeting_minutes/

...under the tab:
Jakarta EE Steering Committee

in the same way as other files with just adding a date with the link.

I have attached pdf files:
[Minutes of the June 7, 2022 Jakarta EE Steering C

[2022-09-19 12:30] arjantijms opened #1522 "Eclipse GlassFish 7 as Compatible Product of Jakarta EE 10.0"
To include your Compatible Software Product on the Jakarta EE official list of Compatible Software Products, please provide the following information:

**The URL to the Eclipse Foundation profile to confirm that you are an authorized representative of the company whose product information you are submitting**

* [Arjan Tijms](https://projects.eclipse.org/content/arjan-tijms-committer-eclipse-glass

[2022-09-19 12:34] arjantijms opened #1523 "Eclipse GlassFish Web Profile 7.0 as Compatible Product of Jakarta EE 10.0 Web Profile"
To include your Compatible Software Product on the Jakarta EE official list of Compatible Software Products, please provide the following information:

**The URL to the Eclipse Foundation profile to confirm that you are an authorized representative of the company whose product information you are submitting**

* [Arjan Tijms](https://projects.eclipse.org/content/arjan-tijms-committer-eclipse-glass

[2022-09-19 15:45] oliviergoulet5 commented on #1522
Hey @arjantijms

Here are the staging links for the changes:
https://deploy-preview-1524--jakartaee.netlify.app/compatibility/
https://deploy-preview-1524--jakartaee.netlify.app/compatibility/certification/10/
https://deploy-preview-1524--jakartaee.netlify.app/compatibility/download/

[2022-09-19 16:51] oliviergoulet5 commented on #1523
Hey @arjantijms

Here are the staging links:
https://deploy-preview-1525--jakartaee.netlify.app/compatibility/
https://deploy-preview-1525--jakartaee.netlify.app/compatibility/certification/10/
https://deploy-preview-1525--jakartaee.netlify.app/compatibility/download/

[2022-09-19 17:21] scottmarlow opened #1527 "Compatible Software Product request for WildFly Preview 27.0.0.Alpha1 Core Profile 10"
To include your Compatible Software Product on the Jakarta EE official list of Compatible Software Products, please provide the following information:

**The URL to the Eclipse Foundation profile to confirm that you are an authorized representative of the company whose product information you are submitting**

https://www.eclipse.org/membership/showMember.php?member_id=731

**A product name and ve

[2022-09-19 17:30] oliviergoulet5 commented on #1521
Hey @will-lyons

Here is a preview link for the steering committee meeting minutes: https://deploy-preview-1526--jakartaee.netlify.app/about/meeting_minutes/#steering_committee

/cc @TanjaObradovic

[2022-09-19 17:33] scottmarlow opened #1528 "Compatible Software Product request for WildFly 27.0.0.Alpha5 Full Platform/Web Profile 10"
To include your Compatible Software Product on the Jakarta EE official list of Compatible Software Products, please provide the following information:

**The URL to the Eclipse Foundation profile to confirm that you are an authorized representative of the company whose product information you are submitting**

https://www.eclipse.org/membership/showMember.php?member_id=731

**A product name and ve

[2022-09-19 18:10] scottmarlow commented on #1527
Please note related issue https://github.com/jakartaee/jakarta.ee/issues/1528 also for `WildFly 27.0.0.Alpha5`.

[2022-09-19 19:16] TanjaObradovic commented on #1528
Looks good to me!

[2022-09-19 19:19] TanjaObradovic commented on #1527
Looks good to me!

[2022-09-19 19:20] TanjaObradovic commented on #1522
Looks good to me!

[2022-09-19 19:29] TanjaObradovic commented on #1523
Looks good to me!

[2022-09-19 19:46] #1522 closed, assigned to oliviergoulet5

[2022-09-19 19:47] #1523 closed, assigned to oliviergoulet5

[2022-09-19 20:14] scottmarlow commented on #1527
Just made a few changes to reference the same product name and version referenced in the TCK results.

[2022-09-19 22:40] edbratt commented on #1528
This is great news. To avoid confusion, I would recommend the subject of this issue be changed to "Compatible Product ..." (or Compatible Software) instead of Compatibility certification request. The certification request is to the Specification team. This issue is the application to have your product listed on the compatible products page.

[2022-09-19 22:41] edbratt commented on #1527
This is great news. To avoid confusion, I would recommend the subject of this issue be changed to "Compatible Product ..." (or Compatible Software) instead of Compatibility certification request. The certification request is to the Specification team. This issue is the application to have your product listed on the compatible products page.

[2022-09-20 08:37] Pandrex247 opened #1529 "Compatible Software Product Request for Payara Server Community 6.2022.1.Alpha3 for Core Profile 10.0"
To include your Compatible Software Product on the Jakarta EE official list of Compatible Software Products, please provide the following information:

**The URL to the Eclipse Foundation profile to confirm that you are an authorized representative of the company whose product information you are submitting**
https://accounts.eclipse.org/users/apielagewgt

**A product name and version**
Payara Ser

[2022-09-20 08:40] Pandrex247 opened #1530 "Compatible Software Product Request for Payara Server Enterprise 5.43.0 for Full Platform 8.0"
To include your Compatible Software Product on the Jakarta EE official list of Compatible Software Products, please provide the following information:

**The URL to the Eclipse Foundation profile to confirm that you are an authorized representative of the company whose product information you are submitting**
https://accounts.eclipse.org/users/apielagewgt

**A product name and version**
Payara Ser

[2022-09-20 08:41] Pandrex247 opened #1531 "Compatible Software Product Request for Payara Server Enterprise (Web Profile) 5.43.0 for Web Profile 8.0"
To include your Compatible Software Product on the Jakarta EE official list of Compatible Software Products, please provide the following information:

**The URL to the Eclipse Foundation profile to confirm that you are an authorized representative of the company whose product information you are submitting**
https://accounts.eclipse.org/users/apielagewgt

**A product name and version**
Payara Ser

[2022-09-20 12:34] ericpoirier commented on #1528
Hi @edbratt, I'd suggest opening an issue to update the issue template.

Thanks.

[2022-09-20 12:34] dingjiang838 opened #1532 "Please add RockyAS 1.0 as Jakarta EE 8 Full Platform compatible"
The URL to the Eclipse Foundation profile to confirm that you are an authorized representative of the company whose product information you are submitting
https://www.eclipse.org/membership/showMember.php?member_id=1579

A product name and version
RockyAS 1.0

The Profile (Full Platform, Web Profile, Both) that the Compatible Product is submitted to be listed under
Full Platform

A ZIP file with a

[2022-09-20 15:55] oliviergoulet5 commented on #1528
Hey @scottmarlow

WildFly 27.0.0.Alpha5 has been added to web and full platform profiles:

https://deploy-preview-1533--jakartaee.netlify.app/compatibility/certification/10/
https://deploy-preview-1533--jakartaee.netlify.app/compatibility/download/

Let me know if this is good!

/cc @TanjaObradovic

[2022-09-20 16:08] oliviergoulet5 commented on #1527
Hey @scottmarlow

WildFly 27.0.0.Alpha1 has been added to the Core profile

https://deploy-preview-1533--jakartaee.netlify.app/compatibility/certification/10/
https://deploy-preview-1533--jakartaee.netlify.app/compatibility/download/

Let me know if this is good!

/cc @TanjaObradovic

[2022-09-20 16:10] oliviergoulet5 commented on #1532
Hey @dingjiang838

I have added RockyAS 1.0 to the Full Platform Profile for Jakarta EE 8:

https://deploy-preview-1534--jakartaee.netlify.app/compatibility/certification/8/
https://deploy-preview-1534--jakartaee.netlify.app/compatibility/download/

Let me know if this looks good!

/cc @TanjaObradovic

[2022-09-20 16:26] TanjaObradovic commented on #1532
Looks good!

[2022-09-20 16:31] TanjaObradovic commented on #1527
looks great!

[2022-09-20 16:36] TanjaObradovic commented on #1528
looks good!

[2022-09-20 17:04] scottmarlow commented on #1527
@oliviergoulet5 looks great to me as well, thank you for your work on this!

[2022-09-20 17:13] oliviergoulet5 commented on #1530
Hey @Pandrex247

I have a preview of the change here:
https://deploy-preview-1535--jakartaee.netlify.app/compatibility/certification/8/
https://deploy-preview-1535--jakartaee.netlify.app/compatibility/download/

Let me know if it is good!

/cc @TanjaObradovic

[2022-09-20 17:13] oliviergoulet5 commented on #1531
Hey @Pandrex247

I have a preview of the change here:
https://deploy-preview-1535--jakartaee.netlify.app/compatibility/certification/8/
https://deploy-preview-1535--jakartaee.netlify.app/compatibility/download/

Let me know if it is good!

/cc @TanjaObradovic

[2022-09-20 17:18] oliviergoulet5 commented on #1529
Hey @Pandrex247

I have a preview of the change here:
https://deploy-preview-1535--jakartaee.netlify.app/compatibility/certification/8/
https://deploy-preview-1535--jakartaee.netlify.app/compatibility/download/

Let me know if it is good!

/cc @TanjaObradovic

[2022-09-20 17:22] #1532 closed, assigned to oliviergoulet5

[2022-09-20 17:22] #1527 closed, assigned to oliviergoulet5

[2022-09-20 17:22] #1528 closed, assigned to oliviergoulet5

[2022-09-20 17:26] TanjaObradovic commented on #1529
Looks great!

[2022-09-20 17:28] TanjaObradovic commented on #1529
Looks great!

[2022-09-20 17:29] TanjaObradovic commented on #1530
Looks good!

[2022-09-20 17:40] TanjaObradovic commented on #1531
Looks great!

[2022-09-20 17:42] TanjaObradovic commented on #1521
looks great! please feel free to publish :)

[2022-09-20 19:03] brideck opened #1537 "Open Liberty 22.0.0.10-beta as a Compatible Software Product for Jakarta EE 10"
To include your Compatible Software Product on the Jakarta EE official list of Compatible Software Products, please provide the following information:

**The URL to the Eclipse Foundation profile to confirm that you are an authorized representative of the company whose product information you are submitting**
[Brian Decker - IBM - Eclipse Profile](https://accounts.eclipse.org/users/bdeckerhdt)

**

[2022-09-20 20:01] #1529 closed, assigned to oliviergoulet5

[2022-09-20 20:01] #1530 closed, assigned to oliviergoulet5

[2022-09-20 20:01] #1531 closed, assigned to oliviergoulet5

[2022-09-21 03:02] hs536 opened #1538 "FJ-EAP 1.1.0 as a Compatible Software Product for Jakarta EE 10 Full Platform"
To include your Compatible Software Product on the Jakarta EE official list of Compatible Software Products, please provide the following information:

**The URL to the Eclipse Foundation profile to confirm that you are an authorized representative of the company whose product information you are submitting**

[Fujitsu Limited](https://www.eclipse.org/membership/showMember.php?member_id=685)

**A

[2022-09-21 08:08] Pandrex247 opened #1539 "Compatible Software Product Request for Payara Server Community 6.2022.1.Alpha4 for Full Platform 10"
To include your Compatible Software Product on the Jakarta EE official list of Compatible Software Products, please provide the following information:

**The URL to the Eclipse Foundation profile to confirm that you are an authorized representative of the company whose product information you are submitting**
https://accounts.eclipse.org/users/apielagewgt

**A product name and version**
Payara Ser

[2022-09-21 13:17] #1521 closed, assigned to oliviergoulet5

[2022-09-21 15:31] oliviergoulet5 commented on #1539
Hey @Pandrex247 Here are some preview links of the change:
- https://deploy-preview-1541--jakartaee.netlify.app/compatibility/certification/10/
- https://deploy-preview-1541--jakartaee.netlify.app/compatibility/download/

/cc @TanjaObradovic

[2022-09-21 16:53] oliviergoulet5 commented on #1537
@brideck

I have added these under Core profile 10. Preview the changes here:
https://deploy-preview-1540--jakartaee.netlify.app/compatibility/certification/10/
https://deploy-preview-1540--jakartaee.netlify.app/compatibility/download/

Let me know if this is good

/cc @TanjaObradovic

[2022-09-21 17:13] TanjaObradovic commented on #1537
great to see! looks good!

[2022-09-21 17:13] TanjaObradovic commented on #1539
looks great!

[2022-09-21 17:36] #1539 closed, assigned to oliviergoulet5

[2022-09-21 17:37] #1537 closed, assigned to oliviergoulet5

[2022-09-22 10:45] #1463 closed, assigned to ericpoirier

[2022-09-22 12:13] chrisguindon commented on #1463
@ivargrimstad @shabnammayel

@ericpoirier is not available today.

I see that @ivargrimstad merged Eric PR. I am checking in to see if Jakarta EE needs any additional support from webdev today for the release?

[2022-09-22 14:51] chrisguindon commented on #1463
@ericpoirier was able to reach out to @shabnammayel and she was able to confirm that all is well.

I

[2022-09-23 12:46] shabnammayel opened #1544 "Add the 2022 survey report on Jakarta EE's website"
Please add the 2022 Survey findings on Jakarta's website.

It should be added on this section of the resources page: https://jakarta.ee/resources/#surveys

Title: 2022 Jakarta EE Developer Survey Report

URL: https://outreach.eclipse.foundation/jakarta-ee-developer-survey-2022

[2022-09-23 15:25] ZacharySabourin commented on #1544
Hey @shabnammayel

From what I can tell, the survey reports are updated on the newsroom side. I've updated the en and zh titles but the URL won't load until they exist in the newsroom.

You will be able to see them in the preview here: https://deploy-preview-1545--jakartaee.netlify.app/resources/#surveys

[2022-09-26 13:55] chrisguindon commented on #1544
//cc @shanda-eclipse

[2022-09-26 13:59] shanda-eclipse commented on #1544
Yes, we can add these through the newsroom. @jph152 can you handle this one?

[2022-09-26 14:03] jph152 commented on #1544
+1 it should be live shortly

On Mon, Sep 26, 2022 at 9:59 AM Shanda Giacomoni ***@***.***>
wrote:

--

Jacob Harris

Digital Marketing & Content Specialist | Eclipse Foundation

Eclipse Foundation <http://www.eclipse.org/>: The Community for Open
Innovation and Collaboration

Twitter <https://twitter.com/EclipseFdn> | LinkedIn
<https://www.linkedin.com/company/eclipse-foundation/> | YouTube
<http

[2022-09-26 14:53] ZacharySabourin commented on #1544
@shabnammayel
The preview now has the survey report.
[https://deploy-preview-1545--jakartaee.netlify.app/resources/#surveys](https://deploy-preview-1545--jakartaee.netlify.app/resources/#surveys)

 Thanks for the help @shanda-eclipse @jph152

[2022-09-27 19:12] excentrickristy opened #1547 "SEO Optimization for Jakarta EE 10 release page"
I've reviewed the new Jakarta EE 10 release page at the request of @shabnammayel for SEO optimization. I have a few recommendations:

We need to make sure heading tags are not separated. Please combine these headings into one header tag using span tags for the different styles and a line break tag. e.g. <h2><span class="blue-text">Jakarta EE 10</span><br><span class="orange-text">Features and Bene

[2022-09-27 21:59] scottmarlow opened #1548 "Compatible Software Product request for WildFly 27.0.0.Alpha5 Core Profile 10"
To include your Compatible Software Product on the Jakarta EE official list of Compatible Software Products, please provide the following information:

**The URL to the Eclipse Foundation profile to confirm that you are an authorized representative of the company whose product information you are submitting**

https://www.eclipse.org/membership/showMember.php?member_id=731

**A product name and ve

[2022-09-28 14:12] ZacharySabourin commented on #1548
@scottmarlow A preview of the requested changes is available here: https://deploy-preview-1549--jakartaee.netlify.app/compatibility/

[2022-09-28 15:45] scottmarlow commented on #1548
Thanks @ZacharySabourin!

Question:  Would it be possible to show four separate entries?  Perhaps something like:

[code]

OR

[code]

Thank you!

[2022-09-28 16:12] ZacharySabourin commented on #1548
@scottmarlow Not a problem! I've re-added the previous versions to the preview: https://deploy-preview-1549--jakartaee.netlify.app/compatibility/

[2022-09-28 17:08] scottmarlow commented on #1548
@ZacharySabourin the preview doesn't match either of ^ but is close to the second one.  Under the `Certification Results` column, could the entries for `27.0.0.Alpha5` be changed to not mention `Preview` but do leave the `Preview` next to the Alpha1 ones?

[code]

[2022-09-28 18:05] ZacharySabourin commented on #1548
@scottmarlow My apologies! I must have misread. The preview should reflect the correct changes: https://deploy-preview-1549--jakartaee.netlify.app/compatibility/certification/10/

[2022-09-28 18:45] scottmarlow commented on #1548
Looks excellent @ZacharySabourin!  Thank you!

[2022-09-28 20:02] oliviergoulet5 commented on #1547
Thanks @excentrickristy for the great feedback on the site's SEO. I will begin to make these changes!

[2022-09-29 13:20] ZacharySabourin commented on #1544
@shabnammayel Just checking to make sure this is still on your radar :)

[2022-09-29 14:18] shabnammayel commented on #1544
Thanks for the reminder! :) Looks good to me! thanks

[2022-09-29 14:41] ericpoirier commented on #1547
Hi @excentrickristy, I made the requested changes to the following staging page:

https://deploy-preview-1552--jakartaee.netlify.app/release/10/

Let me know if I missed anything.

Thanks.

[2022-09-29 18:05] autumnfound commented on #1548
Once the certification is approved, we can merge this in!

[2022-09-29 18:11] autumnfound commented on #1544
This was complete with just the resource added to the Newsroom API. So we can close this now! Thanks guys!

[2022-09-29 18:11] #1544 closed, assigned to ZacharySabourin

[2022-09-29 19:44] autumnfound opened #1554 "Jakarta EE Release committer tiles sometimes cutting off names"
Some really long names are getting cut off by the committer tiles on the release page. We may want to look at how we want to handle these cases.

![image](https://user-images.githubusercontent.com/23018241/193126825-d9c788e4-9a71-4a5a-bab1-128ec62c71ea.png)

[2022-09-30 12:29] ericpoirier commented on #1554
We could either reduce the size of the font and/or make the font show up in front of the picture. This way at least the name is visible.

We could also add some white outerglow around the name so that it's more visible if it hovers over the picture.

[2022-09-30 13:49] oliviergoulet5 commented on #1554
Font-size like Eric said plus we could increase the height of the cards to at least support another line, add `word-break: break-all` and `hyphens: manual`.

[2022-09-30 16:56] excentrickristy commented on #1547
Hi Eric,
Looking good!! Just a few things outstanding:

All of the h2 header tags that have the blue and orange words still need to be combined into one solid h2 tag so that they aren't treated separately.

The h3 tags from the contributor names need to be removed.

Thanks

[2022-10-02 22:40] ericpoirier commented on #1554
Haven't try this but will the word break at a place where it make sense?

[2022-10-02 23:16] ericpoirier commented on #1547
Hi @excentrickristy,

I updated the H2 and H3 tags.

https://deploy-preview-1552--jakartaee.netlify.app/release/10/

Let me know if there's anything else.

Thanks.

[2022-10-03 19:50] excentrickristy commented on #1547
Just one thing - can you add a space at the end of the first line of the h2 tags?
![image](https://user-images.githubusercontent.com/73264129/193666235-3409b9e8-6f57-4a8c-9447-33fb66d4ffb8.png)

[2022-10-04 01:51] TanjaObradovic commented on #1538
@oliviergoulet5 can you please look into this?

[2022-10-04 13:04] oliviergoulet5 commented on #1538
@TanjaObradovic I'll get this done for today.

[2022-10-04 13:07] ericpoirier commented on #1548
@scottmarlow will you report back once the certification has been approved?

[2022-10-04 13:08] ericpoirier commented on #1547
Hi @excentrickristy, I added spaces to the H2 tags on the staging page.

Let me know if there's anything else.

Thanks.

[2022-10-04 13:09] scottmarlow commented on #1548
@ericpoirier yes I will!

[2022-10-04 13:13] TanjaObradovic commented on #1538
Many thanks!

[2022-10-04 17:43] oliviergoulet5 commented on #1538
Here are the previews:
https://deploy-preview-1555--jakartaee.netlify.app/compatibility/
https://deploy-preview-1555--jakartaee.netlify.app/compatibility/certification/10/
https://deploy-preview-1555--jakartaee.netlify.app/compatibility/download/

[2022-10-04 17:51] TanjaObradovic commented on #1538
Looking good! thx!!

[2022-10-04 18:23] #1538 closed, assigned to oliviergoulet5

[2022-10-04 18:43] excentrickristy commented on #1547
Looks good, thank you!

[2022-10-04 20:31] TanjaObradovic opened #1556 "Updating Committees Participant lists"
Can you please update
**https://jakarta.ee/committees/marketing/**, Committee Members list with (the change is in bold text here; on the website no need to need to bold)

Kenji Kazumura - Fujitsu, Yuichi Kusano - alternate
Neil Patterson (chair) - IBM
Ed Bratt - Oracle, Melissa Jacobus - alternate
Dominika Tasarz - Payara, Jadon Ortlepp - alternate
Jonathan Gallimore - Tomitribe, Cesar Hernandez -

[2022-10-05 11:39] #1547 closed, assigned to ericpoirier

[2022-10-05 12:17] paulbuck commented on #1556
For the Specification Committee, please use the following text for me...
Paul Buck - Eclipse Foundation (serves as its non-voting chair)

[2022-10-05 14:57] oliviergoulet5 commented on #1556
I added your highlighted changes @TanjaObradovic as well as removed some names which did not appear in your list:
- Dr. Jun Qian from https://jakarta.ee/committees/specification/
- Zhao Xin from https://jakarta.ee/committees/steering/ and https://jakarta.ee/zh/committees/marketing/

Let me know if these any of these names should not of been removed.

@paulbuck I also updated your text.

You can pr

[2022-10-05 17:41] excentrickristy opened #1559 "Update Meta Title Tag on Release Page"
Would like to remove the version from the release page title tag.

New Title Tag:
Jakarta EE Releases | Download the Latest Version of Jakarta EE (Java EE) | The Eclipse Foundation

[2022-10-06 16:31] TanjaObradovic commented on #1556
I made a mistake!

At the Steering Committee line

instead of

Martijn Verburg - London Java Community - Elected Participant Member Representative, Marcelo Ancelmo - alternate

it should be

**Marcin Kruglik - London Java Community - Elected Participant Member Representative, Martijn Verburg - alternate**

[2022-10-06 17:28] oliviergoulet5 commented on #1559
I removed the version number from the meta tag. Please check https://deploy-preview-1560--jakartaee.netlify.app/ to see the changes.

Let me know if its good @excentrickristy.

[2022-10-06 18:05] excentrickristy commented on #1559
Looks good! Thanks.

[2022-10-06 20:06] #1559 closed, assigned to oliviergoulet5

[2022-10-07 17:05] excentrickristy opened #1562 "SEO Improvements for Specifications Page"
I think some of the original meta changes were lost when the new design was applied to the specifications page.

New Title Tag:
Jakarta EE Specifications | The Eclipse Foundation

New Meta Description:
Browse Jakarta EE Specifications, including Jakarta EE Platform, Profile, and individual specification documents.

H1:
Change from Specifications to Jakarta EE Specifications

The orange titles on t

[2022-10-07 17:18] excentrickristy opened #1563 "Content Issue on Specification Pages"
The static content from the main specifications page is being repeated on every specification page. I don't believe this is intentional.

This is the main spec page:
![image](https://user-images.githubusercontent.com/73264129/194613765-389e2de6-9edd-4c6d-92e8-695b4b5a3ffe.png)

This is the bottom of the platform 10 spec page: https://jakarta.ee/specifications/platform/10/
![image](https://user-ima

[2022-10-07 19:12] ericpoirier commented on #1563
I created a pull request to update the specifications section.

https://deploy-preview-1564--jakartaee.netlify.app/specifications/

The duplicate text is now gone on sub pages.

Let me know if there's anything else.

Thanks.

[2022-10-07 19:21] excentrickristy commented on #1563
Great, looks good!

[2022-10-11 08:44] will-lyons commented on #1521
The preview looks good, please publish.

Thanks

Will

From: Olivier Goulet ***@***.***>
Reply-To: "jakartaee/jakarta.ee" ***@***.***>
Date: Monday, September 19, 2022 at 1:30 PM
To: "jakartaee/jakarta.ee" ***@***.***>
Cc: Will Lyons ***@***.***>, Mention ***@***.***>
Subject: [External] : Re: [jakartaee/jakarta.ee] Publish Jakarta EE Steering Comm Mtg Mins - June 7, 2022; June 21, 2022; July 5, 2

[2022-10-11 08:51] will-lyons commented on #1488
Looks good, thank you.

Will

From: Zhou Fang ***@***.***>
Reply-To: "jakartaee/jakarta.ee" ***@***.***>
Date: Thursday, June 9, 2022 at 2:57 PM
To: "jakartaee/jakarta.ee" ***@***.***>
Cc: Will Lyons ***@***.***>, Mention ***@***.***>
Subject: [External] : Re: [jakartaee/jakarta.ee] Publish Jakarta EE Steering Committee Meeting Minutes of April 26, 2022 and May 24, 2022 Meetings (Issue #1488)

Hi

[2022-10-11 11:55] #1563 closed, assigned to ericpoirier

[2022-10-12 14:20] oliviergoulet5 commented on #1562
Hey @excentrickristy

I updated the headings, title, and meta description here: https://deploy-preview-1565--jakartaee.netlify.app/specifications/

Let me know if it's good!

[2022-10-12 14:42] excentrickristy commented on #1562
Just one thing - the individual specs should be h3
![image](https://user-images.githubusercontent.com/73264129/195373782-6fbd1e07-2e08-4410-925a-db6322ea088f.png)

[2022-10-12 15:28] oliviergoulet5 commented on #1562
My bad. I fixed that here: https://deploy-preview-1565--jakartaee.netlify.app/specifications/

[2022-10-12 19:37] excentrickristy commented on #1562
Great, thanks!

[2022-10-12 20:06] #1562 closed, assigned to oliviergoulet5

[2022-10-13 15:37] scottmarlow commented on #1548
@ericpoirier the https://github.com/eclipse-ee4j/jakartaee-platform/issues/555 + https://github.com/eclipse-ee4j/jakartaee-platform/issues/556 are both marked as `accepted` which I think means they are `approved`.

[2022-10-13 17:50] ericpoirier commented on #1548
Ok will look at merging the changes of the website to production.

[2022-10-13 17:51] #1548 closed, assigned to ZacharySabourin

[2022-10-13 18:14] TanjaObradovic commented on #1548
yes all is approved!

[2022-10-17 17:16] TanjaObradovic opened #1566 "update to the Steering and Specification Committee list"
Can we please update the Steering and Specification Committee list
**https://jakarta.ee/committees/specification/**
it should be
Marcelo Ancelmo - London Java Community - Elected Participant Member Representative
_delete_
, Martijn Verburg - alternate

**https://jakarta.ee/committees/steering/**
it should be
Marcin Kruglik - London Java Community - Elected Participant Member Representative
_delete

[2022-10-18 14:20] oliviergoulet5 commented on #1566
Hey @TanjaObradovic here are the preview pages:

- [Specification Committee](https://deploy-preview-1567--jakartaee.netlify.app/committees/specification/)
- [Steering Committee](https://deploy-preview-1567--jakartaee.netlify.app/committees/steering/)

[2022-10-19 17:28] shabnammayel opened #1568 "Create a "Why Jakarta EE" page"
Please create the "Why Jakarta EE" page on the Jakarta EE website. Here is the mock up for the page:

https://docs.google.com/document/d/1XotrupJGqbaxfgPYbm9RNFGBZyfHst5oGn1CaFDkSAw/edit#

We have a placeholder for the video as well. I will share the video next week.

This page should be added under about, below About Jakarta EE. and also on the homepage, in the Get informed box, under Browse spec

[2022-10-19 17:31] shabnammayel opened #1569 "Remove 1 on the title of the "get involved in Jakarta EE" page"
<img width="679" alt="Screen Shot 2022-10-19 at 1 29 22 PM" src="https://user-images.githubusercontent.com/51449073/196763044-c5c69fc6-4612-43b6-9977-50a95c5feed7.png">

As you can see in the screenshot there is "1" after Jakarta EE in the title that should be removed.

Also I noticed that "Get involved" is not placed on the menu bar on an alphabetic order unlike other items there:
<img width="227

[2022-10-19 19:01] autumnfound commented on #1569
I have a feeling that 1 is a typo and it was supposed to be a `!`. Do you want to just remove the 1, or replace it with a `!`?

[2022-10-19 19:08] shabnammayel commented on #1569
Good point! please replace with !

[2022-10-19 19:18] oliviergoulet5 commented on #1568
Hey Shabnam, you shared a link which I do not have access to. I have sent an email requesting access.

[2022-10-19 19:21] oliviergoulet5 commented on #1569
Here is a preview link of the changes: https://deploy-preview-1570--jakartaee.netlify.app/community/get-involved/

Let me know if it is good to go live!

[2022-10-19 19:40] shabnammayel commented on #1569
LGTM! thanks

[2022-10-19 19:41] shabnammayel commented on #1568
done! thanks

[2022-10-19 19:49] #1569 closed, assigned to oliviergoulet5

[2022-10-20 19:05] oliviergoulet5 commented on #1568
Do we want to convert the bolded text into proper headings? It is more [accessible](https://usability.yale.edu/web-accessibility/articles/headings) and is better for SEO. However, this will require for the bolded text of the last two sections to be separate from their paragraphs.

Example:

"**Jakarta EE is innovative**, Jakarta EE opens the door to cloud native..."

would become:

## Jakarta EE i

[2022-10-20 19:09] shabnammayel commented on #1568
Apologies after reading your comment I realized that the link to the mockup has not been pasted!

https://projects.invisionapp.com/share/AX10M9QL74RN#/screens/470049812

Kindly follow the mockup for the format of the headings, etc. I shared the copy in a google doc to make it easier for you to copy and paste the content.

but now realized the mock up link has not been added here! my bad!

[2022-10-20 19:14] oliviergoulet5 commented on #1568
No worries! I'll get started now.

[2022-10-20 19:26] oliviergoulet5 commented on #1568
Is there a deadline for this @shabnammayel?

[2022-10-20 19:32] shabnammayel commented on #1568
It would be great if we can go live by 8 Nov.

[2022-10-21 14:56] oliviergoulet5 commented on #1568
@shabnammayel Sorry for pinging again, hopefully this is the last thing. Do you have the assets for the page?

[2022-10-21 19:49] shabnammayel commented on #1568
No worries! @excentrickristy can you please help with the assets for this page? thanks

[2022-10-21 19:59] excentrickristy commented on #1568
Here you go! https://www.dropbox.com/sh/1ee030udxuayir8/AADLBBKopdV8TgDeycvxdgxaa?dl=0

[2022-10-24 10:16] TanjaObradovic commented on #1566
I am so sorry, but I got a new update from the community

https://jakarta.ee/committees/specification/
it should be
Marcelo Ancelmo - London Java Community - Elected Participant Member Representative, Abraham Marin-Perez - alternate

https://jakarta.ee/committees/steering/
it should be
Marcin Kruglik - London Java Community - Elected Participant Member Representative, Abraham Marin-Perez - alterna

[2022-10-25 13:23] ericpoirier commented on #1492
Hi @Dexmaster,

I added the tags to the following staging page:

https://deploy-preview-1575--jakartaee.netlify.app/news/

Let me know what you think and if there's anything else.

Thanks.

[2022-10-25 14:02] oliviergoulet5 commented on #1566
Here are the links @TanjaObradovic:

Specification Committee: https://deploy-preview-1567--jakartaee.netlify.app/committees/specification/
Steering Committee: https://deploy-preview-1567--jakartaee.netlify.app/committees/steering/

[2022-10-25 14:05] Dexmaster commented on #1492
The main part I feel is different you don't see any changes when selecting tag (no breadcrumbs change or header change etc)
Also URL is less clean, just compare two urls:
https://deploy-preview-1575--jakartaee.netlify.app/news/?news_tags=Jakarta%20EE
https://deploy-preview-1202--jakartaee.netlify.app/news/tags/jakarta-ee/
#1575 Header/breadcrumbs part doesn't show any change, and it should...

[2022-10-25 14:09] rstjames commented on #1492
Hi @ericpoirier
The page is looking good. I would like to point out a couple things.
- Dates: if its a single number it should be 0# example: September 08 2022
- Date: if its the current year we hide it.
- top header is structured differently
- when clicking a tag it does not show up in the breadcrumb

[2022-10-25 14:34] Dexmaster commented on #1492
Also related to #1321 eclipse newsroom API sends broken author data and breaks avatars in the news section
![image](https://user-images.githubusercontent.com/6061000/197802321-f900f5f7-b280-4d8a-b906-e5845c686684.png)

P.S. I can open separate issue if needed it's more #1321 related

[2022-10-25 14:42] ericpoirier commented on #1492
Yes, please open another issue for this. Thanks.

[2022-10-25 14:45] ericpoirier commented on #1492
Thanks for the feedback @rstjames @Dexmaster. I'll look into how possible it is to make those changes since we are now using JS rather then Hugo to populate the Tags. Which is why the behaviour is currently different from what was on production. But I'll have a look at what my options are. Will keep you posted.

[2022-10-25 14:59] Dexmaster opened #1576 "Newsroom API sends broken author data"
Related to https://github.com/jakartaee/jakarta.ee/issues/1321 change, eclipse newsroom API sends broken author data and breaks avatars in the news section.

![image](https://user-images.githubusercontent.com/6061000/197808363-af2cfc57-5dff-4106-abb9-a24976fe4eae.png)
URL: https://jakarta.ee/news/

I think the easiest would be UI fix the default avatar. Or never sending an Anonymous author from ne

[2022-10-25 16:52] TanjaObradovic commented on #1566
looks great! thanks!

[2022-10-27 14:01] ericpoirier commented on #1576
The issue here is that the author of this news item stopped working at the Eclipse Foundation and the user doens't exist in our database anymore which is why we see "Anonymous" as the author. I think we need to alter the news endpoint on newsroom.eclipse.org to remove the author if anonymous.

[2022-10-27 15:16] ericpoirier commented on #1576
This is now fixed on the news page of the Jakarta EE website.

Let me know if there's anything else.

Thanks.

[2022-10-27 15:16] #1576 closed, assigned to ericpoirier

[2022-10-27 15:54] oliviergoulet5 commented on #1568
Just to update you all, I am around 75% done with the page. I should have a preview for you by the first half of next week!

@excentrickristy I'm missing the following assets:
- [x] The icons beside the section headers
- [x] All of the logos under "Jakarta EE is Ubiquitous" (the shirt was provided but it does not have a transparent background)
- [x] The gray & white graph images which are overlapp

[2022-11-01 18:02] ericpoirier commented on #1492
@rstjames I've looked into your comments a bit closer today and I would suggest opening a new issue if you'd like to update the look of the news page as this issue here is for the tags only but I did made an update to add the tag to the breadcrumb.

https://deploy-preview-1575--jakartaee.netlify.app/news/?news_tags=Wildfly

@Dexmaster as for the url, I was thinking that I could update the url para

[2022-11-01 23:13] excentrickristy commented on #1568
Hi @oliviergoulet5,
I have exported everything you need into the dropbox folder but I could only get the full patterns to export, not just the patterns that were on the artboard. Let me know if you need me to call on a designer for that.

Thanks!

[2022-11-02 14:53] oliviergoulet5 commented on #1568
Thanks @excentrickristy!

I just need one more icon for the "download compatible products" card on the last section.

I'm thinking having the full patterns that you provided won't cause any issues. It's probably better this way too.

[2022-11-02 15:01] excentrickristy commented on #1568
No problem, just added the last icon!

[2022-11-04 18:42] oliviergoulet5 commented on #1568
@shabnammayel here is a preview link of the page:

https://deploy-preview-1577--jakartaee.netlify.app/about/why-jakarta-ee/

[2022-11-04 18:59] excentrickristy commented on #1568
HI @oliviergoulet5, I think @shabnammayel is out of the office right now but I noticed that the video functionality is missing. The laptop at the top of the page is supposed to have a play button on the screen. When you click, it should open a popup to play a video but I'm not sure if it's been uploaded to YouTube yet.

[2022-11-04 19:37] oliviergoulet5 commented on #1568
Oh, I assumed it was to be an embedded player into the jumbotron. I will update.

I was going to wait for the video before displaying. But what I will do now is display some temporary video for the preview and replace it later when we get the proper one.

[2022-11-09 22:00] cesarhernandezgt opened #1578 "'Find the Latest Events' link from /resources page seems broken"
**Describe the bug**
`Find the Latest Events` link in /resources page redirects to /resources. is this intended?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://jakarta.ee/resources/
2. Click on `.Find the Latest Events`
3. The links redirect to `https://jakarta.ee/resources/#`

**Expected behavior**
I don't know what should be the correct page, but the link currently redirects

[2022-11-09 22:11] cesarhernandezgt opened #1579 "Do we have 2021 and 2022 Infographics for https://jakarta.ee/resources/ page?"
Hello,
Currently, the page https://jakarta.ee/resources/ shows infographics for Jakarta EE Developer Survey Findings 2018 and 2020 [1].
Do we have infographics for the 2021 and/or 2022 editions?

cc: @shabnammayel @TanjaObradovic

[1]
![image](https://user-images.githubusercontent.com/1454523/200952734-4b442a99-beaa-4671-bae4-47df2f1c2fd2.png)

[2022-11-10 12:58] ericpoirier commented on #1578
@cesarhernandezgt i believe this should go to a page on the jakartaone.org website.

@shabnammayel can you confirm the exact page where this link should go?

Thanks.

[2022-11-10 18:59] shabnammayel commented on #1579
Yes we do have the 2021 version and promoted on socials to tease the launch of the 2022 survey but good point, it should be added on the site. Here is the link: https://f.hubspotusercontent30.net/hubfs/4753786/Jakarta%20EE%202021%20Developer%20Survey%20Recap.pdf?utm_campaign=Jakarta%20EE%20Developer%20Survey&utm_content=198861406&utm_medium=social&utm_source=twitter&hss_channel=tw-9393232430762598

[2022-11-10 19:03] shabnammayel commented on #1578
yes @ericpoirier this link should go to the JakartaOne Livestream page. @cesarhernandezgt thanks for pointing it out.

[2022-11-10 19:04] shabnammayel commented on #1579
and can we please reorder the findings? the latest one should be on the top similar to the Jakarta EE survey box. @ericpoirier thanks

[2022-11-10 19:06] shabnammayel commented on #1579
Here is the pdf version to be able to host it on Jakarta's domain: [Infographic-V22.pdf](https://github.com/jakartaee/jakarta.ee/files/9983930/Infographic-V22.pdf)

[2022-11-11 15:11] oliviergoulet5 commented on #1578
Here is a preview of the fix @shabnammayel:

https://deploy-preview-1580--jakartaee.netlify.app/resources/#livestream

[2022-11-11 15:48] oliviergoulet5 commented on #1579
@shabnammayel Here is a preview link: https://deploy-preview-1581--jakartaee.netlify.app/resources/#surveys

/cc @cesarhernandezgt

[2022-11-14 13:27] shabnammayel commented on #1578
LGTM! thanks @oliviergoulet5

[2022-11-14 13:38] shabnammayel commented on #1579
LGTM! thanks

[2022-11-14 14:18] #1578 closed, assigned to oliviergoulet5

[2022-11-14 14:19] #1579 closed, assigned to oliviergoulet5

[2022-11-16 13:49] shabnammayel commented on #1556
Can we please reopen this issue? it looks like the list that is live on the page does not match what @TanjaObradovic provided here

[2022-11-16 13:51] shabnammayel commented on #1556
the Marketing and Steering Committee information to be adjusted based on the Election Results of Oct 3rd:

The elections closed on Friday, September 30, 2022 , and we are pleased to announce the 2022-2023 elected representatives for the Jakarta EE Committees are:

Steering Committee Representatives:
Enterprise Members
Reza Rehman, Microsoft
Jun Qian, Primeton Information Technologies, Inc
Particip

[2022-11-16 15:14] oliviergoulet5 commented on #1568
Hi @shabnammayel and @excentrickristy . The video popup modal has been added. For an embedded video player to display, you need to accept cookies. Let me know when the video is uploaded.

[2022-11-16 15:46] oliviergoulet5 commented on #1556
Hi @shabnammayel. Let me know if this is correct: https://deploy-preview-1584--jakartaee.netlify.app/committees.

[2022-11-16 15:47] shabnammayel commented on #1568
@oliviergoulet5 thanks, I have shared the final version of the video with Jacob to upload on Jakarta EE YouTube channel. But we have decided to launch and promote the page and the video on Dec 7 after the JakartaOne Livestream event. Currently we have a lot to share on socials (Jakarta EE 10 related content and Livestream). I went through our Jakarta EE website google analytics and looks like traf

[2022-11-16 16:10] shabnammayel opened #1585 "Update the content of Tthe Jakarta EE membership prospectus"
We need to update page 9 of the Prospectus.

https://jakarta.ee/documents/membership/jakarta-ee-membership-prospectus.pdf

the text under the section for Guest members need to be replaced with the text below:

Guest Members are organizations which are Associate members of the Eclipse Foundation that wish to participate in particular aspects of the activities of the Working Group. Typical guests in

[2022-11-16 18:58] cesarhernandezgt commented on #1579
Thank you much @shabnammayel and @oliviergoulet5 !

[2022-11-16 19:43] cesarhernandezgt commented on #1578
Thank you all!

[2022-11-17 14:07] ericpoirier opened #1586 "Review Footer links"
While updating the Jekyll theme for Jakarta EE, we noticed that some links in the footer looks off.

In the useful links section, there's a Marketplace link going to the compatibility page. I want to make sure that this is intended and is not an error.

@shabnammayel can you validate all links in this section to make sure they are going to the right place?

Thanks.

[2022-11-17 18:12] shabnammayel commented on #1585
and the steering committee section on page 8 also needs some edits:

on the third paragraph, this section needs to be removed: Strategic Members of the Jakarta EE Working Group are required to commit to strategic membership for a three (3) year period.

[2022-11-17 18:27] ericpoirier commented on #1585
Hi @shabnammayel,

Since this is a PDF, marketing will need to update the PDF and then provide the updated version here on this issue.

[2022-11-17 18:28] shabnammayel commented on #1585
@meKokabi can you please help with this? do we need a gitlab issue for it, Mehrnaz? thanks

[2022-11-17 18:30] meKokabi commented on #1585
@shabnammayel Yes please make an issue for it, so do I can have a better track on my to-do list.

[2022-11-18 07:36] ivargrimstad commented on #1586
Yes, there is no Marketplace for Jakarta EE, and the compatibility page is the closest we get. If possible, change the name of the link.

[2022-11-18 12:25] shabnammayel commented on #1586
+1 to Ivar's comment, Compatibility page is the closest, but would you be able to change the name to Compatible Products instead of Marketplace?

Also can Forums be changed to Stay Connected? thanks

[2022-11-18 13:44] ericpoirier commented on #1586
@shabnammayel @ivargrimstad We'll make those changes, thanks for the follow up.

[2022-11-21 14:54] ericpoirier commented on #1586
Hi @shabnammayel and @ivargrimstad,

I updated the links in the footer of the production website.

https://jakarta.ee/

Thanks!

[2022-11-21 14:54] #1586 closed, assigned to ericpoirier

[2022-11-22 17:58] oliviergoulet5 opened #1588 "Bug: Buttons are not equal height"
Navigate to https://jakarta.ee/projects/

The button group's dropdown button is expected to have the same height as the download button. Currently it looks like this:
![image](https://user-images.githubusercontent.com/17685861/203370327-53b22a58-9a0a-44c8-a779-ac7642a7bef4.png)

[2022-11-22 17:59] oliviergoulet5 commented on #1556
Hey @shabnammayel, just wondering if you're still tracking this.

/cc @TanjaObradovic

[2022-11-23 16:05] shabnammayel commented on #1556
Apologies @oliviergoulet5 I thought I replied! yes, LGTM! thanks

[2022-11-23 16:45] #1556 closed, assigned to oliviergoulet5

[2022-11-25 17:52] excentrickristy commented on #1568
Hello,
We have added a sub nav to the design that should anchor to each section within the page.
You can grab the source files here: https://www.dropbox.com/s/5zm9hk9zgruz0pl/why%20jakarta.zip?dl=0

Here is a preview of what it looks like:
![Picture2](https://user-images.githubusercontent.com/73264129/204035776-2bd2f69a-85fb-4ce2-80f3-17a427cf120e.jpg)

[2022-11-25 19:05] oliviergoulet5 commented on #1568
@excentrickristy By "anchor to each section" do you mean it will scroll and snap atop each section?

My apologies if it's animated in the Adobe Illustrator file. I need to figure a way to open it since I don't have the software. Is there any chance that it can be exported as a video or a gif? And if there's no animation then please disregard my comment.

[2022-11-25 19:11] excentrickristy commented on #1568
@oliviergoulet5 yes just a normal anchor to each section. Smooth scroll would be nice!

You can open an AI file at https://www.photopea.com/ but the linked images don't always come through. The part you need is not a linked image though so it should work for you just for this!

[2022-11-28 13:42] ericpoirier commented on #1585
@shabnammayel @meKokabi any news on the new PDF?

Thanks.

[2022-11-28 15:02] meKokabi commented on #1585
Hi @ericpoirier Thanks for following up, I haven't started to work on it, as was busy with some priorities. will work on it shortly.

[2022-11-28 20:13] meKokabi commented on #1585
Hi @ericpoirier Here you are:
[jakarta-ee-membership-prospectus.pdf](https://github.com/jakartaee/jakarta.ee/files/10107115/jakarta-ee-membership-prospectus.pdf)

[2022-11-29 14:28] JamesHillyard opened #1591 "Compatible Software Product Request for Payara Server Community 6.2022.1 For Full Platform 10 and Core Profile 10"
To include your Compatible Software Product on the Jakarta EE official list of Compatible Software Products, please provide the following information:

**The URL to the Eclipse Foundation profile to confirm that you are an authorized representative of the company whose product information you are submitting**
https://accounts.eclipse.org/users/jameshillyard

**A product name and version**
Payara S

[2022-11-29 14:31] JamesHillyard opened #1592 "Compatible Software Product Request for Payara Server Community (Web Profile) 6.2022.1 For Web Profile 10 and Core Profile 10"
To include your Compatible Software Product on the Jakarta EE official list of Compatible Software Products, please provide the following information:

**The URL to the Eclipse Foundation profile to confirm that you are an authorized representative of the company whose product information you are submitting**
https://accounts.eclipse.org/users/jameshillyard

**A product name and version**
Payara S

[2022-11-30 17:10] TanjaObradovic commented on #1566
@oliviergoulet5 @ericpoirier please note that what's on the website is not what showing at
Specification Committee: https://deploy-preview-1567--jakartaee.netlify.app/committees/specification/
Steering Committee: https://deploy-preview-1567--jakartaee.netlify.app/committees/steering/

Can we correct that please?

[2022-11-30 19:19] oliviergoulet5 commented on #1566
It looks like the list was overwritten. Does this look correct @TanjaObradovic ?

https://deploy-preview-1593--jakartaee.netlify.app/committees/specification/
https://deploy-preview-1593--jakartaee.netlify.app/committees/steering/

Abraham Marin-Perez was added to both committees

[2022-11-30 20:07] TanjaObradovic commented on #1566
That looks correct. Thanks!

[2022-11-30 20:21] #1566 closed, assigned to oliviergoulet5

[2022-11-30 21:41] cesarhernandezgt opened #1595 "Improvement for jakarta.ee/resources page"
As a follow up from https://github.com/jakartaee/collateral/issues/22, the purpose of this github issue is to add the Jakarta branding guidelines and the artwork links to the Resource page Jakarta already has: https://jakarta.ee/resources.

The benefit will be to keep offering a central place for resource gathering by optimizing user experience as described in https://github.com/jakartaee/collater