[2021-09-15 12:59] ericpoirier commented on #1236
Thanks!

I'm thinking that maybe I should wait until the sitemap-navigation is entirely done before making more changes to the menu. This way I would make changes only once and there will be less back and forth. What do you think?

[2021-09-15 13:08] shabnammayel commented on #1236
I don't think I have more suggested changes than what we discussed yesterday and what I added to the document today. I went through the current website to make sure we are including all of the links in the new design.
so that's it from my side. I asked Tanja and Ivar to review and provide feedback too. thanks Eric.

[2021-09-15 14:18] linkfang commented on #1248
Hi @ivargrimstad @TanjaObradovic ,
Please preview the changes here:
https://deploy-preview-1261--jakartaee.netlify.app/compatibility/#tab-9_1

[2021-09-15 15:23] edbratt commented on #1236
FWIW, I looked quickly at the deploy preview and the site update looks really nice! It might be useful to update the Marketing Committee with a note about this progress and the proposed roll-out. My thanks to all of you for this work!

[2021-09-15 16:58] shabnammayel commented on #1236
Thanks for going through the previews @edbratt. I am planning to provide an overview of the updates on our Marketing Committee Call tomorrow and based on the timeline that Chris provided, mention that the updates are open for community feedback and testing from Sep 17-24.

[2021-09-15 17:22] chrisguindon commented on #1236
@shabnammayel What would be the best way to announce to the community that we are looking for some feedback?

Is there a mailing list we should use? I am thinking we should point people to this issue for feedback on Friday once we are done with our internal changes.

[2021-09-15 18:15] ericpoirier commented on #1236
@shabnammayel I made the changes to the main menu:

https://deploy-preview-1256--jakartaee.netlify.app/

Let me know if i missed anything.

Thanks.

[2021-09-15 21:03] cesarhernandezgt commented on #1037
Personal feedback:

...using jakarta.ee/blogs would be even better than blogs.jakarta.ee for building domain authority. ...

+1

+1 and this requires minor time and effort if we reuse (copy) what we currently have for jakarta.ee/news
cc @Dexmaster

+1

As pointed out by @chrisguindon, this has more than one path to follow. My point of view on this topic is that we can have a blog aggregator GitHub

[2021-09-16 06:39] ivargrimstad commented on #1248
Wait for the [CCR](https://github.com/eclipse-ee4j/jakartaee-platform/issues/397) to be approved...

[2021-09-16 13:14] ericpoirier commented on #1236
@shabnammayel I did the last changes for the main menu based on the discussion we had yesterday afternoon:

https://deploy-preview-1256--jakartaee.netlify.app/

Let me know if there's anything else.

[2021-09-16 13:18] shabnammayel commented on #1236
Thanks @ericpoirier looks great! News is missing from the "About" dropdown. It should be moved from resource dropdown to "About" dropdown at the bottom as indicated here: https://docs.google.com/spreadsheets/d/1oB21kaN-25slUfZm5Mq2IgCgx1ky-HYxu71D5FTXRWQ/edit?pli=1#gid=1312835957
Thanks

[2021-09-16 13:31] ericpoirier commented on #1236
I thought this one was going in resources but I moved it.

https://deploy-preview-1256--jakartaee.netlify.app/

Let me know if I missed anything else.

[2021-09-16 19:39] shabnammayel commented on #1236
Thanks @ericpoirier , Based on the discussions on the Marketing Committee call today, members will work on updating the testimonials and limiting them to 250 characters. and also will provide the missing images of the quoters. I think your recommended image size is 20kb~ and around 300x300 pixels, right? The deadline to submit the revised quotes under this issue is EOD Sep 24 so that you can have

[2021-09-16 19:53] chrisguindon commented on #1236
@shabnammayel How do you recommend we reach out to the community about this on Friday? Is there a mailing list we should use to point people to this issue?

[2021-09-16 19:56] shabnammayel commented on #1236
re testimonials MKT committee members will be able to provide the updated testimonials. but for the general community feedback on the updates we can inform through the community mailing list.

[2021-09-17 11:42] shabnammayel commented on #1236
@ericpoirier 2 more edits :) 1. The link under Get Involved to join the working group in the box in homepage is going to the charter. it should lead to the membership page. 2. Please change the title of the Videos on homepage to " Jakarta EE on YouTube"and change the blurb to "Jakarta EE Youtube channel is a platform that features Jakarta EE related videos aiming to educate the new and existing co

[2021-09-17 12:30] ericpoirier commented on #1236
I made those changes to the following staging page:
https://deploy-preview-1262--jakartaee.netlify.app/

Let me know if there's anything else.

Thanks.

[2021-09-17 15:57] cesarhernandezgt commented on #1236
Hi @ericpoirier
I know the current scope is on the home page, but it seems the changes in the theme made 9.1 release page overlapping a bit in the banner around class `jakartaee-9-flex-grow-container vertical-align flex-wrap`

Screenshot from a 1920x1080 resolution:
![image](https://user-images.githubusercontent.com/1454523/133817876-0f7d3a55-a9a0-4bfb-8bf2-efd181e011ca.png)

[2021-09-17 16:10] ericpoirier commented on #1236
Thanks for reporting this issue, I'll get that fixed.

Must be a regression due to update in the CSS.

[2021-09-17 18:50] excentrickristy opened #1264 "Jakarta.ee New Homepage SEO Optimization"
CC: @shabnammayel

In reviewing the new homepage ready for deployment I am making the following recommendations to support greater search visibility for term enterprise java:

New title tag:
Jakarta® EE | Cloud Native Enterprise Java | Java EE | The Eclipse Foundation

New meta description tag:
Jakarta Enterprise Edition (EE) is the open source future of cloud native enterprise Java. Protect your

[2021-09-20 17:52] ericpoirier commented on #1186
@autumnfound where are we with this request?

[2021-09-20 18:10] autumnfound commented on #1186
I hadn't committed to working on this as there were other priorities in our pipe. My comment was simply a suggestion on how someone could implement it. I was waiting on feedback/input from site stakeholders/management folks to make sure it doesn't get in the way of other features, and so we could prioritize it for our queue. Once that's done, I could look into doing this if need be! :)

[2021-09-24 13:03] ericpoirier commented on #1264
These changes have been implemented on the following staging site:
https://deploy-preview-1267--jakartaee.netlify.app/

Let me know if there's anything else.

[2021-09-28 15:02] ericpoirier commented on #1264
My PR was merged to the redesign branch.

[2021-09-28 15:02] #1264 closed, assigned to ericpoirier

[2021-09-30 18:01] ericpoirier opened #1272 "Order on this page is wrong"
While looking at the site after merging the redesign, we noticed that the order on the following page is wrong.

https://jakarta.ee/specifications/platform/

We will need to get that fixed.

[2021-09-30 18:02] ericpoirier commented on #1138
The testimonial cards on the home page has been merged with the site's redesign.

Thanks!

[2021-09-30 18:02] #1138 closed, assigned to nobody

[2021-09-30 18:03] ericpoirier commented on #1133
The jumbotron section was merged with the site's redesign.

Thanks!

[2021-09-30 18:03] #1133 closed, assigned to nobody

[2021-09-30 18:03] ericpoirier commented on #1134
The navigation was updated with the site's redesign.

Thanks!

[2021-09-30 18:03] #1134 closed, assigned to nobody

[2021-09-30 18:07] ericpoirier commented on #1135
The split headline section was merged with the site's redesign.

Thanks!

[2021-09-30 18:07] #1135 closed, assigned to nobody

[2021-09-30 18:07] ericpoirier commented on #1136
The members section was merged with the site's redesign.

Thanks!

[2021-09-30 18:07] #1136 closed, assigned to nobody

[2021-09-30 18:07] ericpoirier commented on #1137
The what's new section was merged with the site's redesign.

Thanks!

[2021-09-30 18:07] #1137 closed, assigned to nobody

[2021-09-30 18:08] ericpoirier commented on #1139
The footer has been redesigned with the last layout update.

Thanks!

[2021-09-30 18:08] #1139 closed, assigned to nobody

[2021-09-30 18:09] ericpoirier commented on #1140
The simple content ended up being the featured story secton and videos but this is all on production now.

Thanks.

[2021-09-30 18:09] #1140 closed, assigned to nobody

[2021-09-30 18:09] ericpoirier commented on #1162
The deep nesting is all done and on production.

Thanks!

[2021-09-30 18:09] #1162 closed, assigned to nobody

[2021-09-30 18:10] ericpoirier commented on #1157
This is now on production.

[2021-09-30 18:10] #1157 closed, assigned to nobody

[2021-10-01 07:19] ivargrimstad commented on #1272
It's a common "feature" of sorting by title text, meaning that:

-  "1" comes before "2"
- "10" comes before "2"
- "100" comes before "11"
- ...and so on

We can easily solve it by adding a version parameter to the metadata and sort by it.

[2021-10-01 16:28] TanjaObradovic opened #1273 "Publishing meeting minutes for Jakarta EE Steering Committee"
Please add new entries for Jakarta EE Steering Committee meeting minutes on the Steering Committee page https://jakarta.ee/committees/steering/

I have attached pdf files...
[Minutes of the July 6, 2021 Jakarta EE Steering Committee Meeting - Google Docs.pdf](https://github.com/jakartaee/jakarta.ee/files/7268725/Minutes.of.the.July.6.2021.Jakarta.EE.Steering.Committee.Meeting.-.Google.Docs.pdf)
[M

[2021-10-04 16:34] trulymobilenwp commented on #1236
Here is a suggested version closer to the 250 char count.
“IBM helped create Java EE and guide it through its teenage years and I’m delighted to see the progress made under Jakarta EE. I look forward to Jakarta EE and MicroProfile becoming the open standard for cloud-native innovation and the technology we need for Java in the cloud.”
– Ian Robinson, Distinguished Engineer, CTO IBM App Platform

[2021-10-05 14:17] linkfang commented on #1273
Hi @TanjaObradovic ,
Please preview the changes here:
https://deploy-preview-1275--jakartaee.netlify.app/committees/steering/

[2021-10-05 14:25] TanjaObradovic commented on #1273
looks great - thank you!

[2021-10-05 14:55] #1273 closed, assigned to linkfang

[2021-10-05 18:03] paulbuck opened #1276 "Publishing meeting minutes for Jakarta EE Specification Committee"
Please add new entries for Jakarta EE Specification Committee meeting minutes on the Specification Committee page https://jakarta.ee/committees/specification/

I have attached pdf files...

[Jakarta EE Spec Committee - June 16th, 2021.pdf](https://github.com/jakartaee/jakarta.ee/files/7288170/Jakarta.EE.Spec.Committee.-.June.16th.2021.pdf)
[Jakarta EE Spec Committee - June 30th, 2021.pdf](https://

[2021-10-06 14:30] scottmarlow opened #1277 "Please add WildFly Preview WildFly 25.0.0.Final as Jakarta EE 9.1 Full Platform/Web Profile compatible on Java 17"
To include your Compatible Software Product on the Jakarta EE official list of Compatible Software Products, please provide the following information:

**The URL to the Eclipse Foundation profile to confirm that you are an authorized representative of the company whose product information you are submitting**

https://www.eclipse.org/membership/showMember.php?member_id=731

**A product name and ve

[2021-10-06 15:18] linkfang commented on #1276
Hi @paulbuck ,

Please preview the changes here:
https://deploy-preview-1278--jakartaee.netlify.app/committees/specification/

[2021-10-06 15:56] shabnammayel commented on #1141
We are working on refreshing the content on this page, we are planning to finalize the content by early to mid November.

[2021-10-06 15:57] shabnammayel commented on #1142
We are working on refreshing the content on this page, we are planning to finalize the content by early to mid November.

[2021-10-06 15:59] shabnammayel commented on #1153
We are working on adding content on this page, we are planning to finalize the content by early to mid November.

[2021-10-06 18:17] #1276 closed, assigned to linkfang

[2021-10-06 19:00] paulbuck commented on #1276
+1

[2021-10-07 16:02] linkfang commented on #1277
Hi @ivargrimstad @TanjaObradovic ,
Please preview the changes here:
https://deploy-preview-1279--jakartaee.netlify.app/compatibility/#tab-9_1

[2021-10-07 16:15] scottmarlow commented on #1277
@linkfang
Would it make sense to change `Java SE 17` to `Java 17` to be more consistent with other references to the Java version?

I'll update this request to refer to `Java 17` instead of `Java SE 17` to be more consistent with other results shown on https://deploy-preview-1279--jakartaee.netlify.app/compatibility/#tab-9_1

[2021-10-07 17:22] linkfang commented on #1277
Sure, sounds good!

Please preview the updated version here:
https://deploy-preview-1279--jakartaee.netlify.app/compatibility/#tab-9_1

[2021-10-07 19:45] chrisguindon commented on #1037
We had a call today with the Jakarta.EE Marketing Committee to discuss the requirements for this issue. We did agree on the requirements that were listed in my previous comment:

1. we need to allow staff and the community to submit blog posts under jakarta.ee/blogs via a PR
2. we need to display blogs posts from our blog aggregator (jakartablogs.ee) on jakarta.ee and/or migrate jakartablogs.ee to

[2021-10-08 11:43] zcwslnh opened #1280 "Please add Thunisoft Application Server V3.0 as Compatible product of Jakarta EE 9.1 Full Platform"
To include your Compatible Software Product on the Jakarta EE official list of Compatible Software Products, please provide the following information:

**The URL to the Eclipse Foundation profile to confirm that you are an authorized representative of the company whose product information you are submitting**

https://www.eclipse.org/membership/showMember.php?member_id=1481

**A product name and v

[2021-10-08 14:03] linkfang commented on #1280
Hi @ivargrimstad  @TanjaObradovic @zcwslnh ,
Please preview the changes here:
https://deploy-preview-1281--jakartaee.netlify.app/compatibility/#tab-9_1

[2021-10-08 17:26] ericpoirier commented on #1149
@shabnammayel @meKokabi do you know where we can get the icons from this page?

Thanks.

[2021-10-08 17:27] ericpoirier commented on #1148
@shabnammayel @meKokabi do you know where I can get the icons and image from this page?

Thanks.

[2021-10-08 17:39] meKokabi commented on #1148
Unfortunately, I do not have access. Perhaps Shabnam can help!

On Fri, Oct 8, 2021 at 1:27 PM Eric Poirier ***@***.***>
wrote:

[2021-10-08 17:55] ericpoirier commented on #1141
Ok for now I'll implement the design and when the content is ready, we'll update it.

[2021-10-08 19:01] ericpoirier commented on #1142
I will also need the assets (icons, images) at the bottom of the page.

[2021-10-09 01:00] Yaoz1207 commented on #1248
@ivargrimstad @linkfang Hello, can the CCR be approved?

[2021-10-12 19:01] ericpoirier commented on #1280
Hi @zcwslnh,

Can we get a +1 on the changes @linkfang has submitted in the previous comment?

Thanks.

[2021-10-12 19:02] #1277 closed, assigned to linkfang

[2021-10-13 00:53] zcwslnh commented on #1280
@ericpoirier Yes, of course.

[2021-10-13 15:38] ericpoirier commented on #1144
Hi @shabnammayel,

Please review the Adopt A Spec page here:
https://deploy-preview-1283--jakartaee.netlify.app/community/adopt-a-spec/

Let me know if there's any changes to be made.

Thanks.

[2021-10-13 15:41] ericpoirier commented on #1141
Hi @shabnammayel,

Please review the FAQ page here:
https://deploy-preview-1282--jakartaee.netlify.app/about/faq/

Note that we are currently missing the text above the collapsing sections.

Let me know if there's any changes to be made.

Thanks.

[2021-10-13 18:18] shabnammayel commented on #1236
Here is the updated quote from Oracle:
"Oracle remains committed to the success of Jakarta EE and is pleased with its progress and community support. We are contributing to the projects and the committees and are leveraging the technologies in Oracle Enterprise Cloud Native Java products."
- Tom Snyder, VP of Engineering, Oracle Enterprise Cloud Native Java

[2021-10-13 19:08] shabnammayel commented on #1141
Thanks @ericpoirier , looks good! we are working on updating the content so we can add the missing the text above the collapsing sections later once we have the updated content

[2021-10-13 19:22] #1280 closed, assigned to linkfang

[2021-10-14 19:15] ericpoirier commented on #1149
@thatsmekristy Can you provide the icons from this page?

Thanks.

[2021-10-15 01:06] PatrickHuang888 opened #1286 "Please add Apusic Application Server V9 as Jakarta EE 8 Full Platform compatible"
To include your Compatible Software Product on the Jakarta EE official list of Compatible Software Products, please provide the following information:

**The URL to the Eclipse Foundation profile to confirm that you are an authorized representative of the company whose product information you are submitting**
https://www.eclipse.org/membership/showMember.php?member_id=1397

**A product name and ve

[2021-10-15 14:23] ZahraFazli opened #1287 "Add SouJava as a Guest Member"
Please SouJava as a Guest member on the Jakarta EE website: https://jakarta.ee/membership/members/
Thanks,
Zahra
![download](https://user-images.githubusercontent.com/50374570/137503140-6ae18253-f1c2-47bf-bbd5-4a1afa9f0361.png)

[2021-10-15 15:26] shabnammayel commented on #1236
@ericpoirier we would like to create a similar page to the resource page here https://projects.invisionapp.com/share/AX10M9QL74RN#/screens/448585119 for the "Community" and "Specification" dropdown in the navigation bar so that all the link would land and be anchored to this page first instead of going to the third party website. The objective is to keep the traffic within the Jakarta EE website b

[2021-10-15 15:29] linkfang commented on #1286
Hi @PatrickHuang888 ,

I found the download URL (the one associated to AAS logo) for AAS V10 on EE9.1 and EE9 doesn't work now.
When I click the AAS logo, it will lead me to a "Page doesn't exist" page, so I updated them with the new one you offered in this issue. (From "http://www.apusic.com/info_safety/server" to "https://www.apusic.com/list-117.html")

Does this work for you?

And for the Publi

[2021-10-15 17:08] ericpoirier opened #1289 "Create Community page"
@ericpoirier we would like to create a similar page to the resource page here https://projects.invisionapp.com/share/AX10M9QL74RN#/screens/448585119 for the "Community" and "Specification" dropdown in the navigation bar so that all the link would land and be anchored to this page first instead of going to the third party website. The objective is to keep the traffic within the Jakarta EE website b

[2021-10-15 17:08] ericpoirier commented on #1289
In this issue we will be doing the Community page only.

[2021-10-15 17:08] ericpoirier opened #1290 "Create Specification page"
@ericpoirier we would like to create a similar page to the resource page here https://projects.invisionapp.com/share/AX10M9QL74RN#/screens/448585119 for the "Community" and "Specification" dropdown in the navigation bar so that all the link would land and be anchored to this page first instead of going to the third party website. The objective is to keep the traffic within the Jakarta EE website b

[2021-10-15 17:09] ericpoirier commented on #1290
In this issue we will be creating the Specification page only.

[2021-10-15 17:25] ericpoirier commented on #1144
@shabnammayel are we good to merge the layout changes for this page?

Thanks.

[2021-10-15 17:27] ericpoirier commented on #1141
@shabnammayel can we merge the PR that I create and make the content changes when it's ready?

Thanks.

[2021-10-15 18:54] shabnammayel commented on #1144
LGTM, thanks Eric for making the change.

[2021-10-15 18:55] #1144 closed, assigned to nobody

[2021-10-15 19:10] linkfang commented on #1287
Hi @ZahraFazli ,

Please preview here:
https://deploy-preview-1291--jakartaee.netlify.app/membership/members/

I am using https://soujava.org.br/ as their website, correct me if I am wrong.
Thanks!

[2021-10-15 19:10] shabnammayel commented on #1141
Sounds good @ericpoirier! thanks

[2021-10-16 03:18] PatrickHuang888 commented on #1286
Hi @linkfang
As I asked the IT guys, they have upgraded web site, so yes, tck results URL changed.
V10 ee8 tck results https://www.apusic.com/about/aas_v10_ee8.html
V10-EE9 web ee9 tck results https://www.apusic.com/about/aas_v10_ee9_webtck.html
V10-EE9 full ee9 tck results https://www.apusic.com/about/aas_v10_ee9_full.html
V10-EE9 ee9.1 tck results https://www.apusic.com/about/aas_v10_ee9-1_full.

[2021-10-18 14:07] ZahraFazli commented on #1287
Looks good, thanks!

[2021-10-18 15:22] #1287 closed, assigned to linkfang

[2021-10-18 20:48] linkfang commented on #1286
Cool!

Hi @PatrickHuang888 , @ivargrimstad , @TanjaObradovic ,
Please preview the changes here:
https://deploy-preview-1288--jakartaee.netlify.app/compatibility/#tab-8

[2021-10-18 21:51] TanjaObradovic commented on #1286
LGTM!

[2021-10-19 12:40] #1286 closed, assigned to linkfang

[2021-10-19 13:22] ericpoirier commented on #1145
@shabnammayel can you review the following redesign:
https://deploy-preview-1292--jakartaee.netlify.app/committees/

Thanks.

[2021-10-19 13:54] shabnammayel commented on #1145
LGTM, @ericpoirier ! We should probably add a link to the  Meeting Mins on this page as well since once we update the Committees page and Meeting Mins page, they are going to be in 2 separate pages. but we can do it later once other pages are also updated.

[2021-10-22 15:19] chrisguindon commented on #1236
@ericpoirier We need to add the implementation of the blog section for Q4 that will allow staff and community to submit blog post via a PR. The look and feel should be based off /news.

Can you create a bug, if we don't already have one for that section and add it to list please?

However, it's not a must to implement the automation (https://github.com/jakartaee/jakarta.ee/issues/1037) that will b

[2021-10-25 16:53] meKokabi commented on #1148
Attached includes assets zip folder.
Please note there were no Illustrator file for this page so I made screenshots and make the pngs from it.

[Assets.zip](https://github.com/jakartaee/jakarta.ee/files/7412205/Assets.zip)

[2021-10-25 17:39] meKokabi commented on #1142
Please find attached images:
![2](https://user-images.githubusercontent.com/75500459/138743195-009504e5-a2d8-495f-befa-d32d7e2b16ce.jpg)
![11](https://user-images.githubusercontent.com/75500459/138743197-528b865b-4c0c-4776-9a5d-7b1469e320ee.jpg)
[svg icon.zip](https://github.com/jakartaee/jakarta.ee/files/7412433/svg.icon.zip)

[2021-10-25 17:44] meKokabi commented on #1149
![image](https://user-images.githubusercontent.com/75500459/138744350-fffd11fe-57e7-4304-9982-a662a6b3d5ec.png)

[2021-10-26 12:55] meKokabi commented on #1143
![image](https://user-images.githubusercontent.com/75500459/138882885-ec88f643-f491-466b-8b5c-92f7598211c2.jpg)
![FC64DC4BEB915A7B](https://user-images.githubusercontent.com/75500459/138882892-f0f73370-38b5-4756-a3f0-b6c919c4209e.jpg)

[2021-10-26 13:07] meKokabi commented on #1143
Here you are the icons:
[SVG-Icons.zip](https://github.com/jakartaee/jakarta.ee/files/7418370/SVG-Icons.zip)

[2021-10-26 17:55] ZahraFazli opened #1294 "HuiNan Asiainfo AnHui new Participant Member"
Please add HuiNan Asiainfo AnHui as a Participant member on the Jakarta EE website.

![HuNan Asiainfo AnHui logo](https://user-images.githubusercontent.com/50374570/138934019-b827e187-c613-42ea-b4e0-69628b10f985.png)

URL: https://www.asiainfo.com/zh_cn/index.html

Thanks,
Zahra

[2021-10-27 07:25] ivargrimstad commented on #1248
This is good to go

[2021-10-27 11:14] #1248 closed, assigned to linkfang

[2021-10-27 13:05] ericpoirier commented on #1236
Hi @shabnammayel & @trulymobilenwp,

Sorry for the delay, can you review the updated testimonials here:

https://deploy-preview-1284--jakartaee.netlify.app/

Thanks.

[2021-10-27 13:34] shabnammayel commented on #1236
Both quotes look good to me @ericpoirier! Thanks

[2021-10-27 13:36] shabnammayel commented on #1236
Actually for consistency, can you please remove the hyphen on Cloud-native in IBM's quote?  thanks

[2021-10-27 14:05] ericpoirier commented on #1236
I updated the typo in all testimonials.

Please review:
https://deploy-preview-1295--jakartaee.netlify.app/

Let me know if there's anything else.

[2021-10-27 14:10] ericpoirier commented on #1149
@meKokabi we are missing the "Updates" icon from the zip file.

[2021-10-27 14:19] meKokabi commented on #1149
Sorry @ericpoirier not clear which one you mean, There were 8 icons on this page that I converted to svgs, Is there any other one that I missed.

[2021-10-27 14:22] ericpoirier commented on #1149
We are missing the following icon:
![image](https://user-images.githubusercontent.com/623165/139084801-f4f32457-44cb-49d2-ae2d-555d24aaae04.png)

It's also missing from the latest zip file you sent.

[2021-10-27 14:31] meKokabi commented on #1149
Here You Are! Added it to the folder!
[icons-svg 2 2.zip](https://github.com/jakartaee/jakarta.ee/files/7426964/icons-svg.2.2.zip)

[2021-10-27 14:32] ericpoirier commented on #1149
thanks!

[2021-10-27 14:34] meKokabi commented on #1149
☺️

On Wed, Oct 27, 2021 at 10:32 AM Eric Poirier ***@***.***>
wrote:

[2021-10-27 14:36] linkfang commented on #1294
Hi @ZahraFazli ,

Please preview the changes here:
https://deploy-preview-1296--jakartaee.netlify.app/membership/members/

[2021-10-27 14:39] ZahraFazli commented on #1294
+1 Thanks!

[2021-10-27 14:49] shabnammayel commented on #1236
Looks good! Thanks @ericpoirier

[2021-10-27 14:56] #1294 closed, assigned to linkfang

[2021-10-27 14:57] linkfang commented on #1294
NP!
The code is merged and the change will be live shortly

[2021-10-27 18:01] ericpoirier commented on #1149
@shabnammayel I created a PR to update the Stay Connected page.

https://deploy-preview-1297--jakartaee.netlify.app/connect/

Note that we are missing some text for the following blocks:

Slack
- Body

Newsletter
- Body

Community Folder
- Body
- Link

Tech Talks Meet-Ups
- Body
- Both links

Friends of Jakarta EE
- Body
- Link

I'll update the content of the PR once you provide the Google Doc.

T

[2021-10-27 18:38] ericpoirier commented on #1142
@shabnammayel can you provide the updated content in a Google doc for this page?

Thanks.

[2021-10-27 18:41] ericpoirier commented on #1148
@shabnammayel The content here didn't seem to have changed from what is currently on production at the exception of the block at the bottom of the page for now that section still contains lorem. For now I will create that block without body text in it until you provide some text to add there.

Thanks.

[2021-10-28 13:45] ericpoirier commented on #1143
I created a PR to update the Resources page which you can review here:

https://deploy-preview-1298--jakartaee.netlify.app/resources/

Based on the design, there is a lot of section that we are removing, just making sure it was intended.

There is also links to them under the Resources main menu item. We should remove them if we are in fact removing all those sections.

@shabnammayel can you confi

[2021-10-28 17:30] shabnammayel commented on #1148
@ericpoirier we can add this text from the compatible products page here: The success of Jakarta EE technology relies on compatibility to ensure application portability, security, stability, and resiliency. Compatibility will allow more technology providers to leverage and strengthen the Jakarta EE brand in the enterprise Java community.

[2021-10-28 17:36] shabnammayel commented on #1142
It is still in works, I will add it here once the content is finalized. thanks

[2021-10-28 17:55] ericpoirier commented on #1148
Ok no problem.

[2021-10-28 18:04] ericpoirier commented on #1146
@shabnammayel I created a PR that updates the meeting minutes page.

You can see the preview here:
https://deploy-preview-1300--jakartaee.netlify.app/about/meeting_minutes/

Let me know if you'd like to change anything.

Otherwise, i'll wait for your +1 to merge to production.

Thanks.

[2021-10-28 18:15] shabnammayel commented on #1148
@ericpoirier some of the content on the mockup for the "How to get listed" steps is different from the actual one from the website. Can you please use the content on the live page for the "How" Section?

[2021-11-04 15:21] TanjaObradovic opened #1301 "Jakarta EE Committee Members update"
Can you please update the Committee Members section on the following pages

https://jakarta.ee/committees/steering/

- Will Lyons (chair)- Oracle, Ed Bratt - alternate
- Kenji Kazumura - Fujitsu, Yuichi Kusano - alternate
- Ian Robinson - IBM, Alasdair Nottingham - alternate
- Steve Millidge - Payara, Eliot Martin - alternate
- Mark Little - Red Hat, Scott Stark - alternate
- David Blevins - Tomit

[2021-11-04 17:45] shabnammayel commented on #1149
@excentrickristy Can you please review as well?

[2021-11-05 11:36] shabnammayel commented on #1236
@ericpoirier the Releases button in the navigation dropdown and also in the homepage under the "Get Started" section goes to Jakarta EE 9 release page. Please change them both to go to Jakarta EE 9.1 release page: https://jakarta.ee/release/9.1/. Thanks

[2021-11-05 12:49] shabnammayel commented on #1149
@ericpoirier I have added the requested content in this document: https://docs.google.com/document/d/1ETKnqm_TbP3zz-1M0CtAcY1WszAuaHwrTrux9d0nyXY/edit
Thanks

[2021-11-05 13:01] #1301 closed, assigned to linkfang

[2021-11-05 13:09] ericpoirier commented on #1236
I updated the link here:
https://deploy-preview-1303--jakartaee.netlify.app/

I'll wait for your +1 before merging.

[2021-11-05 18:38] shabnammayel commented on #1236
+1 thanks Eric!

[2021-11-05 18:42] ericpoirier commented on #1236
Merged

[2021-11-05 19:05] shabnammayel commented on #1146
+1 LGTM! Thanks

[2021-11-05 19:14] shabnammayel commented on #1143
We should add all the items and links that we have under the resources navigation bar in this page actually. this mock up was before we make updates to the navigation and dropdown. thanks

[2021-11-05 19:14] TanjaObradovic commented on #1146
Looks great!

[2021-11-05 19:18] shabnammayel commented on #1143
Infographics is missing from this new mockup as well. Please add that and include the items from our live page here: https://jakarta.ee/resources/#infographics to the new design

[2021-11-05 19:19] ericpoirier commented on #1143
@shabnammayel should we get @meKokabi involved to find the icons that we will need for the missing sections?

[2021-11-05 19:22] ericpoirier commented on #1143
Just to make sure I got this right. I will add Infographic to the main menu as well as in the Resource page?

[2021-11-05 19:37] aeiras opened #1305 "[Add a Triage Contributor to the Repo] Request"
Can you please add me to this repo via Triage feature add?
Please see https://github.com/microprofile/microprofile-wg/wiki/Contributors-GitHub-“Triage”-access to learn how.

Thank you,

[2021-11-05 21:00] excentrickristy commented on #1149
Hi guys,

Just a few notes:

Probably a global issue, but I saw that there is an h3 tag being used for screen readers only to tag the breadcrumbs. For SEO as well as accessibility I would recommend following this code pattern instead:  https://www.w3.org/TR/wai-aria-practices-1.1/examples/breadcrumb/index.html

Also, the titles for each contact card are being contained in h3 tags, these should be

[2021-11-05 21:27] excentrickristy commented on #1141
I'm a bit late to review so I apologize for commenting on a closed issue. I did want to make two suggestions though:

- There are two h1 tags on this page, I would recommend removing it from the "FAQ" h1 above the questions. and just converting it to a p tag with header styling. It would probably be helpful to change that heading to "Frequently Asked Questions" since FAQ is just above.
- The quest

[2021-11-05 21:30] excentrickristy commented on #1264
Hi Eric,
I was looking back at this and realized that the change to the h1 in the main banner was missed. We just need to add in the word Enterprise please :)

[2021-11-08 13:33] ericpoirier commented on #1149
Thanks for the feedback, I'll make all the changes related to this page only and I'll create another PR to deal with the breadcrumb since it will affect all the sub pages.

[2021-11-08 16:57] ericpoirier commented on #1151
@shabnammayel @excentrickristy @shanda-eclipse  I updated the Newsletter archive page on staging
https://deploy-preview-1304--jakartaee.netlify.app/community/newsletter/

Let me know if there's anything else.

Thanks.

[2021-11-08 18:48] ericpoirier commented on #1148
@meKokabi can you provide the icons and image from this mock-up?

Thanks.

[2021-11-08 18:54] ericpoirier commented on #1150
@shabnammayel @shanda-eclipse I'm seeing an issue with this redesign. We currently do not support adding images to Events in newsroom.eclipse.org. Since this is where we are fetching the Jakarta EE events, we would need to add this field when create an event on newsroom.

Also, I'm looking at the sidebar, is this a sub menu that we need to add only on the Events page? Or is this something that wil

[2021-11-08 18:55] ericpoirier commented on #1142
Ok for now I'll create a PR and wait until the content is ready to merge to production.

[2021-11-08 19:00] meKokabi commented on #1148
@ericpoirier Sure, I just need to double check with Shanda. Will get back after!

[2021-11-08 20:00] ericpoirier commented on #1145
Closing this issue since my changes were merged to production.

[2021-11-08 20:00] #1145 closed, assigned to nobody

[2021-11-08 20:08] ericpoirier commented on #1149
@shabnammayel @shanda-eclipse @excentrickristy you can review the updated Stay Connected page here:

https://deploy-preview-1297--jakartaee.netlify.app/connect/

Let me know if there's anything else.

Thanks.

[2021-11-08 20:43] shanda-eclipse commented on #1151
Layout looks fine, but there should be some 2021 content and I'm not sure where this fits in the menu structure. Might need to wait until @shabnammayel is back to finalize this.

[2021-11-08 20:52] excentrickristy commented on #1149
Just missing one period in the last sentence of the last box and you should be good to go!

[2021-11-08 21:21] thatsmekristy commented on #1149
One thing I just noticed. On the Newsletter page the subscribe button goes here: https://eclipsecon.us6.list-manage.com/subscribe/post

On the Stay Connected page it links to here: https://newsroom.eclipse.org/eclipse-newsletter/2021/october

I believe the link on the Stay Connected page should be: https://eclipsecon.us6.list-manage.com/subscribe/post

[2021-11-08 21:23] excentrickristy commented on #1151
I looked back at the Site Architecture spreadsheet and it’s not accounted for in the interim nav, so we will need to wait for Shabnam on that one.

Despite its navigation location, I think a good spot to link to it would be to on the stay connected page in the newsletter section. There is a button for subscribe and you could add a button beside it that says “View Archives”

In terms of the layout,

[2021-11-09 13:02] ericpoirier commented on #1151
@shanda-eclipse @excentrickristy there is currently a link in the sidebar that goes to Newsletter Archive.

https://deploy-preview-1300--jakartaee.netlify.app/connect/

That being said, it wouldn't hurt to add a button in the Stay Connected page as well as a menu item but I wouldn't concider this a blocker to publish the redesign of the page.

@excentrickristy I decided to split the icon and the t

[2021-11-09 13:27] ericpoirier commented on #1146
My changes have been merged to production.

[2021-11-09 13:27] #1146 closed, assigned to nobody

[2021-11-09 13:44] ericpoirier commented on #1142
@shanda-eclipse @excentrickristy I created the following staging page to update the layout of the WG page.

https://deploy-preview-1309--jakartaee.netlify.app/about/working-group/

You'll notive that we are still missing text in the blocks at the bottom of the page which will be provided by @shabnammayel when its finalized. Should I just remove the lorem and we can merge it as is and add the conte

[2021-11-09 14:09] ericpoirier commented on #1141
Hi @excentrickristy, I updated the FAQ page as per your recommendation and the changes are now live.

[2021-11-09 14:09] #1141 closed, assigned to nobody

[2021-11-09 14:40] excentrickristy commented on #1141
Hi Eric,
Just one thing - I see that you are using an h2 tag now for "Frequently Asked Questions" which means the questions themselves should be h3s.

Thanks!

[2021-11-09 15:20] excentrickristy commented on #1142
A few notes:

- Under our vision there is a bold sentence that introduces the list in the right column. For user experience it makes more sense to move this above the list in the right side column.

- Can you add a bit more space under the guiding principals section and before the 3 boxes to match the design?

-  Change the title tag to read: "About the Jakarta EE Working Group | Eclipse Enterpris

[2021-11-09 15:43] ericpoirier commented on #1147
@shanda-eclipse @shabnammayel I'm looking at this redesign and I have an issue.

To move the title from the body to the jumbotron, we will have to update all the specifications page manually which can be found on the following repo:
https://github.com/jakartaee/specifications

There's probably some search and replace that we can do but since the body of those pages are all in markdown its going to

[2021-11-09 15:44] ericpoirier commented on #1153
@shabnammayel any update on the content of this page?

[2021-11-09 18:19] shanda-eclipse commented on #1147
I agree that we should make the styling changes first, rather than editing the other repo.

[2021-11-09 21:24] TanjaObradovic opened #1313 "Updating the Steering Committee page with alternate for LJC"
On the Steering Committee page  https://jakarta.ee/committees/steering/ can you please update this line

Martijn Verburg - London Java Community - Elected Participant Member Representative

to this one

Martijn Verburg - London Java Community - Elected Participant Member Representative, Marcelo Ancelmo - alternate

[2021-11-09 21:41] excentrickristy commented on #1151
@ericpoirier on the current live site, the new version of the stay connected page is published though and there is no sidebar. The sidebar only exists on a few pages under the about the jakarta ee working group menu. These will be replaced soon so in light of that, I think it would make sense to add a button on the stay connected page to access the archive page, especially because that's where it

[2021-11-10 15:44] linkfang commented on #1313
Hi @TanjaObradovic ,

Please preview the change here:
https://deploy-preview-1316--jakartaee.netlify.app/committees/steering/

[2021-11-10 17:47] TanjaObradovic commented on #1313
Looks great! thanks!

[2021-11-10 18:26] #1313 closed, assigned to linkfang

[2021-11-11 16:30] TanjaObradovic opened #1317 "Updating https://jakarta.ee/membership/members/ (Pivotal -> VMWare)"
Can we update logo of Pivotal to VMWare? This acquisition happened awhile ago, so we need to correct it? I am hoping you have the VMWare logo already, but let me know if need help with it.

[2021-11-11 16:39] ericpoirier commented on #1151
I added the button on the Stay Connected page
https://deploy-preview-1304--jakartaee.netlify.app/connect/

I also updated the title layout so that its lined up:
https://deploy-preview-1304--jakartaee.netlify.app/community/newsletter/

Let me know if there's anything else.

Thanks.

[2021-11-11 17:02] excentrickristy commented on #1151
Beautiful, @ericpoirier!

[2021-11-11 17:52] TanjaObradovic commented on #1305
Amelia, as you know we are in the middle of new design implementation for the Jakarta EE website and in general we not like to add new people to the jakartaee/jakarta.ee; however if there are any comments to be made, please feel free to use the jakartaee/collateral to raise issues and tag anyone in MKT team to address it.

[2021-11-11 19:12] ericpoirier commented on #1154
@shabnammayel @excentrickristy I created a PR to add the Videos page to the Jakarta EE website. I added a link under Community but let me know if this is not the right place.

https://deploy-preview-1318--jakartaee.netlify.app/community/videos/

Note that all the videos listed on this page are placeholders as I don't have a list of the videos to be listed on this page.

It would be good if you can

[2021-11-11 19:30] ericpoirier commented on #1142
@excentrickristy I made updates as per your comments.

https://deploy-preview-1309--jakartaee.netlify.app/about/working-group/

Please review and let me know if I missed anything.

Thanks.

[2021-11-11 19:43] ericpoirier commented on #1152
@meKokabi can you provide the 3 images that are in this redesign?
Thanks.

[2021-11-11 20:27] meKokabi commented on #1152
@ericpoirier Would you please share the illustrator file with me again, I need the original package to find access to images.

[2021-11-11 22:01] linkfang commented on #1317
Hi @TanjaObradovic ,

Please preview the change here:
https://deploy-preview-1319--jakartaee.netlify.app/membership/members/

[2021-11-11 22:47] TanjaObradovic commented on #1317
Looks great! Thanks.

[2021-11-11 22:50] meKokabi commented on #1152
@ericpoirierHere you are:

![1](https://user-images.githubusercontent.com/75500459/141380220-d8893837-66b3-4172-8006-2ddcc4e5df7d.jpg)
![3](https://user-images.githubusercontent.com/75500459/141380221-8172ee99-f25a-4a6f-a22e-bdcc9533e7ec.jpg)
![2](https://user-images.githubusercontent.com/75500459/141380222-a839fca1-9035-42c8-a20a-96ee21f937f6.jpg)

[2021-11-12 17:32] meKokabi commented on #1143
@ericpoirier Please find attached the new required icons both in png and svg formats:

[JakartaIcons.zip](https://github.com/jakartaee/jakarta.ee/files/7529367/JakartaIcons.zip)

[2021-11-12 17:41] excentrickristy commented on #1142
@ericpoirier we are close!

The 3 boxes at the bottom are missing links:
https://www.eclipse.org/org/workinggroups/jakarta_ee_charter.php
https://jakarta.ee/about/faq/
https://jakarta.ee/membership/

Without the additional text, we can remove the "learn more" links and just have the headings in the boxes, and reduce the height of the boxes.

In the third box, it would be nice to vertically center

[2021-11-12 17:55] excentrickristy commented on #1154
@ericpoirier The initial idea for this page was that it be updated in tandem with the Jakarta EE Youtube channel.
However, without the category filtering capability this might be overwhelming. Until that feature is ready, perhaps @shabnammayel or @TanjaObradovic could help us pick a few cornerstone videos to feature on this page.

While putting together the initial concept, I was hoping the the vi

[2021-11-12 19:43] #1317 closed, assigned to linkfang

[2021-11-15 13:25] ericpoirier commented on #1143
Thanks.

[2021-11-15 13:31] ericpoirier commented on #1154
Ok let me know which videos to add to this page.

If you accept the cookies in the cookie banner, the video will load on the page like you want it.

Not sure what you mean by going to youtube to comment, you can already do that with the "Watch on Youtube" button.

Sounds good, thanks!

[2021-11-15 14:59] ericpoirier commented on #1142
I made the updates you requested on the following staging page:
https://deploy-preview-1309--jakartaee.netlify.app/about/working-group/

Let me know if there's anything else.

Thanks.

[2021-11-15 15:27] #1151 closed, assigned to nobody

[2021-11-15 15:47] excentrickristy commented on #1142
Looks good to me!

[2021-11-16 18:26] ericpoirier commented on #1149
My PR for this page was merged last week.

[2021-11-16 18:26] #1149 closed, assigned to nobody

[2021-11-17 15:27] chrisguindon commented on #1150
We can't assume that we will always have an image for an event.

+1 for adding images to events in the newsroom but this layout must be able to support events items without an image.

[2021-11-18 15:35] ericpoirier commented on #1143
@shabnammayel @meKokabi After reviewing the new icons, I noticed that they are not the same style as the original icons.

In order to move the redesign of this page faster, could we remove all the icons for now and when all the icons have been created we can add them on a later date?

Thanks.

[2021-11-18 15:39] meKokabi commented on #1143
@ericpoirier @shabnammayel In order to have a consistent look we need to re-make all again. I have copied all the styling but still you may find them inconsistent. I am suggesting adding a blue  small triangle for now that goes well with Jakarta logo. Please let me know if you need me to re-create them.

[2021-11-18 15:50] ericpoirier commented on #1148
@shabnammayel @meKokabi do you think you can provide the image and icons for this page?

Thanks.

[2021-11-18 16:24] meKokabi commented on #1148
@ericpoirier I will do my best to prepare all by the end of the day today or tomorrow early morning.

[2021-11-18 16:40] meKokabi commented on #1148
![iStock-1225535210](https://user-images.githubusercontent.com/75500459/142458172-55db0b6c-81e2-4564-9774-899c8db14e1b.jpg)

[2021-11-18 16:44] meKokabi commented on #1148
![image](https://user-images.githubusercontent.com/75500459/142458791-646c09b4-6707-4416-ab93-929490399c2f.jpg)

[2021-11-18 19:26] ericpoirier commented on #1148
Can you provide the icons without the blue background? Just the white icons.

Thanks

[2021-11-18 19:35] meKokabi commented on #1148
sure, will do shortly!

[2021-11-18 20:22] ericpoirier opened #1321 "Update news page to use newsroom API"
@shabnammayel The News page currently shows news items that have been manually added to this website using markdown. It would be best to use the newsroom api here but we are going to lose the sidebar elements as those are meant to work with markdowns rather then API data.

Here is what it would look like without the sidebar:
https://deploy-preview-1320--jakartaee.netlify.app/news/

I agree that it

[2021-11-18 20:25] shabnammayel commented on #1289
@meKokabi Can you please help with the 4 icons required for this page? thanks

[2021-11-18 20:25] shabnammayel commented on #1290
@meKokabi Can you please help with the 4 icons required for this page? thanks

[2021-11-18 22:46] meKokabi commented on #1148
Here You Are (White Icons)
[PNG-Icons.zip](https://github.com/jakartaee/jakarta.ee/files/7566506/PNG-Icons.zip)

[2021-11-19 15:20] meKokabi commented on #1143
@ericpoirier @shabnammayel As discussed, I have re-make all the icons for better consistency. Please let me know if any has been missed.
[LineIcons.zip](https://github.com/jakartaee/jakarta.ee/files/7571178/LineIcons.zip)

[2021-11-19 18:27] meKokabi commented on #1290
[LineIcons.zip](https://github.com/jakartaee/jakarta.ee/files/7572248/LineIcons.zip)

[2021-11-19 18:27] TanjaObradovic opened #1322 "Publishing Steering Committee meeting minutes September & October 2021"
Can you please publish September and October meeting minutes for the Steering Committee?

[Minutes of the September 14, 2021 Jakarta EE Steering Committee Meeting - Google Docs.pdf](https://github.com/jakartaee/jakarta.ee/files/7572238/Minutes.of.the.September.14.2021.Jakarta.EE.Steering.Committee.Meeting.-.Google.Docs.pdf)
[Minutes of the September 28, 2021 Jakarta EE Steering Committee Meeting -

[2021-11-22 13:13] shabnammayel commented on #1154
@ericpoirier It will be great to see the feature to sync with the Jakarta EE YouTube channel on this page soon. But here is the list of videos to list in no particular order for now: 1. https://www.youtube.com/watch?v=slEqCW9Rf5c
Why Jakarta EE Matters | Jakarta Tech Talks | May 18, 2021
2. https://www.youtube.com/watch?v=F7IW-cdjnMU&t=2s Jakarta Concurrency: What's Next | Jakarta Tech Talks | Aug

[2021-11-22 13:28] shabnammayel commented on #1142
Hi @ericpoirier here is the updated content for this page https://docs.google.com/document/d/1iAd8-SHzr0r5OyPyumFZEkBeSgkV9tik/edit thanks

[2021-11-22 13:32] shabnammayel commented on #1142
Please note that we are separating the content for "About Jakarta EE WG" page from "About Jakarta EE" page. So can you please help and create a new page "About Jakarta EE" page with a similar look and feel to this page? As discussed previously, it should fall under the About dropdown, under the Jakarta EE dropdown and just above the Frequently Asked Questions button. Here is the content for the "A

[2021-11-22 13:53] ericpoirier commented on #1154
Thanks for providing a list of videos.

Just to clarify, Shabnam and I had a chat last week about this and for now we will be manually adding videos to that page.

Once the redesign is live, we can open a separate issue to investigate the possibility of creating a mechanism that would automatically add videos to that page.

[2021-11-22 14:28] ericpoirier commented on #1321
@shabnammayel I had a discussion with @chrisguindon about this issue and it seems like the /news page is intended to be displaying news items that was manually added to the website instead of items coming from newsroom.eclipse.org.

I think what we need to do here is better naming the /news page to make the difference between the 2 types of news.

Home page - news items from newsroom.eclipse.org
N

[2021-11-22 15:11] chrisguindon commented on #1321
https://jakarta.ee/news/ => Working Groups News

Documentation on how users can submit content to that news section:
https://github.com/jakartaee/jakarta.ee#how-to-include-a-new-entry-in-httpsjakartaeenews-section

News posted here must be submitted to the newsroom in order to display them on the website.

An option would be to display both on the homepage.

For example, Announcements would be all

[2021-11-22 15:16] ericpoirier commented on #1321
That could be a good option as well. @shabnammayel any thoughts?

[2021-11-22 16:23] ericpoirier opened #1324 "Create About Jakarta EE page"
We need to create an About Jakarta EE  page.

We can find the content here:
https://github.com/jakartaee/jakarta.ee/issues/1142#issuecomment-975525445

We need to add a menu link under About > Jakarta EE > About Jakarta EE

[2021-11-22 17:17] linkfang commented on #1322
Hi @TanjaObradovic ,

Please preview the changes here:
https://deploy-preview-1323--jakartaee.netlify.app/about/meeting_minutes/#steering_committee

[2021-11-22 17:26] TanjaObradovic commented on #1322
Looks great! thanks!!

[2021-11-22 18:05] ericpoirier commented on #1142
@shabnammayel I updated the About Working Group page with the content you provided.
https://deploy-preview-1309--jakartaee.netlify.app/about/working-group/

I also created the About Jakarta EE page
https://deploy-preview-1309--jakartaee.netlify.app/about/jakarta-ee/

Let me know if there's anything else.

Thanks.

[2021-11-22 19:11] #1322 closed, assigned to linkfang

[2021-11-22 19:13] linkfang commented on #1322
No problem! The changes should be live soon.

[2021-11-22 20:20] ericpoirier commented on #1143
@shabnammayel I updated the Resources page with the new icons the @meKokabi provided.

https://deploy-preview-1325--jakartaee.netlify.app/resources/

Let me know if you'd like to change anything else.

Thanks.

[2021-11-23 13:42] shabnammayel commented on #1153
@ericpoirier here is the content for this page: https://docs.google.com/document/d/1Zuv9dqBF3sImTywUKfJWtUTKryhDBVnh/edit thanks

[2021-11-23 14:34] chrisguindon commented on #1037
I am also working on a similar problem for the ecdtools.eclipse.org and I just made a proposal that I think might work for both WG websites: https://github.com/EclipseFdn/ecdtools.eclipse.org/issues/160

Before I start, I am going to remind everyone of the requirements:

- we need to allow staff and the community to submit blog posts under jakarta.ee/blogs via a PR
- we need to display blogs posts

[2021-11-23 19:19] shabnammayel commented on #1143
Hi @ericpoirier  under the presentations box, the content is wrong.
What you currently have is:
Presentations
- List of Projects
It should be:
Presentations
- Jakarta EE presentations
- Introducing the EFSP

Also can we change the text for Infographics to:

- 2018 Jakarta EE Developer Survey Findings
- 2020 Jakarta EE Developer Survey Findings

[2021-11-23 19:22] ericpoirier commented on #1150
I created the following MR to add an image field to Event nodes on newsroom.eclipse.org

https://gitlab.eclipse.org/eclipsefdn/it/webdev/drupal/eclipse_api/-/merge_requests/6

[2021-11-23 20:07] shanda-eclipse opened #1328 "Embed membership form on jakarta.ee"
Similar to https://github.com/EclipseFdn/iot.eclipse.org/issues/666, we would like to embed the contact us form on jakarta.ee.

Here is the code to embed the form:
[code]

CC @shabnammayel

[2021-11-23 21:20] ericpoirier commented on #1148
@shabnammayel @meKokabi please review the updated "Get Listed" page and let me know if there's anything to be changed.

https://deploy-preview-1327--jakartaee.netlify.app/compatibility/get-listed/

Thanks!

[2021-11-23 21:23] meKokabi commented on #1148
@ericpoirier looks good to me!

[2021-11-24 14:46] shabnammayel commented on #1142
They both look good to me! @excentrickristy FYI

[2021-11-24 14:50] shabnammayel commented on #1143
looks good to me! Thanks
@excentrickristy FYI

[2021-11-24 15:07] #1142 closed, assigned to nobody

[2021-11-24 15:07] ericpoirier commented on #1324
This has been merged

[2021-11-24 15:07] #1324 closed, assigned to nobody

[2021-11-24 16:49] shabnammayel commented on #1148
the text on the block at the bottom of the page is still missing. We can use: The success of Jakarta EE technology relies on compatibility to ensure application portability, security, stability, and resiliency. Compatibility will allow more technology providers to leverage and strengthen the Jakarta EE brand in the enterprise Java community.

[2021-11-24 16:50] shabnammayel commented on #1148
other than that LGTM! thanks

[2021-11-24 16:55] ericpoirier commented on #1148
I updated the text in my PR.

[2021-11-24 19:10] #1148 closed, assigned to nobody

[2021-11-25 14:13] ericpoirier commented on #1150
@shabnammayel here is the preview of the Events page:

https://deploy-preview-1330--jakartaee.netlify.app/community/events/

You'll notice that some of the Events doesn't have an image. This is on purpose because I wanted you to see what it would look like without videos. Images are being added in the Events on newsroom.eclipse.org

Let me know if you'd like to make any changes.

Thanks.

[2021-11-25 14:17] ericpoirier commented on #1289
@shabnammayel I created the Community page based on the requirements but let me know if you'd like to change anything.

Also, not that I used icons that are not related to the titles, @shabnammayel I would suggest you review the sections and let me know if you'd like to add more or remove some and then we can ask @meKokabi to create the icons we need.

https://deploy-preview-1332--jakartaee.netlif

[2021-11-25 14:45] shabnammayel commented on #1143
@ericpoirier I noticed we are missing the "Youtube Channel" and "Starter for Jakarta EE" in this page which are already in the dropdown.

We need to remove the JakartaOne Livestream from there though. As we are moving it to the Community page. so maybe replace that box with YouTube Channel and add the text: Watch Jakarta EE Videos.  @meKokabi Can you please help with an icon for "Youtube Channel"?

[2021-11-25 14:58] shabnammayel commented on #1289
Please remove the space between Jakarta One. It should be "JakartaOne Livestream" with small s. We should add a text similar to the resource page.
"Stay Connected": Find the Communication Channels
"JakartaOne Livestream": Find the latest events
"Adopt a Spec" : Learn about the Adopt a Spec Program
"Techtalk Meet-ups": Find the latest Jakarta Techtalks" link https://www.meetup.com/jakartatechtalks_

[2021-11-25 15:22] shabnammayel commented on #1150
Thanks @ericpoirier LGTM!

[2021-11-25 15:39] shanda-eclipse commented on #1150
The event order seems off to me. You have 2 upcoming events, but the January event is listed before the Dec event. Then move right into past events, I think you need some separation and a header before past events.

[2021-11-25 16:58] ericpoirier commented on #1150
I think we made a change to how we pull events from newsroom.eclipse.org so that we have events in this order.

That being said, should we separate upcoming and past events on different pages?

[2021-11-25 22:15] excentrickristy commented on #1143
Good catch Shabnam. The new layout of the resource page was intended to address an issue with the resource menu have external and anchored links. With the new layout, everything in the menu should also exist on the page.

Once the boxes are all added to the page though, I would recommend re-ordering the menu items so that they match the order on the page. @shabnammayel do you think it should be al

[2021-11-26 14:21] ericpoirier commented on #1289
I updated the community page on staging:

https://deploy-preview-1332--jakartaee.netlify.app/community/

Let me know if there's anything else.

Thanks.

[2021-11-26 15:08] ericpoirier commented on #1290
@shabnammayel Looking at this issue and there's already a Specifications page which represents the list of Specifications:
https://jakarta.ee/specifications/

I would suggest we move the Specifications List page to
https://jakarta.ee/specifications/list

And then create a new page for
https://jakarta.ee/specifications/

Which would display the boxes.

What do you think?

One thing to consider is t

[2021-11-26 15:22] ericpoirier commented on #1154
Just to give an update, the new video links have been added to staging

https://deploy-preview-1318--jakartaee.netlify.app/community/videos/

But I'm having issues with some of the videos not being embeded properly to the page. I'll have to investigate what's going on here.

[2021-11-26 16:06] linkfang commented on #1328
Hi @shanda-eclipse ,

Please preview the embedded form here:
https://deploy-preview-1333--jakartaee.netlify.app/membership/join-us/

The Join Jakarta EE button on membership page and the "Contact us about membership in the Jakarta EE Working Group" link on /about/working-group page will both take the user to this form.

https://deploy-preview-1333--jakartaee.netlify.app/membership/
https://deploy-

[2021-11-26 16:19] shanda-eclipse commented on #1328
+1 from me. @shabnammayel can you review/approve as well?

[2021-11-26 16:25] ericpoirier commented on #1154
@shabnammayel I fixed the issue with the videos not being displaying properly.

https://deploy-preview-1318--jakartaee.netlify.app/community/videos/

Please review and let me know if there are more changes to be made.

Thanks.

[2021-11-26 18:01] ericpoirier commented on #1143
I updated the Resources page based on feedback from @shabnammayel
https://deploy-preview-1334--jakartaee.netlify.app/resources/

I also added an Overview link in the main menu.

As for the other changes suggested by @excentrickristy, I'll wait for a +1 from @shabnammayel.

[2021-11-29 00:30] excentrickristy commented on #1154
New title tag: "Video Resources | Jakarta EE | The Eclipse Foundation"
New meta description tag: "View featured videos resources about Jakarta EE. Subscribe to our YouTube Channel to learn more about Jakarta EE and the latest developments."

[2021-11-29 12:19] shabnammayel commented on #1154
Thanks @excentrickristy
@ericpoirier please change the order of the first and second video and that way all videos will be displayed based on the date uploaded. thanks

[2021-11-29 12:30] shabnammayel commented on #1143
Good point @excentrickristy  +1 to the alphabetic order. Can you then please help with the icons? The icons for the Community page and Specification page are also thin similar to these. Can you please help out with those as well @excentrickristy? thanks

[2021-11-29 12:31] shabnammayel commented on #1289
Looks good! But I think Kristy's comment regarding the icons makes sense. @excentrickristy can you help us with the icons for this page and also the resource page and specification page as well? thanks

[2021-11-29 13:50] ericpoirier commented on #1152
Hi @shabnammayel can you review the following page:
https://deploy-preview-1335--jakartaee.netlify.app/membership/

Thanks.

[2021-11-29 13:51] ericpoirier commented on #1154
@shabnammayel I updated the order of the videos and I updated the SEO tags.

https://deploy-preview-1318--jakartaee.netlify.app/community/videos/

Let me know if there's anything else.

Thanks.

[2021-11-29 13:53] ericpoirier commented on #1289
@shabnammayel Should we also put the blocks in alphabetical order just like we did for the Resources page?

[2021-11-29 14:05] shabnammayel commented on #1289
Yes @ericpoirier let's have them in alphabetic order both in the dropdown and the blocks

[2021-11-29 14:37] shabnammayel commented on #1150
As this page is called events, we can keep both past and upcoming ones in one page but just separate the sections and add the heading "Past Events" from where we start listing the old ones.

[2021-11-29 15:46] ericpoirier commented on #1147
I updated the layout of specification single pages.

Here is an example but you can have a look at them all.
https://deploy-preview-1336--jakartaee.netlify.app/specifications/webprofile/8/

Let me know if you'd like to make any changes.

Note that to make changes to the SEO, we will need to make changes to every single speficiation pages from the specifications repo:
https://github.com/jakartaee/s

[2021-11-29 15:48] excentrickristy commented on #1289
@shabnammayel is it just the arrows you need from the specifications page? https://projects.invisionapp.com/share/AX10M9QL74RN#/screens/448585120

[2021-11-29 15:51] shabnammayel commented on #1154
LGTM @ericpoirier! thanks

[2021-11-29 15:55] shabnammayel commented on #1290
Can we name the page "Browse Specifications" instead of Specifications List? Specifications List might be a bit misleading. and then create a new page called specifications to anchor all the links from the dropdown. Thanks @ericpoirier

[2021-11-29 16:14] ericpoirier commented on #1290
Ok will do, thanks.

[2021-11-29 19:49] ericpoirier commented on #1289
@shabnammayel I reordered the Community page and the menu items.

https://deploy-preview-1332--jakartaee.netlify.app/community/

Let me know if there's anything else.

[2021-11-29 21:32] excentrickristy commented on #1289
@shabnammayel should there be a space between Tech Talk Meet-Ups in the box on the page? It has a space in the nav and on the meetup page. I also noticed that we have this box on the Stay Connected page already.

The titles in the boxes need to be promoted to h2 tags but with h3 style which should make the titles a bit bigger (like on the stay connected page).

Title tag: Jakarta EE Community Link

[2021-11-30 12:59] shabnammayel commented on #1152
LGTM @ericpoirier! Thanks
excentrickristy FYI

[2021-11-30 13:05] shabnammayel commented on #1289
+1 to fixing the Tech talk link for now. and other suggestions that Kristy has made. But Kristy and I will have more discussions around this page and the dropdown tomorrow and may suggest further changes. thanks

[2021-11-30 13:10] #1152 closed, assigned to nobody

[2021-11-30 18:02] ericpoirier opened #1338 "[Redesign] - Translate pages that was redesigned"
We will need to translate the pages where the content was changed by the redesign.

Note that for now we plan on working on the translation in Q1 2022.

I will create and update a list of pages for which the redesign is complete.

@shabnammayel should we disable the chinese button for now until we finish with the translation since the content  will end up being in english only for a short period o

[2021-12-01 14:21] shabnammayel opened #1339 "Create a dropdown for the Membership button in the navigation bar"
Members page is missing from the navigation bar. Please add a dropdown on the "Membership" button in the navigation bar and include "Join" that goes to the existing page "Join Jakarta EE Working Group" page https://jakarta.ee/membership/ and also include "Members" that goes to https://jakarta.ee/membership/members/

[2021-12-01 15:57] ericpoirier commented on #1143
Kristy just shared new icons by email.

Posting them here just to keep track of the assets that were sent for the Resources page.
[Jakarta-Icons.zip](https://github.com/jakartaee/jakarta.ee/files/7635343/Jakarta-Icons.zip)

[2021-12-01 15:58] ericpoirier commented on #1289
Kristy just shared new icons by email.

Posting them here just to keep track of the assets that were sent for the Community page.
[Jakarta-Icons.zip](https://github.com/jakartaee/jakarta.ee/files/7635357/Jakarta-Icons.zip)

[2021-12-01 16:04] ericpoirier commented on #1290
@shabnammayel I updated the Specifications section in the following staging page:
https://deploy-preview-1337--jakartaee.netlify.app/specifications/

Note that the Layout of the Browse Specifications page didn't change. In the PR i'm focusing only on reorganising the pages.

Let me know if you'd to make more changes to the structure.

Thanks.

[2021-12-01 16:07] ericpoirier commented on #1166
Hi @shabnammayel,

I updated the layout of the Compatible products in the following staging page:
https://deploy-preview-1340--jakartaee.netlify.app/compatibility/

Note that the filter was not implemented. As discussed, I think this is a nice to have feature which we can add when we are in a better position with the overall redesign of the website.

Let me know if you have more questions.

Thanks

[2021-12-01 16:08] ericpoirier commented on #1167
Hi @shabnammayel,

I implemented this redesign on the following staging page:
https://deploy-preview-1340--jakartaee.netlify.app/compatibility/download/

Note that the "Sort by" filter was note implemented but will be implemented when we are in a better position with the redesign.

Let me know if you have more questions.

Thanks.

[2021-12-01 16:11] ericpoirier commented on #1143
@shabnammayel, I added the new icons that was provided by @excentrickristy in the following staging page:

https://deploy-preview-1334--jakartaee.netlify.app/resources/

Let me know if you have any questions.

I'll wait for your +1 to merge.

Thanks.

[2021-12-01 17:39] shabnammayel commented on #1166
Hi Eric, when I choose the Jakarta Version the certification results dropdown is inactive and doesn't work and that's the case for the view certification button as well. Since the filter is not going to be implemented for now, can we have a search capability? given that this list is very long, at least that can help users search the product that they are looking for.

[2021-12-01 18:18] shabnammayel commented on #1290
For consistency, can we have the boxes in an alphabetic order here as well? Also what is the Overview button that is showing up in the Specifications dropdown? We don't have for other dropdowns such as Community or resources.

[2021-12-01 18:21] ericpoirier commented on #1290
Ok no problem for the order.

I you look at the staging pages that I created for both Resources and Community, I'm adding those menu items in there. It was suggested by Kristy for one of the pages so I'm adding it here as well for consistency.

[2021-12-01 18:24] ericpoirier commented on #1166
The options should be inactive for all the blocks except the one you're interacting with. I pushed a commit to my PR to make sure your browser is using the most recent version of the javascript code.

[2021-12-01 18:27] shabnammayel commented on #1143
The items from my comment above are still missing. We can ignore "Youtube channel" and in fact remove it from the dropdown as well since we have the videos page under the "Community" dropdown. And I think that's going to go live soon.
But we still need to add the "Starter for Jakarta EE" to the page. From my comment above: The text for the "Starter for Jakarta EE": Generate Jakarta EE Maven Projec

[2021-12-01 18:50] shabnammayel commented on #1290
+1 sounds good. FYI excentrickristy

[2021-12-01 19:18] ericpoirier commented on #1150
This is more of a note for myself.

I created a PR for the solstice-assets repo so that I can easiy retrieve past events.

[2021-12-01 19:20] ericpoirier commented on #1166
Also to answer your question about the filter. We already have an issue which is classified as a nice to have:
https://github.com/jakartaee/jakarta.ee/issues/1173

I wouldn't want to create a temporary search for that page since we already plan on adding the filter.

[2021-12-01 19:22] ericpoirier commented on #1289
@shabnammayel I updated the icons that was provided on the Community page.
https://deploy-preview-1332--jakartaee.netlify.app/community/

Let me know if there's anything else.

Thanks.

[2021-12-01 19:56] ericpoirier commented on #1166
I asked @autumnfound and @linkfang to test this page and it is working as intended.

@shabnammayel can you verify that you don't have an ad blocker enabled in your browser?

Thanks.

[2021-12-01 20:23] ericpoirier commented on #1143
Hi @shabnammayel, I updated  the staging page based on your feedback.

https://deploy-preview-1334--jakartaee.netlify.app/resources/

Let me know if there's anything else.

Thanks.

[2021-12-01 20:42] #1154 closed, assigned to nobody

[2021-12-01 21:32] shabnammayel commented on #1147
LGTM! But I would like @TanjaObradovic to review this page as well before going live!

[2021-12-01 21:38] shabnammayel commented on #1289
please remove the space between Tech Talk. Also please a box for "Events" that is currently missing from the website https://deploy-preview-1330--jakartaee.netlify.app/community/events/  and add the description "Find the latest Cloud Native Java Events" that should be added in the dropdown. @excentrickristy can you please help us with an icon for that as well? thanks

[2021-12-01 21:59] TanjaObradovic commented on #1147
In the section "Compatible Implementations" it should say
_Jakarta EE 8 Compatible Web Profile Implementations_ and point to section of the page that says _Jakarta EE 8 Web Profile Compatible Products_

Other than that it looks great!

[2021-12-02 00:42] excentrickristy commented on #1167
Hi @ericpoirier,
Does this page have pagination built in after a certain number of releases/tables?
If not, is their ability to add the  functionality?

Thanks.

[2021-12-02 13:24] ericpoirier commented on #1147
@TanjaObradovic The content of the Specification pages are coming from another repo which we do not have control over here in the jakarta.ee repository.

Specification repo: https://github.com/jakartaee/specifications

As I was saying in my [first comment](https://github.com/jakartaee/jakarta.ee/issues/1147#issuecomment-964273041), I think for this issue we should concentrate in doing styles chang

[2021-12-02 13:26] ericpoirier commented on #1339
@shabnammayel I updated the menu to create the dropdown to the Membership item.

https://deploy-preview-1341--jakartaee.netlify.app/

Let me know if there's anything else.

Thanks.

[2021-12-02 13:28] shabnammayel commented on #1339
LGTM @ericpoirier ! Thanks

[2021-12-02 13:41] ericpoirier commented on #1289
We currently have a JakartaOne Livestream section. Can we refactor this section and do something like this:

Event
- Find the latest JakartaOne Livestream (link)
- Find the latest Cloud Native Java Events (link)

This way we won't have to create another icon which we will be missing if we create a new box.

[2021-12-02 13:58] #1290 closed, assigned to nobody

[2021-12-02 14:11] ericpoirier commented on #1167
Hi @excentrickristy, the functionality is not implemented yet but i'm going to try and implement it today. I'll keep you posted.

[2021-12-02 14:26] linkfang commented on #1328
Hi @shabnammayel ,

Are we good to go ahead with this change?
https://github.com/jakartaee/jakarta.ee/issues/1328#issuecomment-980079684

[2021-12-02 14:50] shabnammayel commented on #1143
in the JakartaOne Livestream box, please remove space between "Jakarta One" and also change "LiveStream" to "Livestream" with a small s. I have seen that in couple of other pages previously, would be great if we can fix them.
In the Survey Box, we have "Jakarta EE"added to the 2021 version. For Consistency please add it to the previous versions as well. thanks

[2021-12-02 15:00] shabnammayel commented on #1289
Sounds good! Please change the name to Events. @excentrickristy FYI

[2021-12-02 15:11] excentrickristy commented on #1289
@shabnammayel do you still need an events icon then? or no?

[2021-12-02 15:46] shabnammayel commented on #1289
Not anymore! :) thanks @excentrickristy

[2021-12-02 15:48] shabnammayel commented on #1328
+1 thanks

[2021-12-02 16:14] ericpoirier commented on #1289
@shabnammayel I updated the Community page on staging:

https://deploy-preview-1332--jakartaee.netlify.app/community/

Let me know if there's anything else.

[2021-12-02 18:00] shabnammayel commented on #1289
LGTM @ericpoirier thanks!

[2021-12-02 18:26] shabnammayel commented on #1166
I don't but still doesn't work for me! I shared it with our team to test and it seems like it works for them.

From looking at the page though, can you please change the word "Jakarta Version" to "Jakarta EE Version"? and "Certification Results" to "Server Version"? @ericpoirier

[2021-12-02 18:30] ericpoirier commented on #1166
Ok will do, after those text changes are we good to push this live?

[2021-12-02 18:32] shabnammayel commented on #1166
Would be great if @TanjaObradovic gets a chance to review again and give a +1 as well since I am not able to see! for some reason doesn't work on either of my 2 laptops! Also @excentrickristy please let us know if you see any issues as well! thanks

[2021-12-02 18:33] ericpoirier commented on #1166
Ok I will make the update and ping @TanjaObradovic to review.

[2021-12-02 19:05] ericpoirier commented on #1143
Those changes have been made to the following staging page:

https://deploy-preview-1334--jakartaee.netlify.app/resources/

Let me know if there's anything else.

Thanks.

[2021-12-02 19:27] ericpoirier commented on #1150
I updated the staging for the Events page:

https://deploy-preview-1330--jakartaee.netlify.app/community/events/

I separated the Upcoming and Past events in 2 sections.

Let me know if there's anything else.

Thanks.

[2021-12-02 19:29] #1339 closed, assigned to ericpoirier

[2021-12-02 19:51] #1289 closed, assigned to nobody

[2021-12-02 20:00] shabnammayel commented on #1150
Can we add the links to the past tech talks?link to their YouTube video is ideal, but even link to the Crowdcast session where they can watch the replay now would be good. @ericpoirier

[2021-12-02 20:01] shabnammayel commented on #1143
LGTM! thanks @ericpoirier

[2021-12-02 20:18] shanda-eclipse commented on #1150
Event order looks good to me. I will leave it to Shabnam to approve after her other request.

[2021-12-02 20:22] #1143 closed, assigned to nobody

[2021-12-02 20:24] ericpoirier commented on #1150
@shanda-eclipse maybe you can help, @shabnammayel's request is related to missing links to some of the old events. Specialy for the TechTalk items. I can see that in newsroom the website links are missing for those event items.

Example: https://newsroom.eclipse.org/node/38436/edit

Is there a reason why the links are missing in newsroom?

[2021-12-02 20:27] shanda-eclipse commented on #1150
It's because registration and "more info" are the same link for these webinar. For the event listing before the event, we only have the registration link. If you can write some logic, the event should link to the "registration" link when the "more info" link is empty.

[2021-12-03 07:43] ivargrimstad opened #1342 "Browse Specifications listed"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://jakarta.ee/specifications/browse/
2. See error: Browse Specifications is not a specification and should not be listed here

**Expected behavior**
Only specs to be shown

**Screenshots**
![BrowseSpecs](https://user-images.githubusercontent.com/149188/144564232

[2021-12-03 07:56] ivargrimstad commented on #1153
For the filtering, keep in mind that we already have some metadata available for each specification's detail page. And we are considering adding more metadata to generate more of the content. So adding metadata for filtering should be done in the same place to avoid spreading this data around. This also allows for the flexibility that one **version** of a specification may be in a different _profi

[2021-12-03 08:18] ivargrimstad opened #1343 "Root URL of the Specifciations List"
**Describe the bug**
The root URL of the Specification List should be https://jakarta.ee/specifications, not https://jakarta.ee/specifications/browse

- Since the beginning,  /specifications/ has been the location we communicate as the location of the specifications.
- An extra click to get to the list is unnecessary
- It complicates the navigation back and forth between the specifications (e.g. c

[2021-12-03 13:23] ericpoirier commented on #1343
@ivargrimstad we decided to put the "Overview" page on /specifications top keep things consistent with the other sections of the site.

If we were to put the Specifications List page back to /specifications it would break consitency with other sections.

I don't mind doing the change but I'll leave the decision between you and @shabnammayel.

Also if we are to make the change, what would be the ur

[2021-12-03 13:25] ericpoirier commented on #1342
Good catch, i'll make sure to remove this item from the list.

[2021-12-03 13:28] ericpoirier commented on #1166
@TanjaObradovic I made the update requested by @shabnammayel.

https://deploy-preview-1340--jakartaee.netlify.app/compatibility/

I'll wait for your +1 to merge.

Thanks.

[2021-12-03 13:31] ericpoirier commented on #1150
Ah ok got it.

Yeah I can write some logic for that.

[2021-12-03 13:35] TanjaObradovic commented on #1166
Thanks Eric! This works for me with no problems at all.

[2021-12-03 13:36] TanjaObradovic commented on #1147
Makes sense, thanks!

[2021-12-03 13:50] ericpoirier commented on #1150
@shanda-eclipse I'm looking at the generic code that was written to get events from newsroom and we remove the registration link if the event is in the past. I think the reason for that is so that people are not trying to register for past events.

I think it would be better to just copy the url from registration to website field in newsroom. What do you think?

[2021-12-03 14:10] #1328 closed, assigned to linkfang

[2021-12-03 14:12] shanda-eclipse commented on #1150
I'm not sure workflow-wise, it's realistic to go back into every event in the newsroom to add links after the event ends. @shabnammayel is there a simpler solution? Maybe a CTA on the right column below "Interested in Hosting an Event?" that says "Watch recordings from the past events on our YouTube channel" or something like that?

[2021-12-03 14:14] ivargrimstad commented on #1343
Anywhere, something else than /specifications/
Then you won't need the special treatment of the browse page to get it out of the list (#1342)

[2021-12-03 15:18] shabnammayel commented on #1343
@ericpoirier the reason we are creating an overview page is to anchor all external links in Jakarta EE's domain first and drive the traffic to our own page before going to external pages. So to solve this issue, we should move the Specification Projects to the "Resource dropdown" (we can use the same box that we created on the Specification Overview" page currently for the box but in the Resource

[2021-12-03 15:34] shabnammayel commented on #1343
@excentrickristy looks like we don't have an icon for Specification Projects to move it to the "resource page". I was looking at the icons we have to see if we can reuse one of them but it looks like we have used them all in the resource page already! :) Can you please help with that?

[2021-12-03 16:00] ericpoirier commented on #1343
@shabnammayel @ivargrimstad please review the following staging page and let me know if you'd like to make more changes.

https://deploy-preview-1345--jakartaee.netlify.app/specifications/

Thanks.

[2021-12-03 16:37] shabnammayel commented on #1343
@ivargrimstad We will keep the name of the button "Browse Specification" instead of "Specification List" in the dropdown. But the URL will be the same as Eric has shared. WDYT?

[2021-12-03 17:02] shabnammayel commented on #1150
+1 I think that's a good idea. Let's leave it as it is for the tech talks and add a CTA below "Interested in Hosting an Event?"  as Shanda suggested.

[2021-12-03 17:03] shabnammayel commented on #1150
also looking at the mock up, the box on the right does not reflect the current items on the Community dropdown. Please update those as well @ericpoirier thanks

[2021-12-03 17:16] excentrickristy commented on #1166
@ericpoirier I was checking the header tags for this page and in the code its showing h2's from the table on this page https://deploy-preview-1340--jakartaee.netlify.app/compatibility/download/
Just wondering if this was originally coded for the view all link to just be a div hidden with css but now something has changed? If so, we should remove the content from the compatibility page.

Also, I th

[2021-12-03 17:20] shanda-eclipse commented on #1150
@ericpoirier you can style the CTA the same as the hosting an event one.

Here is the image:
![Untitled design (3)](https://user-images.githubusercontent.com/61751191/144644885-7dc14098-ad09-4dda-9dde-1530d48fd0a0.png)

First line: Watch recordings from the past events

Second line: on our YouTube channel

Link: https://www.youtube.com/jakartaee

[2021-12-03 18:16] ericpoirier commented on #1166
Not sure what you mean here. Can you copy/paste or screenshot an example of what you are seeing?

Here you would like me to convert the` <li>` tags into `<h2>` tags for the Latest TCK Results and View All navigation buttons?

[2021-12-03 18:31] excentrickristy opened #1346 "News Page vs Newsroom Canonical Links"
As per a conversation with @shabnammayel

Because the same news post is being posted here:
https://jakarta.ee/news/2021-jakarta-ee-developer-survey/

As well as here:
https://newsroom.eclipse.org/news/announcements/eclipse-foundation-announces-results-2021-jakarta-ee-developer-survey

For the Jakarta EE News room posts to gain rank and help us increase search visibility the canonical link on the n

[2021-12-03 18:40] excentrickristy opened #1348 "Hover State Issue on Nav for Release Page"
**Describe the bug**
There is a double underline for the hover state on the release page template.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://jakarta.ee/release/9.1/
2. Hover over "About" (or any item) in the main navigation
3. You see two underlines under the navigation

This issue is for all of the releases pages, so must be part of the CSS for that template.

**Expected

[2021-12-03 18:43] ericpoirier commented on #1272
@ivargrimstad I can fix the order of this page by ordering by date.

https://deploy-preview-1347--jakartaee.netlify.app/specifications/platform/

Do you think we can safely rely on the date or should we concider a different option? Ordering by name is not working since this is what we are actually using on production.

[2021-12-03 18:48] excentrickristy commented on #1166
@ericpoirier So I was using my header checking tool and it found these h2 heading on the compatible products page:
![image](https://user-images.githubusercontent.com/73264129/144656314-9b0c2713-4016-42d9-8b61-14ff6c8e7853.png)

But this text isnt visible on the page.

So I looked at the source code and I see the table from the "view all" panel but when you click on "view all" it takes you to a dif

[2021-12-03 18:51] ericpoirier commented on #1166
Ok I see what you mean, its loading  the html of the "View All" page but its actually hidden from display. I'll make it so that the html doesnt load on that page.

[2021-12-03 19:07] ericpoirier commented on #1150
@shanda-eclipse @shabnammayel I updated the staging page for the Events.

https://deploy-preview-1330--jakartaee.netlify.app/community/events/

Let me know if I missed anything.

Thanks.

[2021-12-03 20:20] ivargrimstad commented on #1343
Yes, great! Thanks!

[2021-12-06 13:41] ericpoirier commented on #1343
@ivargrimstad @shabnammayel can you review the following staging page and let me know if you'd like to make more changes.

https://deploy-preview-1345--jakartaee.netlify.app/specifications/

[2021-12-06 14:13] ericpoirier commented on #1166
@excentrickristy I updated the html for both the Compatible Products page and the View All page

https://deploy-preview-1340--jakartaee.netlify.app/compatibility/

Let me know if there's anything else.

Thanks.

[2021-12-06 15:53] ericpoirier commented on #1343
My PR was merged today. Let me know if there's anything else.

Thanks.

[2021-12-06 15:53] #1343 closed, assigned to nobody

[2021-12-06 15:55] ericpoirier commented on #1342
A PR was merged to reorganise the hierachy of the Specifications section which removed the Browse Specifications item from the list.

[2021-12-06 15:55] #1342 closed, assigned to nobody

[2021-12-06 16:37] excentrickristy commented on #1343
@shabnammayel what do you think of this icon?

![image](https://user-images.githubusercontent.com/73264129/144885362-69250465-9cee-4352-95eb-94661f0f0c45.png)

[specification-project.svg.zip](https://github.com/jakartaee/jakarta.ee/files/7662157/specification-project.svg.zip)

[2021-12-06 17:06] chrisguindon commented on #1037
I made some progress on this for the ECDTOOLS.eclipse.org:

Preview URL: https://deploy-preview-193--eclipsefdn-ecdtools.netlify.app/resources/blogs/
Related issue: https://github.com/EclipseFdn/ecdtools.eclipse.org/issues/160#issuecomment-986969583

In this preview, we are fetching blog posts from 2 different sources (the website and planeteclipse.org (However, we only include posts with the EDCT

[2021-12-06 19:50] ericpoirier commented on #1153
@shabnammayel I updated the layout of the Specifications page on the following staging site:

https://deploy-preview-1350--jakartaee.netlify.app/specifications/

Note that I didn't add a search yet since i'm not sure yet what we are going to use for it but i'd like to get the ball rolling on the reviwing side of things. Let me know if you'd like to make any changes to the Specifications page that

[2021-12-07 12:31] shabnammayel commented on #1153
LGTM! I would like @TanjaObradovic to review this page as well when she gets a chance! :) thanks!

[2021-12-07 12:44] ivargrimstad commented on #1153
Core Profile also needs to be displayed at the top together with the Platform and Web  Profile

[2021-12-07 13:39] ericpoirier commented on #1153
Just to make sure, we will add a 3rd box in the first section?

[2021-12-07 14:23] ivargrimstad commented on #1153
Yes, later we need to add some sort of metadata for the profile specs, so they're identified automatically.
But for now, there are only these three.

[2021-12-07 18:08] ericpoirier commented on #1153
@ivargrimstad @shabnammayel I added the 3rd block to the specifications page.

https://deploy-preview-1350--jakartaee.netlify.app/specifications/

Let me know if there's anything else.

Thanks.

[2021-12-07 18:58] edbratt opened #1351 "Improper Aquarium entries in JakartaBlogs aggregator"
**Describe the bug**
The newly introduced [Blog aggregator]([url](https://jakartablogs.ee/)) is pulling in very old Aquarium posts and incorrectly attributing them and attaching incorrect meta data (i.e. very old posts seem to be showing up as current/new).
This is confusing at best.

**To Reproduce**
Steps to reproduce the behavior:
Go to Jakarta Blogs
Look for first post attributed to Will Lyons

[2021-12-07 21:51] ivargrimstad commented on #1153
LGTM

[2021-12-07 22:16] shabnammayel commented on #1343
Thanks @excentrickristy looks good!

[2021-12-07 23:11] chrisguindon commented on #1351
Thanks for creating an issue about this. I did notice this last week. However, the problem was worst than how it is now.

Every post on jakartablogs.ee was from Will last week. In order to fix this, I made an update to our blog aggregator to only display 2 posts from each author: https://github.com/jakartaee/jakartablogs.ee/commit/98501ddd020c5513cc9911bf1d05b36ccc64d8cb

I took a closer look and

[2021-12-08 12:45] ericpoirier commented on #1153
@TanjaObradovic can you review this page?

Thanks.

[2021-12-08 12:53] #1147 closed, assigned to nobody

[2021-12-08 12:54] shabnammayel commented on #1150
Looks good @ericpoirier we should still update the Community navigation box on the right to reflect the items in the current dropdown.

[2021-12-08 13:10] shabnammayel commented on #1150
Also events page link is missing from the navigation, we should add it to the community dropdown as well

[2021-12-08 15:50] excentrickristy commented on #1166
@ericpoirier that did resolve the issue but it looks like this still needs to be done:

"Also, I think we need to promote "Latest TCK Results" and "View All" to an h2 and then wrap the company names in h3 tags."

@shabnammayel and I are discussing meta targeting for this page and I will provide new tags if necessary.

[2021-12-08 15:52] excentrickristy commented on #1154
@ericpoirier just noticed on the live site that that meta title tag has "The Eclipse Foundation" twice in a row. Can you take a look?

Thanks!

[2021-12-08 16:03] excentrickristy commented on #1142
@ericpoirier @shabnammayel
I think this page is missing from the main menu: https://jakarta.ee/about/jakarta-ee/

[2021-12-08 16:08] excentrickristy commented on #1289
@ericpoirier can you remove the space between tech talk in the menu as well to match?

@shabnammayel since videos has been added to the community menu, it should probably be represented on the overview page?

[2021-12-08 16:56] ericpoirier commented on #1289
I updated the menu item on the following staging page:

https://deploy-preview-1352--jakartaee.netlify.app/

Let me know if there's anything else.

Thanks.

[2021-12-08 17:18] ericpoirier commented on #1166
How about we add invisible `<h2>` tags on those pages:

https://deploy-preview-1340--jakartaee.netlify.app/compatibility/
https://deploy-preview-1340--jakartaee.netlify.app/compatibility/download/

I would still add `<h3>` tags for the company names but by adding the invisible `<h2>` tags, we don't need to create special styles for this page's navigation.

Let me know if that works.

[2021-12-08 17:58] shabnammayel commented on #1289
Apologies @ericpoirier but after taking a look at the meetup page, I noticed that it's actually Tech Talk with a space. Please see https://www.meetup.com/jakartatechtalks_/
So can you please make the change for both the dropdown and the box in the overview page? thanks

[2021-12-08 17:59] ericpoirier commented on #1289
Ok will do.

[2021-12-08 18:09] ericpoirier commented on #1150
@shabnammayel I updated the sidebar and the dropdown menu on the following staging page:

https://deploy-preview-1330--jakartaee.netlify.app/community/events/

Let me know if there's anything else.

Thanks.

[2021-12-08 18:22] shabnammayel commented on #1150
Looks good Eric! but since we are arranging the overview page on an alphabetic order, I think we should arrange the dropdown and the sidebar on an alphabetic order as well.

[2021-12-08 18:26] shabnammayel commented on #1150
I just noticed that we actually merged the box for events to cover livestream as well! So we might as well update the dropdown and sidebar and drop the JakartaOne Livestream from the navigation. It's already included  in the Events box. So the Navigation bar and side bar should be: Overview, Adopt a Spec, Events, Stay Connected, Tech Talk Meet-ups, Videos.

[2021-12-08 18:41] chrisguindon commented on #1037
This feature is now live for https://ecdtools.eclipse.org/resources/blogs/. It's also used on the front page for their Whats New? section. This new widget will analyze all feeds and display the latest post.

In theory, we could look at doing the blog section to Jakarta.ee **What's new** section, if this is something we would like to do.

The posts are coming from https://ecdtools.eclipse.org/resou

[2021-12-08 19:29] ericpoirier commented on #1289
@shabnammayel I updated the Tech Talk text

https://deploy-preview-1352--jakartaee.netlify.app/

Let me know if there's anything else.

[2021-12-08 20:22] ericpoirier commented on #1150
I updated the menu and sidebar on the following staging site:

https://deploy-preview-1330--jakartaee.netlify.app/community/events/

Note that I just pushed the changes which might take a few minutes to show on staging.

[2021-12-09 13:26] shabnammayel commented on #1150
LGTM! thanks @ericpoirier

[2021-12-09 13:30] shabnammayel commented on #1289
Looks good! but +1 to @excentrickristy we need to add the "videos" to the overview page. do we have an icon for it?

[2021-12-09 13:43] ericpoirier commented on #1289
I don't think we do have an icon for that one.

[2021-12-09 13:56] ericpoirier commented on #1166
@excentrickristy can you review the above changes?

Thanks.

[2021-12-09 14:07] TanjaObradovic commented on #1153
It looks great!
Should we correct the text in the tiles for Web and Core profiles, but we can do that later.
Thanks!

[2021-12-09 14:16] shabnammayel commented on #1153
@ericpoirier please change the text in the Web Profile and Core Profile boxes to:
Web: Defines a profile of the Jakarta EE Platform specifically targeted at web applications
Core: Defines a profile of the Jakarta EE Platform specifically targeted at smaller runtimes

[2021-12-09 14:24] ericpoirier commented on #1153
The text in those boxes is being pulled from the Specifications repo:
https://github.com/jakartaee/specifications

In order to update the text from those items, we would have to update it here:
https://github.com/jakartaee/specifications/tree/master/webprofile
https://github.com/jakartaee/specifications/tree/master/coreprofile

@TanjaObradovic @ivargrimstad I'm not entirely sure of the process of

[2021-12-09 14:26] #1150 closed, assigned to nobody

[2021-12-09 14:50] ericpoirier commented on #1289
@shabnammayel that being said, I did update the staging page using an icon we already have on another Overview page.

https://deploy-preview-1352--jakartaee.netlify.app/community/

Let me know if that works.

Thanks.

[2021-12-09 21:30] excentrickristy commented on #1166
@ericpoirier unfortunately the hidden h2 doesn't work for accessibility. I know it's a pain :/

[2021-12-10 13:00] ericpoirier commented on #1037
@chrisguindon @shabnammayel I created  the following staging page for the Blogs section which is fetching data from JarkartaBlogs as well as the internal Jakarta EE blog posts. Note that there are currently no internal blog posts so for now only JakartaBlogs posts are showing.

https://deploy-preview-1329--jakartaee.netlify.app/blogs/

Since there are no mockup for that page I decided to use the s

[2021-12-10 13:55] ericpoirier commented on #1166
@excentrickristy I updated the Compatibility products sections with your recommendation of using the h2 tags for the navigation links.

https://deploy-preview-1340--jakartaee.netlify.app/compatibility/
https://deploy-preview-1340--jakartaee.netlify.app/compatibility/download/

Let me know if there's anytyhing else.

Thanks.

[2021-12-10 15:10] ericpoirier commented on #1348
@shabnammayel @excentrickristy I updated the styles for the Jakarta EE 9.1 menu on staging:

https://deploy-preview-1355--jakartaee.netlify.app/release/9.1/

Let me know if there's anything else.

Thanks.

[2021-12-10 15:31] jph152 opened #1356 "Replace "contributor" card on jakarta.ee/resources/community-cards/"
Please replace the [last card](https://jakarta.ee/resources/images/jakarta-ee-contributor-card.png) on this page with the following:

![Jakarta EE Community Cards - Large](https://user-images.githubusercontent.com/69642121/145599276-c0f26961-76de-4f84-b41c-731724f30ef7.png)

[2021-12-10 16:41] shabnammayel commented on #1289
LGTM, the space between Tech Talk is missing again :) other than that +1 thanks

[2021-12-10 19:31] shabnammayel commented on #1166
@ericpoirier we need to change the work TCK results to PRODUCT VERSION(S) (click to download) for this page https://deploy-preview-1340--jakartaee.netlify.app/compatibility/download/

To comply with trademark guidelines we created that download page and have to show the link to a downloadable product. the links seem to be right, it's the wording that should change.

[2021-12-10 19:42] ericpoirier commented on #1166
@shabnammayel Do you mean the TCK Results in the blue bar in the table or in the navitgations buttons section or both?

[2021-12-13 12:30] shabnammayel commented on #1166
The ones in the blue bar in the table @ericpoirier thanks

[2021-12-13 13:30] ericpoirier commented on #1166
I updated the title in the blue bar.

https://deploy-preview-1340--jakartaee.netlify.app/compatibility/download/

Let me know if there's anything else.

Thanks.

[2021-12-13 13:55] shabnammayel commented on #1348
LGTM! thanks @ericpoirier

[2021-12-13 13:56] #1348 closed, assigned to nobody

[2021-12-13 14:03] shabnammayel commented on #1166
Thanks, LGTM! but looking at the mockup, the text for the get listed and compatibility request buttons at the bottom of the page is missing please add below title:
Get Listed: Find out how to get your product listed on the Compatible Products page
Compatibility Request: File a Certification Request with a specification project in the GitHub repository

[2021-12-13 15:47] ericpoirier commented on #1166
I updated the content of the blocks at the bottom.

https://deploy-preview-1340--jakartaee.netlify.app/compatibility/

Let me know if there's anything else.

Thanks.

[2021-12-13 15:57] shabnammayel commented on #1166
LGTM! thanks @ericpoirier

[2021-12-13 16:06] #1153 closed, assigned to nobody

[2021-12-13 19:34] shabnammayel opened #1358 "Add the Jakarta EE 9 Specifications image to the Jakarta EE 9 release page"
Hi @ericpoirier

Can you please add a section in the Jakarta EE 9 release page https://jakarta.ee/release/9/ below the banner and above the features and benefits section and add the shared image below there?

https://xd.adobe.com/view/5e4a0b3e-7114-4b86-8d19-8f228ddb2c78-0b19/

The image should be added in the middle. thanks

[2021-12-13 19:36] ericpoirier commented on #1358
Hi @shabnammayel, can you attach the image in a format that we can use on the website such as a jpg, png?

Thanks.

[2021-12-13 19:51] ericpoirier commented on #1346
@chrisguindon If I look at the configs or the Metatags in newsroom.eclipse.org, the default conanical url is the "current-page:url". We could change the default by using hook_metatag_metatags_view_alter() and either use the value of field_news_url or we could create a new url field to deal with the conanical url only.

I created a draft MR using the hook I'm mentioning:
https://gitlab.eclipse.org/

[2021-12-13 19:57] linkfang commented on #1356
Please preview the changes here:
https://deploy-preview-1359--jakartaee.netlify.app/resources/community-cards/

Please note, the image provided in this issue is a little smaller than other card images. (1200x629 VS 1800x942)
So, if we click the image to open it in the tab, it will look smaller than the other ones.

Do we need to make sure the sizes are consistent?

[2021-12-13 20:22] jph152 commented on #1356
Let's use this version you view after clicking on the preview image. It should be the same size as the others

<img width="900" alt="Jakarta EE Community Cards - Large (1)" src="https://user-images.githubusercontent.com/69642121/145882485-75889562-0b5b-42b3-be68-ebaa4abbcf89.png">

[2021-12-13 20:52] linkfang commented on #1356
Cool!

Here is the updated version:
https://deploy-preview-1359--jakartaee.netlify.app/resources/community-cards/

[2021-12-13 21:22] chrisguindon commented on #1346
+1 I am fine with a solution that would allow us to alter the value of canonical URL using hook_metatag_metatags_view_alter() but only if the field_news_url is set and not empty since that's probably the default behavior that we want.

Please note that the marketing team can set a value for each news item. This functionally already exists in the newsroom.

You will need to make sure not to alter t

[2021-12-13 21:35] jph152 commented on #1356
+1

[2021-12-14 12:27] shabnammayel commented on #1358
@meKokabi can you please help with that? I don't have the latest one in png. thanks

[2021-12-14 13:32] meKokabi commented on #1358
@ericpoirier Hi Eric, attached includes the png format of the table/chart. For your information, I have made this in  Xd file for accessibility purposes. it has lots of texts and boxes/rows/columns. which could not be readable as image. right?
<img width="884" alt="Jakarta ee 9" src="https://user-images.githubusercontent.com/75500459/146005842-3138dfb4-3d8f-4198-a865-8b7f26aaa596.png">

[2021-12-14 13:54] chrisguindon commented on #1346
I would consider this an enhancement request since we already support the canonical URLs  in the newsroom.

[2021-12-14 14:07] ericpoirier commented on #1346
Sounds good.

[2021-12-14 14:48] #1356 closed, assigned to linkfang

[2021-12-14 21:07] shabnammayel commented on #1037
Can we add the dates similar to this page?https://jakarta.ee/news/ and also add images to the blog similar to the news page?

[2021-12-14 22:03] chrisguindon commented on #1037
We will be able to use images for blog posts that will be written for the jakarta.ee website.

For example, here's a post that Brian wrote for the ECDTOOLS website:
https://ecdtools.eclipse.org/resources/blogs/2021-11-02-embedded/

[2021-12-15 13:37] ericpoirier commented on #1037
@shabnammayel I think its a good idea to update the layout for the dates like the news page but at this point I think this is something we could improve in Q1. I think we should focus on merging what we have right now in order to accomplish our MBOs and add that as a todo next year.

I can open an issue to improve the layout of the blogs page so that it looks like the news page.

[2021-12-15 13:43] chrisguindon commented on #1037
I tend to agree with Eric. Our focus this quarter was finding a way to display blogs on jakartablogs.ee on jakarta.ee. However, there is still a lot of work to be done with blogs next quarter.

We need to define guidelines and process to enable staff and community members for submitting a blog post on jakarta.ee. At the same time, we could look at improving the list of blogs.

[2021-12-15 13:50] ericpoirier commented on #1037
Also to answer the image question. I think @shabnammayel means images on the blogs page and not in individual blog posts.

In order to add images in  the summary, we will also have to update the script to fetch them from the blog sources.

[2021-12-15 14:06] chrisguindon commented on #1037
We have more flexibility with posts written on the website versus those on jakartablogs.ee. For those posts, the best thing we could do is pick an image from the content: https://jakartablogs.ee/rss20.xml

However, with posts on jakarta.ee, we can create a page parameter that would allow us to associate an image to a blog post.

We would probably need to update the XML template of the site to shar

[2021-12-15 15:16] shabnammayel commented on #1037
okay sounds good! let's take note then and create an issue to improve the layout in Q1. Thanks

[2021-12-15 15:38] #1037 closed

[2021-12-15 15:41] shabnammayel commented on #1166
@ericpoirier please don't move forward with this page yet. We noticed that the new design is ignoring the full list of products, Full Platform and Web Profile. I reached out to @excentrickristy  to see if it's something that we have missed in the design. If that's the case, we need to come up with a solution to properly show case the full list. thanks

[2021-12-15 15:42] ericpoirier opened #1361 "Improve Blogs layout - Q1"
Now that we are showing blogs items coming from JakartaBlogs and internal blog items, it was discussed in issue #1037 so use the same layout as the News page.

In order to do that, we will need to update the script that pulls data from blog sources so that we can have the day and month.

It was also requested to be able to add the image (if available) in the summary of the blog items.

[2021-12-15 16:01] linkfang commented on #1358
Hi @shabnammayel ,

I added the image and it is also linked to the XD URL for people who need to view it in a bigger size.
Please preview here:
https://deploy-preview-1360--jakartaee.netlify.app/release/9/

[2021-12-15 20:02] ericpoirier commented on #1272
@ivargrimstad This is now fixed since we merged the redesign work for the Specifications section.

Let me know if there's anything else.

Thanks.

[2021-12-15 20:02] #1272 closed, assigned to nobody

[2021-12-15 20:12] #1175 closed, assigned to nobody

[2021-12-15 20:13] ericpoirier commented on #457
@chrisguindon @TanjaObradovic now that we have updated the main menu while implementing the redesign of Jakarta EE, is this issue still needed?

[2021-12-15 20:19] chrisguindon commented on #457
I would argue that this has been covered by the website re-design!

I am closing this bug! @TanjaObradovic Please re-open if you think we still need this issue!

[2021-12-15 20:19] #457 closed

[2021-12-15 20:25] ericpoirier commented on #1253
Hi @rsoika, sorry for the late response but I don't think this is the right channel to ask questions about servers.

I would suggest asking your question on the Eclipse Forum:
https://www.eclipse.org/forums/

Thanks.

[2021-12-15 20:25] #1253 closed, assigned to nobody

[2021-12-16 16:38] ericpoirier commented on #1159
Closing this issue since there seems like the work got merged to production.

However, please reopen if you think work is not done here.

Thanks.

[2021-12-16 16:38] #1159 closed, assigned to nobody

[2021-12-16 16:41] ericpoirier commented on #1054
I think its a good idea to change the default branch to main.

Would be more consistent with the other repos and/or more inline with what the default branch of future repos are going to be named.

[2021-12-16 17:00] ericpoirier commented on #1160
@shabnammayel what information do you expect to be shown in the "View a Specification" dropdown?

Thanks.

[2021-12-16 17:04] ericpoirier commented on #1174
@autumnfound was this issue meant to track the development of the dropdown items in each boxes or something else on the page?

Thanks.

[2021-12-16 17:11] ericpoirier commented on #1161
We are currently listing videos in a data file so we could easily add a param in there for the category and use those values in the dropdown widget.

[2021-12-17 14:41] shabnammayel commented on #1358
LGTM! Can we add the exact image in the 9.1 release page. The only difference will be in the title: Jakarta EE 9.1 Platform and Jakarta EE 9.1 Web Profile. thanks

[2021-12-17 15:21] linkfang commented on #1358
Cool!
Hi @meKokabi , can you create a new XD link and give me a .jpg/.png file so that I can add them to 9.1 release page? Thanks!

[2021-12-17 15:41] meKokabi commented on #1358
Sure! Will do shortly.

[2021-12-17 16:16] meKokabi commented on #1358
https://eclipse.zoom.us/j/87880876765?pwd=YUc5OG5wc3hYR29iYmZRVUxCdzdaZz09
<img width="371" alt="Jakarta EE9 1" src="https://user-images.githubusercontent.com/75500459/146574876-5a7b5ace-a40c-48f1-bb97-3ae31c3e0dbe.png">

[2021-12-17 16:53] linkfang commented on #1358
Hi Mehrnaz, the link you posted is a zoom link instead of the XD one, can you correct this please, thanks!

[2021-12-17 16:58] meKokabi commented on #1358
Sorry Here You are:
https://xd.adobe.com/view/cda36cbb-814f-4a38-b78f-0a117307f340-98f0/

[2021-12-17 16:58] linkfang commented on #1358
No problem, thanks for the quick response!

[2021-12-17 17:53] linkfang commented on #1358
Hi @shabnammayel , please preview the 9.1 here:

https://deploy-preview-1360--jakartaee.netlify.app/release/9.1/

[2021-12-17 17:54] shabnammayel commented on #1358
LGTM! thanks

[2021-12-20 16:21] autumnfound opened #1363 "Chinese subpages sometimes loading sidebar on pages it shouldn't"
The sidebar changes column layouts for the page, which results in some broken functionality when it isn't accounted for. This is happening on https://jakarta.ee/zh/membership/, where the Chinese copy has a sidebar that isn't on the English copy.

Discovered this while reviewing #1362.

[2021-12-20 19:24] shabnammayel opened #1364 "Remove the old sidebars from pages"
please remove the old sidebars from the following pages:

https://jakarta.ee/membership/members/
https://jakarta.ee/community/events/
https://jakarta.ee/committees/specification/guide/
https://jakarta.ee/about/jesp/
https://jakarta.ee/legal/trademark_guidelines/
https://jakarta.ee/committees/

[2021-12-21 02:28] laliwa commented on #1363
Is there anything I should do with this?

[2021-12-21 13:10] shabnammayel commented on #1166
Hi @ericpoirier for the compatibility page please change the design to the following:

Tab 1: (is the current tap that we have live on the website)
 https://invis.io/AX10M9QL74RN#/462294357_Compatibility_Tab_1

Tab 2: after testing the implemented tab, we decided to change the design to this format. Please change the title in the table to "CERTIFICATION RESULTS". In the mock up it is certification

[2021-12-21 13:12] shabnammayel commented on #1167
For the View all tab which is the current download tab, we are making a slight change:

https://projects.invisionapp.com/share/AX10M9QL74RN#/screens/462294356_Compatibility_Tab_3

Please remove the certification results column from the table in the tab.

[2021-12-21 13:53] autumnfound commented on #1363
No, we can look into this, though it may take some time as I'm the only one in for the next 2 days and then we're all off until the new year. I'll see if I can get it done today

[2021-12-22 00:46] excentrickristy commented on #1167
@ericpoirier for this page and the certification results tab I discussed with Shabnam the possibility of having actual URLs for each version of Jakarta and that page would only contain the links for those releases. I wasn't sure if the current setup would rely on a dynamic loading of the content without urls, but if we could have urls for each release it would be great for indexability and search

[2021-12-22 00:53] excentrickristy commented on #1167
Link to design files: https://www.dropbox.com/s/2hzszsowkimzhu6/Jakarta-Design-4Drev2.ai?dl=0

[2021-12-22 00:54] excentrickristy commented on #1166
Link to design files: https://www.dropbox.com/s/2hzszsowkimzhu6/Jakarta-Design-4Drev2.ai?dl=0

[2022-01-04 13:20] shabnammayel opened #1367 "Please update and remove RedHat from the Jakarta EE Committees list"
Please remove RedHat representatives from the Jakarta EE Committees here https://jakarta.ee/committees/

Marketing Committee: John Clingan - Red Hat https://jakarta.ee/committees/marketing/
Specification Committee: Scott Stark - Red Hat, Mark Little - alternate https://jakarta.ee/committees/specification/
Steering Committee: Mark Little - Red Hat, Scott Stark - alternatehttps://jakarta.ee/committe

[2022-01-04 15:44] linkfang commented on #1358
Hi @meKokabi , can you give me a .jpg/.png image for Jakarta 9.1 chart with 1768 x 1656 or higher resolution?
As we decided to show a higher resolution image for the chart after click. (which was implemented as an XD link)

Thanks!

[2022-01-04 16:04] meKokabi commented on #1358
Hi @linkfang Here You Are:

![1768-1656 ](https://user-images.githubusercontent.com/75500459/148087622-def8f7d9-6c8c-4668-9823-f7510175e67b.jpg)

The optimized image:

![Optimized](https://user-images.githubusercontent.com/75500459/148087711-013c1040-d2c6-4691-bf55-40086b8e9f75.jpg)

The XD link:
XD link: https://xd.adobe.com/view/e11fef13-da1c-445e-badf-fb25da5e5fcd-b44c

[2022-01-04 16:52] ericpoirier commented on #1363
@autumnfound other then the membership page, did you notice any other pages where this issue occurs?

Thanks.

[2022-01-04 18:58] linkfang commented on #1358
Thanks @meKokabi !
And can you give me a Jakarta 9 chart in this format?

The previous image has a white padding-right, and I think the format of 9.1 version looks better!
Thanks a lot!

[2022-01-05 13:52] meKokabi commented on #1358
Hi @linkfang
Here You Are, the EE 9 jpg and optimized jpg
![Jakarta EE9](https://user-images.githubusercontent.com/75500459/148228539-ab8affaa-1302-44e5-95ef-b5839daaefc8.jpg)
![JakartaEE9Optimized](https://user-images.githubusercontent.com/75500459/148228555-d079048d-2330-4195-9967-5cc45e78c363.jpg)

[2022-01-05 14:14] linkfang commented on #1358
Awesome! Thanks @meKokabi

[2022-01-05 16:26] linkfang commented on #1367
Hi @shabnammayel , please preview the changes here:

https://deploy-preview-1368--jakartaee.netlify.app/committees/marketing/
https://deploy-preview-1368--jakartaee.netlify.app/committees/specification/
https://deploy-preview-1368--jakartaee.netlify.app/committees/steering/

[2022-01-05 17:02] ericpoirier commented on #1166
Shabnam and I had a quick call to discuss the changes requested and here are some clarifications to what needs to be done:

Tab 1:

- [x] Use bordered boxes with each items to tie in with the design of other pages
- [x] Add link to each logos (We should use the Download url)

Tab 2:

- [x] - Add logos to current table
- [x] - Certification Results links needs to be on their separate lines
- [x] -

[2022-01-05 17:04] ericpoirier commented on #1167
Shabnam and I had a quick call to discuss the changes requested and here are some clarifications to what needs to be done:

Tab 3:

- [x] Create a new page to list the Download links
- [x] Each links should be on their own line
- [x] Links should be blue
- [x] Ignore the Certification column from the design, this should not be implemented

[2022-01-05 17:08] ericpoirier commented on #1364
@shabnammayel I updated the sidebars on the following staging page:
https://deploy-preview-1369--jakartaee.netlify.app/

Please review and let me know if you'd like me to change anything else.

Thanks.

[2022-01-05 17:19] shabnammayel commented on #1364
The only page that still has the sidebar is the events page https://jakarta.ee/community/events/ other than that LGTM! thanks

[2022-01-05 17:30] ericpoirier commented on #1364
The sidebar on the events page is new and was provided in the redesign I didn't think you'd want to remove it. Which part of the sidebar you'd like to remove?

[2022-01-05 21:28] chrisguindon commented on #1321
I spoke to @shabnammayel earlier today about this.

**My understanding of the problem is the following:**

The https://jakarta.ee/news/ page must include news items from the newsroom.

**Solution:**

In order for a news item from https://jakarta.ee/news/  to appear on our homepage, we need someone to submit the news item to the Eclipse Newsroom.

If we make sure that every post made to https://jak

[2022-01-05 21:38] dblevins commented on #1321
Hi All,

Simply manually submitting the posts from https://jakarta.ee/news/ to newsroom -- like any other article would be posted to newsroom -- was the agreement we had when we discussed this in the Marketing Committee.  That would allow the jakarta.ee homepage to include news links from both newsroom and jakarta.ee/news/.  It also has the benefit that news items on jakarta.ee/news/ are additiona

[2022-01-05 21:49] chrisguindon commented on #1321
@dblevins My understanding is that we would like to list all jakarta.ee news on the same page. At the moment, https://jakarta.ee/news/ is only showing news items that were created for this website under: https://github.com/jakartaee/jakarta.ee/tree/src/content/news

An alternative solution would be to keep https://jakarta.ee/news/ as-is and create a new page for when users want to see all the news

[2022-01-05 22:34] dblevins commented on #1321
The agreement and goal when this was created was for there to be a section on the jakarta.ee website where only official announcements made by the working group itself to be found.  Part of that was an explicit goal to not aggregate outside posts from community members, vendors, or 3rd parties.  As well to no longer host any kind of official working group announcements like releases or new members

[2022-01-06 02:21] chrisguindon commented on #1321
@dblevins It will still be possible for the Working Group to post/submit articles under jakarta.ee/news/. My proposal will not change that.

I am not sure what you mean by 3rd party news since all news items are moderated by the Eclipse Foundation Marketing team.

My understanding of the current issue is that we have a news section on our homepage. Under that section, we have a link to view all ne

[2022-01-06 02:31] chrisguindon commented on #1321
Why do you say it wasn't executed yet?

We now have a blog section on jakarta.ee which includes all the posts from jakartablogs.ee. On top of that, our solution does allow the publication of blog post articles on the working group website.

https://github.com/jakartaee/jakarta.ee/issues/1037#issuecomment-989083747
https://github.com/jakartaee/jakarta.ee/issues/1037#issuecomment-990953383

As menti

[2022-01-06 15:03] #1358 closed, assigned to linkfang

[2022-01-06 15:20] shabnammayel opened #1370 "Add "About Jakarta EE" page to the navigation bar"
@ericpoirier we created a "About Jakarta EE" page. That page should be added to the "About" dropdown under the "Jakarta EE" dropdown about the frequency asked questions link. It is currently missing from the navigation bar and can't be found :) thanks

[2022-01-06 15:43] chrisguindon commented on #1321
@ericpoirier Can you make sure we have a bug created to track the remaining changes that we need to do to enable the community/staff to post blog posts please?

We need to define guidelines and processes to enable staff and community members for submitting a blog post on jakarta.ee.

[2022-01-06 15:46] chrisguindon opened #1371 "Define blogging guidelines and process to enable staff and community members"
As a follow-up to the work we've done in Q4 in regards to new blog section on Jakarta.ee:
https://github.com/jakartaee/jakarta.ee/issues/1037

We need to define guidelines and processes to enable staff and community members for submitting a blog post on jakarta.ee.

I would expect this to be documented in the README.md.

[2022-01-07 12:52] ericpoirier commented on #1166
@shabnammayel you can find an updated version of the Compatible products page on the following staging page:
https://deploy-preview-1372--jakartaee.netlify.app/compatibility/

Let me know if everthing is what you expected.

Thanks.

[2022-01-07 12:53] ericpoirier commented on #1167
@shabnammayel you can find the updated "View All" section on the following staging page:

https://deploy-preview-1372--jakartaee.netlify.app/compatibility/

Let me know if you'd like to change anything.

Thanks.

[2022-01-07 13:23] shabnammayel commented on #1167
Thanks Eric, looks good. Couple of things:

-Please add an underline for all the links in both Certification results and download compatible products tables to make it clear the links are to download the product.
-Please change the title of the table on the second tab from "Certification" to "Certification Results"
-similar to the mockup, please make the sidebar highlighted for the release version

[2022-01-07 13:24] shabnammayel commented on #1166
I have added my comments on this issue https://github.com/jakartaee/jakarta.ee/issues/1167 thanks

[2022-01-07 16:13] ericpoirier commented on #1167
After a quick chat on Slack we agreed to keep the links as is and only update the sidebar and Certification title.

Here is the updated staging page:
https://deploy-preview-1372--jakartaee.netlify.app/compatibility/certification/9.1/

Let me know if there's anything else.

[2022-01-07 16:36] shabnammayel commented on #1167
LGTM! Thanks Eric!

[2022-01-10 14:31] shabnammayel commented on #1367
LGTM! thanks

[2022-01-10 14:34] #1367 closed, assigned to linkfang

[2022-01-10 16:01] ericpoirier commented on #1174
I'm going to close this issue since we are moving away for this design.

Here is the design going forward:
https://projects.invisionapp.com/share/AX10M9QL74RN#/screens/462294357

[2022-01-10 16:01] #1174 closed, assigned to nobody

[2022-01-10 16:10] ericpoirier commented on #1173
Closing this issue since we are moving away from this new design and using the old design instead.

Here is the updated layout going forward:
https://projects.invisionapp.com/share/AX10M9QL74RN#/screens/462294357

[2022-01-10 16:10] #1173 closed, assigned to nobody

[2022-01-10 16:12] ericpoirier commented on #1161
@shabnammayel do we have a list of categories that we can use for each of the videos listed on that page?

Thanks.

[2022-01-10 16:17] shabnammayel commented on #1160
@TanjaObradovic and @excentrickristy can you help with this please? I was on leave when the goals for this mock up and dropdown were discussed last year. and since this is for Spec pages, I want to make sure we are all aligned! thanks

[2022-01-10 16:27] shabnammayel commented on #1161
We can use the "playlist" titles https://www.youtube.com/c/JakartaEE/playlists  from our YouTube channel for the categories. @excentrickristy can you please confirm that was the idea when creating this mockup? thanks

[2022-01-10 19:24] ericpoirier commented on #1161
@shabnammayel can you make me a list of those categories and to which videos it should be tied to?

Thanks.

[2022-01-10 20:54] TanjaObradovic opened #1373 "Publishing meeting minutes for Steering Committee"
Can you please publish the following  Steering Committee meeting minutes at https://jakarta.ee/committees/steering/?

[Minutes of the November 9, 2021 Jakarta EE Steering Committee Meeting - Google Docs.pdf](https://github.com/jakartaee/jakarta.ee/files/7841831/Minutes.of.the.November.9.2021.Jakarta.EE.Steering.Committee.Meeting.-.Google.Docs.pdf)
[Minutes of the November 23, 2021 Jakarta EE Steer

[2022-01-10 21:17] TanjaObradovic commented on #1160
It is better for @excentrickristy to respond as there could be few different ways to answer it, but let me try.
I believe the drop-down should show list of the individual specifications that are part of the Jakarta EE Platform 9 release (in this case).  @excentrickristy, please confirm. Thanks!

[2022-01-11 13:29] ericpoirier commented on #1160
@TanjaObradovic wouldn't it make more sense to have a list of the items located on this page in the dropdown:
https://jakarta.ee/specifications/platform/

For example, all the Jakarta EE Platforms would have the same list.

And then if you're looking at a Jakarta EE Web Profile item the dropdown would be populated with the list from the following page:
https://jakarta.ee/specifications/webprofile/

[2022-01-11 16:24] ZahraFazli opened #1374 "Remove Jelastic from the Jakarta EE Website"
Jelastic is no longer a foundation member. Kindly remove their logo from the members page on Jakarta EE website: https://jakarta.ee/membership/members/

[2022-01-11 17:37] shabnammayel opened #1375 "Remove Jelastic's representative from the Jakarta EE Marketing Committee list on the Website"
Please remove Jelastic's representative from the Jakarta EE Marketing Committee's list on the Website:
Marketing Committee: Tetiana Fydorenchyk https://jakarta.ee/committees/marketing/

Thanks

[2022-01-11 20:00] linkfang commented on #1373
Hi @TanjaObradovic ,

Please preview the changes here:
https://deploy-preview-1376--jakartaee.netlify.app/committees/steering/

[2022-01-11 20:34] TanjaObradovic commented on #1160
That is correct if we are not showing the versions of individual specifications.

For example Jakarta EE Platform 10 will have different versions of the individual specifications then Jakarta EE 9.

[2022-01-11 21:36] linkfang commented on #1374
Hi @ZahraFazli , do we also need to remove Jelastic from the testimonials section?
![image](https://user-images.githubusercontent.com/43075439/149025283-45ca09a6-2654-4eb6-89d1-c1dda4bc42d9.png)

[2022-01-11 22:08] linkfang commented on #1374
Please preview the change here:

https://deploy-preview-1377--jakartaee.netlify.app/membership/members/

I haven't removed it from testimonials section. Let me know if we need to do so.

[2022-01-11 22:09] linkfang commented on #1375
Hi @shabnammayel , please preview the change here:

https://deploy-preview-1377--jakartaee.netlify.app/membership/members/

[2022-01-11 22:09] linkfang commented on #1375
Hi @shabnammayel , please preview the change here:

https://deploy-preview-1377--jakartaee.netlify.app/committees/marketing/

[2022-01-11 22:40] TanjaObradovic opened #1378 "Red Hat is now Enterprise member"
Can we update and move Red Hat into Enterprise member category?
https://jakarta.ee/membership/members/

Also please remove Red Hat the carousel on the home page as well
https://jakarta.ee/

[2022-01-12 01:24] excentrickristy commented on #1160
The menu was supposed to be a quick navigation to get to the other specifications, e.g. a list of the platform/profile and individual specs, just leading to the main pages for each.

I see what @ericpoirier is saying though and if you wanted to add a side bar to display the different versions of the current spec, we could maybe use the sidebar from this design: https://invis.io/AX10M9QL74RN#/46229

[2022-01-12 03:32] excentrickristy commented on #1161
@shabnammayel the original idea here was just that we would choose some broad categories such as "Tech Talks", "Update Calls", "JakartaOne" and "Interviews". The team did not spend any time defining these categories. In the interest of keeping the list small and user friendly though, I would recommend keeping these categories very high-level.

[2022-01-12 12:21] shabnammayel commented on #1161
okay then yes, these are what we have in playlists as well.
@ericpoirier
"JakartaOne Livestream 2021": https://www.youtube.com/playlist?list=PLutlXcN4EAwCxiFhy8X7vi4gxqVUNbqkI
"Jakarta Tech Talks": https://www.youtube.com/playlist?list=PLutlXcN4EAwC64sgFLJSWAgQJvVo6T4Dh
Jakarta EE Update Calls: https://www.youtube.com/playlist?list=PLutlXcN4EAwDCVHTlhymKrKBwSyddZoc8
"JakartaOne Livestream en Españ

[2022-01-12 14:17] #1373 closed, assigned to linkfang

[2022-01-12 14:24] ericpoirier commented on #1160
For this issue I would like to try and avoid adding features. If we are to add a new feature to a page, I would create a new issue.

[2022-01-12 14:26] ericpoirier commented on #1161
@shabnammayel Ok so my understanding is that we would use the playlist titles as "categories" and associate videos to those categories. Correct?

[2022-01-12 14:45] chrisguindon commented on #1374
//cc @shabnammayel @ZahraFazli,

Please see @linkfang question ^^. We would like to know if we now need to remove their testimonial!

[2022-01-12 15:16] TanjaObradovic commented on #1160
all makes sense to me as well. thanks!

[2022-01-12 15:42] linkfang commented on #1378
Hi @TanjaObradovic ,

Please preview the changes here:

carousel: https://deploy-preview-1379--jakartaee.netlify.app/
members page: https://deploy-preview-1379--jakartaee.netlify.app/membership/members/

[2022-01-12 15:42] TanjaObradovic commented on #1378
looks great, thanks!

[2022-01-12 17:16] shabnammayel commented on #1374
+1 Please remove their testimonial as well.

[2022-01-12 19:20] brideck opened #1380 "Open Liberty 21.0.0.12 as a Compatible Software Product for Jakarta EE 9.1"
To include your Compatible Software Product on the Jakarta EE official list of Compatible Software Products, please provide the following information:

**The URL to the Eclipse Foundation profile to confirm that you are an authorized representative of the company whose product information you are submitting**
[Brian Decker - IBM - Eclipse Profile](https://accounts.eclipse.org/users/bdeckerhdt)

**

[2022-01-12 19:21] linkfang commented on #1374
Cool, here is the updated version (removed their testimonial)
https://deploy-preview-1377--jakartaee.netlify.app/

Membership page:
https://deploy-preview-1377--jakartaee.netlify.app/membership/members/

[2022-01-12 19:50] #1378 closed, assigned to linkfang

[2022-01-12 19:58] brideck commented on #1380
Note that this listing should supersede the previous one for the Open Liberty Beta release.

Also, note that this request contains a different logo file than the previous request.  We would like to use this new one instead.

[2022-01-14 15:37] shabnammayel commented on #1374
LGTM! thanks

[2022-01-14 16:09] #1374 closed, assigned to linkfang

[2022-01-14 16:09] #1375 closed, assigned to linkfang

[2022-01-14 21:03] linkfang commented on #1380
Hi @brideck , @ivargrimstad , @TanjaObradovic ,

Please preview the changes here:
https://deploy-preview-1381--jakartaee.netlify.app/compatibility/#tab-9_1

[2022-01-14 22:36] brideck commented on #1380
Is there a way to have the three links for the different Java versions be on three separate lines for each section?  That list is pretty hard to read as-is, unless you luck into the right browser width.

[2022-01-17 16:21] linkfang commented on #1380
Sure, please preview the change here:
https://deploy-preview-1381--jakartaee.netlify.app/compatibility/#tab-9_1

[2022-01-17 16:53] brideck commented on #1380
Looks great to me.  Thanks!

[2022-01-17 17:17] TanjaObradovic opened #1382 "Adding Emily Jiang as alternate on the Spec Committee"
Can you please update
https://jakarta.ee/committees/specification/
Under Committee Members for IBM line

Please have
Tom Watson - IBM, Emily Jiang - alternate

Instead
Kevin Sutter - IBM, Tom Watson - alternate

[2022-01-17 17:23] ivargrimstad commented on #1380
LGTM +1

[2022-01-17 18:33] #1380 closed, assigned to linkfang

[2022-01-18 13:33] shabnammayel commented on #1364
I reached out to Kristy as well and we think the side bar "Overview" table should go. That will be more consistent with our current design on all other pages as well.

[2022-01-18 14:22] ericpoirier commented on #1364
@shabnammayel The overview sidebar was removed from the Events page on the following staging page.

https://deploy-preview-1369--jakartaee.netlify.app/community/events/

Let me know if there's anything else.

Thanks.

[2022-01-18 14:23] shabnammayel commented on #1364
LGTM! thanks

[2022-01-18 14:59] #1370 closed, assigned to ericpoirier

[2022-01-18 15:25] #1364 closed, assigned to ericpoirier

[2022-01-18 17:05] linkfang commented on #1382
Hi @TanjaObradovic ,
Please preview the change here:
https://deploy-preview-1384--jakartaee.netlify.app/committees/specification/

[2022-01-20 15:10] TanjaObradovic commented on #1382
Looks great! Thanks!

[2022-01-20 15:53] #1382 closed, assigned to linkfang

[2022-01-21 16:32] shabnammayel commented on #1321
After reading the comments above, I think the announcement section is a better fit for the current content that is published on  https://jakarta.ee/news/. The goal of the current announcement section on the homepage is to list only all the official working group announcement such as new releases or new WG members. and the goal of the News section of the website is to list all community member news

[2022-01-24 16:45] Dexmaster commented on #1321
I believe there is small misunderstanding in few points

Originally it was named announcements but was migrated to news to provide same functionality to workgroup to add articles too, announcements could be a category/section in news. (P.S. I have checked PR #879, the reason it was moved to news `The consensus is that "announcements" will be rebranded as "news"`)

You can show news posts on main p

[2022-01-25 16:26] ericpoirier commented on #1161
@shabnammayel Do you know when I should expect the list of categories and new videos to add to the site?

Thanks.

[2022-01-25 18:47] shabnammayel commented on #1161
@ericpoirier we can use the ones I added previously:
"JakartaOne Livestream 2021": https://www.youtube.com/playlist?list=PLutlXcN4EAwCxiFhy8X7vi4gxqVUNbqkI
"Jakarta Tech Talks": https://www.youtube.com/playlist?list=PLutlXcN4EAwC64sgFLJSWAgQJvVo6T4Dh
Jakarta EE Update Calls: https://www.youtube.com/playlist?list=PLutlXcN4EAwDCVHTlhymKrKBwSyddZoc8
"JakartaOne Livestream en Español 2021": https://ww

[2022-01-25 20:08] ericpoirier commented on #1161
Based on our last meeting, I thought you were going to provide me a list of new videos to add to the Videos page as well as a list of categories to group all the videos.

I don't mind using the categories you are providing just now but can you tell me which videos should go with which categories?

Thanks.

[2022-01-26 14:07] ericpoirier commented on #1160
I created a PR to add the sidebar widget.

https://deploy-preview-1385--jakartaee.netlify.app/specifications/platform/

Let me know if you'd like to change anything.

Thanks.

[2022-01-26 16:46] ericpoirier commented on #1361
I created a PR to update the blogs layout.

https://deploy-preview-1387--jakartaee.netlify.app/news/

[2022-01-26 18:40] #1363 closed, assigned to nobody

[2022-01-27 13:43] excentrickristy commented on #1160
Looks great, I really like this added functionality!

[2022-01-27 19:57] cesarhernandezgt commented on #1321
Hi @shabnammayel  @ericpoirier @chrisguindon @Dexmaster

After looking at what others are doing with this like the docker page: https://www.docker.com/company/newsroom [1], the following is a proposal to allow even more unification (between announcements and nes from newsroom API) from a UI point of view and don't sacrifice functionality was already agreed in the /news page and also kept the newsr

[2022-01-28 17:07] chrisguindon commented on #1321
As a reminder, the problem that we are trying to solve is the following:

The **view all** news link on our homepage links to a page with only a subset of all our Jakarta news: https://jakarta.ee/news/

That's not correct. Users are expecting a page that includes all news related to jakarta.ee.

https://jakarta.ee/news/ used to be a page with all our news but there was a consensus to replace our e

[2022-01-31 14:46] #1160 closed, assigned to ericpoirier

[2022-01-31 19:05] shabnammayel opened #1390 "Add the new Cloud Native Java eBook to the website"
Please add the new Cloud Native Java eBook to the resource page here: https://jakarta.ee/resources/#ebooks

The name should be added to the ebook section above the current one as: How Jakarta EE Delivers on the Vision for Open Source, Cloud Native Java

the URL: https://outreach.jakartaee.org/open-source-cloud-native-java-ebook?hs_preview=vUXuuJeF-64105276785

Thanks

[2022-02-01 16:47] TanjaObradovic opened #1391 "Please update Payara alternate for Jakarta EE Steering Committee"
On the page https://jakarta.ee/committees/steering/
under
_Committee Members_

Please replace Eliot Martin with  Hadar Vorenshtein

It should look like this
Steve Millidge - Payara, Hadar Vorenshtein - alternate

[2022-02-02 13:24] shabnammayel opened #1392 "Increase the font size on the navigation bar"
Can you please increate the font size on the navigation bar of the website? it is too small. thanks

[2022-02-02 13:29] shabnammayel commented on #1392
Also can you please move the blog button under the community drop down and replace it with the resources button to the main navigation bar since there are many items and useful resources under the resources dropdown which are currently very difficult to find.

[2022-02-02 14:57] ericpoirier commented on #1391
Hi @TanjaObradovic, please review the following changes:

https://deploy-preview-1394--jakartaee.netlify.app/committees/steering/

Thanks.

[2022-02-02 19:49] linkfang commented on #1390
Hi @shabnammayel , please preview the change here:
https://deploy-preview-1396--jakartaee.netlify.app/resources/#ebooks

[2022-02-02 19:50] shabnammayel commented on #1390
LGTM! thanks @linkfang

[2022-02-03 13:15] ericpoirier commented on #1392
@shabnammayel please review the following staging page:

https://deploy-preview-1395--jakartaee.netlify.app/

I updated the font size in the menu and moved the menu items.

Let me know if there's anything else.

[2022-02-03 13:28] #1390 closed, assigned to linkfang

[2022-02-03 13:51] shabnammayel commented on #1392
Thanks @ericpoirier the font size of the navigation bar definitely looks better and is more visible now!

minor edit: please move the blog in the "Community" dropdown to the top below "Adopt a spec" as I believe that dropdown is on an alphabetic order.

Thanks

[2022-02-04 13:11] ericpoirier commented on #1392
@shabnammayel I updated the order of the Community dropdown

https://deploy-preview-1395--jakartaee.netlify.app/

Let me know if there's anything else.

Thanks.

[2022-02-04 13:12] shabnammayel commented on #1392
LGTM! Thanks @ericpoirier

[2022-02-07 14:01] #1392 closed, assigned to ericpoirier

[2022-02-07 15:04] ericpoirier commented on #1161
After discussion with @shabnammayel, i'm going to get the Top 5 videos of each lists and add them to the video's data file.

We should also look at adding a view more link when selecting a category that would go to that category's youtube playlist.

[2022-02-07 15:35] TanjaObradovic commented on #1391
Looks great!

[2022-02-07 16:40] arjantijms opened #1397 "Organise https://jakarta.ee/specifications/"
Currently the landing page for the specifications at https://jakarta.ee/specifications is a little unwieldy. It lists all the Jakarta Specification projects in one big list, which I think sends the wrong message now when we try to make Jakarta EE a lean and mean platform.

Within the main list, without any marker, there are stable/pruned projects like:

* Jakarta Deployment
* Jakarta Management
*

[2022-02-07 16:54] mnriem commented on #1397
Maybe consider using Markdown so folks can more easily contribute?

[2022-02-08 07:12] ivargrimstad commented on #1397
@arjantijms  As far as I know, a filtering mechanism is planned that will achieve what you are suggesting...

@mnriem The website is written in Hugo markdown

[2022-02-08 13:23] TanjaObradovic opened #1398 "Publishing Steering Committee Meeting minutes"
Can you please publish Steering Committee Meeting minutes?

https://jakarta.ee/committees/steering/

[Minutes of the Jan 11, 2022 Jakarta EE Steering Committee Meeting - Google Docs.pdf](https://github.com/jakartaee/jakarta.ee/files/8024115/Minutes.of.the.Jan.11.2022.Jakarta.EE.Steering.Committee.Meeting.-.Google.Docs.pdf)
[Minutes of the November 30, 2021 Jakarta EE Steering Committee Meeting - G

[2022-02-08 14:19] shabnammayel opened #1399 "Publish the previous Marketing Committee Meeting Mins"
Please publish the following Marketing Committee Meeting Mins:
[Jakarta EE Marketing Committee Meeting - January 20, 2022 (11_00 ET).pdf](https://github.com/jakartaee/jakarta.ee/files/8024523/Jakarta.EE.Marketing.Committee.Meeting.-.January.20.2022.11_00.ET.pdf)
[Jakarta EE Marketing Committee Meeting -January 6, 2022 (11_00 ET).pdf](https://github.com/jakartaee/jakarta.ee/files/8024524/Jakarta.EE

[2022-02-08 15:56] linkfang commented on #1398
Hi @TanjaObradovic ,

Please preview the updates here:
https://deploy-preview-1400--jakartaee.netlify.app/committees/steering/

[2022-02-08 15:57] linkfang commented on #1399
Hi @shabnammayel ,

Please preview the updates here:
https://deploy-preview-1400--jakartaee.netlify.app/committees/marketing/

[2022-02-08 16:05] TanjaObradovic commented on #1398
looks great! thanks!!

[2022-02-08 18:36] shabnammayel commented on #1399
LGTM! thanks

[2022-02-08 19:07] DmitriGit opened #1401 "Page "https://jugpe.com.br/" doesn't exist: Request to send us the right URL of "JUG PE"."
Hello,

1) on the page "[https://jakarta.ee/specifications/jsonp/](https://urldefense.com/v3/__https:/jakarta.ee/specifications/jsonp/__;!!ACWV5N9M2RV99hQ!bx4hE0SK8SQPNEwhO4GxkGNXJul6mXaq8R2Vok-vgsN5sxFN52a6XcPc75glYi-UT7SX$)" ("Jakarta EE JSON Processing" project's page) a link to "JUG PE" (see the image "JUG PE") point to a site that doesn't exists - I have "Page doesn't exists" when click on it

[2022-02-08 19:29] #1398 closed, assigned to linkfang

[2022-02-08 19:29] #1399 closed, assigned to linkfang

[2022-02-08 19:30] linkfang commented on #1398
NP! The changes should be live soon! (around 15 mins)

[2022-02-08 19:30] linkfang commented on #1399
NP! The changes should be live soon! (around 15 mins)

[2022-02-08 19:31] ericpoirier commented on #1401
@shabnammayel would you know how we can get the proper url for JUG PE?

Thanks.

[2022-02-08 19:39] ivargrimstad commented on #1401
Maybe @vinyfalcao can help?

[2022-02-09 14:15] TanjaObradovic commented on #1401
Until we hear from  @vinyfalcao  or maybe @otaviojava, we can use this link https://www.linkedin.com/in/jug-pe-713ab1191/?originalSubdomain=br

[2022-02-09 21:05] linkfang commented on #1401
The link has been set to the LinkedIn page for now, please preview the change here:

https://deploy-preview-1405--jakartaee.netlify.app/specifications/jsonp/
https://deploy-preview-1405--jakartaee.netlify.app/community/adopt-a-spec/

[2022-02-09 22:15] vinyfalcao commented on #1401
Hello everyone, it was a domain expired problem, we already renew and update the DNS in the host provides, in the next hours should work again...
Sorry about it :(

[2022-02-10 07:01] ivargrimstad commented on #1401
Works fine now. Thanks!

[2022-02-10 07:01] #1401 closed, assigned to linkfang

[2022-02-11 15:35] ericpoirier commented on #1391
This was merged.

Thanks.

[2022-02-11 15:35] #1391 closed, assigned to ericpoirier

[2022-02-14 01:07] paulbuck opened #1406 "Request to publish the meeting minutes for the Jakarta EE Specification Committee"
Please add new entries for Jakarta EE Specification Committee meeting minutes on the Specification Committee page
[https://jakarta.ee/committees/specification/](url)

I have attached pdf files...

[Jakarta EE Spec Committee - September 22nd, 2021.pdf](https://github.com/jakartaee/jakarta.ee/files/8057140/Jakarta.EE.Spec.Committee.-.September.22nd.2021.pdf)
[Jakarta EE Spec Committee - October 6th,

[2022-02-14 12:17] shabnammayel opened #1407 "Add to the news section of the website"
Please add my write up to the News section of Jakarta EE's website here:https://jakarta.ee/news/

Here is the link to my article: https://docs.google.com/document/d/1Z-Z253uFdDKl5e4JQFr-Ka739OFedFEx2gRH32CBU3E/edit

Thanks

[2022-02-14 13:27] shabnammayel opened #1408 "Create a html page for the old Cloud native Java eBook on Jakarta EE's domain"
Can you please create an html page for the old CNJ eBook and add that to the resource dropdown of the website under the eBooks section here: https://jakarta.ee/resources/#ebooks
It should go under the : Charting a Course for Cloud Native Java
Please provide both the link to the landing page to download the ebook as it is: (https://outreach.jakartaee.org/cloud-native-java-ebook) and then add the li

[2022-02-14 13:54] ericpoirier commented on #1408
@shabnammayel can you provide a text version of the ebook?

Thanks.

[2022-02-14 14:12] ericpoirier commented on #1408
@shabnammayel is there a reason why we need to create an html version of that PDF?

[2022-02-15 15:07] #1166 closed, assigned to nobody

[2022-02-15 15:07] #1167 closed, assigned to nobody

[2022-02-15 15:11] #1406 closed, assigned to linkfang

[2022-02-15 15:15] linkfang commented on #1407
Hi @shabnammayel , please preview the updates here:
https://deploy-preview-1410--jakartaee.netlify.app/news/
https://deploy-preview-1410--jakartaee.netlify.app/news/the-jakarta-ee-website-is-now-redesigned/

Please note, I changed the comma after thanks to an exclamation mark because the comma feels more like an email, let me know if this works for you.
![image](https://user-images.githubuserconte

[2022-02-15 15:20] shabnammayel commented on #1407
LGTM! Thanks

[2022-02-15 15:25] linkfang commented on #1406
The change is now live!

[2022-02-15 15:45] #1407 closed, assigned to linkfang

[2022-02-15 18:50] linkfang commented on #1407
NP! The change is now live!

[2022-02-16 12:47] shabnammayel commented on #1408
@ericpoirier here is the text version of the ebook: https://docs.google.com/document/d/1mP3jK-zka5NngqOt4KIwBhEV7dYVWGPtp6Fh6jJJ3nw/edit

and yes we want to improve our rankings for our main keywords such as Cloud native Java, Java EE and Enterprise Java. Publishing the ebook on Jakarta's domain is going to help us with that.

[2022-02-16 13:59] ericpoirier commented on #1408
@shabnammayel I added the CNJ page to the following staging page:

https://deploy-preview-1411--jakartaee.netlify.app/resources/ebook/cnj/

I also added a link to the Resources page.

Let me know if there's anything else.

[2022-02-17 12:56] shabnammayel commented on #1408
LGTM @ericpoirier thanks

[2022-02-17 13:56] TanjaObradovic opened #1412 "Highlighting JakartaOne Livestream"
On the https://jakarta.ee/ we need to introduce a couple of changes
![image](https://user-images.githubusercontent.com/40073121/154494589-4a74f17d-bce7-4e6c-874e-f43813ec2e96.png)

we need to add JakartaOne Livestream menu item.

To do so we need to add under Overview menu choice / section / page another box that will be dedicated to JakartaOne Livestream, like so

![image](https://user-images.git

[2022-02-22 14:34] #1408 closed, assigned to ericpoirier

[2022-02-22 16:20] ericpoirier commented on #1412
Hi @meKokabi, would it be possible for you to provide a new icon for this new section?

Thanks.

[2022-02-22 16:27] meKokabi commented on #1412
@ericpoirier Absolutely! will do and come back to you shortly.

[2022-02-22 17:16] meKokabi commented on #1412
Sorry @ericpoirier  can you please clarify where/which section we want to have the icon, for sake of creating a consistent sizing/look.

[2022-02-22 19:11] ericpoirier commented on #1412
Tanja would like to add a new section on the Community page:

https://jakarta.ee/community/

This new section would list the JakartaOne Livestreams.

[2022-02-22 20:50] meKokabi commented on #1412
@ericpoirier Please find attached folder. I have prepared 3 options for Tanja to choose from. Let me know if I missed anything.
[Jakarta LiveStreamIcon.zip](https://github.com/jakartaee/jakarta.ee/files/8120095/Jakarta.LiveStreamIcon.zip)

[2022-02-23 13:01] shabnammayel opened #1413 "Create a Releases page on Jakarta EE website"
Please create a "Releases" page that lists all of Jakarta EE releases and replace it with the existing link on the "About" dropdown on navigation bar that goes to Jakarta EE 9.1 release page.

Here is the mockup for the page: https://projects.invisionapp.com/share/AX10M9QL74RN#/screens/463539587/comments

Please see the comments on the mockup page for the content.

Thanks

[2022-02-23 13:22] ericpoirier commented on #1412
@TanjaObradovic can you have a look at the icons that @meKokabi provided and let us know which one you would like us to use on the website?

Thanks.

[2022-02-23 14:02] TanjaObradovic commented on #1412
Wow! Thanks @meKokabi! Hard to to decide! I like the sailing boat the best. @shabnammayel do you have any input?

[2022-02-23 14:10] shabnammayel commented on #1412
Agreed! I think b.svg matches the style of that page best. thanks @meKokabi

[2022-02-23 14:32] meKokabi commented on #1412
My pleasure!

[2022-02-23 17:43] ericpoirier commented on #1412
Please review the following staging page:

https://deploy-preview-1414--jakartaee.netlify.app/community/

Let me know if you'd like to change anything.

Thanks.

[2022-02-23 19:42] TanjaObradovic commented on #1412
Looks great to me, however maybe another little thing to add :)

Can we add another bulletin point in the JakartaOne Livestream box?

![image](https://user-images.githubusercontent.com/40073121/155383171-630bb4a4-cb3b-4150-82bf-880f895a7c7c.png)

* Find out how to host a JakartaOne Livestream in your own language

and link it to this link
https://jakartaone.org/documents/jakartaone-language-host-p

[2022-02-23 19:50] TanjaObradovic opened #1415 "Update on Compatible Products page is needed - GlassFish link"
Can you please update on https://jakarta.ee/compatibility/download/ page Eclipse GlassFish entry?

![image](https://user-images.githubusercontent.com/40073121/155396580-5e626aa1-01de-4d3e-8573-b6c7540ce329.png)

Instead
[6.1 RC1](https://download.eclipse.org/ee4j/glassfish/glassfish-6.1.0-RC1.zip)

It should be
[6.1](https://download.eclipse.org/ee4j/glassfish/glassfish-6.1.0.zip)

[2022-02-23 20:37] ericpoirier commented on #1415
@TanjaObradovic by looking at the following file:

https://github.com/jakartaee/jakarta.ee/blob/850991d0cde911a05b8f3ff67b3414e3604ec997/data/compatible_products.yml#L34

I see that there is 2 separate links for the 6.1 RC1 version (compatibility and download_url). Can you provide both links so that we can replace them both?

Thanks.

[2022-02-24 02:55] TanjaObradovic commented on #1415
yes the link for the TCK 6.1 results is

https://glassfish.org/certifications/jakarta-web-profile/9.1/TCK-Results-6.1

[2022-02-24 12:51] ericpoirier commented on #1413
Hi @shabnammayel,

Please review the following staging page:

https://deploy-preview-1416--jakartaee.netlify.app/release/

Let me know if there's anything else.

Thanks.

[2022-02-24 13:13] ericpoirier commented on #1413
After talking to @shabnammayel on a call, I will be making changes to the title and description parameters so they align with the content in the mockup and i will create a new parameter to add the subtitle.

The content can be found in the press release pages of each releases.

[2022-02-24 16:00] shabnammayel opened #1417 "Add the Jakarta EE presentations on the website"
Please add the Jakarta EE Community Update presentation deck on the homepage in the "Get Informed" box below the "Get Specification" bulletin. Add it as "Jakarta EE Presentation"
link:
https://docs.google.com/presentation/d/1LBjjJg64j0HjmFu6m3EApN--mkavemyPFMUobIbGZds/edit#slide=id.g10a8950dfd6_0_139
Also please add it to the resource overview page under presentations, please change the current it

[2022-02-24 18:23] shabnammayel opened #1418 "Fix the alignment of the lines in the boxes on the Get listed page"
Please fix the alignment of lines in the boxes of the Get listed page here: https://jakarta.ee/compatibility/get-listed/ thanks

[2022-02-24 18:44] linkfang commented on #1415
Hi @TanjaObradovic, are we going to update the entry for both web and platform?

If so, can you confirm if the download URL would be the same for both, and the TCK 6.1 for platform is:
https://glassfish.org/certifications/jakarta-platform/9.1/TCK-Results-6.1 ?

[2022-02-24 19:27] linkfang commented on #1417
Hi @shabnammayel , please preview the updates here:

https://deploy-preview-1419--jakartaee.netlify.app/
https://deploy-preview-1419--jakartaee.netlify.app/resources/#presentations

And for the "presentations" will navigate to footer issue, it only happens on production site with Chrome browser (both Edge and Firefox work on my end).
I did make a fix to it, but we will only know if it works after

[2022-02-24 19:47] ericpoirier commented on #1412
@TanjaObradovic I updated the Community page on staging:

https://deploy-preview-1414--jakartaee.netlify.app/community/

Let me know if there's anything else.

Thanks.

[2022-02-24 19:48] ericpoirier commented on #1413
@shabnammayel I updated the Release page:

https://deploy-preview-1416--jakartaee.netlify.app/release/

Let me know if there's anything else.

Thanks.

[2022-02-24 19:50] TanjaObradovic commented on #1412
Thanks - looks good!

[2022-02-25 12:07] shabnammayel commented on #1417
Thanks @linkfang LGTM! and the issue seems to be fixed as well! Thank you!

[2022-02-25 12:10] shabnammayel commented on #1413
LGTM! thanks @ericpoirier

[2022-02-25 13:12] ericpoirier commented on #1417
@shabnammayel is there a reason why we are using google docs instead of a PDF for example?

[2022-02-25 13:14] shabnammayel commented on #1417
yes, We make regular updates to these presentations and want to be directly reflected on the site

[2022-02-25 13:52] #1413 closed, assigned to ericpoirier

[2022-02-25 18:51] ericpoirier commented on #1338
I believe we are mostly done here has we have merged the following PR a few weeks ago:

https://github.com/jakartaee/jakarta.ee/pull/1362

Please reopen if you think something is missing for the translation.

Thanks.

[2022-02-25 18:51] #1338 closed, assigned to nobody

[2022-02-28 18:08] #1412 closed, assigned to ericpoirier

[2022-02-28 18:08] #1361 closed, assigned to ericpoirier

[2022-02-28 18:10] #1417 closed, assigned to linkfang

[2022-02-28 19:25] ericpoirier commented on #1161
@shabnammayel please review the following staging page where I added additional videos as well as the filter.

https://deploy-preview-1421--jakartaee.netlify.app/community/videos/

[2022-02-28 19:28] linkfang commented on #1417
NP! The changes are now live!

[2022-02-28 20:09] ericpoirier commented on #1418
@shabnammayel please review the following page where i'm fixing the spacing in the cards.

https://deploy-preview-1422--jakartaee.netlify.app/compatibility/get-listed/

Thanks.

[2022-02-28 22:54] excentrickristy commented on #1161
@ericpoirier the page looks great! I was testing and I noticed something strange though. If you don't allow cookies and then use the dropdown filter, the filtered videos don't show a thumbnail, they are just black with the youtube button overlaid.

Similarly, if you do accept cookies, then you filter the videos or use the pagination at the bottom of the screen, the new videos that show up are not

[2022-03-01 13:32] ericpoirier commented on #1161
Thanks for reporting this.

There seems to have something blocking the thumbnails to load. I'll have a look at that.

[2022-03-01 13:56] ericpoirier commented on #1161
After looking into it, I found out that videos that are 1080p will have the maxresdefault.jpg thumbnail which we are hardcoding in our eclipsefdn.videos.js plugin to create the thumbnails.

The videos that are not printing the thumbnail are videos that have a resolution of 720p or lower. I'll have to look into updating the eclipsefdn.videos.js plugin so that it fetches at least a thumbnail.

[2022-03-01 14:10] ericpoirier commented on #1161
@excentrickristy I created a separate issue to deal with updating our videos plugin which is outside the scope of the Jakarta EE website.

https://gitlab.eclipse.org/eclipsefdn/it/webdev/solstice-assets/-/issues/291

[2022-03-02 13:23] ericpoirier commented on #1161
I was able to fix the thumbnail issue:

https://deploy-preview-1421--jakartaee.netlify.app/community/videos/

I also encountered an issue with videos not being loaded on the page when intereracting with the pagination and also the filter. Note that this issue is now fixed on staging as well.

[2022-03-02 20:38] TanjaObradovic commented on #1412
@ericpoirier
can we please add JakartaOne Livestream menu item in the main drop down from the begging of the thread?
https://user-images.githubusercontent.com/40073121/154494589-4a74f17d-bce7-4e6c-874e-f43813ec2e96.png

The menu item should point to jakartaone.org

[2022-03-02 20:53] TanjaObradovic commented on #1415
yes, please update  the entry for both web and platform and use the same links. Thanks!

[2022-03-03 15:25] shabnammayel opened #1423 "Create a "How to get involved in Jakarta EE" page"
Please create a "How to get involved in Jakarta EE" page that outlines various methods for developers to get involved in and contribute to Jakarta EE. The mockup is here:

https://projects.invisionapp.com/share/AX10M9QL74RN#/screens/462733154

Please find the content for the Testimonials section here (we need to list them on rotation when the page is refreshed):

https://docs.google.com/document/d

[2022-03-03 16:04] ericpoirier commented on #1423
Is there a deadline to implement this new page?

Testimonials:
Are those new testimonials to be added to our Testimonials data file? Or are those testimonials only for this new page?

Contributors section:
Can you confirm this is the list of users you'd like to se showing up in the Contributors section
https://projects.eclipse.org/projects/ee4j/who

[2022-03-03 16:14] TanjaObradovic opened #1424 "Adding alternate for Payara on the Specification Committee"
Can you please add Petr Aubrecht on https://jakarta.ee/committees/specification/ page for Payara?

The line

Andrew Pielage - Payara

should be

Andrew Pielage - Payara, Petr Aubrecht - alternate

[2022-03-03 16:43] ericpoirier commented on #1412
@TanjaObradovic please review the following staging page:

https://deploy-preview-1425--jakartaee.netlify.app/

I added the menu item.

[2022-03-03 18:47] linkfang commented on #1424
Hi @TanjaObradovic , please preview the change here:
https://deploy-preview-1427--jakartaee.netlify.app/committees/specification/

[2022-03-03 18:48] linkfang commented on #1415
Cool, please preview the changes here:
https://deploy-preview-1426--jakartaee.netlify.app/compatibility/download/

[2022-03-03 20:54] TanjaObradovic commented on #1412
This looks good to me! Thanks Eric.

@shabnam please see, we probably need to do similar for Tech Talks meet-ups.

[2022-03-04 11:52] shabnammayel commented on #1161
LGTM! FYI @excentrickristy

[2022-03-04 13:07] shabnammayel commented on #1423
yes,  the deadline is to implement by the end of Q1.

Testimonials: Those new testimonials are only for this page.

That page only lists the PMCs of the project. the data needs to be pulled from the database. I think @waynebeaton can help

FYI the two videos are currently uploaded on YouTube and are unlisted. we will make them public before going live

[2022-03-04 13:41] shabnammayel commented on #1418
Looks good! Thanks @ericpoirier

[2022-03-04 13:59] TanjaObradovic commented on #1412
I am sorry Eric, but I found another bit.

Once you go into Overview menu item, the JakartaOne Livestream title in orange should also be a link to jakartaone.org

![image](https://user-images.githubusercontent.com/40073121/156776295-2de9d690-b855-45b4-b458-bec5745464a9.png)

[2022-03-04 14:07] ericpoirier commented on #1412
Ok I added that to my PR.

[2022-03-04 14:17] TanjaObradovic commented on #1412
thx! looks great!

[2022-03-04 15:34] #1418 closed, assigned to ericpoirier

[2022-03-04 15:52] ericpoirier commented on #1423
Sounds good

I'll create  categories for the testimonials so that I can get specific testimonials for this page only.

Ok I think we can get that information from the API on the PMI.

I'll get a placeholder video for now and we can change it when the time comes.

Also I have another question. Where in the menu should we put this new page?

Thanks.

[2022-03-04 15:52] TanjaObradovic commented on #1423
@shabnammayel and @ericpoirier
for any query that would require input from @waynebeaton and his team, please log an issue at https://gitlab.eclipse.org/eclipsefdn/infrazilla/-/issues

[2022-03-04 16:02] ericpoirier commented on #1423
@shabnammayel Can you also share the text content for this page?

Thanks.

[2022-03-04 16:17] ericpoirier commented on #1423
@shabnammayel @meKokabi I will also need all the graphic assets (logos, icons, pictures)

[2022-03-04 16:35] waynebeaton commented on #1423
What, specifically, do you want to show? Current committers? Everybody who has ever contributed to a project? What projects (just specification projects, or all EE4J projects)?

[2022-03-04 19:02] excentrickristy commented on #1161
beautiful!

[2022-03-07 15:28] shabnammayel commented on #1423
We want to show current committers and contributors under EE4J projects. @waynebeaton

[2022-03-07 16:09] shabnammayel commented on #1423
here is the content doc to use @ericpoirier : https://docs.google.com/document/d/1Clh9P5k9z0aVCc7Z7ztwFXmq-DL2UXxlVm20Av-Y4Io/edit
@excentrickristy can you please share the graphic assets on the issue? thanks

[2022-03-07 16:41] ericpoirier commented on #1423
Thanks.

In the mockup, there seems to be videos. Can you post the links of those videos? I don't see them in the google doc.

[2022-03-07 17:37] excentrickristy commented on #1423
Here are the assets: https://www.dropbox.com/s/25x42wl3ammkc8s/Jakarta-Get%20Involved.zip?dl=0
Video links:
https://drive.google.com/file/d/12uK_qW7--ANuSAxqEFfeNkvN7AhMPXp-/view?usp=sharing
https://drive.google.com/file/d/1ys6LDjttEFoJ69VywEY8jL3KzwoRHS4i/view

[2022-03-07 18:11] ericpoirier commented on #1423
@shabnammayel We should probably put those videos on YouTube.

[2022-03-07 18:13] ericpoirier commented on #1423
@shabnammayel @meKokabi The provided assets are in an Illustrator file which I can't open on my new computer. Are you able to extract the logos,. icons, images so that I can use them for the web page?

Thanks.

[2022-03-08 04:20] waynebeaton commented on #1423
Here's a query that you can run against the `dashboard` database to get the committer id (when available), name, email addresses, and committer status of all of the committers and contributors who have authored at least one commit this year. I assume that @chrisguindon can pick and choose the columns that you actually want and sort out how to change the date range in the query.

[code]
Note that I

[2022-03-08 13:19] ericpoirier commented on #1423
@waynebeaton can't I simply use the following API call to retrieve committers and contributors of the EE4J project:

https://projects.eclipse.org/api/projects/ee4j

[2022-03-08 14:57] ivargrimstad commented on #1423
That would only give you the committers on the top-level project. You would have to drill down to all the sub-projects of EE4J in order to get all committers...

[2022-03-08 15:06] ericpoirier commented on #1423
Ok then we will need to look into creating a new API endpoint on the PMI that will give us what we need.

[2022-03-08 16:08] ericpoirier commented on #1423
@shabnammayel, currently looking at the Contributors section of the following mockup:

https://projects.invisionapp.com/share/AX10M9QL74RN#/screens/462733154

Which logo are we adding for each contributors? For example, if the person contributed to the Glassfish project, are we showing the Glassfish logo. Or are we always printing the Jakarta EE logo?

Also, if the person contributed to multiple p

[2022-03-08 17:42] waynebeaton commented on #1423
The query that I've provided shows the people who actually contributed something. That is, it will produce a list of people who have contributed at least one commit to at least one repository belonging to at least one EE4J subproject in the specified period. Committers who are not active in the specified period will be excluded. Further, this will include contributors, whether they are designated

[2022-03-08 18:20] ericpoirier commented on #1423
That's a good question.

If we want to link those contributors somewhere (on accounts or pmi) I think we should validate that the user have an eclipse account before showing them on Jakarta EE?

@shabnammayel

[2022-03-09 13:17] shabnammayel commented on #1423
The videos were on YouTube but unlisted. They are public now: https://www.youtube.com/watch?v=TiegAZbqSpI&t=11s
https://www.youtube.com/watch?v=eSY6Uo62IH8
We can remove the logo from the boxes in the contributors section and just include their pics, name and last name

[2022-03-09 13:26] ericpoirier commented on #1423
Awesome, thanks.

Also is it possible for @meKokabi to extract the images that we need from the Illustrator file that @excentrickristy provided?

Thanks.

[2022-03-09 14:09] chrisguindon commented on #1423
@shabnammayel Why is there a deadline to complete this by end of the quarter?

This issue is not listed in our list of objectives for Q1: https://github.com/jakartaee/jakarta.ee/issues/1236

@ericpoirier Regarding the contributor API. the community created a script for that for building the releases pages. Can you take a look at that before implementing anything new in the PMI? https://github.com/

[2022-03-09 14:38] ericpoirier commented on #1423
@chrisguindon The script generates the following files:
https://github.com/jakartaee/jakarta.ee/blob/src/data/contributors/jakarta-ee-9.1.json
https://github.com/jakartaee/jakarta.ee/blob/src/data/contributors/jakarta-ee-9.json

@ivargrimstad @shabnammayel are those list good for what we need? If so, can we use the latest release file (jakarta-ee-9.1.json) or would we have to merge them together?

[2022-03-09 15:36] shabnammayel commented on #1423
Yes @waynebeaton sounds good!

The script that community created for the release pages only included folks involved in that release version and I believe they were only committers. but in this case what Wayne explained above is what we are looking for @chrisguindon
@ericpoirier All committers and contributors should already have an EF account before contributing any work.

[2022-03-09 15:39] chrisguindon commented on #1423
@shabnammayel You did not answer my first question.

Why is there a deadline to complete this by end of the quarter?  To be honest, we definitely don't have the time to get this done by the end of the month if we need to create a new API endpoint.

If we are going to create new deadline, I would really appreciate that you discuss them with me first.

[2022-03-09 16:00] shabnammayel commented on #1423
We were aiming for end of Q2! it's not set in stone! with the new requirement to create a new API, we can discuss and set a deadline to get this page implemented @chrisguindon

[2022-03-09 16:05] chrisguindon commented on #1423
Thanks @shabnammayel! Q2 is definitely doable for us!

[2022-03-09 16:27] shabnammayel commented on #1423
I think we can work towards implementing the page excluding the contributors section and add that later as well. thanks

[2022-03-09 18:45] #1161 closed, assigned to nobody

[2022-03-09 20:07] meKokabi commented on #1423
@ericpoirier As requested, please find attached, the visual assets:
[JakartaGetInvolved-Assets.zip](https://github.com/jakartaee/jakarta.ee/files/8217795/JakartaGetInvolved-Assets.zip)

[2022-03-10 19:08] chrisguindon commented on #1321
Update:

We had a meeting today with the Jakarta EE Marketing Committee to discuss this topic and we agreed to address this issue in 4 phases:

1. First priority, fix the view all news page by migrating current articles to the newsroom + install our newsroom widget. The layout of news items should stay the same. I think we can change the title of that page to "JAKARTA EE NEWS".

2. Discuss and def

[2022-03-14 02:57] vsettanTCK opened #1430 "Please add xigemaAS 9.1 as Compatible product of Jakarta EE 8 Full Platform"
To include your Compatible Software Product on the Jakarta EE official list of Compatible Software Products, please provide the following information:

**The URL to the Eclipse Foundation profile to confirm that you are an authorized representative of the company whose product information you are submitting**
https://www.eclipse.org/membership/showMember.php?member_id=1557

**A product name and ve

[2022-03-14 14:56] linkfang commented on #1430
Hi @TanjaObradovic , @ivargrimstad , please preview the changes here:

https://deploy-preview-1431--jakartaee.netlify.app/compatibility/
https://deploy-preview-1431--jakartaee.netlify.app/compatibility/certification/8/
https://deploy-preview-1431--jakartaee.netlify.app/compatibility/download/

[2022-03-15 00:55] vsettanTCK commented on #1430
thanks a lot @ericpoirier , @linkfang , @TanjaObradovic , @ivargrimstad

[2022-03-15 13:59] TanjaObradovic commented on #1424
looks great! thx!

[2022-03-15 14:04] TanjaObradovic commented on #1415
looks great! thanks!

[2022-03-15 14:28] ZahraFazli opened #1433 "Add Beijing Vsettan Data Technology Co. Ltd. as a Participant Member"
Beijing Vsettan Data Technology Co. Ltd. is a new Participant Member of the Jakarta EE Working Group.
Please add the attached logo to the website: https://jakarta.ee/membership/members/
![华胜信泰logo-透明底](https://user-images.githubusercontent.com/50374570/158400371-978e8443-6c9d-498c-b962-1fa6db5a6d13.png)
Thanks!

[2022-03-15 14:50] TanjaObradovic commented on #1430
looks great! thanks!!

[2022-03-15 18:19] vsettanTCK commented on #1433
Thanks a lot! @ZahraFazli

[2022-03-16 13:50] #1415 closed, assigned to linkfang

[2022-03-16 13:50] #1424 closed, assigned to linkfang

[2022-03-16 14:09] linkfang commented on #1415
NP! The change is live now!

[2022-03-16 14:10] linkfang commented on #1424
NP! The change is live now!

[2022-03-16 15:34] #1430 closed, assigned to linkfang

[2022-03-16 15:35] #1371 closed, assigned to ericpoirier

[2022-03-16 15:46] linkfang commented on #1430
NP! The change is now live!

[2022-03-16 19:23] linkfang commented on #1433
Hi @ZahraFazli , please preview the change here:
https://deploy-preview-1434--jakartaee.netlify.app/membership/members/

[2022-03-16 19:24] ZahraFazli commented on #1433
Looks good! Thanks!

[2022-03-16 20:07] #1433 closed, assigned to linkfang

[2022-03-16 20:19] linkfang commented on #1433
NP! The change is now live!

[2022-03-17 13:08] shabnammayel opened #1435 "Add my Survey blog to the Jakarta EE blog section"
Please add my blog re the 2022 Jakarta EE developer survey in the blog section of the website here:

https://jakarta.ee/blogs/

Blog Content to use: https://docs.google.com/document/d/1YJmFZGx7PJpNbJKknLQTHLByG7O6FsHtuyjXB0j11z4/edit

thanks

[2022-03-21 16:30] TanjaObradovic opened #1436 "Please publish my blog to https://jakarta.ee/news"
Please publish my blog at
https://jakarta.ee/news

Please replace the placeholder text by the proper content.

https://docs.google.com/document/d/1qvaS03uelTYW8Jf7xuIQZ6f4r3nONZpeBHq-0v9ipbA/edit

or from unpublished blog

https://blogs.eclipse.org/post/tanja-obradovic/welcome-beijing-vsettan-data-technology-co-ltd-jakarta-ee-working-group

**Blog post information**
title: Welcome Beijing Vsettan

[2022-03-21 19:52] linkfang commented on #1435
Hi @shabnammayel , please preview the change here:
https://deploy-preview-1437--jakartaee.netlify.app/blogs/
https://deploy-preview-1437--jakartaee.netlify.app/blogs/the-2022-jakarta-ee-developer-survey-is-now-open/

[2022-03-21 20:07] #1435 closed, assigned to linkfang

[2022-03-22 10:39] vsettanTCK opened #1439 "Change the showing product name and logo of xigemaAS in in jakarta EE compatible list on website https://jakarta.ee"
**Is your feature request related to a problem? Please describe.**
I have submitted the issue: https://github.com/jakartaee/jakarta.ee/issues/1430, now I can see our product xigemaAS is being showed in jakarta EE compatible list on website https://jakarta.ee/, but the product name and logo do not contain our company information, which is not conducive to the marketing of our company and our produc

[2022-03-22 12:36] TanjaObradovic opened #1440 "Please publish my "Even closer to Jakarta EE 10!" blog to https://jakarta.ee/news"
Please publish my blog at
https://jakarta.ee/news

Please use text from here
https://blogs.eclipse.org/post/tanja-obradovic/welcome-beijing-vsettan-data-technology-co-ltd-jakarta-ee-working-group

**Blog post information**
title:
Even closer to Jakarta EE 10!
date:
Monday, March 21, 2022
summary:
The Release Review for Jakarta EE 10 is now completed for the additional specifications!
content:
The

[2022-03-22 12:40] TanjaObradovic opened #1441 "Please publish my "Take the 2022 Jakarta EE Developer Survey Today!" blog to https://jakarta.ee/news"
Please publish my blog at
https://jakarta.ee/news

Please use text from here
https://blogs.eclipse.org/post/tanja-obradovic/take-2022-jakarta-ee-developer-survey-today

**Blog post information**
title:
Take the 2022 Jakarta EE Developer Survey Today!
date:
Monday, March 21, 2022
summary:
Help us shape up Jakarta EE, take [the 2022 Jakarta EE Developer Survey Today](2022 Jakarta EE Developer Survey

[2022-03-23 01:53] excentrickristy opened #1442 "Issues on Release 9 Page"
**Describe the bug**
On the Release 9 page: https://jakarta.ee/release/9/

- The previous release link in the main banner links to https://jakarta.ee/release/9/ - Instead it should link to https://jakarta.ee/release/8/
- there is a line break tag "showing" in the feature box that says LOWER ENTRY BARRIERS - this should be removed
- the banner says "VERSION 9.1 NEW RELEASE" - instead it should say

[2022-03-23 16:34] TanjaObradovic commented on #1440
Can you please publish this one by March 24th? Many thanks!!!

[2022-03-23 17:59] excentrickristy opened #1443 "Aesthetic Issue: Link boxes missing padding around text"
I noticed recently that the feature boxes that are used to link to internal pages no longer have padding around the text.

Example: the boxes at the bottom of this page: https://jakarta.ee/about/working-group/

And in the sidebar of any of the specification pages: https://jakarta.ee/specifications/platform/

It should look more like this: https://invis.io/AX10M9QL74RN#/448585126_Specifications-_De

[2022-03-23 18:18] linkfang commented on #1440
Hi @TanjaObradovic , no problem! Working on it now.

And for the blog, I assume you shared a wrong link? Could it be this one instead?
https://blogs.eclipse.org/post/tanja-obradovic/even-closer-jakarta-ee-10

[2022-03-23 18:40] linkfang commented on #1440
And please preview the change here:
https://deploy-preview-1444--jakartaee.netlify.app/news/
https://deploy-preview-1444--jakartaee.netlify.app/news/even-closer-to-jakarta-ee-10/

[2022-03-23 19:52] TanjaObradovic commented on #1440
hmmm, the text does not look right :(

it should be like on the picture here

![image](https://user-images.githubusercontent.com/40073121/159783860-7112bf0d-bfa9-4812-82ee-e70cb1a367c4.png)

The text / bulletin points has links as below.

[Jakarta SOAP with Attachments 3.0](https://jakarta.ee/specifications/soap-attachments/3.0/) - https://github.com/jakartaee/specifications/pull/444
[Jakarta JSON

[2022-03-23 20:08] linkfang commented on #1440
Fixed it, please check it here:
https://deploy-preview-1444--jakartaee.netlify.app/news/even-closer-to-jakarta-ee-10/

[2022-03-23 23:51] excentrickristy commented on #1442
After discussion with @shabnammayel, we decided that the PREVIOUS RELEASE: JAKARTA EE 9 link for all of the individual pages should be changed to point to the main release page and say VIEW ALL RELEASES

[2022-03-24 00:21] TanjaObradovic commented on #1440
Looks great!! thanks!!!!

[2022-03-24 13:56] #1440 closed, assigned to linkfang

[2022-03-24 14:08] excentrickristy opened #1445 "Aesthetic/Usability Recommendation"
Recommending the following CSS to restrict the website size on larger screen sizes to 1920px. This will help improve the appearance of full width banners like the one at the bottom of the [release pages](https://jakarta.ee/release/9.1/) for those with larger screen sizes. This is just an aesthetic suggestion and open to feedback!

html {
    width: 1920px;
    max-width: 100%;
    margin: 0 auto;

[2022-03-24 14:42] linkfang commented on #1440
NP! The change is now live!

[2022-03-24 15:34] ericpoirier commented on #1321
@chrisguindon please review the following News page:

https://deploy-preview-1432--jakartaee.netlify.app/news/

I did the changes that we talked about a few weeks ago.

Let me know if I missed anything and if you'd like to make more changes.

Thanks.

[2022-03-24 15:35] linkfang commented on #1441
Hi @TanjaObradovic , please preview the update here:

https://deploy-preview-1446--jakartaee.netlify.app/news/
https://deploy-preview-1446--jakartaee.netlify.app/news/take-2022-jakarta-ee-developer-survey-today/

[2022-03-24 15:35] linkfang commented on #1436
Hi @TanjaObradovic , please preview the update here:

https://deploy-preview-1446--jakartaee.netlify.app/news/
https://deploy-preview-1446--jakartaee.netlify.app/news/welcome-beijing-vsettan-data-technology-co-ltd-jakarta-ee-working-group/

[2022-03-24 18:43] chrisguindon commented on #1321
LGTM - However, I think I would show 10 items per page instead of 5. Can you update that please?

@shabnammayel @TanjaObradovic WDYT?

[2022-03-24 18:43] chrisguindon commented on #1321
@ericpoirier I just noticed that clicking back to page 1 returns an empty page.

[2022-03-25 15:28] linkfang commented on #1439
Hi @vsettanTCK , please preview the change here:

https://deploy-preview-1447--jakartaee.netlify.app/compatibility/

[2022-03-25 15:31] ericpoirier commented on #1321
@chrisguindon I updated the news page on staging so that it shows 10 items per page and also fixed the pagination.

https://deploy-preview-1432--jakartaee.netlify.app/news/

[2022-03-25 15:35] chrisguindon commented on #1321
Thanks @ericpoirier

Could we add a scroll back to the top of the page, when the user clicks on the pagination menu? It feels a bit odd that I need to scroll up when changing pages.

[2022-03-25 15:38] ericpoirier commented on #1321
Yeah, I can look into that.

[2022-03-25 16:27] vsettanTCK commented on #1439
looks great! thanks!  @linkfang

[2022-03-25 17:37] #1439 closed, assigned to linkfang

[2022-03-25 17:43] linkfang commented on #1439
No problem! The change is now live!

[2022-03-25 18:16] linkfang commented on #1442
Hi @excentrickristy , for the "VERSION 9.1 NEW RELEASE", I think it might be a promotion for the latest version? Like when 9.2 comes out, all 3 pages will say "VERSION 9.2 NEW RELEASE" to indicate the user that we have a new lease and feel free to check it out. I could be wrong though. WDYT?

And I can change it to "VERSION 9.0" for release 9 page of course if we would like to.

[2022-03-25 19:36] linkfang commented on #1445
Hi @excentrickristy , thanks for the suggestion! And I do agree that it's important to make the page look good on various screens.

I created a PR based on your comment so that we can see the result in action.
https://deploy-preview-1448--jakartaee.netlify.app/

As you might noticed, on production site, the banner is allowed to occupy the full width of the window while the actual content (text con

[2022-03-25 19:46] excentrickristy commented on #1442
Hi @linkfang, I'm not sure that that was the intention, and I think it does make for some confusion.
I will have to let @shabnammayel be the decision maker here though!

[2022-03-25 19:49] excentrickristy commented on #1445
The content itself is not as much an issue as full width banners like the one you see near the bottom of the release page with the whitepaper download: https://deploy-preview-1448--jakartaee.netlify.app/release/9.1/
At full width on bigger screen sizes this gets kind of crazy looking! There aren't many instances of this though, so I will defer to @shabnammayel

[2022-03-25 20:11] linkfang commented on #1445
Ah, OK, sorry I was not looking at the right section! 😂

Do you think it's a little too blur on larger screens? If so, I can add restrictions on the image to make sure it's no larger than 1920px and make the background a blur version of it. Similar to this,
![image](https://user-images.githubusercontent.com/43075439/160194083-ef7460a3-8677-46ae-8ec6-57f7a9d27cae.png)

Or if you think it's too tall

[2022-03-25 20:15] linkfang commented on #1443
Good catch!

Fixed them, please preview there:
https://deploy-preview-1449--jakartaee.netlify.app/about/working-group/
https://deploy-preview-1449--jakartaee.netlify.app/specifications/platform/

[2022-03-25 21:09] linkfang commented on #1442
Sounds good! I checked the code and I think you are right. It should have been 9.0 on release 9 page and 9.1 for 9.1 etc.
So, I changed the version text to "version 9.0" while we wait for Shabnam to confirm.

Please preview here:
https://deploy-preview-1450--jakartaee.netlify.app/release/9/
https://deploy-preview-1450--jakartaee.netlify.app/release/9.1/

Please note, I haven't updated the "view al

[2022-03-27 21:56] excentrickristy commented on #1443
Looks good!

[2022-03-28 12:22] shabnammayel commented on #1442
+1, Thanks for the changes @linkfang for consistency can you please change "Version 9" to "Version 9 New Release" similar to the 9.1 page?

The rest looks good to me. Thank you both!

[2022-03-28 12:28] shabnammayel commented on #1321
The author for some of the articles is not reflected right. for example the latest one's author is Tanja but Jacob's name is mentioned as the author. can we fix that @ericpoirier

[2022-03-28 12:32] ericpoirier commented on #1321
Hi @shabnammayel, we created an "Author(s)" field for the News items in the Newsroom. This is where you will need to specify who is the Author of the articles. For now, since this field is empty, the News API is picking up the person who created the News item in the Newsroom.

[2022-03-28 13:22] linkfang commented on #1442
OK, I can add it back. I removed it as I thought we only need the New Release tag for the latest version. Like we only have the yellow "New" budge for 9.1 on the all releases page.
![image](https://user-images.githubusercontent.com/43075439/160406966-216ddb0a-22a9-4499-b0de-794541aea14b.png)

[2022-03-28 13:23] shabnammayel commented on #1442
that's a good point! let's keep it for the new version only then

[2022-03-28 13:29] #1442 closed, assigned to linkfang

[2022-03-28 14:16] linkfang commented on #1442
Now the change is live!

[2022-03-28 15:56] #1443 closed, assigned to linkfang

[2022-03-28 16:09] linkfang commented on #1443
The changes are now live!

[2022-03-29 15:55] ericpoirier commented on #1321
@shabnammayel @TanjaObradovic please review the following News page:

https://deploy-preview-1432--jakartaee.netlify.app/news/

I added the scroll to top animation as requested by @chrisguindon which was reviewed and approved by him.

I'll wait for your +1 to merge to production.

Thanks.

[2022-03-30 11:41] shabnammayel commented on #1423
@ericpoirier are there any update on this page's implementation? As I mentioned before we can go live with the page without the "Contributors" section first and implement that section in Q2. thanks

[2022-03-30 11:42] ericpoirier commented on #1423
It's in my plans to work on that page this week.

[2022-03-30 14:49] ericpoirier commented on #1423
Hi @meKokabi can you provide the white icons without the blue background. I will also need the orange icons from the mockup.

Also missing the Testimonials background.

Thanks.

[2022-03-30 14:55] ericpoirier commented on #1423
Can you provide the "How to contribute" link as well?

Thanks.

[2022-03-30 15:00] shabnammayel commented on #1423
We had to unlist the videos as they have links to the how to get involved page that is not live yet. I add the links to both above but I think they were pasted very closely so a bit hard to notice :)

https://www.youtube.com/watch?v=TiegAZbqSpI&t=11s
https://www.youtube.com/watch?v=eSY6Uo62IH8

[2022-03-30 15:41] meKokabi commented on #1423
@ericpoirier Here You Are! Let me know if you. need any more assets
[Missing Assets-png-svg.zip](https://github.com/jakartaee/jakarta.ee/files/8381958/Missing.Assets-png-svg.zip)
.

[2022-03-30 15:49] ericpoirier commented on #1423
Thanks.

Can you also provide the orange icons from the mockup?

[2022-03-30 15:50] meKokabi commented on #1423
Already done! it is in the SVG folder.

[2022-03-30 15:56] ericpoirier commented on #1423
Looking into the svg folder and I am missing the following orange icons:

- Social Media
- Slack
- Paper with lines on it

Thanks.

[2022-03-30 16:15] meKokabi commented on #1423
Please find attached and let me know if anything still missed
[OrangeIcons.zip](https://github.com/jakartaee/jakarta.ee/files/8382219/OrangeIcons.zip)

[2022-03-30 17:07] ericpoirier commented on #1423
@shabnammayel please review the following page:

https://deploy-preview-1428--jakartaee.netlify.app/community/get-involved/

Let me know if you'd like to change anything.

Thanks.

[2022-03-30 18:35] shabnammayel commented on #1423
for the first box, can we jump to the social media section of the page in the footer when they click on [Join us on Social Media](https://jakarta.ee/connect/)? currently it goes to the top of the page and it's hard to find the handles.

[2022-03-30 18:39] shabnammayel commented on #1423
Pictures of some of the folks in the testimonial section is missing, can you please get their featured committer profile image that are added in this doc? https://docs.google.com/document/d/19A55nEm8mwQcZrGOSZqbNUModB9e5MVrybl_k0zWBsI/edit

When you open the doc you can see a link attached on their names that takes you to their committer profiles in the EF community newsletter. we can use those im

[2022-03-30 18:43] shabnammayel commented on #1423
<img width="1006" alt="Screen Shot 2022-03-30 at 2 43 16 PM" src="https://user-images.githubusercontent.com/51449073/160908161-f8371a10-3e22-40f8-a8c1-2a502211c63e.png">

Can we please add the page on the homepage as well. in the Get involved box as "How to Get Involved" above the Join the Working Group button

[2022-03-30 18:46] shabnammayel commented on #1423
Also can we change the link in the footer to go to this page instead of the EF page?
<img width="683" alt="Screen Shot 2022-03-30 at 2 45 57 PM" src="https://user-images.githubusercontent.com/51449073/160908679-4ed77a49-00eb-489e-9cc0-d181158ad6fd.png">

[2022-03-30 19:37] ericpoirier commented on #1423
@shabnammayel I updated staging as per your feedback.

https://deploy-preview-1428--jakartaee.netlify.app/community/get-involved/

Let me know if there's anything else.

[2022-03-30 23:13] shabnammayel commented on #1423
Looks good! Thanks. Can we sort the items in the homepage boxes on an alphabetic order?

Also please let me know when we are ready to go live to make the videos public. thanks @ericpoirier

[2022-03-31 11:50] shabnammayel opened #1451 "Add images to the featured story section of the Jakarta EE homepage via newsroom"
Currently we are not able to add images in the newsroom to be featured on the homepage's featured story section. Adding images to that section can make the stories more visible to have a greater impact.

[2022-03-31 13:47] ericpoirier commented on #1423
I fixed the order on the home page:

https://deploy-preview-1428--jakartaee.netlify.app/

Ok will do.

[2022-03-31 17:21] shabnammayel commented on #1423
LGTM! thanks

[2022-03-31 18:12] #1423 closed, assigned to ericpoirier

[2022-04-04 11:38] ericpoirier commented on #1451
Shabnam and I talked on Slack and we are waiting for a mockup from Mehrnaz.

[2022-04-04 14:42] ericpoirier commented on #1445
@excentrickristy

[2022-04-04 14:49] TanjaObradovic commented on #1441
looks great! thanks!

[2022-04-04 15:26] linkfang commented on #1441
Hi @TanjaObradovic , are we also good on the other blog? (Welcome Beijing Vsettan Data Technology Co. Ltd. to the Jakarta EE Working Group!)
https://github.com/jakartaee/jakarta.ee/issues/1436#issuecomment-1077763376

[2022-04-04 15:30] TanjaObradovic commented on #1436
Yes!!! many thanks!

[2022-04-04 16:02] #1436 closed, assigned to linkfang

[2022-04-04 16:02] #1441 closed, assigned to linkfang

[2022-04-04 16:23] linkfang commented on #1445
Here is the preview of the change I mentioned above:
https://deploy-preview-1448--jakartaee.netlify.app/release/9.1/

One of the reasons for this issue is that the image we use here is a png file with transparent background color. So, on a larger screen, to be able to make the image fill the width of that section, the height will be cut off (mainly the transparent parts), so the image will look hi

[2022-04-04 17:10] linkfang commented on #1441
NP! The changes are now live!

[2022-04-04 17:10] linkfang commented on #1436
NP! The changes are now live!

[2022-04-04 17:57] cesarhernandezgt commented on #1321
Hi @ericpoirier

From the following [screenshot] I took from the deploy preview from the previous comment I have the following questions:

1. How can a user filter to see only the Working Group-related news?

2. The Right side panel containing `Tags, Archive order by year` was removed in the proposal. Does this Right Side panel was also removed from the content of a post when someone clicks the `C

[2022-04-05 17:44] excentrickristy commented on #1445
Love the look of the blur! On my 2560px width screen though the text ends up readjusting and doesn't quite sit in the right spot, and it becomes hard to read:
![image](https://user-images.githubusercontent.com/73264129/161817521-25e47ab4-091b-41ef-9f44-6d32c3f1bd17.png)

Also, can we move the download button over to the right a bit so that it aligns with the text above it? That will match the orig

[2022-04-05 19:58] linkfang commented on #1445
Sounds good!

Please preview the updated version here:
https://deploy-preview-1448--jakartaee.netlify.app/release/9.1/

I added restriction to the new white paper box, so on large screens it won't go any further than here:
![image](https://user-images.githubusercontent.com/43075439/161836685-240d1755-5bcd-4689-bb00-e29a109529c0.png)

And actually, the blue text will show on top of the leaves on so

[2022-04-05 20:16] excentrickristy commented on #1445
Looks good! Thank you :)

[2022-04-07 14:42] chrisguindon commented on #1321
The newsroom API allows us to fetch WG **Announcements** and **Community news**. +1 for adding a filter on the page that allows us to filter news items. The default should be all but there should be an option to view only WG Announcements or Community News.

+1 For adding a sidebar on the Continue reading link page.  There should be a link at the end of the list to view all news. However, I think

[2022-04-08 13:40] #1445 closed, assigned to linkfang

[2022-04-08 13:52] linkfang commented on #1445
NP! The change is now live!

[2022-04-08 14:22] shanda-eclipse opened #1455 "Utilizing newsroom for /resources page"
See https://gitlab.eclipse.org/eclipsefdn/infrazilla/-/issues/508 for parent issue.

On https://jakarta.ee/resources/ we would like to us an API that updates SOME sections of https://jakarta.ee/resources/ automatically. The look of the page will remain exactly the same. Here is a rundown of each section and how we would like it managed:

- Case Studies - show the 3 most recent case studies (newest

[2022-04-08 17:29] shabnammayel commented on #1451
Hi @ericpoirier Mehrnaz created different mockups but after looking at them and thinking it through further. It's best to change the placement of the featured story and move it to the existing blue banner above the boxes. we can move the existing blurb there below the boxes. Here is the mockup that Mehrnaz created https://xd.adobe.com/view/838f656a-70b4-4b90-b62f-ff6d448a9ee6-d6dc/ thanks

[2022-04-11 14:24] ericpoirier commented on #1451
@shabnammayel I'm currently looking at the mockup and I don't see any images to the Featured Story?

[2022-04-12 13:21] ericpoirier commented on #1451
After discussion with @shabnammayel on Zoom, it was decided that we would forget about adding an image to the featured story for now and just move the section where there's a blue background.

We will continue to show multiple featured stories so there will be dots under the elements to navigate between them.

[2022-04-12 13:22] shabnammayel commented on #1451
The sentence in the mock up: Jakarta EE brings together a global community of leading developers, vendors, and enterprises to collaborate on advancing enterprise Java technologies in the cloud

[2022-04-12 18:57] ericpoirier commented on #1451
@shabnammayel please review the following page:

https://deploy-preview-1456--jakartaee.netlify.app/

You'll note that the same featured story is showing up but with slightly different content. I had a look at the newsroom and there are 2 different featured story with the same name. That's why we are seeing 2 of them.

[2022-04-12 19:00] shabnammayel commented on #1451
Looks good, Eric! Thanks. let's keep the one that has the CTA "Take the Survey"

[2022-04-13 11:55] ericpoirier commented on #1451
@jph152 I don't mind going to newsroom and disabling this featured story but just wanted to keep you in the loop of what needs to be removed from Jakarta EE.

[2022-04-13 13:58] ericpoirier commented on #1451
@shabnammayel I updated Newsroom, the item should be removed shortly.

In the meantime, I'll get the changes reviewed.

[2022-04-13 18:47] #1451 closed, assigned to ericpoirier

[2022-04-21 18:07] TanjaObradovic opened #1460 "Publishing Steering Committee Meeting minutes"
Can you please publish Steering Committee Meeting minutes?

https://jakarta.ee/committees/steering/

[Minutes of the Feb 15, 2022 Jakarta EE Steering Committee Meeting - Google Docs.pdf](https://github.com/jakartaee/jakarta.ee/files/8533744/Minutes.of.the.Feb.15.2022.Jakarta.EE.Steering.Committee.Meeting.-.Google.Docs.pdf)
[Minutes of the March 1, 2022 Jakarta EE Steering Committee Meeting - Googl

[2022-04-22 13:41] shabnammayel opened #1461 "Add the Jakarta EE 10 page to the compatibility/certification page and download page"
We need to create a page for the Jakarta EE 10 compatibility products here:
https://jakarta.ee/compatibility/certification/9.1/
currently there are 3 tabs on the right sidebar: Jakarta EE 8, Jakarta EE 9, and Jakarta EE 9.1. We should add Jakarta EE 10 above Jakarta EE 9.1
And on that page we need to create another table for Core Profile products that will be certified with Jakarta EE 10.

We also

[2022-04-22 14:13] njr-11 commented on #1461
These sound like good ideas, but could you please move this issue/open a new issue for this against https://github.com/jakartaee/jakarta.ee ?
This jakartaee/concurrency project is just for a single one of the Jakarta EE specs and doesn't maintain the pages for the jakarta.ee site.

[2022-04-22 14:21] shabnammayel commented on #1461
my bad! I asked @ericpoirier to help me with moving this to the website repo.

[2022-04-22 17:57] shabnammayel opened #1463 "Create the Jakarta EE 10 release landing page"
Here is the timeline for this project: https://docs.google.com/spreadsheets/d/1Sx-KRJjS4tX-5Sz3kKnRUjrI5pdi0WcAsZeVb2Xx8vY/edit#gid=138610214

Please note that we are targeting May 31 for the release date as of now but it may change.

Here is the link to the banner's design: https://xd.adobe.com/view/94e225c1-7027-48e5-8893-bcd8883725b6-c1b1/

Here is the link to the content doc for this page: htt

[2022-04-22 18:20] ericpoirier commented on #1463
@shabnammayel I belive the information in your comment is good enough to get us going.

I looked at the designs and you only provided the banner. Is that because we can create the new Jakarta EE 10 page based on the 9.1 layout but we only need to change the banner?

Do we need to add Jakarta EE 10 to the following page:
https://jakarta.ee/release/

If so, is May 31, 2022 the date that we need to a

[2022-04-22 18:24] shabnammayel commented on #1463
Yes, Eric! we can use the 9.1 layout. we only need to switch the Specification section with the benefits and features section. @meKokabi will help us with updating the icons on the features and benefits boxes to relate to modernized, simplified and lightweight. She will also make a minor change on the specification image that I provided.

And yes, we need to add Jakarta EE 10 release to the releas

[2022-04-22 18:25] shabnammayel commented on #1463
btw we will probably have more videos to add in the videos interviews section

[2022-04-22 18:33] ericpoirier commented on #1461
Hi @shabnammayel, I created the pages and tables for Jakarta EE 10 in the Compatibility pages:
https://deploy-preview-1462--jakartaee.netlify.app/compatibility/

Let me know if I got it right.

Thanks.

[2022-04-22 18:43] shabnammayel commented on #1461
Thanks, please not we need placeholder tables for Web Profile and Core Profile products on this page as well. Core Profile is new for EE 10.
<img width="871" alt="Screen Shot 2022-04-22 at 2 40 51 PM" src="https://user-images.githubusercontent.com/51449073/164775120-17c34117-f24d-44e6-a841-be3df755afcd.png">

Also on the download page we need tables for Jakarta EE 10 Platform  and Jakarta EE 10 We

[2022-04-22 19:25] ericpoirier commented on #1461
@shabnammayel I updated the tables. Let me know if there's anything else.

[2022-04-25 15:46] ericpoirier commented on #1463
@shabnammayel @meKokabi is it possible to get the banner image without text and buttons on it in jpg format?

Thanks.

[2022-04-25 16:11] meKokabi commented on #1463
Absolutely! Will add it shortly.

[2022-04-25 18:43] meKokabi commented on #1463
Added attachment on # 1463 as well!

[VisualAssets.zip](https://github.com/jakartaee/jakarta.ee/files/8557130/VisualAssets.zip)

[2022-04-26 16:03] ericpoirier commented on #1463
Hi @meKokabi, is it possible for you to provide the logo in svg format instead of png?

Thanks.

[2022-04-26 17:04] meKokabi commented on #1463
Here You Are:
![JakartaEE10](https://user-images.githubusercontent.com/75500459/165354477-9d2c82b5-3274-4fb3-8d89-1472607529ef.svg)

[2022-04-26 17:05] meKokabi commented on #1463
[SVG Logo.zip](https://github.com/jakartaee/jakarta.ee/files/8565349/SVG.Logo.zip)

[2022-04-26 19:13] ericpoirier commented on #1463
@shabnammayel The Jakarta EE 10 page is now on staging:

https://deploy-preview-1465--jakartaee.netlify.app/release/10/

I believe I made all the changes that was requested but let me know if I missed anything.

Thanks.

[2022-04-27 20:07] TanjaObradovic opened #1466 "Please publish my "Getting really close to Jakarta EE 10!" blog to https://jakarta.ee/news"
Please publish my blog at
https://jakarta.ee/news

Please use text from here
https://blogs.eclipse.org/post/tanja-obradovic/getting-really-close-jakarta-ee-10

The Jakarta EE community teamwork is amazing!  They are completely focused on [Jakarta EE 10 release plan](https://eclipse-ee4j.github.io/jakartaee-platform/jakartaee10/JakartaEE10ReleasePlan) and following the [Jakarta EE Specification Pro

[2022-04-27 20:31] linkfang commented on #1466
Hi @TanjaObradovic , please preview the updates here:

https://deploy-preview-1467--jakartaee.netlify.app/news/
https://deploy-preview-1467--jakartaee.netlify.app/news/getting-really-close-jakarta-ee-10/

[2022-04-27 21:39] TanjaObradovic commented on #1466
Looks great! thanks!

[2022-04-27 21:39] #1466 closed, assigned to linkfang

[2022-04-27 23:23] shabnammayel commented on #1463
Thanks @ericpoirier. a few corrections:

- In the banner image, the cloud portions are different and bigger than Mehrnaz's image. the words : Community-driven innovation, modernized, simplified and lightweight are missing from the image.
- I believe the orange colours used in the banner sections are darker and bolder that the one Mehrnaz provided in the mockups. can we change them to match more cl

[2022-04-28 17:54] ericpoirier commented on #1463
@meKokabi can you provide the cloud on a transparent background in either png or svg format? This way I'll be able to adjust the size of the cloud without ajdusting the rest of the background image.

@meKokabi can you provide the hex color that you are using. This way we will have the same.

+1

+1

+1

I'm copy pasting the image that was provided. Looking at the 9.1 release page and the specifica

[2022-04-29 12:36] ericpoirier commented on #1463
@shabnammayel I made the changes that I was able to do on my end.

https://deploy-preview-1465--jakartaee.netlify.app/release/10/

@meKokabi as mentioned above, can you provide the cloud image on its own on a transparent background and the hex color of the orange you'd like me to use.

Thanks.