[2020-11-17 01:31] aeiras opened #986 "[Jakarta EE Mailing List Inventory Adjustments] Jakarta Server Pages"
https://jakarta.ee/connect/mailing-lists/

11/16.2020 status
EE4J Eclipse Project for JSP developer discussions

**email:** jsp-dev@eclipse.org (34 subscribers)

**Change description to** Discussions related to defining templates engine for web applications.

[2020-11-17 01:34] aeiras opened #987 "[Jakarta EE Mailing List Inventory Adjustments] Jakarta Standard Tag Library"
https://jakarta.ee/connect/mailing-lists/

11/16.2020 status:
EE4J Eclipse Project for JSTL developer discussions

**email:** EE4J Eclipse Project for JSTL developer discussions  (23 subscribers)

**Change description to** Discussions related to providing a set of tags to simplify the JSP development.

[2020-11-17 01:39] aeiras opened #988 "[Jakarta EE Mailing List Inventory Adjustments] Jakarta Transactions"
https://jakarta.ee/connect/mailing-lists/

11/16.2020 status:
EE4J Eclipse Project for JTA developer discussions

**email:**  jta-dev@eclipse.org (27 subscribers)

**Change description to** Discussions related to allowing handling transactions consistent with X/Open XA-Specs

[2020-11-17 01:50] aeiras opened #989 "[Jakarta EE Mailing List Inventory Adjustments] jts-dev@eclipse.org (remove)"
https://jakarta.ee/connect/mailing-lists/

11/16.2020 status:
JTS project developer mailing list

**email:**  jts-dev@eclipse.org (29 subscribers)

**Recommendation:**  How is this mailing list related to Jakarta EE

-  used only 1 in March 2020. -- archived as well. (maybe)?

[2020-11-17 01:53] aeiras opened #990 "[Jakarta EE Mailing List Inventory Adjustments] Jakarta MVC"
https://jakarta.ee/connect/mailing-lists/

11/16.2020 status:
mvc developer discussions

**email:** mvc-dev@eclipse.org (17 subscribers)

**Change description to** Discussions related to standardizing the action-based model-view-controller pattern.

[2020-11-17 01:56] aeiras opened #991 "[Jakarta EE Mailing List Inventory Adjustments] Jakarta NoSQL"
https://jakarta.ee/connect/mailing-lists/

11/16.2020 status:
nosql developer discussions

**email:** nosql-dev@eclipse.org (29 subscribers)

**Change description to** Discussions related to creating applications with NoSQL databases.

[2020-11-17 01:58] aeiras opened #992 "[Jakarta EE Mailing List Inventory Adjustments] Jakarta Servlet"
https://jakarta.ee/connect/mailing-lists/

11/16.2020 status:
EE4J Eclipse Project for Servlet developer discussions

**email:** servlet-dev@eclipse.org (56 subscribers)

**Change description to** Discussions related to handling HTTP request and responses.

[2020-11-17 02:01] aeiras opened #993 "[Jakarta EE Mailing List Inventory Adjustments] Jakarta WebSocket"
https://jakarta.ee/connect/mailing-lists/

11/16.2020 status:
EE4J Eclipse Project for WebSocket developer discussions

**email:** websocket-dev@eclipse.org (43 subscribers)

**Change description to** Discussions related to Server and Client endpoints for WebSocket protocol.

[2020-11-17 14:08] chrisguindon commented on #993
Thanks @aeiras,

Do you think you can provide a PR with all the changes that you are [requesting](https://github.com/jakartaee/jakarta.ee/issues/created_by/aeiras)?
https://github.com/jakartaee/jakarta.ee/blob/src/layouts/shortcodes/pages/mailing-lists.html

I am thinking that we can solve all ~40 issues with 1 PR.

[2020-11-17 14:15] aeiras commented on #993
Omgosh, 1 PR would be amazing. ❤️

Yes, but only after there is community review.
I have used the descriptions as listed in the specifications page but I don’t think most as correct. It needs the community working on the API’s to put some effort.

Thanks Chris, 🤗

[2020-11-17 16:47] lukasj commented on #977
where did you find this? https://projects.eclipse.org/projects/ee4j.mail/contact has correct and up-to date info...

[2020-11-17 16:50] aeiras commented on #977
Hola Lukas,

https://accounts.eclipse.org/mailing-list/javamail-dev

It says that the mailing list is not valid YET the API is active.

Thank you for checking this out and helping fix current issue. What I found out last night is that there is not even a history of the mailing list. Lets fix this!

[2020-11-17 16:54] lukasj commented on #977
https://bugs.eclipse.org/bugs/show_bug.cgi?id=548921#c3 should explain that

[2020-11-17 17:03] aeiras commented on #977
Love it, can 1 of you submit a PR helping fix issue using the List PR here?

The 41 issues I submitted yesterday, enable the review to be completed before using the 1 PR to adjust stuff :)

https://github.com/jakartaee/jakarta.ee/blob/src/layouts/shortcodes/pages/mailing-lists.html

[2020-11-17 17:04] aeiras commented on #977
It is likely that you two help close this ticket ASAP :) You two rock! thank YOU.

Please close ticket once the PR has been sent, super happy here- cheers with tea!

[2020-11-17 17:29] edbratt commented on #977
https://github.com/jakartaee/jakarta.ee/pull/994

I can't merge b/c I am not a committer to this project.

https://deploy-preview-994--jakartaee.netlify.app/connect/mailing-lists/

On 11/17/2020 9:04 AM, Amelia Eiras wrote:

[2020-11-17 17:33] aeiras commented on #977
Only Chris and his team can merge the PRs Ed.

The mailing list falls into the jurisdiction of the INFRA of Jakarta EE controlled by the EF.

Chris is already aware of these issues and we will use the PR to submit all changes. On that note, you can comfortably closed this ticket. I recommend that you add extra context on the commit you pushed with a clearer description and formal project name as w

[2020-11-17 17:35] aeiras commented on #993
Chris, with a few Jakartees, we already started reviewing the issues and commits are arriving to the PR :)

I am stating that only you and your team can merge the commits. If there is anything off about my understanding, please do let us know via that ticket. Only those who do are deserving of feedback on actions taken! Thank you @chrisguindon!
https://github.com/jakartaee/jakarta.ee/issues/977#is

[2020-11-17 17:36] edbratt commented on #977
I don't know how to edit the PR comments via the direct-edit web UI
which I used. Sorry about the terseness. If you know how to do that, I'd
appreciate the guidance.

On 11/17/2020 9:33 AM, Amelia Eiras wrote:

[2020-11-17 18:00] aeiras commented on #977
Gotcha Ed!

Will do this when I tackle the PR "details". Do not close this ticket to remind me of your request.

Direct asks into how we collaborate are always preferred. It makes protecting each other's time precious and most appreciated by people like you, me, and others. Therefore, don't ever apologize for being direct with me nor waste your time trying to figure out how when you can state it a

[2020-11-17 18:49] karenmcnaughton commented on #878
@chrisguindon Elspeth will provide a .psd design file of the page that has the additional download button to the page with the version listings that meet the IP/legal terms. @TanjaObradovic and I met with her today and she will send asap.

[2020-11-17 19:03] chrisguindon commented on #878
@karenmcnaughton Thanks for the update!

[2020-11-17 19:13] chrisguindon commented on #947
@kwsutter We can definitely change the ordering but the current order is by design.

The layout file is looping specifications `.ByWeight`:
https://github.com/jakartaee/jakarta.ee/blob/src/layouts/specifications/list.html#L31

The weight is defined in the specification repo:
https://raw.githubusercontent.com/jakartaee/specifications/master/platform/_index.md

Should we replace .ByWeight with `.ByT

[2020-11-17 19:22] edbratt commented on #977
https://github.com/jakartaee/jakarta.ee/pull/994 -- This can be closed.

[2020-11-17 19:29] chrisguindon commented on #993
Thanks @aeiras

I will review and merge these requests as they come in!

The only thing I would add to your comment is that @ivargrimstad is also a committer on the website and can merge PR .

[2020-11-17 19:37] edbratt commented on #878
Me personally, I would prefer product name text just below the images on the generic tab. If the bold text from the version specific tabs was included below the images, that would be better -- for me.

[2020-11-17 19:45] ivargrimstad commented on #947
@chrisguindon The weight sorting is only there to make sure that the Platform and Web Profile are always first. None of the other specs have this parameter set.

[2020-11-17 20:04] dblevins commented on #947
Sounds like we need to first sort by title, then sort by weight.  If only the Platform and Web Profile specs have a weight and the other specs have no (or the same) weight, it should work out.

[2020-11-17 20:06] dblevins commented on #947
@Dexmaster Do you know if a primary and secondary sort like the above is possible in Hugo?

[2020-11-17 20:25] flora8984461 commented on #947
Hello All,
Could you please help me check if this order is correct?
https://deploy-preview-995--jakartaee.netlify.app/specifications/

Thanks!

[2020-11-17 20:32] dblevins commented on #947
Looks great to me!  Thank you @flora8984461

[2020-11-17 21:15] chrisguindon commented on #947
@flora8984461 to the rescue! Thanks for the fix!

[2020-11-17 21:22] aeiras commented on #977
amazing Ed!

[2020-11-17 21:25] #947 closed

[2020-11-17 21:37] Dexmaster commented on #947
It just needed to use additional range function with ByParam, but I see @flora8984461 already done it. *(there is another way with GroupByParam but it will have the same result) Great job!

[2020-11-17 21:39] flora8984461 commented on #947
Thx for the info, I did not know there is "GroupByParam", a good syntax to learn

[2020-11-17 21:40] cesarhernandezgt commented on #993
Hi @chrisguindon,

Does an update on the description for this specification description in https://jakarta.ee/connect/mailing-lists/ page will be automatically propagated to https://accounts.eclipse.org/mailing-list/websocket-dev page ?

![image](https://user-images.githubusercontent.com/1454523/99453677-eb4bbe00-28ea-11eb-98f0-5dee941a2ba2.png)

[2020-11-17 21:44] Dexmaster commented on #947
https://github.com/hamoid/long-hugo-doc#functions.range.md - this doc has some good info on functions, might be useful when you need some esoteric one :)

[2020-11-18 20:18] flora8984461 commented on #878
Hello @edbratt , Sure I can add that, and please check the new preview after it's refreshed.

But I will defer to you and other design&marketing members to decide shall we keep the same as the original design or add the names.

Thanks!

[2020-11-18 20:45] edbratt commented on #878
I like the new version and I realize that some images have the name in
them while some don't.

On 11/18/2020 12:18 PM, Yi (Flora) Liu wrote:

[2020-11-19 20:16] chrisguindon commented on #993
No, the content on  https://jakarta.ee/connect/mailing-lists/  is static HTML but the content from https://accounts.eclipse.org/mailing-list/websocket-dev is stored in a database.

However, we do offer an API that we can use to fetch this information which we could use on jakarta.ee
https://api.eclipse.org/#operation/FetchMailingLists

We can definitely help with updating that information in our d

[2020-11-19 20:46] aeiras commented on #993
Hola Chris, @chrisguindon,

using the API would be amazing after the mailing list is updated, just awesome!

Now, do you mean an excel sheet with the 3 columns?  or do you need something else using git?

If excel, I volunteer to populate it as I will be working with whoever chooses to help update stuff via the 41 issues that end with PRs. It seems that 1 PR for all is not possible. As you saw with

[2020-11-19 21:13] chrisguindon commented on #993
Excel would work but Google Sheets might be easier for collaboration. I will need to import the data in our database and I don't plan on scripting this since there are only 41 to update. It will probably quicker for me to simply copy and paste.

We can keep the 41 issues if you need them to push this initiative forward.I am just concern that we might lose track of all the other issues now that the

[2020-11-19 21:23] aeiras commented on #993
Point taken, Chris. How about this:

Can you forget completely about the 41 issues?
Can you only care about PRs submitted?

If YES, then we clear miscommunications and avoid wasting your time. :)
We will close the 41 issues as PRs are sent.

 Next week, at the Friends of Jakarta EE, Cesar will demo how to submit PRs and show how to help on this task. Specially, we are thinking about contributors w

[2020-11-19 21:42] chrisguindon commented on #993
Yes, I can definitely work around this. I am raising this for people that might not follow the issue queue as close as me.

I don't see this as a waste of time! I think it's good to also have these conversations regardless of the outcome! At the end of the day, WE (collectively), decide how we want to use the issue queue.

That's awesome to hear!

Sounds good! Feel free to ping me whenever we are

[2020-11-19 21:51] aeiras commented on #993
Feeling deeply appreciative of you Chris!
You are **always** looking into understanding stuff to execute/collaborate better. When you are involved, everything collaborating wise is better. So much value and super fun!

I will update the Jakarta EE Community via the thread-forum ongoing on this task so that anyone interested in helping learns from this ticket what's what!

Of course, I will bcc you

[2020-11-19 22:47] aeiras opened #996 "[Jakarta EE Mailing List- Google Sheet] Inventory to help update the EF accounts - database via API"
Using [ Open
[Jakarta EE Mailing List Inventory Adjustments] Jakarta WebSocket
](https://github.com/jakartaee/jakarta.ee/issues/993#issuecomment-728951816) with Chris's [comment ](https://github.com/jakartaee/jakarta.ee/issues/993#issuecomment-730612016) the google sheet will contain the 3 items required to update across the EF infra the Jakarta EE Mailing list.

https://docs.google.com/spreadshee

[2020-11-19 23:48] aeiras commented on #993
email sent https://www.eclipse.org/lists/jakarta.ee-community/msg02568.html

[2020-11-20 01:23] cesarhernandezgt commented on #993
@chrisguindon @aeiras

I've catchup with the exchanges. As per my understanding:
1. The Github Issues will remain since individual conversations may occur for specific specifications.
2. The "actual" update work has been moved now to fill in the google spreadsheet. This data will then be updated in the API DB.
3. There will no need for individual Pr's since in the near future the page https://jaka

[2020-11-20 01:27] aeiras commented on #993
Cesar,

1- yes,
2- the google sheet comes only after the PRs are submitted, which means that issues are closed as well. Step 3 before step 4 occurs.
3- PRs are still needed and only Chris and Ivar can merge those.
The google sheet will help push the API update across the EF database.

[2020-11-20 13:29] chrisguindon commented on #925
This is scheduled for November 24.

[2020-11-20 17:48] aeiras commented on #925
Chris,

I saw this when you delivered the issue. If it doesn't cut the way contributors can help update the website, then there is no issue.
After all, it is you and your team who need to deal with the WG websites infra support. Finding ways to avoid SLA mean you get up at wee hours notified that something broke is not ok.

:)

[2020-11-20 18:49] chrisguindon commented on #925
I believe this will improve the way contributors can help with the site. We will be using the same service that we are currently using for PR previews to deploy the website.

We will also see commits on production within minutes from merging them. Right now, a deployment can take up-to a few hours because of the throttling done by Travis-ci.

I agree! I think this chance reduces the complexity of

[2020-11-20 19:29] aeiras commented on #925
That's wonderful, Chris! :)

Thank you for caring enough to provide insight as to why something needs to be adjusted and making space to allow feedback to come in.
I asked our team, who handles our websites' support early. Your actions made that possible.  I hate being **informed** about open source stuff. So disrespectful and unfair.

 That's why I always tell you how much I appreciate how you ha

[2020-11-24 17:43] chrisguindon commented on #925
Quick update:

We successfully migrated jakartaone.org but we did not move jakarta.ee. We started with jakartaone.org in order to make sure that our migration plan was good.

Unfortunately, we realized that the migration makes the website unavailable for 30 minutes. The delay is caused by Netlfily waiting for DNS propagation before generating an SSL cert from Let's Encrypt.

Since this was unexpec

[2020-11-24 17:48] chrisguindon commented on #925
We also need to come up with a solution for implementing the start.jakarta.ee redirect to https://eclipse-ee4j.github.io/starter/ from Netlify.

I will investigate this and use one of our test sites to test a solution. I will report back once we have a solution.

Please note that I consider this redirect issue a blocker to the migration. We will not migrate to Netlify until we have a solution for

[2020-11-24 18:14] ivargrimstad commented on #925
It would be nice if we could get start.jakarta.ee to be integrated into the website, but I guess that is a slightly bigger job...

[2020-11-24 18:50] chrisguindon commented on #925
I am done with my testing and we can easily set up redirects. I just did this for the openmdm.org website:
https://github.com/EclipseFdn/openmdm.org/blob/master/static/_redirects

@ivargrimstad I've got some good news for you then :) We can use this solution to proxy to the  https://eclipse-ee4j.github.io/starter/ website.

For example:
https://start.chrisguindon.com/

Configs:
https://github.com/

[2020-11-24 21:10] TanjaObradovic commented on #996
@aeiras is the idea to engage the community and update the spreadsheet with emailing lists and descriptions (long and short description should be in fact the same)? If so, I updated 3 mailing lists as an example and to get things going, I hope this helps.
Mailing lists are associated with projects, so I believe all we need to do is provide the project name that the list is intended for.

[2020-11-24 21:12] autumnfound commented on #993
@aeiras you may have noticed I added a label to all of the issues around the mailing list that were created this past week. This is to help both sides of the coin keep our pages a little cleaner and filter the noise! GitHub has a feature where you can filter issues by labels (among other things) within the main issues window. This lets the developers in the Foundation filter out the community-run

[2020-11-24 22:07] chrisguindon commented on #878
Are we ok to push this live or do we need more people to comment before we do so?

 https://deploy-preview-944--jakartaee.netlify.app/compatibility/

[2020-11-24 22:30] TanjaObradovic commented on #878
it looks great to me!

@karenmcnaughton please comment if we are still waiting on Elspeth, or we can go ahead with this and we'll adjust later.

[2020-11-25 16:00] karenmcnaughton commented on #878
Let's go ahead with this version and we will circle back to @chrisguindon next week if need be.

[2020-11-25 16:02] flora8984461 commented on #878
@chrisguindon @TanjaObradovic Before merging, do we want to put anything in Jakarta EE 9 or just leave a "coming soon"? I'm gonna add it to Chinese as well if we decide to use some words like "coming soon"

[2020-11-25 16:05] TanjaObradovic commented on #878
We should switch on all Jakarta EE 9 related pages on Dec 8th and late evening Dec 7th, as that was agreed as approach with MKT committee. Till then we should have it as "coming soon".

[2020-11-25 16:32] flora8984461 commented on #878
Sounds good. I made a little adjustment on the alignment of "coming soon" and added a Chinese translation. (Not sure if this is needed though)
https://deploy-preview-944--jakartaee.netlify.app/compatibility/#tab-9
https://deploy-preview-944--jakartaee.netlify.app/zh/compatibility/#tab-9

Thanks!

[2020-11-25 18:10] #878 closed

[2020-11-25 19:26] chrisguindon commented on #925
The plan would be to migrate this on December 2 at 1 pm EST.

[2020-11-26 16:03] karenmcnaughton opened #1001 "Add videos to Jakarta EE 9 release page"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-11-26 16:51] karenmcnaughton commented on #1001
Hi @chrisguindon as discussed: we need to add 4 new videos to the Jakarta EE 9 release page.
Ideally positioned below the Projects/Committers/GIT Repositories section.
The videos can be found here:
Reza Rahman: https://youtu.be/H3xkLW-F69E

Kevin Sutter: https://youtu.be/vOVm9P9i8K4

Markus Karg: https://www.youtube.com/watch?v=DxwL02Xgri4&t=2s

Edwin Derks: https://youtu.be/eh_spQ7kHbo

[2020-11-26 16:57] karenmcnaughton opened #1002 "Update the FAQ on the Jakarta EE website"
We have an update to the FAQ for the Jakarta EE website--the current one is located here:
https://jakarta.ee/about/faq/

The updated text can be found here: https://docs.google.com/document/d/1-ZjjP81SHrgLO_hp2LAQ5JEWKU8tT_drqi6WPphkS6E/edit#

[2020-11-30 14:03] MarkWareham opened #1005 "Updates for Payara Server on Compatible Products Page"
_Note: this request is an update to version number as well as addition of web profile compatible product listing._

To include your Compatible Software Product on the Jakarta EE official list of Compatible Software Products, please provide the following information:

**The URL to the Eclipse Foundation profile to confirm that you are an authorized representative of the company whose product inform

[2020-11-30 16:29] flora8984461 commented on #1001
Hello Karen @karenmcnaughton ,

I added the videos but I'm not sure if there is any preferred design for it?

Please check the preview here: https://deploy-preview-1007--jakartaee.netlify.app/release/9/

Thanks!

[2020-11-30 16:51] karenmcnaughton commented on #1001
Hi @flora8984461 are we able to add a "Powered by Participation" with a line under it--same as on this page: https://jakarta.ee/release/ ? That would be perfect, if possible. Thanks!

[2020-11-30 17:56] flora8984461 commented on #1005
@MarkWareham Hello,
Just hope to confirm by "Update version number of full profile to 5.23.0", you want to remove 5.21.2?
Please check the preview: https://deploy-preview-1006--jakartaee.netlify.app/compatibility/#tab-8

Thanks!

[2020-11-30 18:33] #1001 closed

[2020-11-30 18:34] flora8984461 commented on #1001
Hello Karen,
Sure I can add it, but I would suggest making the style complied with the current design style. So I made some adjustments.

Thanks!

[2020-11-30 19:31] aeiras commented on #996
Hola Tania,

Yes, the idea is to work together on the clean up :)  I know it might be challenging but if you could find the issues for the mailings list you mention and track your help on those tickets, that would be perfect as it will help close the tickets as stuff gets reflected into the google sheet.

Cheers,

[2020-11-30 19:44] aeiras commented on #993
Hola Martin,

I see it and think it is pretty fantastic! Thank you! :)

[2020-11-30 20:47] TanjaObradovic opened #1008 "Jakarta EE Connect page minor update"
https://jakarta.ee/connect/ has Jakarta EE Monthly Update Calls section that should be renamed to Jakarta EE Community Calendar. Can you please make this update?

[2020-11-30 21:34] flora8984461 commented on #1002
Hi @karenmcnaughton , Do we also need the translation of Chinese?

[2020-11-30 21:44] karenmcnaughton commented on #1002
Yes @flora8984461 that would be ideal if possible! Thanks

[2020-12-01 15:49] MarkWareham commented on #1005
Hi @flora8984461
I hadn't appreciated the logic has changed and now the page includes more than just the latest version. In which case, no, please add 5.23.0, and [5.22.0](https://github.com/eclipse-ee4j/jakartaee-platform/issues/252)

[2020-12-01 16:12] flora8984461 commented on #1005
@MarkWareham Thanks for your feedback.
Please check the preview here:
https://deploy-preview-1006--jakartaee.netlify.app/compatibility/#tab-8
Thanks!

[2020-12-01 21:04] #1008 closed

[2020-12-01 21:06] chrisguindon commented on #1002
@karenmcnaughton can this go live now or do we need to wait for Jakarta 9 release?

[2020-12-01 21:38] TanjaObradovic commented on #1002
it can go live now @chrisguindon & @karenmcnaughton

[2020-12-02 15:21] flora8984461 commented on #1002
Please check the preview https://deploy-preview-1004--jakartaee.netlify.app/about/faq/
and Chinese https://deploy-preview-1004--jakartaee.netlify.app/zh/about/faq/

Thanks!

[2020-12-02 15:48] ZahraFazli opened #1012 "Add Beijing Huayu Information Technology Co., Ltd to the Jakarta EE website"
Hello,
Please add Beijing Huayu Information Technology Co., Ltd as a Participant Member to the Jakarta EE website
![3E437607D45A41A29FD76AB67EDE38E3 5761651](https://user-images.githubusercontent.com/50374570/100895705-db57e080-348b-11eb-8de1-2a620732a1bc.png)

Thank you,
Zahra

[2020-12-02 21:23] chrisguindon commented on #925
The migration is now complete!

Please note that it might take up to 48 hours for DNS propagation. It's possible that some users are still visiting the gh-pages server but the website is the same on both!

@ivargrimstad I also created a proxy rule for https://start.jakarta.ee/. We are no longer redirecting users!

[2020-12-02 21:23] #925 closed

[2020-12-03 18:34] karenmcnaughton commented on #861
On this page: https://jakarta.ee/compatibility/

We need to do the following:

remove the orange Download button that is top right on the page
add a new button the to left of "Compatibility Requests" that says "Download Compatible Products"
when you click on that new button, it will take you to a new page
the design file for this new page can be found here:

[2020-12-03 18:36] karenmcnaughton commented on #861
@flora8984461 https://drive.google.com/file/d/1IpRSyn_hOVcgxOk1AoQx8Ef7r7vVDOjT/view?ts=5fc8f5e1

[2020-12-03 18:37] chrisguindon commented on #861
Thanks @Thharrison for the contributions!

I will assign this issue to @flora8984461 now to address the new changes that @karenmcnaughton is describing to us.

[2020-12-03 18:38] chrisguindon commented on #861
Actually, I think we can close this one and create a new one for @karenmcnaughton request.

[2020-12-03 18:38] #861 closed

[2020-12-03 18:48] chrisguindon opened #1013 "Update Jakarta EE Compatibility Page"
On this page: https://jakarta.ee/compatibility/

We need to do the following:
- remove the orange Download button that is top right on the page
- add a new button the to left of "Compatibility Requests" that says "Download Compatible Products"
- when you click on that new button, it will take you to a new page
- the design file for this new page can be found here: https://drive.google.com/file/d/1

[2020-12-03 18:48] chrisguindon commented on #1013
@karenmcnaughton can you provide a list of download URL for each product?

[2020-12-03 20:13] flora8984461 commented on #1012
Hi @ZahraFazli , Can you confirm the company link is  http://www.thunisoft.com/ ?

Thanks!

[2020-12-03 21:08] karenmcnaughton commented on #1013
Date to be completed by December 18th.
The .XLS for the versions to be featured on the page are here: https://docs.google.com/spreadsheets/d/1iGDajRprImmkzGBj3QAVbio8TzN6MCSprVskYZwyfx0/edit#gid=0

[2020-12-03 22:10] jph152 opened #1015 "Upload updated membership prospectus for Jakarta EE"
Can you please upload the new Jakarta EE membership prospectus?

"Download Membership Prospectus" button is here: https://jakarta.ee/membership/

[Jakarta_Membership_Prospectus_v06_2020 (1).pdf](https://github.com/jakartaee/jakarta.ee/files/5639191/Jakarta_Membership_Prospectus_v06_2020.1.pdf)

Google Drive link: https://drive.google.com/file/d/1sShegqW_HtlU0NdgPPw8jxLZmEjzrasS/view?usp=sharing

[2020-12-03 23:12] edbratt opened #1016 "Eclipse GlassFish 6 as Compatible Product of Jakarta EE 9.0"
To include your Compatible Software Product on the Jakarta EE official list of Compatible Software Products, please provide the following information:

**The URL to the Eclipse Foundation profile to confirm that you are an authorized representative of the company whose product information you are submitting**
  - [Ed Bratt](https://projects.eclipse.org/content/ed-bratt-committer-eclipse-glassfish)

[2020-12-03 23:14] edbratt commented on #1016
GlassFish 6.0 will be released prior to Dec. 8. We want 6.0 listed on the compatibility page. The download page includes download of GlassFish 6.0RC2 which is also compatible. This page will be updated, once 6.0 (Final) is released.

[2020-12-03 23:22] edbratt opened #1017 "Eclipse GlassFish 6.0 Web Profile as Compatible Product of Jakarta EE 9.0 Web Profile"
To include your Compatible Software Product on the Jakarta EE official list of Compatible Software Products, please provide the following information:

**The URL to the Eclipse Foundation profile to confirm that you are an authorized representative of the company whose product information you are submitting**
  - [Ed Bratt](https://projects.eclipse.org/content/ed-bratt-committer-eclipse-glassfish)

[2020-12-04 17:52] flora8984461 commented on #1013
Hello,
Please have a look at the preview:
https://deploy-preview-1019--jakartaee.netlify.app/compatibility/download/

https://deploy-preview-1019--jakartaee.netlify.app/compatibility/

Thanks!

[2020-12-04 18:33] chrisguindon commented on #1013
@flora8984461 How about we hide sections that are empty? @karenmcnaughton Is that option?

[2020-12-04 18:37] #1005 closed

[2020-12-04 19:18] flora8984461 commented on #1015
Hello @jph152 ,

Please check the preview: https://deploy-preview-1020--jakartaee.netlify.app/documents/membership/jakarta-ee-membership-prospectus.pdf

I feel the pdf style is a little bit weird, if this is good for you, we will merge it.

Thanks!

[2020-12-04 19:42] flora8984461 commented on #1013
@karenmcnaughton
Hi Karen,
Can you please help me confirm the download links for the two Payara Server are:

[code]

And

[code]

Plus, I notice that Eclipse GlassFish 6 for both Full Profile and Web profile are coming for Jakarta EE 9.0, could you please also add these two download links in the google sheet?

Thanks!

[2020-12-04 19:52] flora8984461 commented on #1017
Hi @edbratt , @chrisguindon
Just hope to confirm is the `Eclipse GlassFish 6.0, Web Profile` TCK result the same as `Eclipse GlassFish 6.0, Full Platform`?
Since the link `Compatibility certification request for Eclipse GlassFish 6.0 for Jakarta EE 9, Web Profile` is for full platform.

Thanks!

[2020-12-04 20:05] flora8984461 commented on #1012
@ZahraFazli has confirmed by slack

[2020-12-04 21:05] #1012 closed

[2020-12-04 21:22] jph152 commented on #1015
[Uploading Jakarta_Membership_Prospectus_v06_2020 (1).pdf…]()

[2020-12-04 21:42] chrisguindon opened #1022 "Launch Jakarta EE 9 page"
The go live for the Jakarta EE 9 page is late in the day on December 7th please.
Can you remove the text: "Jakarta EE 9 is coming on December 8" before go live.

//cc @karenmcnaughton

[2020-12-04 23:25] edbratt commented on #1017
Fixed the link to the Web Profile certification issue. Thanks for catching that.

[2020-12-05 16:47] jph152 commented on #1015
[Jakarta_Membership_Prospectus_v06_2020 (3).pdf](https://github.com/jakartaee/jakarta.ee/files/5647433/Jakarta_Membership_Prospectus_v06_2020.3.pdf)

[2020-12-07 18:59] #1016 closed

[2020-12-07 18:59] #1017 closed

[2020-12-07 18:59] #1022 closed

[2020-12-07 19:24] #1015 closed

[2020-12-07 20:18] #620 closed

[2020-12-08 18:23] karenmcnaughton commented on #1013
Hi @flora8984461 the orange button on this page: https://deploy-preview-1019--jakartaee.netlify.app/compatibility/ needs to say "Download Compatible Products" pls.

[2020-12-08 18:25] karenmcnaughton commented on #1013
@flora8984461 also on this page: https://deploy-preview-1019--jakartaee.netlify.app/compatibility/ need to remove the Orange "Download" button on the top right of the page pls.

[2020-12-08 20:44] chrisguindon opened #1026 "Improve Netlify Build Time"
The average build time for jakarta.ee with Netlify is about 6 minutes. I think we can do better here.

Some ideas on how we can solve this problem:

- We are cloning the specification repository for each build. Can we improve the build time by including the specification repo as a sub-module?

- Do we need to run npm install at the start of each build?

[2020-12-09 16:10] flora8984461 commented on #1013
@karenmcnaughton I have made the changes and the pages will refresh soon. I'm wondering do I need to remove the "Download" button on the top right of this page?  https://deploy-preview-1019--jakartaee.netlify.app/compatibility/download/

Thanks!

[2020-12-09 18:00] flora8984461 commented on #1002
This is updated and live.

[2020-12-09 18:00] #1002 closed

[2020-12-09 20:20] karenmcnaughton commented on #1013
@flora8984461 thank you I think that's fine the way it is

[2020-12-10 19:54] karenmcnaughton commented on #1013
@flora8984461 you can push these live pls when ready

[2020-12-10 19:56] chrisguindon commented on #1013
@karenmcnaughton I am looking at this now. We are quite busy this week!

[2020-12-10 20:38] #1013 closed

[2020-12-14 21:21] rsoika opened #1028 "Jakarta EE 9 - Glassfish 6 - How to get the server?"
I want to try out Jakarta EE 9. We have already started migrating our Java Enterprise Workflow Engine [Imixs-Workflow](https://www.imixs.org) to Jakarta EE 9.

Now I am looking for a server to deploy my code. But it is not clear which one I should use. It seems that Glassfish 6 is the first choice. But of course https://glassfish.org/ does not exist (for what reason ever). Also on the Jakarta page

[2020-12-14 23:00] edbratt commented on #1028
Hi Ralph,

Glassfish.org works for me. Maybe you are trying something more complex?
The same page is also available by browsing to
http://eclipse-ee4j.github.io/glassfish. The download page includes
direct download links.

https://download.eclipse.org/ee4j/glassfish contains the downloads.
Could you please describe what problems you are encountering with these?

the parameterized download allows t

[2020-12-15 06:58] rsoika commented on #1028
Hi Ed,
thanks - yes I was completely on the wrong way. I can confirm now that glassfish.org works fine - sorry.
Now I can find the information I needed. I will build my own Docker image from 6.0.0-RC2 and hope I can contribute my feedback soon.
Thanks for providing this background info.

[2020-12-15 06:59] #1028 closed

[2020-12-15 13:21] chrisguindon opened #1029 "Fix broken links on jakarta.ee"
As part of our ongoing SEO effort for Jakarta.EE, we need to fix broken links on the site.

Most of the errors are from the /specifications section and I created https://github.com/jakartaee/specifications/issues/318 to fix the broken links for that section.

However, we still have 6 errors that we need to fix on the site. Please see the following report for more information:
https://docs.google.c

[2020-12-15 13:30] chrisguindon commented on #1029
@ivargrimstad

We are getting a 404 from https://start.jakarta.ee/starter/samples/simple-hello.zip but https://eclipse-ee4j.github.io/starter/samples/simple-hello.zip is working.

Can we update the link for that page to go to https://eclipse-ee4j.github.io/starter/samples/simple-hello.zip?

[2020-12-15 13:51] ivargrimstad commented on #1029
@chrisguindon Is it possible to move this issue to https://github.com/eclipse-ee4j/starter/issues

[2020-12-15 14:16] chrisguindon commented on #1029
@ivargrimstad We should create a new one. We are using this one to tackle other issues on the site.

[2020-12-15 14:18] chrisguindon commented on #1029
@ivargrimstad It's now created: https://github.com/eclipse-ee4j/starter/issues/62

[2020-12-15 17:08] flora8984461 commented on #1029
Hi @ivargrimstad ,
On this page https://jakarta.ee/committees/specification/operations/ in section "Specification Document Conventions (Currently under discussion)" and in subsection "Initial Migration Tasks", the link for "Project Names and Codes" ( https://jakarta.ee/committees/specification/operations/names.xml ) is missing. I have checked the folder https://github.com/jakartaee/jakarta.ee/tree

[2020-12-17 15:53] WalkerWatch opened #1032 "Compatibility Request Link Broken"
**Describe the bug**
The "Compatibility Requests" link is malformed (it is missing a .) and results in an inability to resolve the hostname.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://jakarta.ee/compatibility/'
2. Click on 'Compatibility Requests'
4. See error.

**Expected behavior**
You would expect to be directed to: https://github.com/eclipse-ee4j/jakartaee-platform/is

[2020-12-18 18:39] chrisguindon commented on #1032
Thanks to all that contributed a fix for this! We got 3 different PR!

I committed https://github.com/jakartaee/jakarta.ee/pull/1035 since it had a fix for both file.

[2020-12-18 18:39] #1032 closed

[2021-01-04 14:18] ivargrimstad commented on #1029
@flora8984461 https://github.com/jakartaee/specification-committee/blob/master/names.adoc

[2021-01-04 21:06] karenmcnaughton opened #1037 "Moving jakartablogs.ee to jakarta.ee"
For the website redesign of Jakarta EE, we want to create a blogging platform that will allow users to log in and publish blog posts. The platform must be hosted on blogs.jakarta.ee and ideally allow for moderation.
Timing of this is to correspond with the launch of the revised jakarta.ee website.

[2021-01-04 21:20] aeiras commented on #1037
Hola Karen,

I am so happy to see this issue arrive.
In MicroProfile for +4years, we have used WordPress to enable Content contributors to add content.
We have in place the MicroProfile Content guidelines as a call to action in the MP website under [Blog tab ](https://microprofile.io/blog/)that brings anyone interested to the HOW to.

I recommend Jakarta EE Content call to action uses a similar re

[2021-01-05 07:25] ivargrimstad commented on #1037
It will need to continue to be an aggregator such as https://jakartablogs.ee where bloggers can "syndicate" feeds from their blogs and not be required to copy/paste/format content somewhere else than where they usually produce the content.

[2021-01-05 12:18] zcwslnh opened #1038 "Thunisoft Application Servrer V2.8 as a Compatible Software Product for Jakarta EE 8"
To include your Compatible Software Product on the Jakarta EE official list of Compatible Software Products, please provide the following information:

**The URL to the Eclipse Foundation profile to confirm that you are an authorized representative of the company whose product information you are submitting**

https://www.eclipse.org/membership/showMember.php?member_id=1481

**A product name and v

[2021-01-05 12:58] hantsy commented on #1038
There is no download link in the URL: http://www.thunisoft.com/tas/index.jhtml @zcwslnh

[2021-01-05 13:20] #1029 closed

[2021-01-05 13:39] zcwslnh commented on #1038
Thank you for your reminding @hantsy. We haven't provided the direct download address yet. I will contact our technical department to update it as soon as possible.

[2021-01-05 13:40] flora8984461 commented on #1038
Is it only compatible with Jakarta EE 8 or it is also compatible with Jakarta EE 9? Seems only 8 according to https://github.com/eclipse-ee4j/jakartaee-platform/issues/290 .

[2021-01-05 13:56] zcwslnh commented on #1038
You are right. Sorry,I made a mistake.It has been corrected

[2021-01-05 21:45] chrisguindon commented on #1037
To summarize, my understanding is that our requirements are the following:

- Create a blog section for jakarta.ee
- allow users to login and submit content
- Allow for moderation
- host the platform on blogs.jakarta.ee

Before we start, I have a few more questions:

**Do we need to create a separate site for this?**

Hugo can be used for blogging and I would prefer that we find a solution that le

[2021-01-05 22:59] aeiras commented on #1037
Feliz 2021 @chrisguindon,

Great follow up!

Ideally, the current blog website is deprecated. You are correct about nonsense infra upkeep.

Brainstorming a few features:
- Blog as a standalone tab in the Jakarta EE Website
- Readers and contributors find how to contribute content directly there with a call 2 action bottom to guidelines that brings them to the Jkta  Repo
- Original content could be

[2021-01-05 23:00] aeiras commented on #996
Hey all,
This week I will start the work on this!

[2021-01-06 14:20] chrisguindon commented on #1037
Feliz 2021 @aeiras,

Unfortunately, I think we will need to keep jakartablogs.ee. As mention by Ivar, I think we still need a blog aggregator for authors who wishes to write content on their own website/platform.

Brainstorming a few features:

- Blog as a standalone tab in the Jakarta EE Website

What do you mean by a standalone tab? A menu item?

- Readers and contributors find how to contribute

[2021-01-06 14:42] #1038 closed

[2021-01-06 17:00] edbratt opened #1042 "Please add Oracle WebLogic Server 14c to Jakarta EE Compatible Products page"
To include your Compatible Software Product on the Jakarta EE official list of Compatible Software Products, please provide the following information:

**The URL to the Eclipse Foundation profile to confirm that you are an authorized representative of the company whose product information you are submitting**
[Ed Bratt](https://www.eclipse.org/user/ebratt)

**A product name and version**
Oracle We

[2021-01-06 20:54] aeiras commented on #1037
Hey Chris,

- _What do you mean by a standalone tab? A menu item?_
Using [MP website](https://microprofile.io)- the blog is currently hidden in Resources. Every time without a fail, when I ask/suggest a Jakartee to submit content to Jakarta EE Blogs, none can find how to use the website. It is so frustrating that technology will choose to have such a hard way to enable contributors to help. We mus

[2021-01-08 21:25] flora8984461 commented on #1042
Hi @edbratt
Please check the preview: https://deploy-preview-1043--jakartaee.netlify.app/compatibility/
https://deploy-preview-1043--jakartaee.netlify.app/compatibility/#tab-8

If got +1 from you, we will merge it. Thanks!

[2021-01-08 22:03] edbratt commented on #1042
+1. Looks good, thank you!

[2021-01-11 18:39] #1042 closed

[2021-01-11 19:28] karenmcnaughton opened #1045 "Updating the Download button on the top right of the homepage"
We simply want to change the Download button (top right) on https://jakarta.ee/ to go here instead: https://jakarta.ee/compatibility/download/

This is more straightforward and compliant with legal, etc.

[2021-01-11 19:42] flora8984461 commented on #1045
Hi @karenmcnaughton
Do you want to remove the top right button from all the pages and only include it on https://jakarta.ee/compatibility/download/ ?

And do I put it besides the "compatibility request" button?

Would it be hard to navigate to "release" page?  🤔

I am including @chrisguindon in the loop.

Thanks!

[2021-01-11 20:20] chrisguindon commented on #1045
@flora8984461 I don't think that Karen is asking us to remove it.

I think she simply needs us to update the url of the download button!

[2021-01-11 20:23] flora8984461 commented on #1045
Oh IC, sorry for the confusion. Do we want to replace it on every page with download button?
But then I have a question, how to navigate to the release page from https://jakarta.ee/? 🤔

[2021-01-11 20:23] chrisguindon commented on #1045
@karenmcnaughton did you consider the impact of this change to this page?
https://jakarta.ee/compatibility/

... I am thinking that we could now remove the "Download Compatible Product" button from the page content  since this download button will go to that page...

[2021-01-12 15:13] karenmcnaughton commented on #1045
Agree with above^--all good now?

[2021-01-12 15:59] flora8984461 commented on #1045
Hi @karenmcnaughton
According to your request, I have made a draft preview:

https://deploy-preview-1046--jakartaee.netlify.app/

And on the download page, https://deploy-preview-1046--jakartaee.netlify.app/compatibility/download/ , the button would be hidden. Let me know if you don't want to hide it, I can change it.

And please also check the Chinese page https://deploy-preview-1046--jakartaee.n

[2021-01-13 16:15] karenmcnaughton commented on #1045
+1 looks good to me, thank you!

[2021-01-13 18:03] #1045 closed

[2021-01-14 22:46] manorrock commented on #971
This is the mailing list for the JakartaEE examples repository as required by Eclipse, see https://github.com/eclipse-ee4j/jakartaee-examples

[2021-01-15 17:30] flora8984461 opened #1051 "[SEO Improvements] Jakarta Chinese"
As we have improved SEO for English pages, we would like to discuss how to improve Chinese SEO.
I am not quite sure about how Chinese Search Engine works, but Google uses meta seo_title and description.

This is inspired by when I review https://github.com/jakartaee/jakarta.ee/pull/1048

An example using meta description:

On google search:
![image](https://user-images.githubusercontent.com/395880

[2021-01-15 17:51] chrisguindon commented on #1051
@laliwa Is there any best practices in regards to SEO in China?

[2021-01-18 16:33] flora8984461 opened #1052 "[IE Compatibility] Only IE: Contributor card not showing"
Updates:

Compatible Products display is fixed on IE.

Only Contributor card not showing for IE remains. (Need to modify the syntax to drop syntax that not supported by IE.)

--------------------

For release page:

with err: `SCRIPT438: Object doesn't support property or method 'forEach'`
![image](https://user-images.githubusercontent.com/39588094/105895953-3289b580-5fe4-11eb-8987-c8090178eaf4.pn

[2021-01-19 16:18] chrisguindon opened #1054 "Discuss renaming src branch to main"
Let discuss renaming the default branch (src) to (main) which would be more consistent with our other project.

Master used to be our default name, however, were making efforts to stay away from using those terms:
https://bugs.eclipse.org/bugs/show_bug.cgi?id=568041

[2021-01-19 18:29] ZahraFazli opened #1055 "Add Shandong Cvicse Middleware Co.,LTD on Jakarta EE website"
Hello,
Please add Shandong Cvicse Middleware Co.,LTD as Enterprise member on Jakarta EE website https://jakarta.ee/membership/members/
Thank you,
Zahra

[2021-01-19 18:41] flora8984461 commented on #1055
Hi @ZahraFazli , Could you please provide their logo and company website? Thanks!

[2021-01-20 13:40] ZahraFazli commented on #1055
[Shandong Cvicse Middleware Co.,Ltd.LOGO.zip](https://github.com/jakartaee/jakarta.ee/files/5842754/Shandong.Cvicse.Middleware.Co.Ltd.LOGO.zip)

[2021-01-20 13:57] flora8984461 commented on #1055
Hi @ZahraFazli , thanks for the logo, can you help me confirm their website is http://www.inforbus.com/ ? Since normally we add the company link to the member' logo.

[2021-01-22 19:52] aeiras commented on #996
Ok, I am picking up this task today :)

[2021-01-22 19:54] aeiras commented on #996
David contributed to the Jakarta community forum on Nov. 17th, 2020 copy/paste:

_I've changed the subject to reflect the topic._

_A couple of quick notes that might help here:

 - Each spec has a `summary_sixty_char` description.  See for example: https://raw.githubusercontent.com/jakartaee/specifications/master/messaging/_index.md
 - These summaries intentionally do not contain the project name

[2021-01-22 21:15] #1055 closed, assigned to flora8984461

[2021-01-22 21:36] chrisguindon commented on #1052
This is bad... let's plan at looking at this on Monday!

Great find @flora8984461 !

[2021-01-23 02:01] aeiras commented on #966
jaf-dev@eclipse.org	Jakarta Activation. Standardizes services for MIME type data Access.

[2021-01-23 02:01] #966 closed

[2021-01-23 02:02] aeiras commented on #973
jakarta.ee-spec@eclipse.org	Jakarta EE Specifications. Evolution of specifications.

[2021-01-23 02:02] #973 closed

[2021-01-23 02:03] aeiras commented on #972
jakartaee-platform-dev@eclipse.org	Jakarta EE Platform. Defines a platform for hosting Jakarta EE Applications.

[2021-01-23 02:03] #972 closed

[2021-01-23 02:06] aeiras commented on #971
jakartaee-examples-dev@eclipse.org	Jakarta EE Examples. Documentation, samples, tutorials of APIs & TCKs.

[2021-01-23 02:06] #971 closed

[2021-01-23 02:10] aeiras commented on #974
jakartaee-stable-dev@eclipse.org	No activity since 2019

[2021-01-23 02:10] #974 closed

[2021-01-23 02:11] aeiras commented on #967
jakarta.ee-community@eclipse.org	Jakarta EE Community. Updates & connecting with everyone in the ecosystem.

[2021-01-23 02:11] #967 closed

[2021-01-23 02:12] aeiras commented on #975
jakartaee-tck-dev@eclipse.org	Jakarta EE Technology Compatibility Kits. Development, management & deployment of server-side and cloud-native Java applications.

[2021-01-23 02:12] #975 closed

[2021-01-23 02:13] aeiras commented on #969
jakarta.ee-wg@eclipse.org	Jakarta EE Working Group.  Anything related to Members tackling tasks & working with each other.

[2021-01-23 02:13] #969 closed

[2021-01-23 02:14] aeiras commented on #968
jakarta.ee-spec@eclipse.org	Jakarta EE Specifications. Evolution of specifications.

[2021-01-23 02:14] #968 closed

[2021-01-23 02:14] aeiras commented on #957
ee4j-build		EE4J Build.  Creates standard APIs & TCKs for Java runtimes.

[2021-01-23 02:14] #957 closed

[2021-01-23 02:15] aeiras commented on #958
ee4j-dev		EE4J Development is based on Java EE standards as the baseline.

[2021-01-23 02:15] #958 closed

[2021-01-23 02:16] aeiras commented on #959
ee4j-pmc@eclipse.org 		 Eclipse Enterprise for Java Project Management Committee.

[2021-01-23 02:16] #959 closed

[2021-01-23 02:19] aeiras commented on #954
ca-dev@eclipse.org 	Jakarta Annotations. Declarative style annotations for common semantic concepts.

[2021-01-23 02:19] #954 closed

[2021-01-23 02:22] aeiras commented on #976
jaspic-dev@eclipse.org	Jakarta Authentication. Low-level container SPI for authentication mechanisms.

[2021-01-23 02:22] #976 closed

[2021-01-23 02:27] aeiras commented on #965
jacc-dev@eclipse.org	Jakarta Authorization. Low-level SPI for authorization modules, which are repositories of permissions.

[2021-01-23 02:27] #965 closed

[2021-01-23 02:29] aeiras commented on #970
jakartabatch-dev@eclipse.org	Jakarta Batch. API plus an XML-based batch job specification language

[2021-01-23 02:29] #970 closed

[2021-01-23 02:31] aeiras commented on #953
bean-validation-dev@eclipse.org	Jakarta Bean Validation. Object-level constraint declaration and validation facility.

[2021-01-23 02:31] #953 closed

[2021-01-23 02:33] aeiras commented on #956
cu-dev@eclipse.org	Jakarta Concurrency.  API for application-level concurrency that integrates with the container.

[2021-01-23 02:33] #956 closed

[2021-01-23 02:35] aeiras commented on #981
jca-dev@eclipse.org	Jakarta Connectors. Creates the architecture connecting applications to enterprise info systems.

[2021-01-23 02:35] #981 closed

[2021-01-23 02:37] aeiras commented on #955
cdi-dev@eclipse.org	Jakarta Context and Dependency Injection. Declarative dependency injection and supportive services.

[2021-01-23 02:37] #955 closed

[2021-01-23 02:45] aeiras opened #1057 "[Jakarta EE Mailing List New email] Jakarta Debugging Support for Other Languages"
Added as an API under the Jakarta EE specifications page https://jakarta.ee/specifications/debugging/ yet I don't see an email dedicated to conversations.

[2021-01-23 02:46] aeiras commented on #1057
https://docs.google.com/spreadsheets/d/1JB-dvwp2Dd9kkiEfF8kHJPlsHRbMe6NZfXo52G0eot8/edit#gid=1388687731

Inventory of emails, this request is listed under Needed- Emails mailing list tab.

[2021-01-23 02:49] aeiras opened #1058 "[Jakarta EE Mailing List New email] Jakarta Dependency injections"
https://jakarta.ee/specifications/dependency-injection/2.0/

[2021-01-23 02:54] aeiras commented on #1058
Jakarta Dependency Injections. Specifies a means for obtaining objects.

Under new email needed tab. https://docs.google.com/spreadsheets/d/1JB-dvwp2Dd9kkiEfF8kHJPlsHRbMe6NZfXo52G0eot8/edit#gid=1388687731

[2021-01-23 02:59] aeiras commented on #960
ejb-dev@eclipse.org 	Jakarta Enterprise Beans.  Deployment APIs for assembled Jakarta EE applications.

[2021-01-23 02:59] #960 closed

[2021-01-23 03:05] aeiras commented on #961
el-dev@eclipse.org 	Jakarta Expression Language. Defines expression language for Java applications

[2021-01-23 03:05] #961 closed

[2021-01-23 03:06] aeiras commented on #964
interceptors-dev@eclipse.org 	Jakarta Interceptors.  Defining means of interposing on business methods.

[2021-01-23 03:06] #964 closed

[2021-01-23 03:09] aeiras commented on #978
jaxb-dev@eclipse.org	Jakarta JSON Binding. Binding framework for converting POJO to/from JSON docs.

[2021-01-23 03:09] #978 closed

[2021-01-23 03:11] aeiras commented on #984
jsonb-dev@eclipse.org	Jakarta JSON Binding. Binding framework for converting POJO to/from JSON docs.

[2021-01-23 03:11] #984 closed

[2021-01-23 03:12] aeiras commented on #985
jsonp-dev@eclipse.org	Jakarta JSON Processing. Related to parse, generate, transform and query JSON docs.

[2021-01-23 03:12] #985 closed

[2021-01-23 03:16] aeiras commented on #977
mail-dev@eclipse.org	Jakarta Mail. A framework to build mail and messaging applications.

[2021-01-23 03:16] #977 closed

[2021-01-23 03:22] aeiras commented on #982
jms-dev@eclipse.org	Jakarta Messaging. Messaging via loosely couple reliable async services.

[2021-01-23 03:22] #982 closed

[2021-01-23 03:22] aeiras commented on #982
jms-dev@eclipse.org	"Jakarta Messaging. Messaging via loosely couple reliable async services.	"

[2021-01-23 03:24] aeiras commented on #990
mvc-dev@eclipse.org 	Jakarta MVC. Standardizes the action-based model-view-controller pattern

[2021-01-23 03:24] #990 closed

[2021-01-23 03:25] aeiras commented on #991
nosql-dev@eclipse.org	Jakarta NoSQL. Creates applications with NoSQL databases.

[2021-01-23 03:25] #991 closed

[2021-01-23 03:26] aeiras commented on #983
jpa-dev@eclipse.org	Jakarta Persistence. Management of persistence and object / relational mapping.

[2021-01-23 03:26] #983 closed

[2021-01-23 03:28] aeiras commented on #979
jaxrs-dev@eclipse.org 	Jakarta RESTful Web Services. Development of web services following the REST pattern.

[2021-01-23 03:28] #979 closed

[2021-01-23 03:30] aeiras commented on #962
es-dev@eclipse.org	Jakarta Security. Defines a standard for creating secure Jakarta EE applications.

[2021-01-23 03:30] #962 closed

[2021-01-23 03:31] aeiras commented on #963
faces-dev@eclipse.org 	Jakarta Server Faces. MVC framework for building user interfaces for web apps.

[2021-01-23 03:31] #963 closed

[2021-01-23 03:32] aeiras commented on #986
jsp-dev@eclipse.org	Jakarta Server Pages. Defining templates engine for web applications.

[2021-01-23 03:32] #986 closed

[2021-01-23 03:34] aeiras commented on #992
servlet-dev@eclipse.org	Jakarta Servlet. Handles HTTP requests and responses.

[2021-01-23 03:34] #992 closed

[2021-01-23 03:39] aeiras commented on #987
jstl-dev@eclipse.org	Jakarta Standard Tag Library. Provides a set of tags to simplify the JSP development.

[2021-01-23 03:39] #987 closed

[2021-01-23 03:41] aeiras commented on #988
jta-dev@eclipse.org	Jakarta Transactions. Allows handling transactions consistent with X/Open XA-Specs.

[2021-01-23 03:41] #988 closed

[2021-01-23 03:46] aeiras commented on #993
websocket-dev@eclipse.org	Jakarta Websocket. API for Server and Client endpoints for Websocket protocol.

[2021-01-23 03:46] #993 closed

[2021-01-23 03:47] aeiras commented on #993
Martin and Chris,

I will follow up in the ticket that has the google sheet¡ Thank you for being extra patient. I am closing the tickets while adding the data to the sheet.

[2021-01-23 03:49] aeiras commented on #980
jaxws-dev@eclipse.org	Defines means for XML-based Web Services based on SOAP.

[2021-01-23 03:49] #980 closed

[2021-01-23 03:50] aeiras commented on #980
jaxws-dev@eclipse.org	Jakarta XML Web Services. Defines means for XML-based Web Services based on SOAP.

[2021-01-23 03:55] aeiras commented on #989
Added to deprecate tab. https://docs.google.com/spreadsheets/d/1JB-dvwp2Dd9kkiEfF8kHJPlsHRbMe6NZfXo52G0eot8/edit#gid=0

[2021-01-23 03:55] #989 closed

[2021-01-23 04:08] aeiras commented on #996
@autumnfound & Chris,

The google sheet contains the inventory of the working group emails.

I would deeply appreciate your feedback on the format of the sheet.  If there is anything I need to adjust, do let me know.   I don't understand the use of List_short_description_varchar (255)	colunm.
Please see the naming patern of the imput on List_Description.

I have placed the APIs emails as they are

[2021-01-23 04:11] aeiras commented on #996
https://docs.google.com/spreadsheets/d/1JB-dvwp2Dd9kkiEfF8kHJPlsHRbMe6NZfXo52G0eot8/edit#gid=0

Google email inventory

[2021-01-23 04:12] aeiras commented on #1058
need to close this ticket, discussion with the community is needed to see if new emails are necessary .

[2021-01-23 04:12] #1058 closed, assigned to nobody

[2021-01-23 04:12] aeiras commented on #1057
need to close this ticket, discussion with the community is needed to see if new emails are necessary .

[2021-01-23 04:12] #1057 closed, assigned to nobody

[2021-01-26 17:35] brideck opened #1059 "Open Liberty 21.0.0.2-beta as a Compatible Software Product for Jakarta EE 9, Web Profile"
To include your Compatible Software Product on the Jakarta EE official list of Compatible Software Products, please provide the following information:

**The URL to the Eclipse Foundation profile to confirm that you are an authorized representative of the company whose product information you are submitting**
[Brian Decker - IBM - Eclipse Profile](https://accounts.eclipse.org/users/bdeckerhdt)

**

[2021-01-27 17:05] flora8984461 commented on #1059
Hi @brideck , please check the preview:
https://deploy-preview-1061--jakartaee.netlify.app/compatibility/#tab-one
https://deploy-preview-1061--jakartaee.netlify.app/compatibility/#tab-9

And we had the logo from the past, do you like to use the new logo for the open liberty on Jakarta EE 8 as well? (I think the logo is the same, just the file format changed)

We will push to live once got +1 from

[2021-01-27 22:31] brideck commented on #1059
It looks like our download link is pointing to Glassfish instead of Open Liberty.

The template here indicated that the logo should be sent as an SVG, so that's what we've done.  That must not have been the case before?  I'm indifferent to changing the format of the one used for EE 8, unless there's some compelling reason to use the new one.

[2021-01-28 14:51] chrisguindon commented on #1059
@brideck @flora8984461 If the logos are the same, I say that we should use the .svg since this is what we are asking!

As far as I know, we currently don't support different logos per Jakarta EE releases. We can change that but we should create an issue to discuss.

[2021-01-28 18:49] kwsutter commented on #1059
No reason to allow for multiple logos.  Use the latest .svg for Open Liberty that @brideck provided for this update.  Thanks.

[2021-01-28 18:57] brideck commented on #1059
The new set of changes look good to me.

[2021-01-29 20:32] scottmarlow commented on #989
[JTS](https://projects.eclipse.org/projects/locationtech.jts) is not part of Jakarta EE and does not belong in https://jakarta.ee/connect/mailing-lists

[2021-01-29 20:47] aeiras commented on #989
Thank you, Scott, for helping review the mailing list. :)

[2021-02-01 16:31] #1059 closed, assigned to flora8984461

[2021-02-03 18:31] karenmcnaughton opened #1063 "Add new weblinks to release pages on https://jakarta.ee/compatibility/download/"
We need to add links on the Compatibility Page to the Jakarta EE 9 Release page and the Jakarta EE 8 Release page.

On the left side, on top of the Jakarta EE 9 Platform block, please add a text link in orange font (or a button) that says "Jakarta EE 9 Release Page" (link to: https://jakarta.ee/release/9/)

Same thing further down the page, on the left side, on top of the Jakarta EE 8 Platform, pl

[2021-02-03 18:57] trulymobilenwp commented on #880
Per my comment in issue #879
A few points related to this request.

1. As discussed during our marketing committee call this aligns with our Q2 plans around reworking key pages on Jakarta.ee and should be addressed as that work is done so the overall look and feel comes out as intended by our overall update work.
2. I recommend that any updates to the announcements page should be done in the exist

[2021-02-04 21:41] flora8984461 commented on #1063
Hi @karenmcnaughton , please take a look at the preview: https://deploy-preview-1064--jakartaee.netlify.app/compatibility/download/

Is this what you expect?

Thanks!

[2021-02-10 14:30] chrisguindon commented on #1063
I will ping @karenmcnaughton on slack about this. Your message might have gotten lost in her inbox!

[2021-02-10 14:32] karenmcnaughton commented on #1063
Hi--apologies--I think in the text we should say "Visit Jakarta Release..." because it's not too visible that it's a hotlink. Thoughts? Thanks!

[2021-02-10 15:14] flora8984461 commented on #1063
@karenmcnaughton  Do you mean like this?

![image](https://user-images.githubusercontent.com/39588094/107529326-c1700380-6b88-11eb-9d91-746167787542.png)

Thanks!

[2021-02-10 18:07] karenmcnaughton commented on #1063
No--like this:
View Jakarta EE 9 Release Page

View Jakarta EE 8 Release Page

[2021-02-10 21:24] flora8984461 commented on #1063
@karenmcnaughton Thanks for the feedback. I just updated the preview, https://deploy-preview-1064--jakartaee.netlify.app/compatibility/download/ will be updated soon.

[2021-02-11 03:43] karenmcnaughton commented on #1063
Thanks yes, that's good.

[2021-02-11 15:45] #1063 closed, assigned to flora8984461

[2021-02-11 19:20] TanjaObradovic opened #1065 "Publishing meeting minutes for Jakarta EE Steering Committee"
Please add new entries for Jakarta EE Steering Committee meeting minutes on the Specification Committee page https://jakarta.ee/committees/steering/

Attached are pdf files.

[Minutes of Jan 12, 2021 Jakarta EE Steering Committee Meeting.pdf](https://github.com/jakartaee/jakarta.ee/files/5967902/Minutes.of.Jan.12.2021.Jakarta.EE.Steering.Committee.Meeting.pdf)
[Minutes of January 5, 2021 Jakarta E

[2021-02-11 19:26] TanjaObradovic opened #1066 "the Jakarta EE Steering and Jakarta EE Specification pages update"
Can you please make the following update on both: the Jakarta EE Steering (https://jakarta.ee/committees/steering/) and Jakarta EE Specification pages (https://jakarta.ee/committees/specification/)

Instead
Scott (Congquan) Wang - Primeton - Elected Enterprise Representative

please list
Dr. Jun Qian  - Primeton - Elected Enterprise Representative

Thanks!
Tanja

[2021-02-18 00:48] paulbuck opened #1068 "Publishing meeting minutes for Jakarta EE Specification Committee"
Please add new entries for Jakarta EE Specification Committee meeting minutes on the Specification Committee page https://jakarta.ee/committees/specification/

I have attached pdf files...

[Jakarta EE Spec Committee - January 27th, 2021.pdf](https://github.com/jakartaee/jakarta.ee/files/5999457/Jakarta.EE.Spec.Committee.-.January.27th.2021.pdf)
[Jakarta EE Spec Committee - November 11th, 2020.pdf

[2021-02-18 14:55] ZahraFazli opened #1069 "Add jadeva GmbH on Jakarta EE website"
Hello
Please add jadeva GmbH as Participant Member on the Jakarta EE website https://jakarta.ee/membership/members/

![Logo_JadevaGmbH+Slogan_CMYK_72dpi](https://user-images.githubusercontent.com/50374570/108374858-67e28700-71cf-11eb-9927-c10c6c1d80f4.png)

[2021-02-18 18:08] karenmcnaughton opened #1070 "[redesign-2021] - Jakarta New Website Design Feedback"
https://projects.invisionapp.com/share/MV1064CX7GC6#/screens/444513792

Initial Input from Meeting: Feb 18, 2021
* Consider a carousel at the top which would scroll and highlight
* Reduce the overall jumbotron header size (top to bottom)
* Consider increasing content on the page to ensure we have enough for SEO value
* Potentially move away from stock images if possible
* Ensure still in format th

[2021-02-19 00:24] aeiras commented on #993
Hola @chrisguindon,

There is only 1 ticket left, the google sheet. :)

[2021-02-19 13:06] Yaoz1207 opened #1071 "Please add InforSuite Application Server as Compatible product of Jakarta EE Full Platform"
To include your Compatible Software Product on the Jakarta EE official list of Compatible Software Products, please provide the following information:

**The URL to the Eclipse Foundation profile to confirm that you are an authorized representative of the company whose product information you are submitting**
https://www.eclipse.org/membership/showMember.php?member_id=1487

**A product name and ve

[2021-02-19 13:30] chrisguindon commented on #993
Hi @aeiras

Does this mean that this is ready for us to update our database or do you mean you are still working on it?

[2021-02-19 18:34] aeiras commented on #993
Hola Chris,

I would appreciate your input about tab Jakarta EE [google sheet](https://docs.google.com/spreadsheets/d/1JB-dvwp2Dd9kkiEfF8kHJPlsHRbMe6NZfXo52G0eot8/edit#gid=0). Note that I left blank the List_short_description_varchar (255), Do we need to repeat the same information from the description?

The other tabs are there for later discussion as new projects will need to figure out if the n

[2021-02-19 19:40] flora8984461 commented on #1071
Hi @codff

Please check the preview: https://deploy-preview-1073--jakartaee.netlify.app/zh/compatibility/#tab-8
https://deploy-preview-1073--jakartaee.netlify.app/zh/compatibility/#tab-one

We will merge to live once got +1 from you.

Thanks!

[2021-02-20 00:55] Yaoz1207 commented on #1071
Hello @flora8984461

I have checked and the information is correct. Please register to the official JakartaEE website, thank you!

[2021-02-20 03:11] laliwa commented on #1070
#about homepage
I'd like to suggest that we put the most important information on Top of the home page which could change frequently. So each visitor will always check something new. It will also do good for the SEO and enrich the content.
It can be implemented as a slider with different banners scrolling horizontally and automatically. Just like this. http://primeton.com/

#about subpage banners

[2021-02-22 00:48] codff commented on #1071
Hi @flora8984461
I want to add another point，About"The URL to the Eclipse Foundation profile to confirm that you are an authorized representative of the company whose product information you are submitting"
https://www.eclipse.org/membership/editMember.php?member_id=1487

[2021-02-22 01:53] Yaoz1207 commented on #1071
Hi @flora8984461
I want to add another point，About"The URL to the Eclipse Foundation profile to confirm that you are an authorized representative of the company whose product information you are submitting"
https://www.eclipse.org/membership/showMember.php?member_id=1487

[2021-02-22 13:36] chrisguindon commented on #1071
Hi @codff ,

could you rephrase the question? We are not sure we understand your request.

[2021-02-22 13:59] flora8984461 commented on #1069
Hi @ZahraFazli

Can you please help me confirm with the member's website? I found one https://jadeva.eu/

[2021-02-22 14:47] ZahraFazli commented on #1069
Yes, confirmed. Thanks

[2021-02-22 15:02] #1069 closed, assigned to flora8984461

[2021-02-22 20:15] #1068 closed, assigned to flora8984461

[2021-02-23 01:03] codff commented on #1071
The problem is that the first "The URL to the Eclipse Foundation profile to confirm that you are an authorized representative of the company whose product information you are submitting" is missing from the issue I submitted, so I want to add that the answer to this question is "https://www.eclipse.org/membership/showMember.php?member_id=1487"

[2021-02-23 13:42] #1065 closed, assigned to autumnfound

[2021-02-24 14:55] karenmcnaughton commented on #1066
Can we please update this page:  https://jakarta.ee/committees/marketing/

VACANT - Elected Committer Member Representative
VACANT - Elected Participant Member Representative

With:
- Otavio Santana: Elected Committer Member Representative
- Tetiana Fydorenchyk: Elected Participant Member Representative

[2021-02-24 16:44] brideck opened #1078 "Open Liberty 21.0.0.3-beta as a Compatible Software Product for Jakarta EE 9, Platform"
To include your Compatible Software Product on the Jakarta EE official list of Compatible Software Products, please provide the following information:

**The URL to the Eclipse Foundation profile to confirm that you are an authorized representative of the company whose product information you are submitting**
[Brian Decker - IBM - Eclipse Profile](https://accounts.eclipse.org/users/bdeckerhdt)

**

[2021-02-25 05:48] Yaoz1207 commented on #1071
The problem is that the first "The URL to the Eclipse Foundation profile to confirm that you are an authorized representative of the company whose product information you are submitting" is missing from the issue I submitted, so I want to add that the answer to this question is "https://www.eclipse.org/membership/showMember.php?member_id=1487"
And I have updated the issue.

[2021-02-25 14:27] #1071 closed, assigned to flora8984461

[2021-02-25 14:54] chrisguindon commented on #1066
@flora8984461 can you add this to your list for today?

[2021-02-25 20:39] flora8984461 commented on #1066
@chrisguindon @karenmcnaughton  The changes are updated and the preview is https://deploy-preview-1080--jakartaee.netlify.app/committees/marketing/

Thanks!

[2021-02-25 21:09] flora8984461 commented on #1078
Hi Tanja @TanjaObradovic , can you help us check the preview link to verify the compatibility product is expected?

https://deploy-preview-1081--jakartaee.netlify.app/compatibility/#tab-9

Thanks!

[2021-02-25 22:28] TanjaObradovic commented on #1078
Looks good! thanks @flora8984461

[2021-02-26 01:16] Yaoz1207 commented on #1071
@chrisguindon

Hi chrisguindon

Enter this link https://jakarta.ee/compatibility/#tab-8, And click the link "10" in the picture, the visit is wrong.
As the picture shows：
![image](https://user-images.githubusercontent.com/79249422/109240722-f3cd6200-7812-11eb-9339-c524e5c55073.png)

Please update the link,the link is"http://www.inforbus.com/InforsuiteAS/platform-tckresults/index1.html".
Thank you!

[2021-02-26 13:49] flora8984461 commented on #1071
Hi @codff Thanks for the catch! I just updated it and the website will update once finished building.

Thanks!

[2021-02-26 17:39] dominikatasarz commented on #1070
A few comments from my team:

- The resources page - are we going to categorize resources by type of resource first (Presentation, Documentation, Datasheets) rather than by project or by topic (maybe there aren't resources for every project)? People don't really say "I need a new datasheet", they look for the answer to a problem or info to see how to do something - so categorising may need re-thin

[2021-02-26 18:46] aeiras commented on #1070
+1 @dominislawa!

A good example is the MicroProfile Branding Resources [space](https://microprofile.io/resources/branding/) & the MPWG [page](https://microprofile.io/workinggroup/)

Both pages contain call to action buttons that make the reader interact.

[2021-02-26 22:08] #1066 closed, assigned to flora8984461

[2021-03-02 16:57] #1078 closed, assigned to flora8984461

[2021-03-03 21:11] cesarhernandezgt commented on #1070
Comment from my team:

- We should have an inventory of current open Issues from https://github.com/jakartaee/jakarta.ee/issues and https://github.com/jakartaee/collateral/labels/website
- The testimonials can include Contributors, Committers, companies etc.
- The white papers can have categories for users, tools, and implementers.
- Highlighting community members.JUG's logos, etc.

[2021-03-09 16:02] jph152 opened #1087 "Add case studies section to jakarta.ee/resources/"
Please create a heading for Case Studies on the Jakarta EE Resources page. Attached is the Payara member case study to go under this section

Content:
### Case Studies
[Payara Services Gains an Equal Footing With Industry Leaders at the Eclipse Foundation
](https://outreach.eclipse.foundation/payara-services-open-source-case-study)

[2021-03-09 20:20] flora8984461 commented on #1087
@jph152 Hi, just hope to confirm, this should also appear on the Chinese page, right? I am going to include Eric to help with the translation. Thx! (I speak Chinese but translation is too literature for me 😅)

[2021-03-09 20:29] flora8984461 commented on #1087
The preview is https://deploy-preview-1088--jakartaee.netlify.app/
And I included it in the menu as well.

[2021-03-09 21:25] jph152 commented on #1087
Thanks Yi! It looks ready to go live.
And yes, this will be going on the Chinese page as well

[2021-03-11 20:42] TanjaObradovic opened #1090 "Publishing meeting minutes for Jakarta EE Steering Committee"
Please add new entries for Jakarta EE Steering Committee meeting minutes on the Specification Committee page https://jakarta.ee/committees/steering/

Attached are pdf files.
[Minutes of the Feb 9, 2021 Jakarta EE Steering Committee Meeting.pdf](https://github.com/jakartaee/jakarta.ee/files/6125854/Minutes.of.the.Feb.9.2021.Jakarta.EE.Steering.Committee.Meeting.pdf)
[Minutes of the Feb 23, 2021 Jak

[2021-03-11 21:15] #1087 closed, assigned to flora8984461

[2021-03-11 23:28] #1090 closed, assigned to flora8984461

[2021-03-12 08:30] tongtech-web opened #1092 "Compatibility certification request for TongWeb Application Server for Full Profile"
- [x] Organization Name ("Organization") and, if applicable, URL:
    [Beijing TongTech Co., Ltd.](https://www.tongtech.com/)

- [x] Product Name, Version and download URL (if applicable):
    [TongWeb Application Server](http://www.tongtech.com/Services/Services-104.html)

- [x] Specification Name, Version and download URL:
    [Jakarta EE Platform, Full Profile 8.0](https://jakarta.ee/specificat

[2021-03-12 16:10] TanjaObradovic commented on #1092
Please close this issue, as the Jakarta EE Platform team cannot see it here. Please open it under
https://github.com/eclipse-ee4j/jakartaee-platform

[2021-03-12 18:16] chrisguindon commented on #1092
Closing as invalid.

[2021-03-12 18:16] #1092 closed, assigned to nobody

[2021-03-15 12:35] chrisguindon commented on #866
I will close this issue now that the translation is live. I would recommend that we create new issues for the next round of updates!

[2021-03-15 12:35] #866 closed

[2021-03-15 13:20] #1051 closed

[2021-03-15 13:20] chrisguindon commented on #1051
WON'T FIX - Please re-open if the community would like to invest time into this effort.

[2021-03-15 13:32] chrisguindon commented on #996
@ericpoirier Since you wrote the Drupal Mailing list module, can you explain to @aeiras where we use List_short_description and List_Description please?

[2021-03-15 13:33] chrisguindon commented on #924
My understanding is that we won't translate specifications.

Closing this issue. Please re-open if that changes!

[2021-03-15 13:33] #924 closed

[2021-03-15 13:40] ericpoirier commented on #996
I created the following screenshot to illustrate where on the Mailing list page we are displaying the short and long description.

![Screen-Shot-2021-03-15-at-9 36 45-AM](https://user-images.githubusercontent.com/623165/111162191-509a7d80-8572-11eb-9fc3-a4e78d646d54.jpg)

This is a screenshot taken from the following page:
https://accounts.eclipse.org/mailing-list/jakarta.ee-wg

Let me know if you

[2021-03-15 19:57] ZahraFazli opened #1094 "Add iJUG as Participant Member"
Please add iJUG as a Participant Member on the Jakarta EE website
![iJUGdownload](https://user-images.githubusercontent.com/50374570/111213458-24e5ba80-85a7-11eb-8b15-ca93ae118c4a.png)

https://jakarta.ee/membership/

[2021-03-17 16:42] aeiras commented on #996
Chris & Eric,

Thank you both. I finally understand how to complete the sheet. Thank you!
I will update this week, join the Jakarta EE platform next week and discuss it with EE developers before pushing it to completion. :) Your support is wonderful!

[2021-03-18 02:30] tongtech-web opened #1095 "TongWeb Application Server 7 as Compatible product of Jakarta EE Full Platform"
**The URL to the Eclipse Foundation profile to confirm that you are an authorized representative of the company whose product information you are submitting**
https://www.eclipse.org/membership/showMember.php?member_id=1458

**A product name and version**
TongWeb Application Server 7

**The Profile (Full Platform, Web Profile, Both) that the Compatible Product is submitted to be listed under**
Ful

[2021-03-18 14:19] TanjaObradovic commented on #1095
+1 on this. Ready to go from my end.

[2021-03-18 21:52] scottmarlow opened #1096 "Please add WildFly Preview as Jakarta EE 9 Web Profile compatible"
To include your Compatible Software Product on the Jakarta EE official list of Compatible Software Products, please provide the following information:

**The URL to the Eclipse Foundation profile to confirm that you are an authorized representative of the company whose product information you are submitting**

https://www.eclipse.org/membership/showMember.php?member_id=731

**A product name and ve

[2021-03-18 22:09] cesarhernandezgt opened #1098 "[Jelastic] Submission of Jakarta EE Working Group Participant Quote"
In the collateral repository, we received https://github.com/jakartaee/collateral/issues/41 created by @TetianaFTV a couple of months ago.

Technically speaking, the update is fairly simple so I took the change to understand the existing `Member Testimonials
 section` from the page https://jakarta.ee/membership/ and created the following PR: https://github.com/jakartaee/jakarta.ee/pull/1097 that c

[2021-03-19 18:02] jph152 opened #1099 "Add "Community Cards" to Jakarta EE Resources"
We’d like to add the attached images to a new page on the Jakarta website similar to this:

https://maven.apache.org/resource/branding/actioncards.html

The individual image files should be hosted on https://jakarta.ee as well

Potential URL: https://jakarta.ee/resources/action-cards

Content for new page: https://docs.google.com/document/d/1wiIkibakpgqSGR-2wLBxnsObeFuewhFWNEofzdzkaXk/edit?usp=sha

[2021-03-19 19:34] aeiras commented on #1099
Clean, simple, and a beautiful start of the many cards @jph152!

Thank you for working on request ticket 57 from the Collateral repo.  +1 from me!

https://github.com/jakartaee/collateral/issues/57

[2021-03-20 03:21] aeiras commented on #1099
Additional cards could be:

I recommend making cards for all Specs, including Marketing as well matters.
currently Jakarta doesn’t recognize business contributors, that will have to change as collateral Repo allows fixing it that oversight.

🙏

[2021-03-20 08:34] mkarg commented on #1099
Until the spec-specific cards exist, would it be appropriate to use the Jakarta EE cards instead, or are the Jakarta EE cards just for the  platform committers?

[2021-03-20 08:50] ivargrimstad commented on #1099
@mkarg Go ahead! They're not specific to any specification.

[2021-03-23 13:36] chrisguindon commented on #1098
#1097 has been merged!

[2021-03-23 13:36] #1098 closed, assigned to nobody

[2021-03-23 18:47] TanjaObradovic commented on #1096
LGTM! +1

[2021-03-23 18:59] autumnfound commented on #1095
Preview available on https://deploy-preview-1100--jakartaee.netlify.app/compatibility/

[2021-03-23 19:14] autumnfound commented on #1094
Preview available on https://deploy-preview-1101--jakartaee.netlify.app/membership/members/

[2021-03-23 19:40] ZahraFazli commented on #1094
+1

[2021-03-23 20:03] chrisguindon commented on #1096
Preview is available here:
https://deploy-preview-1102--jakartaee.netlify.app/compatibility/

[2021-03-23 21:35] scottmarlow commented on #1096
@chrisguindon the preview looks awesome, thank you for making the change!

[2021-03-24 12:18] #1096 closed, assigned to autumnfound

[2021-03-24 12:18] #1094 closed, assigned to autumnfound

[2021-03-24 12:19] #1095 closed, assigned to autumnfound

[2021-03-24 20:33] jph152 opened #1103 "Add 2020 Survey Infographic to jakarta.ee/resources/"
Can we add the link below to the resources page under **Infographics**?

TEXT: Jakarta EE Developer Survey Findings 2020

LINK: https://f.hubspotusercontent30.net/hubfs/4753786/JakartaEE-Infographic.pdf?utm_campaign=2021%20Jakarta%20EE%20Developer%20Survey&utm_source=resources

[2021-03-29 14:47] ZahraFazli opened #1104 "Remove K-teq from the Jakarta EE Website"
K-Teq Srls is no longer an Eclipse and Jakarta EE Member.
Please remove their logo from the website
https://jakarta.ee/membership/members/

[2021-03-29 15:12] aeiras commented on #1104
When a jkta member departs, do we ask them the why?

It has been + 3 years & I have never seen a summary of retrospective feedback brought in to the WG to help adjust what currently is & improve the dynamics of the WG.

Who can answer this & how can we improve it?

[2021-03-30 06:08] tongtech-web opened #1105 "TongWeb Application Server 8 as Compatible product of Jakarta EE Full Platform"
**The URL to the Eclipse Foundation profile to confirm that you are an authorized representative of the company whose product information you are submitting**
https://www.eclipse.org/membership/showMember.php?member_id=1458

**A product name and version**
TongWeb Application Server 8

**The Profile (Full Platform, Web Profile, Both) that the Compatible Product is submitted to be listed under**
Ful

[2021-03-30 17:27] karenmcnaughton opened #1106 "[redesign-2021] - Final Jakarta.ee Redesign Files"
For WebDev:

Here are the Final Design Files: https://www.dropbox.com/sh/uuwc2uapbk0bxdi/AACXXn80GxVSu6OZkYFyRScAa?dl=0

Invision link: https://invis.io/AX10M9QL74RN

Notes:

- Size of home page banner is only reduced on one of the artboards so that you can choose from the bigger or smaller size
- Compatible Products page - added back the download button from earlier versions just on the first box

[2021-03-31 15:16] chrisguindon commented on #1070
The design files have been delivered to the webdev team:
https://github.com/jakartaee/jakarta.ee/issues/1106

I assume the feedback period is over.

Closing this bug.

[2021-03-31 15:16] #1070 closed, assigned to nobody

[2021-03-31 15:23] chrisguindon commented on #1106
Let's use this bug to discuss any issues related to the files that were delivered for this project.

@ericpoirier @meKokabi,
Can you both also review the xd files for jakarta.ee and confirm that we can extract everything we need to implement this re-design.

I assume that the files here are very similar to the one from ecdtools:
https://github.com/EclipseFdn/ecdtools.eclipse.org/issues/91

...but

[2021-03-31 15:24] jph152 opened #1107 "Add Jakarta EE White Paper to https://jakarta.ee/release/9/ and https://jakarta.ee/resources/"
Please add this link to the button on the Jakarta EE 9 page and Jakarta EE Resources.
Link: https://outreach.jakartaee.org/white-paper-java-applications

On the Jakarta EE 9 page, we'd like to change the heading to "NEW WHITE PAPER" and the button text to "DOWNLOAD"
<img width="508" alt="Screen Shot 2021-03-31 at 11 17 36 AM" src="https://user-images.githubusercontent.com/69642121/113168485-b47ba2

[2021-03-31 17:06] ZahraFazli opened #1108 "Add Istanbul JUG as Member of the Jakarta EE WG site"
Istanbul JUG has joined as a Guest Member of the WG
Please add Istanbul JUG on the Jakarta EE Website https://jakarta.ee/membership/members/
![Istanbul JUG](https://user-images.githubusercontent.com/50374570/113183288-d6305580-9221-11eb-9aad-532039606e37.png)

[2021-03-31 17:22] ZahraFazli commented on #1108
Requires Steering Committee approval

[2021-03-31 17:33] meKokabi commented on #1106
This files has all the required assets. All stored here: https://www.dropbox.com/sh/uuwc2uapbk0bxdi/AACXXn80GxVSu6OZkYFyRScAa?dl=0 and under links folder.
 It also includes the Native Adobe Illustrator files.

[2021-03-31 19:10] chrisguindon commented on #1106
@meKokabi,

So we will need you to extract images that we need from these adobe illustrators files? Can you give us a rough estimate of how much work this is for you?

@ericpoirier is this something you can do?

@karenmcnaughton, @shanda-eclipse,

Why is Excentric delivering designs in two different formats for two websites? We got .xd file for ecdtools.eclipse.org and an .ai file jakarta.ee.

We

[2021-04-01 13:24] autumnfound commented on #1103
Initial preview of this change is now available: https://deploy-preview-1111--jakartaee.netlify.app/resources/#infographics

This is one of the pages with a Chinese language copy, do we want the initial launch to have the right label?

[2021-04-01 13:36] jph152 commented on #1103
Yes, if possible

[2021-04-01 16:45] chrisguindon commented on #1104
@aeiras I am not sure who is the best person to answer your question but I will @TanjaObradovic!

[2021-04-01 16:45] #1104 closed, assigned to autumnfound

[2021-04-01 16:47] chrisguindon commented on #1105
@TanjaObradovic PLease confirm that all is well with this update:
https://deploy-preview-1109--jakartaee.netlify.app/compatibility/

[2021-04-01 17:11] aeiras commented on #1104
Gracias, Chris!

[2021-04-06 15:56] chrisguindon commented on #1106
Webdev and Marketing recently had a discussion about this.

There is still some work that needs to be done on these files before we can start the implementing stage.

@shanda-eclipse have we decided to deal with this internally or will we ask Excentric to make the changes for us?

[2021-04-06 16:48] shanda-eclipse commented on #1106
I think we can do this internally. I'll ask Mehrnaz to work on prepping the files and we will have them to you by May 1 so you can start development.

[2021-04-06 20:20] aeiras commented on #996
@ericpoirier & @chrisguindon,

Using your feedback, I completed the information on the 3rd colunm.

Can you let me know if anything else is a miss?
Ideally, we update what currently is this month. There is no reason to wait for more feedback. More than 10 active Jakartees used the forums, the tickets and private to provide feedback.

Once the update is completed, we need to move the sheet under "n

[2021-04-07 14:10] TanjaObradovic commented on #996
thanks for your work @aeiras! I would suggest a further refinement of the spreadsheet as I noticed that List_Description sometime describes the project and sometime describes the list as a place where topics about the projects are discussed. I will look into updating the spreadsheet with this in mind. Once completed you can review, before we change the setting and maybe create .pdf to lock it down

[2021-04-07 16:28] aeiras commented on #996
Sure @TanjaObradovic, extra eyes are always welcomed.

Please note that we used what currently is listed under the Specs [page](https://jakarta.ee/specifications/)
**Current issue**: A few descriptions there do not match what the project does. I have asked those involved in helping with the mailing list improvement to submit PRs against current information yet there is a barrier on fixing the data

[2021-04-07 16:42] TanjaObradovic commented on #996
Sounds good @aeiras. Let's fix one problem at the time. I have updated the spreadsheet and it now good to go. I tried to make minimal changes and introduce "The list is used for technical discussions related to [short description from spec page]."

Please see the spreadsheet. thanks!

[2021-04-07 20:02] aeiras commented on #996
Tanja, I see you and Ivar did some review, it is wonderful.

Can you help PDF and create a new subfolder under the Community drive with "view access" **only**?  That will help protect this and future inventory email versions (it is likely a new emails will be created sometime soon)  that will update the mailing list in the Jakarta Website and the Eclipse Website.

Let's tackle the updating of the

[2021-04-07 20:15] TanjaObradovic commented on #996
@aeiras as you are the owner of the file, you'll have to do it. I have created the folder for you. Please move the file here (we are trying to stay away from the archived community drive)

https://drive.google.com/drive/u/0/folders/1SxWPw6_9iV7ckaM83WYfz3uYZCGYbR0N

and change the setting to read only please.

Thanks!

[2021-04-07 20:15] #1103 closed, assigned to autumnfound

[2021-04-07 20:17] chrisguindon opened #1112 "add 2020 Survey Infographic to jakarta.ee (Chinese translation)"
We need a translation for: https://github.com/jakartaee/jakarta.ee/pull/1111

[2021-04-07 20:31] aeiras commented on #996
Hey Tania,

Can you provide the new Community folder link?
I didn't know the original drive space was dropped.  I cannot move the document with the link you have provided alone. Also, I contribute in many other activities that use the original drive, so I will need to move all that content as well. :) Thanks in advance!

This is what I see with the link you provided:
<img width="792" alt="image" s

[2021-04-07 20:39] TanjaObradovic commented on #996
The folder link is the one I provided
https://drive.google.com/drive/u/0/folders/1SxWPw6_9iV7ckaM83WYfz3uYZCGYbR0N
The folder is empty as there is nothing in it.

The structure is as shown here. We now have the ability to create shared folders from the Google Drives (new feature which we did not have before)
![image](https://user-images.githubusercontent.com/40073121/113930432-478e7c00-97bf-11eb-9

[2021-04-07 20:59] aeiras commented on #996
Thanks, Tanja.
I need the link of the main folder Jakarta EE Community (External) to locate it and drop it in the email folder.

[2021-04-07 21:10] TanjaObradovic commented on #996
I see.
Try this one
https://drive.google.com/drive/u/0/folders/11nvqdVqFlCxm5AfPh2NdnanTBrCPW8Xv

[2021-04-07 21:41] aeiras commented on #996
Now, I can see the folder, yeay!  However,  I don't have permission to drop stuff. I have added the PDF here, Tanja.
While you and the Marketing team figure out the new Community drive's collaboration access, can you please drop the PDF in the folder? Gracias!

@ericpoirier & @chrisguindon
The document is ready to enable the update.  Thank you!

[Jakarta EE Mailing Lists - April 2021.pdf](https://

[2021-04-08 14:11] TanjaObradovic opened #1113 "Please change the link of the Jakarta EE Community Folder under Resources"
Please change the current link of the Jakarta EE Community Folder to

https://drive.google.com/drive/folders/11nvqdVqFlCxm5AfPh2NdnanTBrCPW8Xv

See here

![image](https://user-images.githubusercontent.com/40073121/114041531-a05b2480-9852-11eb-9823-0432bc9d1ecc.png)

Thanks!

[2021-04-08 14:20] TanjaObradovic opened #1114 "Please add Jakarta EE Specifications Meetings Calendar to the connect page"
Can you please add a section on https://jakarta.ee/connect/ for Jakarta EE Specifications Meetings Calendar?

The section name can be *Jakarta EE Specifications Meetings Calendar*

Here is the link

https://calendar.google.com/calendar/embed?src=eclipse-foundation.org_e9ki8t2gc75sh07qdh95c8ofvc%40group.calendar.google.com&ctz=America%2FToronto

@karenmcnaughton please have a look and give your +1

[2021-04-14 13:01] TanjaObradovic commented on #1105
looks great to me!

[2021-04-14 16:08] jph152 commented on #1107
Hi guys, do we have a timeline for this issue?

[2021-04-14 17:28] #1105 closed, assigned to autumnfound

[2021-04-14 17:36] autumnfound commented on #1107
Preview is now available: https://deploy-preview-1115--jakartaee.netlify.app/ let me know if you need additional changes!

[2021-04-14 18:02] autumnfound commented on #1113
Please see the following link for a preview: https://deploy-preview-1116--jakartaee.netlify.app/

[2021-04-14 18:14] autumnfound commented on #1114
See https://deploy-preview-1117--jakartaee.netlify.app for the preview of the fix! Currently, we are missing body text for the section, and the heading is quite long and nearly doesn't fit properly. We also require a Chinese translation for the labels

[2021-04-14 20:06] #1113 closed, assigned to autumnfound

[2021-04-14 20:10] jph152 commented on #1107
Everything on the resources page looks good thanks!

Has the button and text on https://jakarta.ee/release/9/ been updated too?

[2021-04-14 20:17] autumnfound commented on #1107
Yep! https://deploy-preview-1115--jakartaee.netlify.app/release/9/

[2021-04-14 20:35] jph152 commented on #1107
Great! +1

[2021-04-16 17:25] jph152 commented on #1099
Hi @autumnfound , is there a timeline for this one? Let me know if we can provide any more information/clarification

[2021-04-16 17:36] autumnfound commented on #1099
How would you like these to be displayed on the page? As links to the image, as the image themselves, or something else?

[2021-04-16 17:53] jph152 commented on #1099
We'd like it to be the image themselves, linked to the corresponding file.

Do you need smaller versions of the images to display on the page?

[2021-04-16 17:57] autumnfound commented on #1099
Nope! I can just have them display smaller easily enough!

[2021-04-16 18:10] autumnfound commented on #1099
@jph152 looking at the apache site, they use the full res images on their page, but the largest image is around 600kb, which is around a third of the size of our images. If we want to use the images in full res on the page, I would recommend compressing them for web (making them a little smaller in size).

Alternatively, converting them to jpg and offering it as the standard resolution, and having

[2021-04-16 18:16] aeiras commented on #1099
Team,

the size matters as it can be used by any media channel without issues.

[2021-04-16 18:40] rstjames commented on #1099
I recommend 1200x629. This format will work well with Twitter, FB, and Linkedin. Try to leave a "safe zone" around the edges (80px on all sides.). This will make sure that no important content is cut off if some resizing occurs.
<img width="1069" alt="Screen Shot 2021-04-16 at 8 28 04 PM" src="https://user-images.githubusercontent.com/12132146/115069387-c8522400-9ef3-11eb-8cf5-9953ddcc6c05.png">

[2021-04-19 19:47] aeiras commented on #996
@TanjaObradovic,

Thank you for providing me edit access to drop the 3 documents into the Mailing list folder.
I was not able to move the 3 documents there b/c the "archive" Jakarta Community folder exists within the new drive. FYI. It was not an issue, copy/paste worked great.

Can you please remove the community/including my own edit access to the April PDF?

[2021-04-20 19:59] jph152 commented on #1107
Hi Martin, can we push this live?

[2021-04-21 02:00] PatrickHuang888 opened #1120 "Please add Apusic Application Server as Jakarta EE 9 Web Profile compatible"
To include your Compatible Software Product on the Jakarta EE official list of Compatible Software Products, please provide the following information:

**The URL to the Eclipse Foundation profile to confirm that you are an authorized representative of the company whose product information you are submitting**
https://www.eclipse.org/membership/showMember.php?member_id=1397

**A product name and ve

[2021-04-21 12:51] #1107 closed, assigned to autumnfound

[2021-04-21 12:51] chrisguindon commented on #996
@aeiras I took a look at this and the list_name is missing from your pdf. I need that information to know which list needs to be updated since it's the PK.

Is it possible to share a spreadsheet instead of a pdf? I think that will make it easier for me to copy and paste.

Thanks!

[2021-04-21 18:47] aeiras commented on #996
Hola @chrisguindon,

I have deleted the PDF from the drive.
[Jakarta EE Mailing List Folder](https://drive.google.com/drive/u/0/folders/1SxWPw6_9iV7ckaM83WYfz3uYZCGYbR0N)

You are correct, the PDF conversion cut the format of the excel sheet. Amazing review from your part.
https://docs.google.com/spreadsheets/d/1gaOd1Y1j0eMIPNZKAR03PVRiw7pbOqkhOWWwK2q6Bg0/edit#gid=0
here is the 1 tab that contains

[2021-04-22 14:56] chrisguindon commented on #996
@aeiras I made all the required changes to our database. Let me know if you notice any mistakes I could have made since this was a manual process for me!

[2021-04-22 15:34] linkfang commented on #1120
Hi @chrisguindon

For the Jakarta EE 9 Platform Compatible Products part, we normally need a download URL for each product. Like here:
https://jakarta.ee/compatibility/#tab-9

But for Apusic, it's a little special, as they currently will not provide public download, only offer it to specific customers and users.

What should we do for this case? I am not sure if we can leave the download URL empty

[2021-04-22 15:39] chrisguindon commented on #1120
Hi @linkfang,

I will redirect your question to @TanjaObradovic. She is responsible for this section. These changes must be approved with a +1 from @TanjaObradovic before we can make them live!

@TanjaObradovic Can we publish a compatible product without a download link?

[2021-04-22 17:15] TanjaObradovic commented on #1120
@linkfang @chrisguindon, we will deal with these on case to case bases. Please go ahead and publish the Apusic Application Server as Jakarta EE 9 compatible if everything else is in order.

[2021-04-22 17:31] linkfang commented on #1120
@TanjaObradovic OK, sounds good. Thanks Tanja!

[2021-04-22 17:32] chrisguindon commented on #1120
@linkfang We need to provide a preview URl on this issue to let @TanjaObradovic review and approve.

Netlify will generate one for you once you submit your PR!

[2021-04-22 18:58] linkfang commented on #1120
@chrisguindon OK, got it!
Hi @TanjaObradovic , you can review the page here:
https://deploy-preview-1121--jakartaee.netlify.app/compatibility/#tab-9

[2021-04-22 22:03] aeiras commented on #996
@chrisguindon,

I have checked the [mailing list](https://jakarta.ee/connect/) and the EF infra regular project's pages of a few deprecated emails, I don't see any changes yet, which means it is taking extra time for the manual process to update the information.

[2021-04-23 12:30] chrisguindon commented on #996
@aeiras I did not make the change on the jakarta.ee website. The spreadsheet was for updating our database which is reflected here: https://accounts.eclipse.org/mailing-list and on sub-pages for mailing-list: https://accounts.eclipse.org/mailing-list/faces-dev

The mailing list on the jakarta.ee website simply needs a PR for this file: https://github.com/jakartaee/jakarta.ee/blob/src/layouts/short

[2021-04-23 14:46] autumnfound commented on #1099
@jph152 any decisions upstream on what we should do?

[2021-04-23 15:05] jph152 commented on #1099
![1](https://user-images.githubusercontent.com/69642121/115891189-cde3c880-a423-11eb-9541-450fdfc86b30.jpg)
![2](https://user-images.githubusercontent.com/69642121/115891194-cfad8c00-a423-11eb-9c7d-9554b03b60a4.jpg)
![3](https://user-images.githubusercontent.com/69642121/115891197-d0deb900-a423-11eb-8b94-936bacb3db9f.jpg)
![4](https://user-images.githubusercontent.com/69642121/115891202-d0deb900-a

[2021-04-23 15:07] jph152 commented on #1099
@autumnfound Above are the smaller jpg images that we can use to display on the page (1200x629 as recommended)

[2021-04-23 15:15] jph152 commented on #1099
Here are the larger images that we can link to:
<img width="900" alt="2" src="https://user-images.githubusercontent.com/69642121/115891945-accfa780-a424-11eb-960b-c2ffa95cc8ae.png">
<img width="900" alt="3" src="https://user-images.githubusercontent.com/69642121/115892059-ccff6680-a424-11eb-9eed-0b2bc2f2c1cb.png">
<img width="900" alt="4" src="https://user-images.githubusercontent.com/69642121/115

[2021-04-23 17:06] autumnfound commented on #1099
@jph152 I've got a preview for this available https://deploy-preview-1122--jakartaee.netlify.app/ I've added space between the cards as just an initial way of stacking them. Did you want something different?

[2021-04-23 18:30] jph152 commented on #1099
Thanks! I added some content for the page in this doc:
[Jakarta EE Community Cards.docx](https://github.com/jakartaee/jakarta.ee/files/6367373/Jakarta.EE.Community.Cards.docx)

Could we change the heading to "Community Cards" ?

We should also add a link to this page on https://jakarta.ee/resources/

[2021-04-23 19:16] autumnfound commented on #1099
I've updated the page with the content https://deploy-preview-1122--jakartaee.netlify.app/resources/community-cards/ where would you want this link?

[2021-04-23 19:24] jph152 commented on #1099
I think adding it on a list item on https://jakarta.ee/resources/ is fine. (pic attached for reference)

<img width="648" alt="Screen Shot 2021-04-23 at 3 21 28 PM" src="https://user-images.githubusercontent.com/69642121/115920103-b9192c00-a447-11eb-8987-c85f1e99aadd.png">
Content:

[H2] Social Cards
[Body] Jakarta EE Community Cards

[2021-04-23 20:00] autumnfound commented on #1099
I've added it to the page in the preview: https://deploy-preview-1122--jakartaee.netlify.app/resources/ is everything good with this change?

[2021-04-23 20:38] jph152 commented on #1099
Yes +1
Thank you!

[2021-04-23 20:45] aeiras commented on #996
Gotcha, Chris.
I have reviewed the EF mailing list (many emails)  and it looks awesome.  I see no human-errors, the only improvement would have been to add the name of the mailing list to start the description when each email is separated from the Jakarta Mailing list, yet I think current work is an improvement.  Thank YOU for always being amazing Chris!

You can expect that PR next week, yeay!

H

[2021-04-26 12:54] autumnfound commented on #1099
This is now live, thanks everyone!

[2021-04-26 12:54] #1099 closed, assigned to autumnfound

[2021-04-26 14:27] chrisguindon commented on #996
Thanks, @aeiras!!

I am looking forward to the PR! Take care!

[2021-04-26 23:02] cesarhernandezgt commented on #996
@chrisguindon @aeiras PR with the changes is ready:
https://github.com/jakartaee/jakarta.ee/pull/1123

Preview available here: https://deploy-preview-1123--jakartaee.netlify.app/connect/mailing-lists/

[2021-04-27 14:49] chrisguindon commented on #996
Thanks @cesarhernandezgt

I approved and merged your PR!

[2021-04-27 18:50] jph152 opened #1124 "Add Survey Social Cards to jakarta.ee/resources"
Please add this link under the **Social Cards** heading of the Jakarta EE Resources page:

[I Completed the Jakarta EE 2021 Developer Survey](https://f.hubspotusercontent30.net/hubfs/4753786/Completed-Jakarta-Developer-Survey.gif)

[2021-04-27 19:38] aeiras commented on #996
Yeay!

Chris, mil gracias for your awesomeness via actions!
Cesar-- thanks for prioritizing the PR submission.

So happy to close for us to close this +5 months issue and PRs related to it!

[2021-04-27 19:38] #996 closed

[2021-04-28 18:44] ZahraFazli commented on #1108
Reopening the issue as they are now approved by the Steering Committee

[2021-04-28 20:03] scottmarlow opened #1126 "Please add WildFly Preview as Jakarta EE 9 Full Platform compatible"
To include your Compatible Software Product on the Jakarta EE official list of Compatible Software Products, please provide the following information:

**The URL to the Eclipse Foundation profile to confirm that you are an authorized representative of the company whose product information you are submitting**

https://www.eclipse.org/membership/showMember.php?member_id=731

**A product name and ve

[2021-04-28 20:04] scottmarlow commented on #1126
Could you please list product `WildFly Preview` under https://jakarta.ee/compatibility/#tab-9 instead of `WildFly` for both the Web Profile + Full Platform entries?

[2021-04-29 14:58] #1120 closed, assigned to linkfang

[2021-04-29 18:08] TanjaObradovic commented on #1108
Please create a section for Guest Members and list the JUG there.

[2021-04-29 18:12] aeiras commented on #1108
Istanbul JUG rocks, happy to see this ticket move!

@TanjaObradovic,

Does the Jakarta WG has a public document where ORGs and JUGs can refer as to how they could become and request to be a Guest member for the project?
I look & cannot see it.
Also, it is important to note that only Committers and Guests pay $0 WG memberships, within the document.

The WG Charter for EF projects rules on how Guest

[2021-04-29 18:38] TanjaObradovic commented on #1126
Looks good to me

[2021-04-29 18:58] TanjaObradovic commented on #1108
@aeiras it is all documented and published at https://jakarta.ee/membership/ pages, in particular https://jakarta.ee/documents/membership/jakarta-ee-membership-prospectus.pdf. Please see slide 9, and subtitle "Jakarta EE Committer and Jakarta EE Guest Member Annual Participation Fees".
For other classes of membership fees please refer to the table on the same page. There are various options.
Note,

[2021-04-29 19:21] aeiras commented on #1108
wonderful, Tanja!
thank you.

[2021-04-30 15:59] #1124 closed, assigned to linkfang

[2021-05-03 14:45] linkfang commented on #1124
Hi @jph152
The link was added. Check here:
https://jakarta.ee/resources/#cases-studies

[2021-05-03 14:49] linkfang commented on #1108
Istanbul JUG was added into Guest Member list.
Check here: https://jakarta.ee/membership/members/

[2021-05-03 14:59] jph152 commented on #1124
Looks good, thanks

[2021-05-03 14:59] linkfang commented on #1126
Hi @TanjaObradovic , here is the preview link for the changes:
https://deploy-preview-1128--jakartaee.netlify.app/

[2021-05-03 15:00] chrisguindon commented on #1112
@laliwa,

Please meet our new Front-End Developer @linkfang.

Zhou can also speak Chinese. Feel free to reach out to him if you have any questions!

[2021-05-03 15:03] chrisguindon commented on #1037
Is this still needed now that we have a new /news section on the website? https://jakarta.ee/news/

[2021-05-03 15:41] linkfang commented on #1126
Hi @TanjaObradovic , I would like to confirm an issue the team found.

If we use WildFly Preview for the product name, then in Jakarta EE compatible products tab, we will see 2 WildFly in the list. One is WildFly and the other is WildFly Preview. Is this something we suppose to show?
Check here: https://deploy-preview-1128--jakartaee.netlify.app/compatibility/#tab-one

If we would like to have jus

[2021-05-03 16:58] bstansberry commented on #1126
@linkfang @TanjaObradovic

WildFly Preview is a separate distribution from standard WildFly, so it's valid to have a separate entry on the Jakarta EE compatible products tab. It's not ideal (because it's kind of busy) but I think it's better than sticking the word preview in the version number.  I believe the 21.0.2-beta for OpenLiberty maps to an actual release version (see https://mvnrepository.

[2021-05-03 17:18] linkfang commented on #1112
Hi @laliwa , nice to meet you!

For the translation, I think we can do it like
Jakarta EE Developer Survey Findings 2020 => Jakarta EE 开发者调研结果2020
Or it might be better this way:  Jakarta EE 开发者2020调研结果

What do you think?
Thanks!

[2021-05-03 18:16] TanjaObradovic commented on #1126
@bstansberry @linkfang I agree it is not ideal to have a separate entry for the preview, so having "Preview 23.0.1.Final" as a version is actually the way to go. We should follow what we already have with OpenLiberty.

[2021-05-03 18:27] aeiras commented on #1037
@chrisguindon,

I don't think we need this anymore.  Blogs is link to Website, yet it is hidden. My only comment here is to make it into a new tab that stands alone in the website, not hidden under Resources.
The announcement section now allows for original content to live in the website, so in my view we have fixed 1 core feature that was not there before.

Thanks for remembering this ticket.

[2021-05-03 18:38] ivargrimstad commented on #1037
I still think that `https://blogs.jakarta.ee` would be a better location for the blogs than `https://jakartablogs.ee`. And the blogs should be accessible from the top-level menu.

[2021-05-03 18:41] aeiras commented on #1037
+1 Ivar. Currently the blogs is its own website which I continue to forget.

The goal is to get viewers to stay in Jakarta EE, not diverted to another place.
In anything that leads to how we communicate project stuff, we must always fix whatever doesn't follow that norm.

[2021-05-03 21:08] linkfang commented on #1126
Here is the preview link:
https://deploy-preview-1128--jakartaee.netlify.app/

Let me know what do you think, thanks!

[2021-05-03 21:16] TanjaObradovic commented on #1126
As long as we have both versions listed for WildFly, 23.0.0 and Preview 23.0.1.Final that would be fine. If I am missing something please let me know. @bstansberry @scottmarlow  can you please confirm?

[2021-05-03 23:14] bstansberry commented on #1126
@linkfang @TanjaObradovic @scottmarlow https://deploy-preview-1128--jakartaee.netlify.app/ LGTM. Thanks.

[2021-05-04 01:00] scottmarlow commented on #1126
@TanjaObradovic @linkfang @bstansberry looks good to me also!  Thank you!

[2021-05-04 13:15] TanjaObradovic commented on #1126
great! thanks! looks good to me!

[2021-05-04 14:54] ivargrimstad opened #1129 "Remove test news articles"
A lot of news items contains "lorem ipsum..." text

[2021-05-04 14:54] ZahraFazli commented on #1108
Hello
Istanbul JUG just brought to our attention that the link to the logo should redirect to website: https://www.jugistanbul.org/
Thanks,
Zahra

[2021-05-04 16:00] linkfang commented on #1108
Hi @ZahraFazli , sorry for the incorrect URL. Just fixed it and here is the preview:
https://deploy-preview-1131--jakartaee.netlify.app/membership/members/

[2021-05-05 13:11] #1126 closed, assigned to linkfang

[2021-05-05 15:19] #1129 closed, assigned to ivargrimstad

[2021-05-05 15:25] ivargrimstad commented on #1129
Thanks @autumnfound !

[2021-05-06 05:54] laliwa commented on #1112
Nice to meet you, too. It's great to have some more speaking Chinese, you can contact my Wechat if you would like to.
What you suggested sounds OK to me. It can also be "2020年Jakarta EE 开发者调研发现" as well

[2021-05-06 05:56] laliwa commented on #1112
Thanks a lot to Chris and sorry that I missed this issue.

[2021-05-06 15:40] chrisguindon commented on #1037
Blogs will become a top-level link with the new re-design:
https://projects.invisionapp.com/share/AX10M9QL74RN#/screens

https://jakartablogs.ee is on a separate domain for security reasons. The big concern is that an author's website can be hacked or they might forget to renew and someone else might pick it up. I am not making this up, this actually occurred a few times with planeteclipse.org.

A

[2021-05-06 15:42] autumnfound opened #1133 "Jumbotron redesign"
In the new Jakarta EE redesign, all pages will have at least a standard height jumbotron (see the second link). On the homepage, there will be a jumbotron with an alternate image and larger font size for the headline. Additionally, the image used in the jumbotron on every page should be configurable at the page level, as there are cases where this can change page to page (an alternative to this if

[2021-05-06 15:47] chrisguindon commented on #1037
If we really want to do this, we will need to implement some very strict filtering rules on jakartablogs.ee to make sure that only safe HTML elements are being used on the site.

We will need to make sure that anything else gets stripped out. If we do so, I will be ok with setting up a reverse proxy rule to host blogs under blogs.jakarta.ee.

[2021-05-06 15:51] autumnfound opened #1134 "Navigation and tool bar updates"
The navbar will be given more room to breathe in the new look, with a larger top and bottom margin, along with a larger logo. Active sections will be given an orange underline to denote the section (which can be accomplished with a border-bottom and some padding).

The toolbar which hoses the language toggle, user account, and cookie management links will also be updated. In the new design, the la

[2021-05-06 16:00] #1108 closed, assigned to linkfang

[2021-05-06 16:00] autumnfound opened #1135 "Homepage split headline section"
For the homepage, a special section will be created with 2 sections. The first will contain text for the page, with icon highlight cards starting in this section and overlaying into the second section. The second section should be large enough to contain the cards with an additional 50px bottom margin (estimate).

Relative positioning should be used with some static heights and maxes used to conta

[2021-05-06 16:08] autumnfound opened #1136 "Homepage members carousel"
The homepage members carousel can be created using an Owl carousel with simple text sections underneath the section. Ordering and data for this component will be driven by a `members.yaml` file created in the data folder. An example of how this carousel is built can be seen in the [user_display component](https://github.com/EclipseFdn/hugo-solstice-theme/blob/master/layouts/shortcodes/events/user_

[2021-05-06 16:57] autumnfound opened #1137 "What's new homepage section"
The What's New section will be a section driven by a tabbed section from bootstrap. The first 2 sections are populated by newsroom News (with different content types), and the third through Newsroom Events, retrieving upcoming events only. The current homepage makes use of this, but will need some markup and templates created+configured to better accomodate the new look and feel. IoT makes use of

[2021-05-06 17:11] autumnfound opened #1138 "Homepage testimonial cards"
New testimonial blocks will be created that display the logo of the company giving a testimonial on the left and testimonial, name, and company on the right. The name and company will be wrapped in a paragraph tag with the brand-secondary class (or whichever gives the blue color), and the company in the same tag with an em tag wrapping the company name.

The determination of how we choose which te

[2021-05-06 17:15] autumnfound opened #1139 "Redesigned footer section"
The majority of the work for this section has been done within the JakartaOne site code, with just the orange bar over the copyright footer missing from that implementation. We can wholesale copy most of that code with some minor work to clean up and make the CSS customizable (I can see this type of footer becoming more common, so customization variables would be the cherry on top, not critical pa

[2021-05-06 17:21] autumnfound opened #1140 "Simple homepage content"
This issue covers the more simple sections defined in the redesign of the home page not covered by the other issues. These should be straightforward sections, populated by files in the data folder, under the translated data section (e.g. `/data/en` and `/data/zh`). We have many examples of translated components across our code base. Feel free to reach out if you need some help with this!

Design:

[2021-05-06 17:34] autumnfound opened #1141 "FAQ page refresh"
The FAQ section should be updated to use a [Bootstrap accordion collapse](https://getbootstrap.com/docs/3.3/javascript/#collapse) section. Some minor JS may be needed to transition between the open and close arrows on the right side of the collapse block. This would bind to the `show.bs.collapse` and `hide.bs.collapse` events on the page, and would use some animation to transition between the 2 gl

[2021-05-06 17:38] autumnfound opened #1142 "About Working Groups page refresh"
The creation of this section should be a pretty straightforward process. The first 2 sections are segmented text sections, with the third being a more complex use case of the new cards component we are in the process of creating. This means that we will need to be able to configure additional classes per card in the data file so that we can mix colours, and also define type by entry rather than fo

[2021-05-06 17:42] autumnfound opened #1143 "About resources page refresh"
A simple custom page will be needed for the resources page that separates the different sections into bordered boxes with an icon, a heading, a list, and an optional link. An example of how we could author this content can be seen on the [IoT resources page](https://iot.eclipse.org/community/resources/). While it needs a reskin, it does much of what this section will need to do.

Design:
https://p

[2021-05-06 17:47] autumnfound opened #1144 "Adopt-a-spec page refresh"
The adopt-a-spec page is about 90% simple markdown content, with a small list of adopter logo images that will be created and shown through a shortcode. [The adopt a spec page already exists](https://jakarta.ee/community/adopt-a-spec/) with the same content and should be an exercise of reviewing the output once the site CSS has been updated.

Design:
https://projects.invisionapp.com/share/AX10M9QL

[2021-05-06 18:09] autumnfound opened #1145 "Jakarta EE Committees page refresh"
The committees' page is made up of 2 distinct sections with pretty standard content to author content for. The bordered boxes should use flex-grow to accomplish the bottom-aligned links. The events section of the current site makes use of this and could be useful when creating this section. These values should be i18n labels so that they would work across languages.

The second section is 2 sectio

[2021-05-06 18:49] autumnfound commented on #1133
RE text size, just a homepage style treatment rather than a styling for interior pages.

[2021-05-06 18:52] autumnfound commented on #1134
RE flyout, they will be the same style as the navigation menu flyouts!

[2021-05-06 19:06] autumnfound commented on #1137
RE images, we need a generic image for the news image embed when there is none available. If we want something snazzy, we might need to do this post-launch if things get tight.

RE events not having images, we will need more discussions to decide what look and feel we want. There are a lot of tile alternatives in the process of being created (rough draft here [card styleguide](https://deploy-previ

[2021-05-06 19:14] autumnfound commented on #1138
RE the testimonials to display, we should randomize with weight (weights to be determined by marketing). This will be JS, and require some time to fiddle with.

RE the length, we can chop off the content (no HTML so easy-peasy), and link to a larger page with just testimonials. We don't currently have a mockup for this, but we could do a page with horizontal cards and see how we feel.

[2021-05-06 19:16] aeiras commented on #1145
Hola Martin,

Who provided you with the write-up for the Committees's mission?
Ideally, we need to a re-write so that when the 3 committees are listed side by side they look as 1 WG and not 3 different wg.

I recommend we pull Tanja for her to get each committee to review 2021 goals of the committees, that write-up ought to be fixed within a fixed number of words on a draft that can be edited to m

[2021-05-06 19:25] autumnfound commented on #1145
This content was pulled from https://jakarta.ee/committees/ as far as I can tell. This content was likely authored when the site was last redesigned/launched (though I'd have to dig for the exact time frame) and hasn't been refreshed since. For a refresh of the actual content, I defer to the owners of the page, which is either the committees or marketing themselves (I'm not totally sure, to be hon

[2021-05-06 19:27] autumnfound opened #1146 "Meeting minutes refresh"
The meeting minutes page is very similar to what is currently up on production, with a few small changes in looks but not functionality. The tab headings used on the homepage for the news and events sections will be used here as well, replacing the standard simple boxed design. Instead of surrounding the section in a border, each year will be surrounded with a box with a left-side highlight mark w

[2021-05-06 19:56] aeiras commented on #1145
thanks for prompt update, Martin. Thanks for confirming that there has been no update since we push the website live back in 2018/2019. time to improve the content as well. :)

[2021-05-06 20:03] autumnfound opened #1147 "Specification detailed single page refresh"
This page has 2 distinct sections, the main content from the spec repo, and the right side sidebar with some navigation content and additional information. The main content looks to be standard content that is already printed on the [same page in current production](https://jakarta.ee/specifications/platform/9/).

The sidebar content contains already existing components (a brand colored card, and

[2021-05-06 20:26] autumnfound opened #1148 "Compatibility Get Listed page refresh"
The compatibility page has 3 noticeable sections to create. The first section is a list of vertical icon highlight cards with simple text elements and a small orange linebreak between the heading and the text. These cards are shadowless with a white background, which should be simple to author.

The second section to create is plain markdown content between the 2 more complicated components and wi

[2021-05-06 21:27] cesarhernandezgt commented on #1037
Hi all,

I would like to provide my view and hopefully facilitate pointers that help to understand better the scope of the current Github issue.

@chrisguindon @ivargrimstad
At the beginning of 2021, in JakartaEE Marketing Committee, we receive the "Jakarta EE SEO & PPC Overview" report. You can sync with @karenmcnaughton to obtain a better view of the recommendations since this github issue is on

[2021-05-07 13:12] autumnfound opened #1149 "Community Stay Connected page refresh"
The stay connected page is a simple page made with a list of horizontal, half-width cards. These cards have a logo on the left and text and buttons on the right. This can be one or multiple links, with mixed types. I'm not totally sold on mixed link types, but we can also support custom links for weird edge cases like this. Otherwise, this seems to be pretty straightforward.

Design:
https://proje

[2021-05-07 14:08] autumnfound opened #1150 "Community Events refresh"
The events page is broken into 2 sections, the main dynamic events section, and the sidebar. The main dynamic section uses rows of events with images, times, and links. These events will likely require the same sort of treatment as the home page event as there are no associated images.

On the right side, we have a simple sidebar menu that implies that we have the ability to target different sub-m

[2021-05-07 14:23] autumnfound opened #1151 "Newsletter archive refresh"
Newsletter archives is a simple facelift and rearranging of content to make use of the same look and feel that exists across the site refresh. The year header has a glyph to the left of it, and underneath the header is a simple list of links. Instead of being a full width section, these lists will be in smaller bordered boxes

@karenmcnaughton the presence of links is only assumed here as there is

[2021-05-07 15:01] autumnfound opened #1152 "Join Jakarta EE working group refresh"
The first half of the join page is simple markdown content, while the second half is comprised of 2 complex components. The first component is a set of cards with headings and no body text, an image, and a full card link. It should be pretty straightforward to author the content through a card component.

The second component on the page is an expanded view of the testimonials cards with an Owl ca

[2021-05-07 15:18] autumnfound opened #1153 "Specifications list page refresh"
The list page has 3 new aspects to it compared to the current specification list page. The first is that the platform spec projects have been separated from the rest of the specifications. We can likely accomplish this by creating a string list of projects we want to be in the top section and just loop through the list of specs twice. The first time we will only print the projects that match the a

[2021-05-07 16:43] autumnfound opened #1154 "Resource videos refresh"
The videos section refresh has 3 pieces of work to consider, 2 of which are on the critical path for the refresh, and the third being a new feature that allows for live filtering of the videos by video category. The top banner is a custom section using an image background and 3 visible sections of content in a 15-65-20 split. The first section containing a PNG logo in a container with a white bg a

[2021-05-07 17:14] cesarhernandezgt opened #1156 "[repository documentation] Add how-tos file for recurrent contributions"
**Problem to solve**
In https://github.com/jakartaee/collateral repository we have received GitHub issues related to membership testimonials. Since the change is pretty straightforward, we need to have this process documented can help to better escalate the task and allow jakarta/jakarta.ee committers to review the Github issues and Pull Requests. Other recurrent site-related technical processes c

[2021-05-07 19:26] autumnfound commented on #1138
The random weighting portion of this will be moved to a separate issue for post-launch as it's a new feature that currently doesn't exist on the site (AFAIK). This backlog will be completed once the critical redesign work is done, and a few features may make it in to launch if things go smoothly with everything else.

[2021-05-07 19:31] autumnfound opened #1157 "Random weighted testimonial cards on the homepage"
As part of the redesign, there was an ask to allow for testimonials to be randomly displayed and weighted to allow for some testimonials to show up more often than others. As of right now we don't have this system in place and there would be overhead involved with the testing and development of this feature, it has been added to the post-launch queue from #1138.

This system would involve printing

[2021-05-10 14:04] #1112 closed, assigned to laliwa, linkfang

[2021-05-10 16:29] #1156 closed, assigned to nobody

[2021-05-10 21:29] aeiras opened #1159 "[Jakarta EE 9.1 Contributors Cards Update] Update 9.1 Release landing page"
Using the 9.0 feature created via  [Contributors' Rotation Cards](https://github.com/jakartaee/jakarta.ee/pull/923) PR, we need to bring the same form for 9.1.

**Pull in Contributors' Repo activity from:**

- https://github.com/jakartaee/specifications/pulls - **merged pulls** this includes all activity since last release 1 day after freezing the Cards Novemeber 20th, 2020.

https://github.com/ja

[2021-05-10 21:31] aeiras commented on #1159
@kwsutter, @jeanouii, @dblevins & @cesarhernandezgt,

Before we pull @chrisguindon and team to update the Contributors' cards for 9.1 Release, can you take a look at the information placed on the repo gathering the meat of what goes into highlight activity please?

Thank you,

[2021-05-11 12:36] autumnfound opened #1160 "Select dropdown in-site navigation component"
A new navigation component will be created that contains a dropdown that on click will navigate you to the designated specification. In the below example, this dropdown will be used to display specification landing pages. While this concept is reused a few times, this component will just have a look and feel associated with it, and will have multiple implementations. This is due to the fact that t

[2021-05-11 13:11] autumnfound opened #1161 "Video resource filter dropdown"
On the video resources page there is a new feature that filters visible videos by a small JS widget that allows videos to be actively filtered by categories. This will be a new JS functionality that allows us to display and hide videos based on category. While we have similar search function filters in other sites, they have additional features that aren't currently needed, and it would likely be

[2021-05-11 13:21] autumnfound commented on #1160
This feature is used in #1147 and #1153

[2021-05-11 13:33] autumnfound opened #1162 "Allow deeper nesting of main navigation elements"
As part of the design, there is a request to allow an additional level of nesting within the menu. Currently, this feature does not exist and would need to be implemented in the post-launch phase (with a higher priority). The most reliable and accessible way to implement this would be to use clickable sections in the menu that trigger the submenus to open (rather than using hover events that aren'

[2021-05-11 19:57] ZahraFazli opened #1164 "Add The Apache Software Foundation as Guest Member of the WG"
Hello
Please add The Apache Software Foundation as Guest Member of the working group.

[asf_logo_url.pdf](https://github.com/jakartaee/jakarta.ee/files/6461649/asf_logo_url.pdf)

[2021-05-11 20:23] cesarhernandezgt commented on #1159
Thank you @aeiras for the github issue. I reviewed the content and references provided and the following is my understanding of the task from the technical point of view:

Main goal: Have an updated contributors list for website cards for Jakarta EE 9.1 release.

Description:
Creation of https://github.com/jakartaee/jakarta.ee/blob/src/data/contributors/jakarta-ee-9-1.json via https://github.com/j

[2021-05-11 20:28] aeiras commented on #1159
Correct, Cesar!
Thank you for converting the git issue into the PR beef. You are amazing in preparation for tmw submission and to enable community review. :)

[2021-05-11 23:54] karenmcnaughton opened #1165 "Release 9.1 Updates to jakarta.ee"
Jakarta EE Release 9.1 will be publicly announced on May 25th. As such, we need the following updates to go live for that date please.

Impact to jakarta.ee site are the following:

Compatible Products page: https://jakarta.ee/compatibility/
- add a new tab to the left of Jakarta EE 9 tab called "Jakarta EE 9.1"
- On this new tab, include the accepted/certified compatible products that are found h

[2021-05-12 11:44] jeanouii commented on #1159
ManageFish does not show up as a compatible implementation in this page
https://jakarta.ee/compatibility/#tab-9.1 which is listed here https://deploy-preview-372--jakartaee-specifications.netlify.app/specifications/platform/9.1/

Same for Apache TomEE because in the page https://jakarta.ee/compatibility/#tab-9.1 there is no difference between full and web profile which is a good thing.

Other than

[2021-05-12 13:18] autumnfound opened #1166 "Compatible products page"
In the first phase of the redesign of this page, the aim will be to revamp the page using the new look and feel without introducing new functionality to the page. To this end, there will be 2 parts to this upgrade. The first of which is the compatible products section. In phase one, the standard Bootstrap 3 tabbed interface will be upgraded to use the new look and feel for the tab navigation. The

[2021-05-12 13:31] autumnfound opened #1167 "Compatible Products - View all tab"
The view all tab is a new content section in the compatible products page that lists a compressed view of all of the products with all links to the TCK's available side by side for ease of access. Each category of compatibility for each release will have its own heading and table to view all of this content.

@karenmcnaughton regarding the odd pagination stuff at the bottom of this section, what w

[2021-05-12 15:48] aeiras commented on #1159
Good catch @jeanouii. Can you please submit a new issue pointing the issue.

that fix is outside the PR code & focus.

[2021-05-12 17:31] cesarhernandezgt commented on #1159
@aeiras
For the compatible implementations I think @karenmcnaughton already open this issue: https://github.com/jakartaee/jakarta.ee/issues/1165

[2021-05-12 17:48] cesarhernandezgt commented on #1165
@karenmcnaughton

About

By reusing and updating the https://jakarta.ee/release/9/ release page to have all the content migrated to say `9.1` aren't we going to lose the `9` historical content?

A new list of contributors related to 9.1 is been generated via https://github.com/jakartaee/jakarta.ee/issues/1159 so by reusing https://jakarta.ee/release/9/ for the 9.1 release we will end up losing the

[2021-05-12 18:01] aeiras commented on #1165
Spot on Cesar.
Protecting all the releases' history, especially its contributors are core and it takes into account the feature of the code in the creation of the Contributors' cards. We must never use old "PRs" to create new release pages in regards to the contributors' activity.

New PR for 9.1 contributors is ready https://github.com/jakartaee/jakarta.ee/pull/1168.

See you there @karenmcnaught

[2021-05-12 18:01] autumnfound commented on #1165
Currently, I don't know if there is a plan to create any new content beyond the new compatible products section. We are just announcing there is a new minor version available on the current release 9 page as it stands. Until we have such content, I strongly advise against creating a new page until we have new content as it would be mostly duplicate content. This would tank our SEO for that page an

[2021-05-12 18:01] Dexmaster commented on #1159
Created [contributor list for 9.1](https://github.com/jakartaee/jakarta.ee/pull/1168), it generates list into data/contributors/jakarta-ee-9.1.json by default.

Also provided 2 commands you can test how generation works/re-run it on 18th of May which is expected to_date, or tweak dates if needed.

[2021-05-12 18:19] aeiras commented on #1159
Thank you reviewers @cesarhernandezgt & @jeanouii and Andrii for converting the review into a PR using past work.
The 3 of you are wonderful!

[2021-05-12 18:45] cesarhernandezgt commented on #1165
The [Jakarta EE 9.1 Final Release Marketing Plan](https://docs.google.com/spreadsheets/d/19bJB1E0m7kdslGhfFt5xyz0o9etrrlCVPFJwxP_B_m0/edit#gid=1354006467) currently states

But scope it's not defined.

My opinion is that we should create new content (cc @karenmcnaughton ).
If we keep things as they are right now and just change Top left text to "VERSION 9.1 NEW RELEASE" there is no way a visitor w

[2021-05-12 18:52] aeiras commented on #1165
@cesarhernandezgt you mention community/contributors' **quotes** to be added to features and benefits, question for you:
**why have a call to action to submit such quotes have not been sent to the WG forum yet?**

With a few others, we created the Jakarta Quote Submissions Guidelines that could be easily used in addition to git issues to such C2A. https://drive.google.com/drive/u/0/folders/1NBkijQ

[2021-05-12 19:01] autumnfound commented on #1165
In terms of initial changes, I've got the following pages:

 https://deploy-preview-1169--jakartaee.netlify.app/compatibility/#tab-9_1
 https://deploy-preview-1169--jakartaee.netlify.app/compatibility/download/
 https://deploy-preview-1169--jakartaee.netlify.app/release/9/

A question I have outside of the release page (which seems like there is more discussion to be had around?)! We now have mult

[2021-05-12 19:47] linkfang commented on #1133
In the design elements, the height of the jumbotron in [1st](https://projects.invisionapp.com/share/AX10M9QL74RN#/screens/448585111) and [2nd](https://projects.invisionapp.com/share/AX10M9QL74RN#/screens/448585112) screen is different.

So, should we show a different jumbotron height on home page based on whether the navigation menu shows up or not?

[2021-05-12 19:55] jeanouii commented on #1165
I think we I think there is a mistake with Apache TomEE on the 9.1 Web Profile compatible list
The version should be TomEE 9.0.0-M7

[2021-05-12 19:56] jeanouii commented on #1165
I also think we should have the version added. For example, Glassfish has 1 version for jdk11 and another one jdk8
TomEE is only jdk11

[2021-05-12 19:58] linkfang commented on #1134
I am not sure if all the navigation items/options will have a flyout?

If yes, then I think I am good.
But if not, I think it might be a little clearer for users if we have a drop-down icon besides the item/option? Just like what we currently have for "Resources"
![image](https://user-images.githubusercontent.com/43075439/118036650-d2bcdd80-b33a-11eb-9084-47fc1bc98710.png)

[2021-05-12 21:16] karenmcnaughton commented on #1165
Per our Marketing Committee Meeting on March 25th, [we captured meeting minutes (https://docs.google.com/document/d/1oovv6upwg086VTjysamYvpx06P0hgHJhMwB6TCn14ws/edit# )that outlined the following:
Update to web
Minor - add 9.1 to release 9 page; download page would have 9.1; compatible products would have 9.1 tab.

This was agreed upon by the Cmte members and has been actioned as such here in Gith

[2021-05-12 23:59] cesarhernandezgt commented on #1165
Hi @karenmcnaughton
Yes, you are right. The above scope has three actions:

**a) add 9.1 to release 9 page**
b)download page would have 9.1
c) compatible products would have 9.1 tab.

From March 25th until now, I believe we are in good timing to review what we agreed on **a)**, and my previous comments state the concerns of losing historical data from Jakarta EE 9 release (https://jakarta.ee/relea

[2021-05-13 12:58] autumnfound commented on #1133
I believe that is just a holdover from changes made between revisions. Changing the page as you open the menu wouldn't be a good experience, so we would either use the taller or shorter version. Based on how we've been going with the Jumbotrons lately, I would say we're likely going to use the shorter version.

[2021-05-13 13:02] autumnfound commented on #1134
I agree with the dropdown indicator, good catch on the details! For accessibility purposes we should indicate that there are more options associated with the option.

[2021-05-13 14:37] linkfang commented on #1164
Hi @ZahraFazli , The Apache Software Foundation is added, please review here:
https://deploy-preview-1171--jakartaee.netlify.app/membership/members/

[2021-05-13 14:50] ZahraFazli commented on #1164
Looks good, thanks

[2021-05-13 14:54] karenmcnaughton commented on #1165
Can we please also update the # of Committers on this page: https://jakarta.ee/release/9/ **to 120** (from the current 89).

[2021-05-13 16:05] cesarhernandezgt opened #1172 "New videos for Jakarta EE 9.1"
During today's Marketing Committee call, we identified the need of having new videos for the Jakarta EE 9.1 release page.
This was also visualized in a comment from [issue1165](https://github.com/jakartaee/jakarta.ee/issues/1165#issuecomment-840178200)

So far the two videos that will need to be edited and created are:

1. Create a video base on the Jakarta EE 9.1 Update Kevin Sutter provided duri

[2021-05-13 16:25] TanjaObradovic commented on #1172
Thanks Cesar! I have assigned it to @karenmcnaughton.

[2021-05-13 18:13] karenmcnaughton commented on #1165
To clarify: 31 Projects, 120 Committers, 60 GIT Repositories are the numbers for that line ^^

[2021-05-13 18:21] autumnfound opened #1173 "Create filters for different Jakarta Releases in compatible products"
This pertains solely to the feature to allow for checkbox filters that can hide and show elements on the page based on the available released products. This may be able to make use of #1161 code if made general enough, and it could accelerate the development of this feature.

Design:
https://projects.invisionapp.com/share/AX10M9QL74RN#/screens/448585115
![image](https://user-images.githubuserconte

[2021-05-13 18:22] karenmcnaughton commented on #1172
I have looped in @ivargrimstad to help with producing a video for 2. above ^

[2021-05-13 18:23] autumnfound opened #1174 "Create solution for opening TCK or download links per released product"
TBD

Design:
https://projects.invisionapp.com/share/AX10M9QL74RN#/screens/448585115
![image](https://user-images.githubusercontent.com/23018241/118166852-fd1ea180-b3f3-11eb-8621-43d8ae360443.png)

[2021-05-13 18:28] autumnfound commented on #1165
@cesarhernandezgt are you taking care of the release page then? I can undo the minor changes around the release 9 page to allow you to take care of this without running into conflicts with my work!

[2021-05-13 18:55] #1164 closed, assigned to linkfang

[2021-05-13 19:06] karenmcnaughton commented on #1106
This work is complete, the design is final and development has begun.

[2021-05-13 19:06] #1106 closed, assigned to ericpoirier, meKokabi

[2021-05-13 19:13] autumnfound opened #1175 "Redesign touchstone"
This issue will act as a touchstone for finished features, pages, and to discuss blockers or changes in timelines that affect the project.

[2021-05-13 19:24] aeiras commented on #1165
Hola Karen, 60 GITs is incorrect. We need to count only the Jakarta EE Repos and exclude the EE4J repos.

[2021-05-13 22:35] cesarhernandezgt commented on #1165
Hi @karenmcnaughton . I updated the number of the committer to 120 in the [PR](https://github.com/jakartaee/jakarta.ee/pull/1170) and preview available here: https://deploy-preview-1170--jakartaee.netlify.app/release/9.1/

Image of the change:
![image](https://user-images.githubusercontent.com/1454523/118195817-2bf34280-b409-11eb-9ecc-0974baa1a06d.png)

[2021-05-13 22:42] cesarhernandezgt commented on #1165
@autumnfound Yes please, thank you.
Currently `jakarta.ee/layouts/shortcodes/pages/release/9_1.html` is only missing:
A) text for the `FEATURES AND BENEFITS` section
b) Videos for the `POWERED BY PARTICIPATION` section (This is already a work in progress via https://github.com/jakartaee/jakarta.ee/issues/1172)

Feel free to push to my PR if need it.

By the way, at this point, https://github.com/j

[2021-05-13 22:56] cesarhernandezgt commented on #1165
Hi @aeiras , I just updated the repositories number in the PR and preview available here: https://deploy-preview-1170--jakartaee.netlify.app/release/9.1/
I double checked the number of repos from https://github.com/jakartaee/

[2021-05-13 23:00] aeiras commented on #1165
Excellent work @cesarhernandezgt, thank you!
The Specification committee already approved last summer the move to a few of the API Jakarta repos from the EE4J repo to the Jakarta Repo you provided the link to. Sadly that approval vote has not yet been triggered nor executed by submission of the Bugzilla tickets with each Repo request asking for the WebMaster team to help with the Repo's exports.

[2021-05-14 14:43] aeiras commented on #1165
@cesarhernandezgt días,

based on this specification page, Jakarta has 39 projects (not including tck, web & full profile) https://jakarta.ee/specifications/

can you please adjust the PR to show the projects’ number?

[2021-05-14 14:53] ivargrimstad commented on #1165
There is not a 1-1 mapping between specifications and projects. Some projects produce multiple specifications.
The page you are referring to lists specifications, not projects. The correct project count for Jakarta Spec projects is 31.

[2021-05-14 15:05] aeiras commented on #1165
Hey Ivar,

is there a way to fix the page then?
none seems to know how many projects jkta has, from 30 to 33 to 39...
how can we provide the information to match the website?

[2021-05-14 15:35] TanjaObradovic opened #1176 "Release landing page for version 9 needs to be corrected"
![image](https://user-images.githubusercontent.com/40073121/118293995-429ca680-b4a8-11eb-8e5d-b761492b4c2c.png)

Per our chat yesterday, can we make sure we correct this?
Home  / Jakarta EE 8 Delivers  / Jakarta EE 9 Delivers

it should be
Home / Jakarta EE 9 Delivers

[2021-05-14 15:58] cesarhernandezgt opened #1177 "[data for 9.1 release page] Number of repositories and projects related to Jakarta EE 9.1 release"
@ivargrimstad @aeiras

Currently, a lot of numbers, (and requests to update work in progress pull request) has been mentioned in https://github.com/jakartaee/jakarta.ee/issues/1165 , so I opened this GitHub issue to come up with a consensus and final Number of **Repositories** and **Projects** related to the Jakarta EE 9.1 release and also the **equation** we can later document for making this a s

[2021-05-14 15:59] cesarhernandezgt commented on #1165
@ivargrimstad @aeiras
I opened https://github.com/jakartaee/jakarta.ee/issues/1177 so the number of Repositoroes and projects can be resolved for 9.1 and beyond.

[2021-05-15 07:02] ivargrimstad commented on #1177
Number of Specification projects: **31**
Source: https://projects.eclipse.org/list-of-projects?combine=Jakarta&field_project_techology_types_tid=1102&field_state_value_2=All&page=1

Number of Specifications (including Platform and Web Profile): **41**
Number of Specifications (excluding Platform and Web Profile): **39**
Source: https://jakarta.ee/specifications/

[2021-05-16 21:50] gerdogdu commented on #1165
Hi

@autumnfound Can you please update ManageFish 6.1.0 download link to [https://download.managecat.com/6.1.0/managefish-fullprofile-6.1.0.zip](https://download.managecat.com/6.1.0/managefish-fullprofile-6.1.0.zip)

Thanks.
Gurkan

[2021-05-17 15:29] ivargrimstad commented on #1165
@aeiras
Number of Projects: 31
Number of Specs (without platform and web profile): 39
Number of Specs (WITH platform and web profile): 41

See #1177 for more details

[2021-05-17 15:38] cesarhernandezgt opened #1179 "Highlighted Text for JakartaEE 9.1 release page"
The following three boxes need text related to 9.1 release.
This will be part of: https://github.com/jakartaee/jakarta.ee/issues/1165

![image](https://user-images.githubusercontent.com/1454523/118516263-643d9e00-b6f3-11eb-87d0-a64853a2f844.png)

cc: @karenmcnaughton

[2021-05-17 17:23] karenmcnaughton commented on #1179
Recommend that we keep the text in the 3 boxes the same, except change 9 to 9.1

Also recommend to add a line underneath the 3 boxes in the orange  bold text that says: "NOW SUPPORTING JAVA SE 11"

[2021-05-17 19:15] karenmcnaughton commented on #1165
Also can you pls confirm that this will be the URL: https://jakarta.ee/release/9.1/ ..?

It needs to be linked in the Press Release, so I need to confirm pls.

[2021-05-17 21:04] cesarhernandezgt commented on #1179
@karenmcnaughton
Done in the PR https://github.com/jakartaee/jakarta.ee/pull/1170
Feel free to close this ticket if the boxes and orange text looks as expected.

![image](https://user-images.githubusercontent.com/1454523/118556312-f4dea300-b720-11eb-97d4-1ccba34244b8.png)

Live Preview:  https://deploy-preview-1170--jakartaee.netlify.app/release/9.1/

[2021-05-17 21:06] cesarhernandezgt commented on #1165
Hi @karenmcnaughton
I'm assuming the question is to me. Yes, https://jakarta.ee/release/9.1/ will be the page URL.

[2021-05-17 22:55] cesarhernandezgt commented on #1177
Thank you for the pointers @ivargrimstad

I have a third set of results:  Projects 30 and Specifications 35.

**Analysis for number of Projects**

-Total number of `projects` the current [search](https://projects.eclipse.org/list-of-projects?combine=Jakarta&field_project_techology_types_tid=1102&field_state_value_2=All&page=1) providers: 33

Then the number can be reduced to `29` projects if you a

[2021-05-18 05:57] ivargrimstad commented on #1177
You are right, @cesarhernandezgt.
It depends whether the list should display only those that were part of 9.1, those related to 9 and 9.1, or all.

If we should be _really_ picky then, the 9.1 list should only contain 1 project and 2 specifications since only the Platform and Web Profile had updates (other than service releases to the TCKs) :)

I would recommend choosing the simple approach and li

[2021-05-18 13:26] karenmcnaughton commented on #1179
Thank you @cesarhernandezgt just one last request pls. For this text up above the two call to action boxes: Previous Release: Jakarta EE 9 -- can you pls make that text in ALL CAPS, as the rest is..? Thank you!

[2021-05-18 14:46] autumnfound opened #1180 "Redesign Preview site"
We should set up netlify to build the redesign branch to better enable demos, user feedback, and integration testing. I tried looking into the actual Netlify configs but it seems I don't have access to the Netlify site config for this site. Christopher, could you either give access or create a rule to watch the `redesign` branch?

Also, as an aside, we should probably streamline the build for the

[2021-05-18 15:00] chrisguindon commented on #1180
I added `redesign` as an additional `Branch deploys` branch. This should allow you to do what you need.

I have an idea for streamlining the build.  We can create proxy rules with netlify.

How about we create a proxy rule for jakarta.ee/specifications => https://jakartaee-specifications.netlify.app/specifications/

This would allow us to remove this custom build process from jakarta.ee.

[2021-05-18 15:01] autumnfound commented on #1180
That sounds perfect!! I was looking into compressing a copy of the specs, but man is that section big.

[2021-05-18 15:02] ZahraFazli opened #1181 "Add Beijing Baolande Software Corporation to the website"
Hello,
Beijing Baolande Software Corporation is a Participant Member of the Working Group.
Please add their attached logo to the website: https://jakarta.ee/membership/members/
Thanks,
Zahra
![BES](https://user-images.githubusercontent.com/50374570/118675227-6c1b4200-b7c8-11eb-8423-dc95af669e53.png)

[2021-05-18 15:02] chrisguindon commented on #1180
I will submit a PR to see if that can work.

Let use https://github.com/jakartaee/jakarta.ee/issues/1026 for that!

[2021-05-18 16:10] cesarhernandezgt commented on #1179
@karenmcnaughton

Done in the PR #1170:
![image](https://user-images.githubusercontent.com/1454523/118686470-43437e80-b7c1-11eb-985f-b4a277882f0a.png)

Live Preview: https://deploy-preview-1170--jakartaee.netlify.app/release/9.1/

[2021-05-18 16:37] aeiras commented on #1177
@cesarhernandezgt, thank YOU for the fantastic inventory on Specs and projects. Just wow.

@ivargrimstad, I sort of agree with you on the overall overview of inclusion.

3 things:

1. the Jakarta TCK ought to be added to the count, which brings the number to 30.
2. the removal of NoSQL and MVC ought to happen.  We have also removed them from the CN4J communications slides and added projects to the

[2021-05-18 17:15] ivargrimstad commented on #1177
Still think we should stick with the total number. Keep it simple. Not confuse anyone by filtering out based on something the community at large doesn't see as relevant

That is wrong @aeiras.
NoSQL was removed since it hasn't had a release yet.
MVC is still on the slide, as it should be. Same reasoning as with e.g. GraphQL and Reactive Messaging. Listed as independent specification.

+1

[2021-05-18 17:49] cesarhernandezgt commented on #1177
@aeiras @ivargrimstad

By merging your last comments, this is how the page will look like.

![image](https://user-images.githubusercontent.com/1454523/118699407-bbfd0780-b7ce-11eb-824c-bea7e8627dcc.png)

[2021-05-18 17:51] aeiras commented on #1177
gotcha Ivar. good stuff.

Cesar, it looks fantastic and more complete. thank you for prioritizing the PR changes.

[2021-05-18 18:16] ivargrimstad commented on #1177
Sorry to be a troublemaker, but the number of Git repositories should include all the spec- and tck-repositories under the EE4J organization. We just have to figure out an easy way to filter out the samples and implementations there to get the correct number.

[2021-05-18 18:18] aeiras commented on #1177
Ivar, while you figure out the actual number with details, can you make a plan to mirror those findings to start the export to the Jkta repo via bugzilla tickets? That was voted early that year. the work needs to start sometime. :) If not during current work, when.

[2021-05-18 18:20] ivargrimstad commented on #1177
I'll do my best to find the number. Regarding the other part, I will leave it to the responsible committee to decide when to start the work :)

[2021-05-18 18:22] aeiras commented on #1177
@cesarhernandezgt, can you please add a feature to the page where the formal blog announcement gets added to the release page?
Like that, all release pages will always have the formal WG announcement within the page.

Ideally, we fix many issues with such an integration:

1. The announcement is not lost as time passes under the Formal announcement page. Having the write-up in 2 sections, 1 with a

[2021-05-18 18:23] aeiras commented on #1177
thank you for being extra snuggly efficient with current work Ivar. It is fun to get to do this via open conversations. I appreciate it more than words show. Let's do this!

[2021-05-18 18:27] ivargrimstad commented on #1177
The number of repositories associated with spec and TCKs in the EE4J GitHub organization is currently: **51**

I have filtered out everything related to tutorials, examples, implementations, and release scripts.

[2021-05-18 20:06] autumnfound commented on #1176
@TanjaObradovic Please see https://deploy-preview-1185--jakartaee.netlify.app/release/9/ for a preview of the fix! The best we could easily do is update the title of the release page which was still technically Jakarta EE 8 Delivers, which is why it showed up strangely in the breadcrumb. It now reads Home > Jakarta EE Releases > Jakarta EE 9 Delivers, which is much more clear and preps us for a po

[2021-05-18 20:31] cesarhernandezgt commented on #1177
@aerias

I think this is out of the scope of the present GitHub issue. Can you please open a new Github issue describing in details the new feature you are proposing?

@ivargrimstad

Thank you, I updated also my local branch with the number of repositories and this is the current view:
![image](https://user-images.githubusercontent.com/1454523/118719020-2caf1e80-b7e5-11eb-8451-5633f49949a1.png)

I

[2021-05-18 20:40] cesarhernandezgt commented on #1179
@karenmcnaughton

After the review and help we got from https://github.com/jakartaee/jakarta.ee/issues/1177 ,I just updated the Project, Specifications and Repositories data with the latest numbers:

Live Preview: https://deploy-preview-1170--jakartaee.netlify.app/release/9.1/

![image](https://user-images.githubusercontent.com/1454523/118720067-66ccf000-b7e6-11eb-8492-5f57a98d329a.png)

[2021-05-18 20:44] cesarhernandezgt commented on #1165
@karenmcnaughton

After the review and help, we got from #1177 ,I just updated the Project, Specifications, and Repositories data with the latest numbers:

Live Preview: https://deploy-preview-1170--jakartaee.netlify.app/release/9.1/

[2021-05-18 20:47] cesarhernandezgt commented on #1179
@karenmcnaughton
Now that the 3 boxes have the desired text, can we close this GitHub issue and continue the review in the main ticket https://github.com/jakartaee/jakarta.ee/issues/1165 ?

[2021-05-18 21:09] aeiras commented on #1165
@cesarhernandezgt can we do anything about the wrong alignment in the page introducing the release?
<img width="1155" alt="image" src="https://user-images.githubusercontent.com/10731224/118723791-ae517d00-b7e2-11eb-8fde-563a4d201a1e.png">

jakarta ee9 is too large.

[2021-05-18 21:17] aeiras opened #1186 "[Jakarta EE 9.1 landing page] Add the WG blog announcement to the page"
from https://github.com/jakartaee/jakarta.ee/issues/1177#issuecomment-843420505
can we add the feature that houses the WG written announcement of the release to the page?

[2021-05-18 21:17] aeiras commented on #1177
great suggestion @cesarhernandezgt. Here it goes https://github.com/jakartaee/jakarta.ee/issues/1186

[2021-05-18 21:23] cesarhernandezgt commented on #1165
@aeiras the 9.1 pages reuse the same CSS from 9 release.

Locally I'm not able to replicate the overlapping you are sharing, I use a 1920 x 1080 resolution. What's the resolution you are using?

cc:  @autumnfound @chrisguindon  in case you know how to replicate it or have context about minimum resolution the website provides.

[2021-05-18 21:27] aeiras commented on #1165
@cesarhernandezgt i am using Safari, zooming in or out shows me the same format, broken.

[2021-05-19 02:51] #1179 closed, assigned to nobody

[2021-05-19 12:23] chrisguindon commented on #1180
I think we are done here!

[2021-05-19 12:23] #1180 closed, assigned to chrisguindon

[2021-05-19 12:54] autumnfound commented on #1165
This seems to be caused by zooming in to the point where the space allowed at the largest size no longer contains the huge text, the text breaks out and overlays over other elements. This happens for me at around 150% zoom and greater. There would have to be some reworking of elements to get this working. This wasn't an issue before as a single character would require an insane amount of zoom to t

[2021-05-19 14:33] autumnfound commented on #1140
It was requested that the Video section pull the newest video under resources/videos and display it as seen above. This shouldn't be too hard as we have similar logic in other places. I believe IoT resources page gets resources by date and type, so you should be able to make use of that logic https://github.com/EclipseFdn/iot.eclipse.org/blob/master/layouts/community/resources.html

[2021-05-19 16:53] aeiras commented on #1165
Gracias Martin for troubleshooting to recreate the issue.
We leave issue to your expertise!

[2021-05-19 21:12] cesarhernandezgt commented on #1177
@aeiras @ivargrimstad I'm closing now this issue to bring back the 9.1  work to the main GitHub issue: #1165

[2021-05-19 21:12] #1177 closed, assigned to nobody

[2021-05-21 14:28] jph152 commented on #1165
Here is Ivar's video to add under the "Powered by Participation" section:

https://www.youtube.com/watch?v=5dWZbmsY8pA

[2021-05-21 15:46] cesarhernandezgt commented on #1172
First video is now available https://github.com/jakartaee/jakarta.ee/issues/1165#issuecomment-845988961

[2021-05-21 15:47] cesarhernandezgt commented on #1165
Thanks, @jph152 for the video link.

I updated the video section. Live Preview: https://deploy-preview-1170--jakartaee.netlify.app/release/9.1/

Do you know if the second video described in https://github.com/jakartaee/jakarta.ee/issues/1172 will be generated too?

[2021-05-21 17:12] aeiras commented on #1165
@ivargrimstad,
It is wonderful that this release brings your short video. I wish for all future releases to welcome YOU to share & be the spoken DevRel you were hired and trusted to be. Good job with the video length and content!  👍

[2021-05-21 18:28] cesarhernandezgt commented on #1165
Hi @aeiras, we just push the fix for the issue you reported. You can test using live Preview: https://deploy-preview-1170--jakartaee.netlify.app/release/9.1/

[2021-05-21 18:35] aeiras commented on #1165
how did it get fixed, Cesar?
It looks great now, thank you!
<img width="1193" alt="image" src="https://user-images.githubusercontent.com/10731224/119183192-9a975800-ba28-11eb-8e3e-9f2d3fe43bdf.png">

[2021-05-21 19:08] karenmcnaughton commented on #1172
Hello @cesarhernandezgt are you taking care of getting this on the page as well: Create a video base on the Jakarta EE 9.1 Update Kevin Sutter provided during the last Jakarta EE Update Call | April (minute 2:24 - 12:00)

I understood you had this action? Can you help pls.

[2021-05-21 19:10] cesarhernandezgt commented on #1165
@TanjaObradovic @karenmcnaughton
About the PR for landing page: https://github.com/jakartaee/jakarta.ee/pull/1170

- The last pending [issue](https://github.com/jakartaee/jakarta.ee/issues/1165#issuecomment-843565586) was solved in the PR.
- The video section was also updated with the first one provided by @jph152. It's in my understanding that another video will be edited and provide it base on #

[2021-05-21 20:04] jph152 opened #1190 "Post Jakarta EE 9.1 Press Release to https://jakarta.ee/news/"
The marketing committee would like the press release to be published to this page: https://jakarta.ee/news/

Please let me know if this request should be directed elsewhere, since I haven't submitted a content request for this page before.

Here is the content for the press release:

----

[Jakarta EE 9.1 PR.docx](https://github.com/jakartaee/jakarta.ee/files/6524846/Jakarta.EE.9.1.PR.docx)

[2021-05-21 20:06] aeiras commented on #1190
Hola @jph152

It should be re-directed in the EE 9.1 landing page as well. Look at this ticket. Thanks! https://github.com/jakartaee/jakarta.ee/issues/1186

[2021-05-21 22:04] cesarhernandezgt opened #1191 "Jakarta EE 9 release videos can't be played full screen"
**Describe the bug**
Videos from the Jakarta EE 9 release page can't be played in full screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://jakarta.ee/release/9/
2. Click Play on any video
3. Click on Full screen
4. Ther is an error on the screen.

**Expected behavior**
The video should be able to be watched on full screen.

**Screenshots**
![image](https://user-images.githu

[2021-05-21 22:07] aeiras commented on #1191
do you mean, that as a viewer I cannot stay on the page while watching the video @cesarhernandezgt ?
if correct, that's a major feature flaw.

[2021-05-21 22:10] cesarhernandezgt commented on #1191
@aeiras
It means you can't read anything if for future release pages a video has slides or text because the video size is fixed and can't be maximized.

[2021-05-21 22:13] cesarhernandezgt commented on #1172
@karenmcnaughton

I added to the PR the defined interval for the second video via https://github.com/jakartaee/jakarta.ee/pull/1170/commits/21e43681db7d5119536c9a7658dbbdc160892a34

Live preview: https://deploy-preview-1170--jakartaee.netlify.app/release/9.1

Notice that for 9.1 videos, I increased the size of the video a bit. I discovered that for Jakarta 9 release page, a user couldn't maximize

[2021-05-21 22:16] cesarhernandezgt commented on #1165
Small update.

I just did this task via: https://github.com/jakartaee/jakarta.ee/issues/1172#issuecomment-846288682

[2021-05-21 22:17] aeiras commented on #1191
Gotcha, Cesar. I understand the problem. Thank you

[2021-05-21 22:18] aeiras commented on #1172
Your actions are amazing, Cesar. Formidable #ossDOER💙

[2021-05-22 02:11] karenmcnaughton commented on #1172
The page looks great, thank you @cesarhernandezgt !!

[2021-05-22 02:11] #1172 closed, assigned to ivargrimstad, karenmcnaughton

[2021-05-24 15:53] #1176 closed, assigned to nobody

[2021-05-24 16:28] cesarhernandezgt commented on #1190
@jph152
A PR is now available for adding the entry in the https://jakarta.ee/news/  news section.
https://github.com/jakartaee/jakarta.ee/pull/1193

cc:
@chrisguindon @autumnfound

[2021-05-24 17:20] cesarhernandezgt commented on #1165
As stated in https://github.com/jakartaee/jakarta.ee/pull/1170#issuecomment-847205776

The following are also PR's related to 9.1 release that hasn't been merge yet:

Release 9.1 Updates to jakarta.ee /compatibility/download/ and /compatibility/#tab-9_1
#1169

Post Jakarta EE 9.1 Press Release to news/
#1193

[2021-05-24 17:47] cesarhernandezgt commented on #1165
This is another PR @Dexmaster created with fixes for the contribution list:
https://github.com/jakartaee/jakarta.ee/pull/1194

CC: @chrisguindon @autumnfound

[2021-05-24 18:00] gerdogdu commented on #1165
@cesarhernandezgt Seems that ManageFish download link is wrong in #1169 . I added my comments to #1169 and also in here for @autumnfound

[2021-05-24 18:27] gerdogdu commented on #1190
@aeiras  @cesarhernandezgt Can you please also add our company ManageCat quote to this document (Jakarta EE 9.1 PR.docx)  and #1193 as follows: (Sorry for the delay)

cc:
@chrisguindon @autumnfound

**ManageCat**

"ManageCat would like to thank all Jakarta EE working group members who contributed to this amazing work," said Gurkan Erdogdu, Director of ManageCat."  "We are delighted and proud to pr

[2021-05-24 21:00] cesarhernandezgt commented on #1190
Hi @gerdogdu

I can't edit the article content since the pull request (#1193) was base on the official Press Release for Jakarta EE 9.1 provided in this Github Issue. Please contact Senior Marketing Manager, @karenmcnaughton, for any press release inquiry.

[2021-05-24 21:03] cesarhernandezgt commented on #1190
@TanjaObradovic
The URL for the social media link to the press release will be:
https://jakarta.ee/news/jakarta-ee-9-1-released/

Please make sure the Dev team merges first PR #1193 , then the social media team will be able to perform the card's distribution.

[2021-05-24 23:03] cesarhernandezgt opened #1196 "Documentation for adding new entry in /news/ and Announcements section is need it"
Current https://github.com/jakartaee/jakarta.ee/README.md needs to provide the instruction on how to:
- Add documentation for creating a new entry in https://jakarta.ee/news/ #1195
- How to add a reference in Jakarta EE Announcements section from one Jakarta EE Working Group post

[2021-05-25 11:36] chrisguindon commented on #1190
@cesarhernandezgt @TanjaObradovic I just merged the PR!

[2021-05-25 11:39] chrisguindon commented on #1165
@gerdogdu I posted an update to the PR.

@ivargrimstad @TanjaObradovic Can you confirm that we are good to go with? https://github.com/jakartaee/jakarta.ee/pull/1169

[2021-05-25 12:11] chrisguindon commented on #1037
I have seen the report. We made some updates to our website to address some issues. I also reach out to the specification team to fix issues on their end: https://github.com/jakartaee/specifications/issues/318

I would add that the work done for https://jakarta.ee/news/ could be re-purposed to create a new blog section if that is needed.

I refer back to my previous comment for this:
https://githu

[2021-05-25 12:48] ivargrimstad commented on #1165
Yes, +1 from me

[2021-05-25 13:17] TanjaObradovic opened #1197 "9.1 Release Page not available from Download page"
Please correct  https://jakarta.ee/compatibility/download/ click on Visit Jakarta 9.1 Release Page 9.1 it leads you to Jakarta EE 9 release

[2021-05-25 13:28] #1197 closed, assigned to autumnfound

[2021-05-25 15:38] cesarhernandezgt commented on #1190
Thanks much @chrisguindon

[2021-05-25 20:22] cesarhernandezgt commented on #1037
+1 if we can reuse current logic and code behind /news/ for the creation of new blog posts hosted in the website itself. cc: @Dexmaster

Technically speaking, for me is a natural step choosing `jakarta.ee/blogs` it also integrates smoothly with the above idea of reusing /news logic and code to offer /blogs list and blog posts. What do you think @karenmcnaughton @TanjaObradovic?

Yes, that's right.

[2021-05-26 22:34] cesarhernandezgt commented on #1196
Hi @TanjaObradovic @karenmcnaughton
The two above Pr's are related to website documentation. After technical review, it seems both PR's are waiting for your approval to be merged.

[2021-05-26 23:49] lprimak opened #1203 "Please update the latest Payara versions on the compatibility page"
To include your Compatible Software Product on the Jakarta EE official list of Compatible Software Products, please provide the following information:

**The URL to the Eclipse Foundation profile to confirm that you are an authorized representative of the company whose product information you are submitting**
https://accounts.eclipse.org/users/lprimak

**A product name and version**
Payara Communi

[2021-05-27 19:06] aeiras commented on #1196
@chrisguindon & @TanjaObradovic,
Thank you and the team for helping us move forward to complete this task. We appreciate our collaboration with you!

@cesarhernandezgt's work on anything related to the EE 9.1 page **ends** tomorrow.
We hope that any issues with this particular task are raised before the invested time expires.

Should any unknown issues push this ticket to next week, you are welcom

[2021-05-28 14:37] autumnfound commented on #1190
As this has been merged, I'll close this issue, thanks guys!

[2021-05-28 14:37] #1190 closed, assigned to nobody

[2021-05-28 14:41] autumnfound commented on #1165
I'll close this issue as the page is live, thanks everyone!

[2021-05-28 14:41] #1165 closed, assigned to autumnfound

[2021-05-31 15:03] #1181 closed, assigned to autumnfound

[2021-05-31 15:30] autumnfound commented on #1191
@cesarhernandezgt if you follow the Learn More, does it give any context for the error? I tested on my machine and I don't have the playable videos in my browser, just links to the videos essentially. I think this is due to how YT does embeds, and it working differently on different OSs. I'll see if the other iOS user on our team can replicate this issue!

[2021-05-31 15:38] autumnfound commented on #1191
Update: Dug in the code and found out why it wasn't working for me. I dismiss the cookie banners/ignore them, and we need it as YT embeds trackers when we import the video, d'oh! Google's help page isn't very helpful sadly. It just says fullscreen might be disabled on sites outside of YT without explaining why or how to fix this.

Looking around online, I might have found a solution, but this is a

[2021-05-31 15:54] autumnfound commented on #1191
@aeiras @cesarhernandezgt We've made a patch in the framework so we can apply this fix to all of our sites. The usual expected behaviour was to follow through to YT and engage in comments and such. I'm guessing that the fullscreen button hasn't been tested in a while as its older functionality and there have been some external changes (in browser security + Youtube embeds) since it's been added th

[2021-06-01 17:28] Dexmaster commented on #1037
Yes, copying current logic from news to block shouldn't be hard or complicated. My only suggestion would be also renaming css classes so they will have distinct class naming, and in future their look could be separated if you chose to do so.

As for `jakarta.ee/blogs` vs `jakartablogs.ee`, I would suggest using `jakarta.ee/blogs`. Maintaining two different resources with different functionality is

[2021-06-01 19:53] aeiras commented on #1191
Hey Martin,
I have comment directly on[252 AEB comment](https://github.com/EclipseFdn/solstice-assets/pull/252#issuecomment-852401834) my only concern is the long term scalability as the release template and its connection with Youtube. I think it is great to play the videos in large screen directly in the page without clicks taken the viewer to youtube. After all, we want the viewer to stay in EE

[2021-06-02 01:17] cesarhernandezgt commented on #1191
Thank you for the update and the work done for this patch @autumnfound . I saw the fix on EclipseFdn/solstice-assets#252 and it worked fine :)!

[2021-06-02 13:44] chrisguindon commented on #1037
There wouldn't be any problems with hosting the articles under jakarta.ee/blogs if moderate the content before they are posted on the site!

[2021-06-02 15:10] aeiras commented on #1037
Hola Chris @chrisguindon,

Crossposting via PR will continue to be the model for upkeep, correct?

How about hosting original content as we now do for the Announcement space? Not everyone has their own website or chooses to use GitHub or medium or similar to share stuff. Some prefer to write to hope that the content is kept under the project's blog as the sole bookkeeper.

Thanks for the follow-up

[2021-06-02 16:45] autumnfound commented on #1191
Pretty sure we've addressed the concern, but I want to circle back here as well for transparency! The next SA release will fix fullscreen toggle on the in page embed, and doesn't require you to go to youtube. This will have a delay of a day or two while we try and bundle other changes with the release, but should make it here soon enough! We'll keep this issue open to ensure we don't lose track of

[2021-06-02 17:08] aeiras commented on #1191
Martin,
Cesar did some wiki documentation on the release page, is it ok for you to add a bit on the Youbute side on that document?  I think transparency is only protected is written down in places that live beyond this ticket :)

You rock!

[2021-06-03 12:30] #1114 closed, assigned to autumnfound

[2021-06-07 15:39] karenmcnaughton opened #1216 "Modifications to Mailing Lists for Jakarta EE"
As discussed in a recent email trail, following the Mktg Cmte meeting, there is a community request for the following modifications to the mailing lists:

1. We need the current (non-public) mailing list jakarta.ee-marketing.committee@eclipse.org to be archived

2. We need new public mailing list jakarta.ee-marketing@eclipse.org so Jakarta EE members that are not on the committee can discuss Mktg

[2021-06-07 20:14] ZahraFazli opened #1217 "Add Associacao de Usuarios da Tecnologia Java, SouJava to the Jakarta EE Website"
Hello,

Please add Associacao de Usuarios da Tecnologia Java, SouJava as a Guest member on the jakarta EE Website.
Thank you,
Zahra
![SouJava](https://user-images.githubusercontent.com/50374570/121081943-61dadb00-c7ab-11eb-9a3e-b7f4fb7e51e5.png)

[2021-06-07 20:44] #1217 closed, assigned to nobody

[2021-06-09 02:59] guojjanjun opened #1218 "Please add BES Application Server v10.0.0 to Jakarta EE 9 Compatible Products page"
To include your Compatible Software Product on the Jakarta EE official list of Compatible Software Products, please provide the following information:

**The URL to the Eclipse Foundation profile to confirm that you are an authorized representative of the company whose product information you are submitting**
https://www.eclipse.org/membership/showMember.php?member_id=1506
**A product name and ver

[2021-06-09 20:17] kwsutter opened #1219 "Need consistency with the Compatible Implementation page"
**Describe the bug**
On the Compatible Implementation pages (ie. https://jakarta.ee/compatibility/#tab-9_1), we need to be consistent with the data being presented.

**To Reproduce**
On the various products listed on the 9.1 page (for example, https://jakarta.ee/compatibility/#tab-9_1), there is supposed to be a link to the CCR that was used to certify this particular implementation.

But, I notic

[2021-06-10 13:55] #1219 closed, assigned to ivargrimstad

[2021-06-11 14:41] autumnfound commented on #1216
@karenmcnaughton in regards to the website, we don't currently list this on the site as far as I'm aware. Are there any plans to add this?

@chrisguindon would it be us or marketing that would create the mailing list?

[2021-06-11 14:58] autumnfound commented on #1186
@aeiras It looks like a few things have been merged around this issue. Has this been solved?

[2021-06-11 15:20] chrisguindon commented on #1216
@autumnfound We have this page where we share links to the mailing list: https://jakarta.ee/connect/

[2021-06-11 15:30] autumnfound commented on #1216
Those are all different mailing lists, I checked. There are some generic ones, but none for specific committees.

[2021-06-11 15:41] chrisguindon commented on #1216
Re-reading @karenmcnaughton, I think shes asking to make changes to the mailing list itself.

Is that correct?

If so, this is something that needs to be requested here: https://bugs.eclipse.org/bugs/enter_bug.cgi?product=Community&component=mailinglists

This is the Eclipse Mailing List components managed by the Eclipse webmasters.

[2021-06-11 17:51] #1203 closed, assigned to autumnfound

[2021-06-11 19:14] aeiras commented on #1216
Hola everyone,

First, I am so happy this git issue exists. It has been +3yrs, great improvement since first requested in Q1 of 2018.

Once the email is created via the buzzilla mailing list process, the Jakarta Mailing list sheet needs to be updated [here](https://docs.google.com/spreadsheets/d/1gaOd1Y1j0eMIPNZKAR03PVRiw7pbOqkhOWWwK2q6Bg0/edit#gid=0)

@karenmcnaughton **Recommendations for updata

[2021-06-11 19:38] aeiras commented on #1186
Happy Friday, Martin!

Though this ticket is linked to content on the other work being completed on the news page, it has nothing to do with the desired feature.

Thank you for enabling this follow-up clarification @autumnfound

- The PR belongs to adjusting the template under [EE releases](https://jakarta.ee/release/9.1/) testing it with 9.1 but usable for maybe 9 & even 8 and future releases.
-

[2021-06-11 20:03] autumnfound commented on #1186
If we were to add the link, I imagine it would go after Specifications in the list of buttons below the headline text. This keeps all of our calls to action in a central place and keeps it in an easy-to-find spot!

This link would be a manual entry rather than an automatic one likely, but still, one that is easy to manage all things considered. Everything in Hugo is templated and thus easy enough

[2021-06-11 22:23] aeiras commented on #1186
Martin, you got it.  It is not automatic as every release will have a new blog formal announcement.
At first i thought about creating a new card for it, as we have for the other items but that is fancy. If i cannot own the work, why would I throw complicated stuff to others. :) simplicity works, start with something and improve.

You are amazing!

Thank you for the care to explain. +1 to getting e

[2021-06-14 13:42] autumnfound commented on #1191
This has been fixed! We've updated the theme to the version including this fix, and the mentioned YT videos can now be maximized insite.

[2021-06-14 13:42] #1191 closed, assigned to nobody

[2021-06-14 13:44] autumnfound commented on #1191
As long as the youtube component that we've been making use of is used, there should be no real concern. The pattern we typically follow is to copy paste the previous release page and change it to match the current releases content, this way we inherit the work done in the past!

[2021-06-14 20:19] linkfang commented on #1218
Now it is live!
https://jakarta.ee/compatibility/#tab-9

[2021-06-14 20:19] #1218 closed, assigned to linkfang

[2021-06-17 00:28] paulbuck opened #1223 "Publishing meeting minutes for Jakarta EE Specification Committee"
Please add new entries for Jakarta EE Specification Committee meeting minutes on the Specification Committee page https://jakarta.ee/committees/specification/

I have attached pdf files...

[Jakarta EE Spec Committee - April 7th, 2021.pdf](https://github.com/jakartaee/jakarta.ee/files/6666494/Jakarta.EE.Spec.Committee.-.April.7th.2021.pdf)
[Jakarta EE Spec Committee - April 21st, 2021.pdf](https:/

[2021-06-17 08:52] TanjaObradovic opened #1224 "Publishing meeting minutes for Jakarta EE Steering Committee"
Please add new entries for Jakarta EE Steering Committee meeting minutes on the Steering Committee page https://jakarta.ee/committees/steering/

I have attached pdf files...

[Minutes of May 11, 2021 Jakarta EE Steering Committee Meeting.pdf](https://github.com/jakartaee/jakarta.ee/files/6668749/Minutes.of.May.11.2021.Jakarta.EE.Steering.Committee.Meeting.pdf)
[Minutes of May 25, 2021 Jakarta EE S

[2021-06-17 16:22] edbratt commented on #1216
Public List request issue: [Bug 574277](https://bugs.eclipse.org/bugs/show_bug.cgi?id=574277)

[2021-06-23 14:26] linkfang commented on #1223
Hi @paulbuck ,
Please preview the changes here:
https://deploy-preview-1225--jakartaee.netlify.app/committees/specification/

[2021-06-23 14:47] linkfang commented on #1224
Hi @TanjaObradovic ,
Please preview the changes here:
https://deploy-preview-1226--jakartaee.netlify.app/committees/steering/

[2021-06-23 15:23] paulbuck commented on #1223
@linkfang looks good. Thanks!

[2021-06-23 15:24] paulbuck commented on #1224
@linkfang on behalf of @TanjaObradovic the changes look good. Thanks!

[2021-06-23 17:22] linkfang commented on #1223
NP!

Now it's live!
https://jakarta.ee/committees/specification/

[2021-06-23 17:22] #1223 closed, assigned to linkfang

[2021-06-23 18:13] cesarhernandezgt commented on #1216
Hi @chrisguindon @autumnfound
Now that [Bug 574277](https://bugs.eclipse.org/bugs/show_bug.cgi?id=574277 ) is done, I think now the last step is to update  https://jakarta.ee/connect/mailing-lists/ to display the list.  It seems this is an automated process so couldn't trigger a PR.

[2021-06-23 18:45] cesarhernandezgt commented on #1216
@chrisguindon I updated the spreadsheet @aeiras mentioned and I'm attaching it to this ticket.
I don't know why this export/upload is needed it but happy to document the process so further updates can be scalable.
[Jakarta EE Mailing List.xlsx](https://github.com/jakartaee/jakarta.ee/files/6704255/Jakarta.EE.Mailing.List.xlsx)

[2021-06-23 19:02] cesarhernandezgt opened #1227 "connect/mailing-lists/ shows outdated Jakarta Messaging link"
The new Jakarta Messaging mailing list is: https://accounts.eclipse.org/mailing-list/messaging-dev
In this github issue https://github.com/jakartaee/jakarta.ee/issues/1216#issuecomment-867075283, the spreadsheet @chrisguindon uses for update the https://jakarta.ee/connect/mailing-lists/ was provided containing the updated address for Jakarta Messaging.

Thanks @scottmarlow  for finding this issue.

[2021-06-24 05:38] PatrickHuang888 opened #1228 "Please add Apusic Application Server as Jakarta EE 9 Full Platform compatible"
To include your Compatible Software Product on the Jakarta EE official list of Compatible Software Products, please provide the following information:

**The URL to the Eclipse Foundation profile to confirm that you are an authorized representative of the company whose product information you are submitting**
https://www.eclipse.org/membership/showMember.php?member_id=1397

**A product name and ve

[2021-06-24 16:06] linkfang commented on #1224
NP, now the changes are live!

[2021-06-24 16:06] #1224 closed, assigned to linkfang

[2021-06-24 18:39] chrisguindon commented on #1227
The content of that connect page is here:
https://github.com/jakartaee/jakarta.ee/blob/src/layouts/shortcodes/pages/mailing-lists.html

[2021-06-24 19:45] chrisguindon commented on #1227
However, I can help to update content on https://accounts.eclipse.org/mailing-list/messaging-dev if that is needed. That content for that page is stored in a database.

[2021-06-24 19:54] aeiras commented on #1227
Hola Chris,
Thanks for the follow up to Cesar's update on the messaging mailing list.

The PR created back in Q4 2020 is no longer valid nor good.
We moved away from it and instead used the spreadsheet to update the jakarta mailing lists within the Connect button and the EF Infra mailing list.

I think it is enough for you or someone in your team to push the update spreadsheet and done.

I hope th

[2021-06-24 19:58] scottmarlow commented on #1227
I'm not fully understanding the above conversation but did just check and see that https://jakarta.ee/connect/mailing-lists/ contains:
[code]

But I think that should be:
[code]

The key being changing `https://accounts.eclipse.org/mailing-list/jms-dev` to `https://accounts.eclipse.org/mailing-list/messaging-dev`.

Hope that helps. :-)

[2021-06-24 20:07] chrisguindon commented on #1227
I created a PR to fix the change that @scottmarlow has highlighted:
https://github.com/jakartaee/jakarta.ee/pull/1230/files

[2021-06-24 21:49] aeiras commented on #1216
Hey @@chrisguindon,

If the PR is merged, [comment](https://github.com/jakartaee/jakarta.ee/issues/1227#issuecomment-867918300) it will likely destroy the work done on update of the project mailing list. I chose to alphabetize all the forums after listing main group forums.

We ought to not lose the current order. Bias, I think it is wonderful to easily find stuff as it currently is.

If  the PR p

[2021-06-24 21:49] aeiras commented on #1227
Hola Scott and Chris,

here https://github.com/jakartaee/jakarta.ee/issues/1216#issuecomment-867973942

[2021-06-24 22:45] chrisguindon commented on #1216
Hi @aeiras,

I am a bit confused but are you referring to our conversation here:
https://github.com/jakartaee/jakarta.ee/issues/996#issuecomment-825625183

The page on the website has always been something that the community kept up to date via PR as you can see from the list of past contributors: https://github.com/jakartaee/jakarta.ee/commits/src/layouts/shortcodes/pages/mailing-lists.html

I th

[2021-06-24 23:35] aeiras commented on #1216
Chris,

Thanks for the follow-up.
I gotcha.
When we updated the database, you & Martin, been so long, updated the PR, so now, we can use the PR to add or adjust stuff. Very nice and OSS friendly.

Now, when stuff gets adjusted there, do you still want us to send you the spreadsheet to help update the EF database? That's where my question lies.

@cesarhernandezgt I think it is a good idea to help d

[2021-06-25 09:11] ivargrimstad commented on #1228
+1 The certification request is approved, so this is good to go.

[2021-06-25 09:13] ivargrimstad commented on #1227
I believe this is fixed by @chrisguindon's PR

[2021-06-25 09:13] #1227 closed, assigned to nobody

[2021-06-25 18:01] linkfang commented on #1228
Hi @ivargrimstad @TanjaObradovic
Please preview the changes here:
https://deploy-preview-1231--jakartaee.netlify.app/compatibility/#tab-9

[2021-06-25 19:46] ivargrimstad commented on #1228
Pr #1231 approved. Thanks!

[2021-06-25 20:16] linkfang commented on #1228
NP!
Now the changes are live!

[2021-06-25 20:16] #1228 closed, assigned to linkfang

[2021-06-30 15:12] dominikatasarz opened #1232 "Payara Server Community 6.2021.1.Alpha1 Jakarta EE 9.1 compatibility"
To include your Compatible Software Product on the Jakarta EE official list of Compatible Software Products, please provide the following information:

**The URL to the Eclipse Foundation profile to confirm that you are an authorized representative of the company whose product information you are submitting** https://accounts.eclipse.org/users/dtasarzsochacka

**A product name and version** Payara

[2021-07-01 06:12] ivargrimstad commented on #1232
+1

[2021-07-01 21:47] cesarhernandezgt commented on #1216
Hi, @chrisguindon I created the PR to include the jakarta.ee-marketing in the website mailing list, thanks for the pointers provided.

https://github.com/jakartaee/jakarta.ee/pull/1234

[2021-07-05 16:05] linkfang commented on #1232
Hi @ivargrimstad
Please preview the changes here:

https://deploy-preview-1235--jakartaee.netlify.app/compatibility/#tab-9_1

[2021-07-06 06:01] ivargrimstad commented on #1232
Done!

[2021-07-06 13:19] #1232 closed, assigned to nobody

[2021-07-06 13:33] chrisguindon commented on #1216
No worries - The PR has been merged in!

[2021-07-07 20:15] chrisguindon opened #1236 "Jakarta.ee Website Refresh"
I am creating this issue to allow us to have high-level conversations around Jakarta.ee Website Refresh project: https://github.com/jakartaee/jakarta.ee/projects/1

Before we start, it's important to understand that the look and feel of the Jakarta.ee re-design was already discussed and approved: https://github.com/jakartaee/jakarta.ee/issues/1070.

The focus of this project is now on the implemen

[2021-07-08 16:32] cesarhernandezgt commented on #1216
Thank you @chrisguindon.
@karenmcnaughton I think this github issue can be closed now that both tasks are completed.

[2021-07-08 17:05] #1216 closed, assigned to autumnfound

[2021-07-28 07:06] PatrickHuang888 opened #1239 "Please add Apusic Application Server as Jakarta EE 9.1 Full Platform compatible"
To include your Compatible Software Product on the Jakarta EE official list of Compatible Software Products, please provide the following information:

**The URL to the Eclipse Foundation profile to confirm that you are an authorized representative of the company whose product information you are submitting**
https://www.eclipse.org/membership/showMember.php?member_id=1397

**A product name and ve

[2021-07-28 18:08] #1239 closed, assigned to linkfang

[2021-08-03 19:02] scottmarlow opened #1243 "Please update to show Red Hat JBoss Enterprise Application Platform 7.4.0.GA as both Full Platform + Web Profile compatible"
Please update the entry for `JBoss Enterprise Application Platform` on https://jakarta.ee/compatibility/#tab-8 to [7.4.0](https://github.com/RedHatOfficial/jbosseap-certifications/blob/EE8/EAP-7.4.0/jakarta-full-platform.adoc#tck-results).  Below are the normally expected items for this request...  Thank you!  -Scott

To include your Compatible Software Product on the Jakarta EE official list of C

[2021-08-10 20:14] chrisguindon commented on #1236
The current state of this project can be seen here: https://redesign--jakartaee.netlify.app/

[2021-08-18 14:18] #1243 closed, assigned to linkfang

[2021-08-19 06:32] tongtech-web opened #1247 "TongWeb Application Server 9 as Compatible product of Jakarta EE Full Platform"
**The URL to the Eclipse Foundation profile to confirm that you are an authorized representative of the company whose product information you are submitting**
https://www.eclipse.org/membership/showMember.php?member_id=1458

**A product name and version**
TongWeb Application Server 9

**The Profile (Full Platform, Web Profile, Both) that the Compatible Product is submitted to be listed under**
Ful

[2021-08-19 10:39] Yaoz1207 opened #1248 "Please add InforSuite Application Server V11 as Compatible product of Jakarta EE 9.1 Full Platform"
To include your Compatible Software Product on the Jakarta EE official list of Compatible Software Products, please provide the following information:

**The URL to the Eclipse Foundation profile to confirm that you are an authorized representative of the company whose product information you are submitting**
https://www.eclipse.org/membership/showMember.php?member_id=1487
**A product name and ver

[2021-08-19 15:48] linkfang commented on #1247
Hi @TanjaObradovic , @ivargrimstad ,
Please preview the changes here:
https://deploy-preview-1249--jakartaee.netlify.app/compatibility/#tab-9_1

[2021-08-19 20:17] #1247 closed, assigned to linkfang

[2021-08-29 15:36] cesarhernandezgt commented on #1196
Both Pr's were merged; thank you all for the collaboration.
Closing now is this GitHub issue.

[2021-08-29 15:36] #1196 closed, assigned to nobody

[2021-09-01 13:51] autumnfound commented on #1138
I had a discussion with @shabnammayel this morning and the following items were discussed:

- request to add a feature of expanding the testimonial on click to show more text to allow longer testimonials
- what length of the testimonial should be targeted. 300 characters was the final number being put forward to the marketing committee later today
- question on how testimonials will link to the ma

[2021-09-02 08:32] Yaoz1207 opened #1250 "Please add InforSuite Application Server V11 as Compatible product of Jakarta EE 9 Full Platform"
To include your Compatible Software Product on the Jakarta EE official list of Compatible Software Products, please provide the following information:

**The URL to the Eclipse Foundation profile to confirm that you are an authorized representative of the company whose product information you are submitting**
https://www.eclipse.org/membership/showMember.php?member_id=1487

**A product name and ve

[2021-09-06 01:59] kazumura opened #1252 "Add and Change Fujitsu products and logos on Compatible Page"
To include your Compatible Software Product on the Jakarta EE official list of Compatible Software Products, please provide the following information:

**The URL to the Eclipse Foundation profile to confirm that you are an authorized representative of the company whose product information you are submitting**

https://accounts.eclipse.org/users/kkazumura

**A product name and version**

 * FUJITSU

[2021-09-08 05:47] rsoika opened #1253 "No App Servers...?"
The pace, the jakarta.ee project shows in pushing the new platform is impressive. Jakarta EE9 and EE9.1 are already released, version 9.2 is in the starting blocks and Jakarta EE 10 release plan is approved.

But still there are no official Application Servers available. Wildfly provides a preview version but no official Docker images. Payara is making announcements but also has no official way to

[2021-09-08 14:44] linkfang commented on #1252
Hi @TanjaObradovic , @ivargrimstad ,
Please preview the changes here:
https://deploy-preview-1254--jakartaee.netlify.app/compatibility/#tab-8

[2021-09-08 14:50] linkfang commented on #1250
Hi @codff ,
Both [TCK Results Summary](http://www.inforbus.com/InforsuiteAS/platform-tckresults/FullPlatform9.0/) and [product download URL](http://www.inforbus.com/as.html) do not work on my side.
Can you check if everything is good?
Thanks!

[2021-09-08 19:17] #1252 closed, assigned to linkfang

[2021-09-09 13:29] ivargrimstad commented on #1250
The links are fixed now, and the cert request approved

[2021-09-09 13:36] linkfang commented on #1250
Hi @ivargrimstad @TanjaObradovic ,

Please preview the changes here:
https://deploy-preview-1255--jakartaee.netlify.app/compatibility/#tab-9

[2021-09-09 15:16] #1250 closed, assigned to linkfang

[2021-09-10 01:24] thatsmekristy commented on #1037
Looping in @shabnammayel

Hi @chrisguindon,
Perhaps the decision has already been made but as the person who wrote the original recommendation to move the blog, using jakarta.ee/blogs would be even better than blogs.jakarta.ee for building domain authority. If you wanted to have a separate CMS for the blog, using the subdomain blogs.jakarta.ee would be the next best option.

Is there a scheduled r

[2021-09-10 15:17] jph152 opened #1257 "Add Developer Survey press release to https://jakarta.ee/news/ (Sept 14)"
We'd like the press release for the 2021 Jakarta EE Developer Survey Report published on https://jakarta.ee/news/ on Tuesday, September 14.

Content is attached. Please let me know if you have any questions
[JakartaEE Developer Survey PR Final _ 09.09.2021.docx](https://github.com/jakartaee/jakarta.ee/files/7144751/JakartaEE.Developer.Survey.PR.Final._.09.09.2021.docx)

[2021-09-10 16:28] chrisguindon commented on #1037
We can definitely create a blog section on the Jakarta.ee website, that is not a problem. I agree that jakarta.ee/blogs would be best for this.

If agreed upon, we can include this new section for phase 2 of the redesign in Q4 as this was the original intention for this issue.  It's currently not included in our plans since a blog section was not included in the mockup. We will need to address tha

[2021-09-10 16:52] chrisguindon commented on #1037
A lot has been discussed on this issue. Let's take a step back and finalize the requirements:

When Karen initially created this issue, she did mention that she expected users to be able to login and use a CMS.

Since then, we've been discussing solutions to include the blog section within Hugo. Similar to how the community implemented our WG News section: https://jakarta.ee/news/

Do we still agr

[2021-09-10 22:49] chrisguindon commented on #1037
Here's what I think the requirements are so far:

- we need to allow staff and the community to submit blog posts under jakarta.ee/blogs via a PR
- we need to display blogs posts from our blog aggregator (jakartablogs.ee) on jakarta.ee and/or migrate jakartablogs.ee to blogs.jakarta.ee

Is this correct or am I missing anything?

[2021-09-10 23:30] chrisguindon commented on #1236
@ericpoirier @shabnammayel,

This is what I am thinking as a timeline for September:

- September 13-17: We finish reviewing the site and agree on the final changes that we need to make https://deploy-preview-1256--jakartaee.netlify.app/
- September 17-22: Allocated for community feedback and testing
- September 23-29: Finalize last changes
- September 30: Go live with phase 1

[2021-09-13 11:49] ericpoirier commented on #1236
+1

[2021-09-13 16:58] aeiras commented on #1037
Dias Chris,

On point 2, migration of jakartablogs to main website would be ideal as the readers will stay on the main website, less clicking, etc.
If we could terminate the blog aggregator, that would be a win to bring everything relevant into 1 house.

What are the issues with such a task?

[2021-09-13 17:05] jph152 opened #1258 "Add Jakarta EE Developer Survey report to Resources page"
Please add the new survey report to https://jakarta.ee/resources under the "Surveys" heading.

TEXT: 2021 Jakarta EE Developer Survey
LINK: https://outreach.jakartaee.org/2021-developer-survey-report?utm_campaign=2021%20Jakarta%20EE%20Developer%20Survey&utm_source=resources%20page

[2021-09-13 17:45] chrisguindon commented on #1037
The blog aggregator is needed because we need a service responsible for aggregating blog posts from multiple sources.

Jakartablogs.ee is more than a website. Within that service, there is a process that runs periodically to see if new posts were published.

With that said, we can leverage this service to display posts and/or a list of posts on jakarta.ee. For example, we could leverage the RSS fe

[2021-09-14 14:28] linkfang commented on #1258
Hi @jph152 ,
Please preview the changes here:
https://deploy-preview-1259--jakartaee.netlify.app/resources/#surveys

Please note, as the link you offered has some parameters which do not make any difference on what will be shown on the page, so I removed them to make the URL clean and short. Please let me know if those parameters are included on purpose so I can add them back.

https://outreach.ja

[2021-09-14 14:35] jph152 commented on #1258
Hi @linkfang,
Looks good. Can we keep the parameters? We just include them to see how many form fills we get from each source. Thanks

[2021-09-14 14:35] jph152 commented on #1257
Is there any more information needed on this one?

[2021-09-14 14:49] linkfang commented on #1258
Sure! That's what I was thinking. Now it's back!
https://deploy-preview-1259--jakartaee.netlify.app/resources/#surveys

[2021-09-14 14:56] #1258 closed, assigned to linkfang

[2021-09-14 15:23] linkfang commented on #1257
Hi @jph152 , for 2021 Jakarta EE Developer Survey Report, there is an underline for it in the 1st paragraph. I took that as adding related link to it.
Do we want to use the same URL which contains the parameters to track the traffic or a different parameter or a normal one?
https://outreach.jakartaee.org/2021-developer-survey-report?utm_campaign=2021%20Jakarta%20EE%20Developer%20Survey&utm_source=

[2021-09-14 16:13] linkfang commented on #1257
Hi @jph152 ,
Please preview the changes here:
https://deploy-preview-1260--jakartaee.netlify.app/news/
https://deploy-preview-1260--jakartaee.netlify.app/news/2021-jakarta-ee-developer-survey/

Currently, I am using "https://outreach.jakartaee.org/2021-developer-survey-report" for the survey, as this is not the same place user click it (different from clicking on /resources page), let me know if y

[2021-09-14 16:35] jph152 commented on #1257
Thanks @linkfang. Can we use this tracking link instead: https://outreach.jakartaee.org/2021-developer-survey-report?utm_campaign=2021%20Jakarta%20EE%20Developer%20Survey&utm_source=press%20release

[2021-09-14 18:26] linkfang commented on #1257
Sure, the link is updated!

https://deploy-preview-1260--jakartaee.netlify.app/news/
https://deploy-preview-1260--jakartaee.netlify.app/news/2021-jakarta-ee-developer-survey/

[2021-09-14 19:15] ericpoirier commented on #1236
I made changes based on the changes we talked about yesterday:
https://deploy-preview-1256--jakartaee.netlify.app/

The changes that I've made are listed here:
https://docs.google.com/document/d/1sC0-N4sj0WdP-vUpC3v7tyspTnS8DmwlKy7QmYLf_IU/edit#

Let me know if there's anything else.

Also I noticed that the navigation from the following document is different from what we currently have on staging

[2021-09-14 19:28] jph152 commented on #1257
+1 Can we just add a period to the end of the preview text?

"This year’s results show interest in open source enterprise Java continues to grow among enterprise developers."

[2021-09-14 19:48] chrisguindon commented on #1236
@shabnammayel is planning to give us an updated sitemap-navigation tomorrow. Let's wait for that update before we do anything.

[2021-09-14 20:44] linkfang commented on #1257
Of course, done!

[2021-09-14 21:04] jph152 commented on #1257
+1

On Tue, Sep 14, 2021 at 4:44 PM Zhou (Link) Fang ***@***.***>
wrote:

--

Jacob Harris

Digital Marketing & Content Specialist | Eclipse Foundation

Register for our virtual event: EclipseCon 2021
<https://www.eclipsecon.org/2021/registration> - October 25-28, 2021

[2021-09-15 12:12] ericpoirier commented on #1236
Ok will do.

[2021-09-15 12:14] #1257 closed, assigned to linkfang

[2021-09-15 12:26] shabnammayel commented on #1236
@ericpoirier I have reviewed the changes you made and added some comments here in your google doc: https://docs.google.com/document/d/1sC0-N4sj0WdP-vUpC3v7tyspTnS8DmwlKy7QmYLf_IU/edit#
Also shared the changes with @ivargrimstad and @TanjaObradovic to get their feedback